{embed="_includes/header" title="Search"}


<script>
  (function() {
    var cx = '002211976461621690451:1jkeqzwccus';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<div class="container">
	<gcse:search></gcse:search>
</div>

{embed="_includes/footer"}