{!-- 
	6. Add download links
	7. Add Watch/Listen options
	8. ADD (ee) jump to sermon JW Player time marker
--}

{embed="_includes/header" title="{if segment_2==""}{if:else}{exp:channel:entries channel='media' dynamic='on' limit='1'}{title}{/exp:channel:entries}{/if}" title2="Media" bar="yes" noclose="true"}
<meta name-"Description" content="This house is an expression of the creative nature that lives within it. We look to create creators by empowering people to use art, media, music, and other means of creative expression to communicate to all facets of the culture around us.">
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher: "12217aef-f07e-464d-8757-03bfdb881858", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>

<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

{if segment_2 == ""}
	<div class="title-bar media-title">
		<div class="container">
			<div class="grid_12">
				<h2>All Media</h2>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container media clearfix">
		{exp:channel:entries channel="series" sort="desc" orderby="series-end" dynamic="no"}
			{!--}
			{if url_title == "stand-alone"}
				{parents channel="media"}
					<div class="grid_4 series">
						<a href="/media/{parents:url_title}">
							{if parents:media-img}<img src="{parents:media-img:med}" alt="{title}">{if:else}<img src="/_img/media/_med/BROKEN.png" alt="{title}">{/if}
						</a>
					</div>
				{/parents}
			{--}
			<div class="grid_4 series">
				<a href="/series/{url_title}">
					{if series-img}<img src="{series-img:med}" alt="{title}">{if:else}<img src="/_img/media/_med/BROKEN.png" alt="{title}">{/if}
				</a>
			</div>
		{/exp:channel:entries}
		<div class="clear"></div>
	</div>
{if:else}
	{exp:channel:entries channel="Media" dynamic="on" limit="1"}
		<meta name="title" content="{title}">
		<meta name="description" content="{exp:remove_html}{media-desc}{/exp:remove_html}">
		<meta property="og:url" content="http://JourneyChurch.tv/media/{url_title}">
		<meta property="og:type" content="video" /> 
		<?php 
			/* Get the series for this entry */
			$theseries = "{media-series}{media-series:url_title}{/media-series}";
		?>
		<div class="title-bar media-title" {media-series}{if media-series:series-color}style="background-color:{media-series:series-color}"{/if}{/media-series}>
			<div class="container mobile-media">
				<div class="grid_12">
					<h2>{title}</h2>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	{/exp:channel:entries}
	<div class="container">
		<div class="media clearfix">
			<div class="grid_8">
				{exp:channel:entries channel="Media" dynamic="on" limit="1"}
					{!-- Stream Monkey --}
					{if media-video-id}
						<iframe src='http://www.streammonkey.com/iframe/{media-video-id}' width='640' height='360' frameborder='0'></iframe>
					{!-- YouTube --}
					{if:elseif media-youtube && media-video == ""}
					<div style="max-width:650px!important">
						<div id="vid{entry_id}">
							<iframe class="mobile-vid" type="text/html" height="360" width="638" src="http://www.youtube.com/embed/{media-youtube}" frameborder="0"></iframe>
						</div>
					</div>
						<script type="text/javascript">
							jwplayer("vid{entry_id}").setup({					   
							    'autostart': 'false',
								'height': '360px',
							    'width': '100%',
								'menu': 'false',
								'aspectratio': '16:9',
								'file': 'http://www.youtube.com/watch?v={media-youtube}?hd=1',
								'image': '{media-series}{media-series:series-img}{/media-series}',
								'abouttext': 'JourneyChurch.tv Media',
								'aboutlink': 'http://journeychurch.tv/media',
							    'plugins': {
							    	'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
							   	},    
							    'modes': [{
							    	'type':'flash',
							    	'src': '/_js/jwplayer.flash.swf'
							    }]
							});
						</script>
						<div class="clear"></div>
					{!-- Vimeo --}
					{if:elseif media-vimeo && media-youtube == "" && media-video == ""}
						<iframe src="//player.vimeo.com/video/{media-vimeo}?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						<div class="clear"></div>
					{/if}
				{/exp:channel:entries}
				<div class="clear"></div>
			</div>
			
			{exp:channel:entries channel="Media" dynamic="on" limit="1"}
				<div class="grid_4 media-desc">
					{if media-desc}<p>{media-desc}</p><br>{/if}
					{if media-speaker}<p><strong>Speaker:</strong> {media-speaker}</p>{/if}
					{if media-date}<p><strong>Date:</strong> {media-date format="%F %j, %Y"}</p><br>{/if}
					{if media-podcast}<a href="{media-podcast}" download="{title}" target="_blank"><button style="margin-left:0"><i class="icon-headphones"></i> Download Audio</button></a>{/if}
					<div class="media-desc-btm">
						<div class="clear"></div>
						<span class='st_fblike_hcount' displayText='Facebook Like'></span>
						<span class='st_facebook_hcount' displayText='Facebook'></span>
						<span class='st_twitter_hcount' st_title='Just watched "{title}" from @JourneyChurchtv:' displayText='Tweet'></span>
					</div>
				</div>
				<div class="clear"></div>
			{/exp:channel:entries}
		</div>
		<div class="clear"></div>
	</div>
	
	{exp:channel:entries channel="Media" limit="1" dynamic="on" category="not 4"}
		{!-- CKEDITOR - it's down here so it's only looped in when cat4 isn't present --}
		<script src="/themes/ckeditor/ckeditor.js"></script>
		<script src="/themes/ckeditor/adapters/jquery.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			CKEDITOR.replace('mediaNotes', {
				uiColor: '#ffffff'
			})
		});
		</script>
		
		{!-- Notes --}
		<div id="full-only" class="container clearfix">
			<div class="grid_12 media-notes">						
				<textarea name="message" id="mediaNotes" class="ckeditor">{if media-notes}{media-notes}{/if}</textarea>
			</div>
		</div>
		
		{!-- Other Experiences --}
		{embed="_component/media-series" series="<?=$theseries?>"}
		
	{/exp:channel:entries}
{/if}
{embed="_includes/footer"}