{if segment_2 == ""}
	{embed="_includes/header" bar="{if segment_2==''}yes{if:else}no{/if}" title="40 Days"}
	<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<style type="text/css">
		h2, h2 a {
			font-family: 'aleoregular',Georgia,serif;
			font-weight: normal;
			color: #7f3e19;
			padding-bottom: 5px;
		}
	</style>

	<div id="layerslider-container">
		<div id="layerslider" style="width:100%;height:150px;margin-bottom:40px">
			<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
				<img class="ls-bg" src="/_img/slider/40Days-bg.png">
				<img class="ls-s3 si" src="/_img/slider/40Days-small.png" style="slidedirection:top; slideoutdirection:bottom; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:1000; delayout:0; left:50%; top:10px">
			</div>
		</div>
	</div>
	
	<div class="container clearfix">
		<div class="grid_12">
			{exp:channel:entries channel="Devos" category="49" orderby="date" sort="asc" show_future_entries="yes" start_on="{current_time format='%Y-%m-%d'} 00:00" stop_before="{current_time format='%Y-%m-%d'} 23:59" limit="1"}
				<h2><a href="/40days/{url_title}">Daily Devotional - {entry_date format="%F %j"}</a></h2>
				<h3>{title} {if devos-author}by {devos-author}{/if}</h3>
				<p>
					{exp:word_limit total="120"}
						{devos-body}
					{/exp:word_limit}
					<br><br>
					<a href="/40days/{url_title}" class="continueon"><strong>Continue Reading Today's Devotional &nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></strong></a>
				</p>
			{/exp:channel:entries}
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="container clearfix" style="margin-top:50px">
		<div class="grid_8">
			<h2>Welcome to 40 Days!</h2>
			<p>This is an exciting season for our church as we journey together in a time of spiritual renewal and awakening that will bring us closer to God and each other than ever before. This book is a key part of that journey. In it, you will find a 30 day personal devotional, followed by a guide for embarking on a 10 day period of fasting and prayer.</p><br>
			<p>This 40 day journey will lead us into Easter week, as we join together with thousands to celebrate Christ’s sacrifice and resurrection! I’ve never been more excited about what God is doing, and will do through you. Now let’s start our 40 day journey together!</p><br>
			<p>~ Pastor Clark</p>
			<h2 style="margin-top:25px">What is 40 Days to a Healthier Life?</h2>
			<p>"40 Days" is a new season of teaching and more. This is more than just a new study... it is a time designed for us as a church to get coser to God than ever before and and to prepare us for the next great move of God in our church. Pastor Clark and the leadership of Journey believe that "40 Days" will be a pivotal turning point in your life and in our church. You do NOT want to miss a single moment of "40 Days."</p>
			<br>
		</div>
		<div class="grid_4">
			<ul class="side-nav">
				<h3 class="sub-title blue">Resources</h3>
				<li><a href="/groups"><i class="fa fa-group"></i>  Join a Group</a></li>
				<li><a href="/downloads/40Days_Guide.pdf" target="_blank"><i class="fa fa-download"></i> Download All Devotionals <small>(PDF)</small></a></li>
				<li><a href="/downloads/Prayer_Card.pdf" target="_blank"><i class="fa fa-download"></i> Download Prayer Card <small>(PDF)</small></a></li>
				<li><a href="/study/40-days-to-a-healthier-life"><i class="fa fa-youtube-play"></i> Watch media from 40 Days</a></li>
				<br><br>
				<p style="text-transform:uppercase"><strong>Get a daily text reminder</strong></p>
				<form
					enctype="application/x-www-form-urlencoded"
					action="https://app.clubtexting.com/widgets?_method=subscribe"
					id="ez-form"
					method="post"
					target="subscribed"            onsubmit="
					                                    window.open(
					            '',
					            'subscribed',
					            'width=530,' +
					            'height=370,' +
					            'scrollbars=no,resizable=yes,status=no,toolbar=0'
					    );
					                "
				>
				            <input type="hidden" name="serializedData" value="eNpVUUtP3EAM/ivWXHpJlzyWNNkbEhUFtQLxEEKlB5NxMlMmM9E8dlkh/jseVq3E8XvY/mzLGru+Lb81zXHfj11XE7Z1Ra1sK1y36/5V6HDmXVrCDRkaonb2xBi3Iyk2ohSFwAM6eMTmt6jrtmtL8acQoyYjDxwbG1FUTAY92bT8IJTkucUZRUCQqM0eIr1E8DRrmzW2pmGgEMZk/tuZ1eG7xSdD8sJp+4t1nIiViqW/n5h7+uIJdmietZ0gKk44qTyMti7vgQaimygq8oCBhUElPygYcc5pZPK5ziUPgTA4C26EdQmnuA8reHAJdtoYzjuQ3hKXf8THCD0CbcnvYXbecosVXNPCDW9uL694IpCVKw4b90tOmU9jcabDckMK0c3ng7N33jClYlw2j0ePR6zttIyKueMy312RnlRk2DQZai5hMGof4tcPUIgUyJ/zn/qmr7pCTPlFP3Xgotd/X9qIdZkXEm9v77nWp7k=">

            
				    <label class="ez-lb" for="PhoneNumber">Phone Number</label><br>
				    <input id="PhoneNumber" style="width:100%" class="ez-text" name="PhoneNumber" type="tel"
				               value=""
				               required="required" placeholder="(e.g. 2223334444 no dots)"
				               pattern="^[2-9][0-9]{9}$" />
							   

					<button class="ez-button" type="submit" style="margin-left:0">Join Now</button>
				</form>
				
				<small>Msg &amp; data rates may apply.<br>To unsubscribe, text STOP to 25827.</small>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<script src="/_js/layerslider.js"type="text/javascript"></script>
	<script src="/_js/layerslider.transitions.js"type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#layerslider').layerSlider({
				skinsPath : '/themes/assets/',
				skin : 'fullwidth',
				autoStart : true,
				navStartStop : false,
				responsive : false,
				responsiveUnder : 966,
				sublayerContainer : 966,
				hoverPrevNext : false,
				thumbnailNavigation : false,
				showCircleTimer: false,
				touchnav: true
			});
		});
	</script>
{if:else}
	{exp:channel:entries channel="Devos" dynamic="yes" url_title="{segment_2}" show_future_entries="yes"}
		{if no_results}{redirect="40days"}{/if}
		{embed="_includes/header" bar="{if segment_2==''}yes{if:else}no{/if}" title="{title} - 40 Days"}
		<link rel="alternate" type="application/rss+xml" title="{title} - JourneyChurch.tv" href="http://journeychurch.tv/blogs/feed"><script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher: "12217aef-f07e-464d-8757-03bfdb881858", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
		
		<style type="text/css">
			p {padding: 5px 0;}
			h2 {color:#7f3e19}
		</style>
		
		<div class="container clearfix">
			<div class="grid_12">
				<?php
					$today = "{entry_date format='%F %j'}";
					$backward = date($today,strtotime("-1 days"));
				?>
				{embed="_component/devos-nav" url="{segment_2}"}
				
				<div class="blog-title">
					<h3>{if {entry_date format='%Y'} >= "1999"}{entry_date format="%F %j, %Y"}{/if}</h3>
					<h2>{title}</h2>
					{if devos-author}<h4>By {devos-author}</h4>{/if}
					<br>
					<h4><a href="{devos-mp3}" target="_blank"><i class="fa fa-volume-up"></i> <strong>LISTEN</strong></a></h4>
				</div>
				
				<div class="blog-entry">
					{devos-body}
					<br>
					<h2>Today's Prayer - {devos-prayer-title}</h2>
					{devo-prayer}
				</div>
				
				<div class="blog-details">
					<div class="blog-comments pull-right">
						<span class='st_fblike_hcount' displayText='Facebook Like'></span>
						<span class='st_facebook_hcount' displayText='Facebook'></span>
						<span class='st_twitter_hcount' displayText='Tweet'></span>
					</div>
				</div>
				
				<a href="/40days" id="full-only"><strong><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> &nbsp; Main 40 Days Page</strong></a>
			</div>
			<div id="mobile-only" class="mobile-nav">
				<a href="/40days"><strong><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> &nbsp; Main 40 Days Page</strong></a>
			</div>
		</div>
	{/exp:channel:entries}
{/if}

{embed="_includes/footer"}