{embed="_includes/header" title="Annual Report 2016"}

<div class="container">
	<iframe src="https://cdn.flipsnack.com/widget/flipsnackwidget.html?hash=ftujypk7q&bgcolor=EEEEEE&t=1485628583" width="100%" height="600" seamless="seamless" scrolling="no" frameBorder="0" allowTransparency="true" allowFullScreen="true"></iframe>
	<div class="grid_12">
		<br>
		<a href="http://journeychurch.tv/_doc/Annual%20Report.pdf" target="_blank"><button style="margin:0 auto;display:block">Download PDF Version</button></a>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}
