<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Student Journey & 56 Summer Camp 2017">
		<meta name="keywords" content="Summer Camp, SJ Summer Camp, 56 Summer Camp, SJ Camp, 56 Camp, Student Journey, 56, Journey Church, JourneyChurch.tv, Norman, OK, Oklahoma City">

		<title>Summer Camp 2017</title>

		{!-- Stylesheets --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/summercamp.css">

    {!-- Fonts --}
		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6186432/755202/css/fonts.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

		{!-- Font Icons --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	</head>
	<body>
		<section id="cover">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-sm-offset-2 col-md-6 col-md-offset-3">
							<img src="/_img/summercamp/logo.png" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="scroll-down-container">
				<div class="scroll-down"><i class="fa fa-angle-down"></i></div>
			</div>
		</section>

		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h2 class="font-bold font-block">August 1st - August 4th</h2>
						<br>
						<p>The best memories are made at Summer Camp. From the inside jokes, to the incredible worship, time alone with God and of course spending afternoons at the lake...summer camp is the perfect way to wrap up your summer! Camp is August 1st - August 4th</p>
						<br>
						<a href="http://tinyurl.com/ltmg4ro" class="btn btn-default btn-lg font-block" style="margin-top:10px">Register for 56 Camp</a>
						<a href="http://tinyurl.com/m2kcfrd" class="btn btn-default btn-lg font-block" style="margin-top:10px">Register for SJ Camp</a>
						<br><br><br><br>
						<!--<a href="/_doc/MedicalandLiabilityReleaseForm-56 Spring Retreat.pdf" class="btn btn-default btn-lg font-block">Medical Release Form</a>-->
					</div>
					<div class="col-md-4 col-md-offset-1">
						<img src="/_img/summercamp/about.jpg" class="img-responsive">
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</section>

		<section id="schedule"  class="bg-img">
			<div class="container">
				<div class="row">
					<div class="col-md-10">
						<h2 class="font-bold font-block">Schedule</h2>
						<br>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Tuesday</h4>
						  </div>
						  <div class="panel-body">
								11:30 AM Students arrive at All Saints Catholic School
								<br><br>
								12:30 PM Depart for CampWOW
								<br><br>
								2:30 PM Arrive at CampWOW
						  </div>
						</div>

						<div class="panel panel-default hidden-xs hidden-sm">
							<div class="panel-heading">
								<h4 class="panel-title font-bold font-block">Friday</h4>
							</div>
							<div class="panel-body">
								8:30 AM Breakfast/Pack up
								<br><br>
								9:00 AM Morning Experience
								<br><br>
								10:00 AM Depart CampWOW for Journey Church
								<br><br>
								12:00 PM Arrive at Journey Church
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Wednesday - Thursday</h4>
						  </div>
						  <div class="panel-body">
								8:30 AM Breakfast
								<br><br>
								9:15 AM Morning devotional (Basketball courts)
								<br><br>
								10:00 AM Small groups
								<br><br>
								11:00 AM Rec. time
								<br><br>
								12:10 PM Lunch
								<br><br>
								1:00 PM Waterfront time
								<br><br>
								3:30 PM Free time
								<br><br>
								5:00 PM Dinner
								<br><br>
								6:00 PM Worship experience
								<br><br>
								7:00 PM Night life
								<br><br>
								11:00 PM Lights out
						  </div>
						</div>

						<div class="panel panel-default hidden-md hidden-lg">
							<div class="panel-heading">
								<h4 class="panel-title font-bold font-block">Friday</h4>
							</div>
							<div class="panel-body">
								8:30 AM Breakfast/Pack up
								<br><br>
								9:00 AM Morning Experience
								<br><br>
								10:00 AM Depart CampWOW for Journey Church
								<br><br>
								12:00 PM Arrive at Journey Church
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="faqs"  class="bg-img">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<h2 class="font-bold font-block">FAQs</h2>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
						<div class="wrapper">
							<strong>What is Camp WOW? And where is it?</strong><br>
							<p>Since 2001, Camp WOW has been a place for people to encounter God in a meaningful and lasting way. Over thousands of students have attended since it’s establishment. Camp WOW, located near Gerty, Oklahoma, has partnered with Journey Church for a  number of years and has always provided a safe and fun environment for our students to experience Jesus. For more information visit <a href="http://campwow.com">campwow.com</a></p><br><br>

							<strong>What's the goal of camp?</strong><br>
							<p>Although the themes change yearly, the goal is all the same, that we would see students take a step toward owning their faith and live into their God given potential.</p><br><br>

							<strong>When is the parent meeting?</strong><br>
							<p>Wednesday, July 19th<br>
								 6:30 PM - Middle School<br>
								 7:15 PM - High School
							 </p><br><br>

							<strong>What is the adult/kid ratio?</strong><br>
							<p>1:10 (one adult for every 10 students)</p><br><br>

							<strong>What are the sleeping arrangements?</strong><br>
							<p>Dorm/Bunk Bed style. Each Dorm is comprised of 4 bays, and each bay can sleep 58 students (There are 58 beds). Students are separated by grade and gender. Depending on the amount of students registered per grade, students may be paired with the students in the next grade. For example: 5th and 6th grade boys in Bay 1 instead of just 5th grade boys in Bay 1. This is done to maximize the lodging space available while keeping your students in mind. You will not see 5th grade students with 12th grade students. Small Group Adult Leaders will also be lodging with your students.<br><br>
							All adults have had background checks, have served in our ministry is some sort of capacity, and have gone through our leader training classes.
							</p><br><br>

							<strong>What is the food like?</strong><br>
							<p>The meals are well balanced and delicious. In the cafe, alongside the meal, there is always a salad bar, and a potato bar. If for some reason, your child doesn’t like the food served, the camp has a “snack shack” that serves pizza, chicken strips, fries, and nachos. But in our experience, kids head to the snack bar because they want ice cream.</p><br><br>

							<strong>How can I purchase a Camp WOW card?</strong><br>
							<p><a href="http://www.campwowstore.com">campwowstore.com</a></p><br><br>

							<strong>What is a typical day at camp like?</strong><br>
							<p>From the time they wake up, until they go to bed, your child will be busy and with their friends, laughing, creating memories, and learning more about Jesus.<br><br>
									8:30 AM Breakfast<br>
									9:15 AM Morning devotional (Basketball courts)<br>
									10:00 AM Small groups<br>
									11:00 AM Rec. time<br>
									12:10 PM Lunch<br>
									1:00 PM Waterfront time<br>
									3:30 PM Free time<br>
									5:00 PM Dinner<br>
									6:00 PM Worship experience<br>
									7:00 PM Night life<br>
									11:00 PM Lights out
							</p><br><br>

							<strong>Are students allowed electronics?</strong><br>
							<p>ONLY phones, but it is regulated. Students are allowed to utilize their phones on the bus, during free time, and before bed to call home (if needed). Other than that, they turn in their phones to their small group leaders. This isn’t because we want to punish your child. It is because we want students to engage with their friends and the environment around them.</p><br><br>


							<strong>How can I contact my child if I need to?</strong><br>
							<p>We ask that you contact your child’s pastor. They will always have their phone on them. There is spotty reception at the water front and the worship center, so if you are unable to get ahold of them, the camp has a land line that you can call and they will take a message and run it to them. Once receiving the message, the pastor will immediately call you.</p><br><br>


							<strong>What happens if my child gets injured?</strong><br>
							<p>Should that happen, the camp has an on location nurse. All injuries are seen by the nurse. Anything bigger than a small scrape, you will be notified.</p><br><br>


							<strong>How far away is the nearest hospital?</strong><br>
							<p>The nearest hospital is located in Ada, OK.</p><br><br>


							<p>If you have any more questions please email <a href="mailto:kaeo@journeychurch.tv">kaeo@journeychurch.tv</a><br><br>
								Middle school - Ka’eo Yoshikawa<br>
								High school - Chris Mitchell
							</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</section>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<script>
		$(document).ready(function() {
			$(".scroll-down").click(function() {
				$("body, html").animate({
					scrollTop : $("#about").offset().top + "px"
				});
			});
		});
		</script>
	</body>
</html>
