{embed="_includes/header" title="JourneyKids Christmas Choir" bar="yes"}
<meta name="Description" content="Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.">
<script type="text/javascript" src="http://www.streammonkey.com/_js/jwplayer.js"></script>

<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>JourneyKids Christmas Choir</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
	<div class="grid_12 fancy-page">
		<p><strong>Rehearsals Times and Locations:</strong><br>
		December 8th, 15th and 22nd.<br>
		All rehearsals will be held in the JKids Theater at the Norman Campus and will start at 7:30pm.
 	   	<br><br>
		<strong>Performance Times:</strong><br>
		Christmas Eve in the main auditorium at 4:30pm and 6:00pm</p>
		<br>
		<a href="https://journeydreamteam.wufoo.com/forms/journeykids-christmas-choir/" target="_blank"><button style="margin-left:0;;float:left">Register Online</button></a>
		<a href="/downloads/choir.zip" target="_blank" download="/downloads/choir.zip"><button>Download the songs here</button></a>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}