{embed="_includes/header" title="Christmas"}
<style type="text/css">
	@font-face {
	    font-family: 'arvil_sansregular';
	    src: url('/_font/arvil_sans-webfont.eot');
	    src: url('/_font/arvil_sans-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/_font/arvil_sans-webfont.woff') format('woff'),
	         url('/_font/arvil_sans-webfont.ttf') format('truetype'),
	         url('/_font/arvil_sans-webfont.svg#arvil_sansregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
	.arvil {
		font-family: 'arvil_sansregular', sans-serif;
	}
	.christmasEveContain {
		background-color: #03285c;
		color: #FFF;
	}
	.christmasEve {
		background-image: url('/_img/ChristmasEve.png');
		background-repeat: no-repeat;
		margin: 0 auto;
		height: 460px;
		width: 1260px;
		margin-top: -20px;
		padding-top: 20px;
	}
	.christmasEve h2 {
		font-family: "trajan-pro-3",sans-serif;
		color: #f6ee4a;
		font-size: 60px;
		margin-top: 80px;
		margin-left: 100px;
		line-height: 60px;
	}
	.christmasEve h2 span {
		margin-left: 50px;
		font-size: 30px;
		line-height: 30px;
	}
	
	.christmasEve_mobile h2 {
		font-family: "trajan-pro-3",sans-serif;
		color: #f6ee4a;
		font-size: 36px;
		line-height: 36px;
		text-align:center;
		padding-top: 25px;
	}
	.christmasEve_mobile h2 span {
		font-size: 26px;
		line-height: 26px;
	}
	
	img.album {
		display: block;
		margin: 0 auto;
	}
	.album-details {
		margin-top: 30px;
	}
	#albumHolder {
		margin-top: 20px;
	}
	@media only screen and (min-width: 769px) {
		h2.arvil {
			font-size: 52px;
			color: #0f7c18;
			line-height: 40px;
		}
		h3.arvil {
			font-size: 26px;
			color: #E82A32;
			margin-bottom: 25px;
		}
		h4.arvil {
			font-size: 26px;
			color: #E82A32;
			text-align: right;
			line-height: 24px;
			margin-top: 260px;
			line-height: 26px;
			text-align: center;
		}
		h5.price {
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300;
			font-size: 46px;
			color: #0f7c18;
			text-align: center;
			line-height: 46px;
		}
		h5.price sup {
			font-size: 16px;
		}
	}
	@media only screen and (max-width: 768px) {
		h2.arvil {
			font-size: 42px;
			color: #0f7c18;
			padding-top: 20px;
		}
		h3.arvil {
			font-size: 23px;
			color: #E82A32;
		}
		h4.arvil {
			font-size: 26px;
			color: #E82A32;
			text-align: center;
			line-height: 24px;
			line-height: 26px;
			text-align: center;
		}
		h5.price {
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300;
			font-size: 46px;
			color: #0f7c18;
			text-align: center;
			line-height: 46px;
		}
		h5.price sup {
			font-size: 16px;
			text-align: center;
		}
		img.album {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
</style>

<div id="full-only" class="christmasEveContain">
	<div class="christmasEve">
		<div class="container">
			<div class="grid_3">&nbsp;</div>
			<div class="grid_9">
				<h2><span>Celebrate<br></span>Christmas Eve</h2>
				<h3 style="font-size:26px;text-align:right;padding-right:100px;">at JourneyChurch.tv</h3>
				<br>
				<h3 style="font-size:26px;text-align:center;text-transform:none;font-weight:300">A Night of Candles, Carols &amp; Communion</h2>
				<h2 style="text-align:right;padding-right:50px;font-size:46px;margin-top:0;padding-top:20px">December 24, 2013</h1>
				<h3 style="text-transform:none;font-weight:300;text-align:right;font-size:26px">3:00, 4:30 &amp; 6:00pm</h2>
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="mobile-only" style="background-image:url('/_img/ChristmasEve_mobile.png')">
	<div class="christmasEve_mobile">
		<h2><span>Celebrate<br></span>Christmas Eve</h2>
		<h3 style="text-align:center;font-size:22px;color:#FFF;font-weight:100">at JourneyChurch.tv</h3>
		<br>
		<h3 style="font-size:26px;text-align:center;text-transform:none;font-weight:300;color:#FFF">A Night of Candles, Carols &amp; Communion</h2>
		<h2 style="text-align:center;font-size:32px;margin-top:0;padding-top:20px;">December 24</h1>
		<h3 style="text-transform:none;font-weight:100;text-align:center;font-size:22px;padding-bottom:25px;color:#FFF">3:00, 4:30 &amp; 6:00pm</h2>
	</div>
</div>

<div class="album-details">
	<div class="container">
		<div class="grid_5">
				<img src="/_img/simplychristmasalbum.png">
				<h2 class="arvil">Simply Christmas</h2>
				<h3 class="arvil">Creative Journey Christmas Album</h3>
				<p>Christmas carols are story songs that we all know. They tell the same story of simply a babe in a manger. The vision behind the record is exactly the name: Simply Christmas. We wanted to create a record that conveys, in a fresh way, the story we all know and all need so desperately. And we wanted to have a blast doing it so the listener would have a blast hearing it!</p><br>
			</div>
		<div class="grid_7">
			<?php 
			$url = 'http://' . $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI'];

			if (false !== strpos($url,'NOEL1213')) {
				include('downloads/album_preview.php');
			};
			?>
			<div>
				<strong style="float:left;padding-top:3px;margin-right:10px">Have a free song download code?</strong>
				<form id="thefreecodes" style="float:left">
					<input id="freecode" name="freecode" type="text" class="txt" placeholder="enter it here" size="25" tabindex="1" style="padding:5px">
				</form>
				<div class="clear"></div>
			</div>
			
			<div id="albumHolder">
				<div style="margin:15px 0;">
					<a href="https://itunes.apple.com/us/album/simply-christmas/id771046172">
					<span class="icon-stack">
					  <i class="icon-sign-blank icon-stack-base"></i>
					  <i class="icon-music icon-light"></i>
					</span></a>
					<a href="https://itunes.apple.com/us/album/simply-christmas/id771046172">Find it on iTunes</a>
				</div>
				<div class="clear"></div>
				<h3 style="margin-top:20px">Order the Album</h3>
				<div id="wufoo-wa5r3ru1gm37fb">
				Fill out my <a href="https://journeydreamteam.wufoo.com/forms/wa5r3ru1gm37fb">online form</a>.
				</div>
				<script type="text/javascript">var wa5r3ru1gm37fb;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'journeydreamteam', 
				'formHash':'wa5r3ru1gm37fb', 
				'autoResize':true,
				'height':'673',
				'async':true,
				'host':'wufoo.com',
				'header':'hide', 
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { wa5r3ru1gm37fb = new WufooForm();wa5r3ru1gm37fb.initialize(options);wa5r3ru1gm37fb.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{embed="_includes/footer"}