<!DOCTYPE html>
<html class="no-js">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title>JourneyChurch.tv | Christmas 2016</title>

  	<meta name="description" content="You're spectacular...this Christmas, let's spend it together as a family! There will be free carriage rides, Frosty's Frozen Fun Zone, an interactive experience, cookie decorating, photo booths, s'mores, and more...all that's missing is you! Come join us this weekend at any of our nine experience times! Check out journeychurch.tv/christmas for all of the details! #Spectacular16">
    <meta name="keywords" content="Journey Church, JourneyChurch.tv, Christmas, Christmas Spectacular, Christmas Eve, Christmas Light Night, Norman, OKC, Moore, 2016">
  	<meta name="author" content="JourneyChurch.tv">
  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/favicon.ico" type="image/x-icon">

  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta property="og:url"                content="http://journeychurch.tv/christmas" />
    <meta property="og:title"              content="Christmas 2016" />
    <meta property="og:description"        content="You're spectacular...this Christmas, let's spend it together as a family! There will be free carriage rides, Frosty's Frozen Fun Zone, an interactive experience, cookie decorating, photo booths, s'mores, and more...all that's missing is you! Come join us this weekend at any of our nine experience times! Check out journeychurch.tv/christmas for all of the details! #Spectacular16" />
    <meta property="og:image"              content="http://journeychurch.tv/_img/christmas/Splashpage.jpg" />

    {!-- Fonts --}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/_css/font-awesome.css"/>

    {!-- Bootstrap CSS --}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    {!-- Styles --}
    <link rel="stylesheet" href="/_css/christmas.css"/>

    <script type="text/javascript" src="/_js/modernizr-custom.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="spectacular" class="grid">
        <div class="section-wrapper">
          <div class="section-image bg-img"></div>
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-title">
                  <h1>Christmas<br>Spectacular</h1>
                </div>
                <div class="section-content">
                  <h5>From the carriage rides and s'mores bar to the endless cookies and snowball fights, spending Christmas Spectacular with you was the highlight of our festive season!<br><br>Stay tuned for photos and videos from the evening, and join us in the meantime for our special Christmas Eve experiences!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="spectacular-mobile" class="grid grid-mobile">
        <div class="section-wrapper">
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-content">
                  <h5>From the carriage rides and s'mores bar to the endless cookies and snowball fights, spending Christmas Spectacular with you was the highlight of our festive season!<br><br>Stay tuned for photos and videos from the evening, and join us in the meantime for our special Christmas Eve experiences!</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="light-night" class="grid">
        <div class="section-wrapper">
          <div class="section-image bg-img"></div>
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-content">
                  <h5>Christmas Light Night was the brightest spot on our calendar this year. Thank you for bringing your family and friends to share it with us!</h5>
                  <br>
                  <a href="https://www.youtube.com/watch?v=yqTyMatlhTw&feature=youtu.be" class="btn btn-default">Relive the Moment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="light-night-mobile" class="grid grid-mobile">
        <div class="section-wrapper">
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-content">
                  <h5>Christmas Light Night was the brightest spot on our calendar this year. Thank you for bringing your family and friends to share it with us!</h5>
                  <br>
                  <a href="https://www.youtube.com/watch?v=yqTyMatlhTw&feature=youtu.be" class="btn btn-default">Relive the Moment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="eve" class="grid">
        <div class="section-wrapper">
          <div class="section-image bg-img"></div>
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-title">
                  <h1>Christmas Eve</h1>
                </div>
                <div class="section-content">
                  <h5>Join us for our special Christmas Eve experiences as we ready ourselves for the celebration of His birth.</h5>
                  <br>
                  <ul>
                    <li><h5><strong>12.23</strong>: 4:00 PM, 5:30 PM, 7:00 PM</h5></li>
                    <li><h5><strong>12.24</strong>: 5:30 PM, 7:00 PM</h5></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="eve-mobile" class="grid grid-mobile">
        <div class="section-wrapper">
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-content">
                  <h5>Join us for our special Christmas Eve experiences as we ready ourselves for the celebration of His birth.</h5>
                  <br>
                  <ul>
                    <li><h5><strong>12.23</strong>: 4:00 PM, 5:30 PM, 7:00 PM</h5></li>
                    <li><h5><strong>12.24</strong>: 5:30 PM, 7:00 PM</h5></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="watch" class="grid">
        <div class="section-wrapper">
          <div class="section-image bg-img"></div>
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-title">
                  <h1>Christmas Day</h1>
                </div>
                <div class="section-content">
                  <h5>Let's spend Christmas together in your home! Journey will be having a special online only experience on Christmas Day, so you can spend time with your family at your place this year. The experience will be streaming around the clock on December 25th. Fun Christmas downloadables are available right here for your family to enjoy over the season. Merry Christmas!</h5><br>
                  <a href="/_doc/Christmas_Day.pdf" target="_blank" class="btn btn-default" onClick="ga('send', 'event', 'Download', 'Download Christmas Day Package', 'http://journeychurch.tv/_Doc/Christmas_Day.pdf');">Goodies</a>
                  <a href="http://live.journeychurch.tv" class="btn btn-default">Watch Online</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="watch-mobile" class="grid grid-mobile">
        <div class="section-wrapper">
          <div class="section-caption">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="section-content">
                  <h5>Let's spend Christmas together in your home! Journey will be having a special online only experience on Christmas Day, so you can spend time with your family at your place this year. The experience will be streaming around the clock on December 25th. Fun Christmas downloadables are available right here for your family to enjoy over the season. Merry Christmas!</h5><br>
                  <a href="/_doc/Christmas_Day.pdf" target="_blank" class="btn btn-default" onClick="ga('send', 'event', 'Download', 'Download Christmas Day Package', 'http://journeychurch.tv/_Doc/Christmas_Day.pdf');">Goodies</a>
                  <a href="http://live.journeychurch.tv" class="btn btn-default">Watch Online</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23134458-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
