<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Christmas 2017">
		<meta name="keywords" content="Christmas Spectacular, Christmas Spectacular 2017, Christmas, Christmas Eve, Christmas Light Night, Christmas Day, JourneyChurch.tv, Journey Church, Norman, OK, Oklahoma, Oklahoma City">

		<title>Christmas 2017</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/christmas.css">

		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6186432/755202/css/fonts.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	</head>
	<body class="bg-img">
		<div class="wrapper">
			<section id="spectacular">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-5 col-lg-offset-1 cover">
							<img src="/_img/christmas/Spectacular-1.jpg" class="img-responsive">
						</div>
						<div class="col-md-6 col-lg-5 content">
							<div class="inner">
								<p>You are absolutely Spectacular. This Christmas, let's spend it together as a family.</p>
								<p>December 8th at 7:00 PM</p>
								<p>December 9th at 7:00 PM</p>
								<p>December 10th at 9:00, 10:45 AM, 5:00 and 6:30 PM</p>
								<a class="btn btn-default" href="http://www.signupgenius.com/go/10c094aaca62aa5fa7-christmas4">Serve with Dream Team</a>
								<a class="btn btn-default" href="http://www.signupgenius.com/go/10c094aaca62aa5fa7-christmas4">Serve with JourneyKIDS</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="light-night">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-5 col-lg-offset-1 cover">
							<img src="/_img/christmas/Christmas-Light-Night.jpg" class="img-responsive">
						</div>
						<div class="col-md-6 col-lg-5 content">
							<div class="inner">
								<p>Christmas Light Night is almost here! Come enjoy time with your family with snacks, crafts, and the brightest bulbs on the block. We'll see you Wednesday, November 29th at 7:00 PM for Journey's brightest tradition!</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="eve">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-5 col-lg-offset-1 cover">
							<img src="/_img/christmas/Christmas-Eve.jpg" class="img-responsive">
						</div>
						<div class="col-md-6 col-lg-5 content">
							<div class="inner">
								<p>Join us for our special Christmas Eve experiences as we ready ourselves for the celebration of His birth.</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="day-nye">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-lg-5 col-lg-offset-1 cover">
							<img src="/_img/christmas/Christmas-day.jpeg" class="img-responsive">
						</div>
						<div class="col-md-6 col-lg-5 content">
							<div class="inner">
								<p>Enjoy Christmas Day at home with your family this year, and we'll see you back for our New Year's Eve experiences during the morning only, December 31st at 9:00 & 10:45 AM</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</body>
	</div>
</html>
