{if segment_2 == ""}
	{embed="_includes/header" bar="{if segment_2==''}yes{if:else}no{/if}" title="Daily Devotionals"}
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<div class="title-bar">
		<div class="container">
			<div class="grid_12">
				<h2>Daily Devotionals</h2>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<div id="devos">
	<div class="container clearfix">
		<div class="grid_12">
			{exp:channel:entries channel="Devos" orderby="date" sort="desc" show_future_entries="yes" limit="1"}
				<h2><a href="/devos/{url_title}">{title}</a></h2>
				<h3>{entry_date format="%F %j"} {if devos-author}by {devos-author}{/if}</h3>
				<p>
					{exp:word_limit total="120"}
						{devos-body}
					{/exp:word_limit}
					<br><br>
					<a href="/devos/{url_title}" class="continueon"><strong>Continue Reading &nbsp;<i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></strong></a>
				</p>
			{/exp:channel:entries}
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<div class="container clearfix" style="margin-top:50px">
		<div class="grid_8">
			<h2>In Jesus' Name</h2>
			<p><strong>John 16:23–24</strong> (MSG)<br><em>This is what I want you to do: Ask the Father for whatever is in keeping with the things I’ve revealed to you. Ask in my name, according to my will, and he’ll most certainly give it to you.</em><p>
<br>
<p>If you’ve spent any time praying in your life, you’ve probably ended your prayers with the phrase, “In Jesus’ name.” Most of us say this out of habit without really thinking about what that means or why we close our prayers that way. The most common reason we end prayers in Jesus’ name is because He told us to pray in His authority (John 14:12–14). But ending prayers with the name of Jesus is also appropriate for another reason—since He is our ultimate example of what real prayer looks like, it’s only fitting that a prayer that stems from His example should end in His name.</p>
<br>
<p>During this devotional, we’re going on a journey together into prayer. We’ll explore its many dynamics: what the Bible says about it, why we so desperately need it, how we can use it, how it brings us closer to the Father and many other principles. Each day begins with a passage of scripture, followed by an inspiring devotional thought and ends with practical tips and a prayer to help you activate the devotional’s subject in your own prayer life.</p>
<br>
<p>As you go through this devotional, our prayer is that you’ll grow to understand that prayer is one of the most crucial elements to walking in an intimate relationship with our heavenly Father. We have a great adventure ahead of us, and we pray you’ll become closer to God than you ever thought possible as you discover how to live a powerful life of prayer.<br><br>
—In Jesus’ name, Amen.</p>
		</div>
		<div class="grid_4">
			<ul class="side-nav">
				<h3 class="sub-title blue">Resources</h3>
				<li><a href="/groups"><i class="fa fa-group"></i>  Join a Life Group</a></li>
				<li><a href="/media"><i class="fa fa-youtube-play"></i> Watch media</a></li>
				<br><br>
				<p style="text-transform:uppercase"><strong>Get a daily text reminder</strong></p>
				<form
					enctype="application/x-www-form-urlencoded"
					action="https://app.clubtexting.com/widgets?_method=subscribe"
					id="ez-form"
					method="post"
					target="subscribed"            onsubmit="
					                                    window.open(
					            '',
					            'subscribed',
					            'width=530,' +
					            'height=370,' +
					            'scrollbars=no,resizable=yes,status=no,toolbar=0'
					    );
					                "
				>
				            <input type="hidden" name="serializedData" value="eNpVj01PwzAMhv+Lz0Vr1279uE0CjSE4IU6MQ5q4racsqeqECU3777hsSHDz89ivrLdoy8KoWhXFKk3bLluvdKnSrFLl2uSVqs9AvJ18HPkVLepA3m2s9Sc00EAKCagrXW+geYdlXpRVCR8JdITWzC4TYOpdHB9RGZwkKkmOWiNzF+1fS/zgVGvRPHlyL7JXPd5eHf4ZEeFrnKeljE4db1JHDv640969TVbUEMLY7Bf7hexOZMIgTroKDUj9EATzfEaSiEBHE4e7H0ggMk47qVrndVYl0M8tn4kldP4t2sA9fnqGy+UbrKpmxQ==">

            
				    <label class="ez-lb" for="PhoneNumber">Phone Number</label><br>
				    <input id="PhoneNumber" style="width:100%" class="ez-text" name="PhoneNumber" type="tel"
				               value=""
				               required="required" placeholder="(e.g. 2223334444 no dots)"
				               pattern="^[2-9][0-9]{9}$" />
							   

					<button class="ez-button" type="submit" style="margin-left:0">Join Now</button>
				</form>
				
				<small>Msg &amp; data rates may apply.<br>To unsubscribe, text STOP to 25827.</small>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>
{if:else}
	{exp:channel:entries channel="Devos" dynamic="yes" url_title="{segment_2}" show_future_entries="yes"}
		{if no_results}{redirect="devos"}{/if}
		{embed="_includes/header" bar="{if segment_2==''}yes{if:else}no{/if}" title="{title} - Daily Devotionals"}
		<link rel="alternate" type="application/rss+xml" title="{title} - JourneyChurch.tv" href="http://journeychurch.tv/blogs/feed"><script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher: "12217aef-f07e-464d-8757-03bfdb881858", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
		
		<style type="text/css">
			p {padding: 5px 0;}
			h2 {color:#7f3e19}
		</style>
		
		<div class="container clearfix">
			<div class="grid_12">
				<?php
					$today = "{entry_date format='%F %j'}";
					$backward = date($today,strtotime("-1 days"));
				?>
				{embed="_component/devos-nav" url="{segment_2}"}
				
				<div class="blog-title">
					<h3>{if {entry_date format='%Y'} >= "1999"}{entry_date format="%F %j, %Y"}{/if}</h3>
					<h2>{title}</h2>
					{if devos-author}<h4>By {devos-author}</h4>{/if}
					{if devos-mp3}
						<br>
						<h4><a href="{devos-mp3}" target="_blank"><i class="fa fa-volume-up"></i> <strong>LISTEN</strong></a></h4>
					{/if}
				</div>
				
				<div class="blog-entry">
					{devos-body}
					<br>
					<h2>Today's Prayer {if devos-prayer-title}- {devos-prayer-title}{/if}</h2>
					{devo-prayer}
				</div>
				
				<div class="blog-details">
					<div class="blog-comments pull-right">
						<span class='st_fblike_hcount' displayText='Facebook Like'></span>
						<span class='st_facebook_hcount' displayText='Facebook'></span>
						<span class='st_twitter_hcount' displayText='Tweet'></span>
					</div>
				</div>
				
				<a href="/devos" id="full-only"><strong><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> &nbsp; Main Devos Page</strong></a>
			</div>
			<div id="mobile-only" class="mobile-nav">
				<a href="/devos"><strong><i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i> &nbsp; Main Devos Page</strong></a>
			</div>
		</div>
	{/exp:channel:entries}
{/if}

{embed="_includes/footer"}