{embed="_includes/header-opener" title="Easter Weekend"}
<style type="text/css">
	#footer, #wrapper:after {
		margin-top: 0;
	}
	#wrapper {
		margin-bottom: -150px;
	}
	#footer {
		padding-top: 20px;
	}
</style>
	<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />
	<meta property="og:image" content="http://journeychurch.tv/_img/easter2014_thumb.png"/>
	<meta property="og:title" content="Easter Weekend at JourneyChurch.tv"/>
	<meta property="og:url" content="http://JourneyChurch.tv/easter"/>
	<meta property="og:description" content="Easter is always a great time to gather as a church family and celebrate the resurrection of Jesus Christ, our Savior! We want this to be a great time for your friends and family as well! We have multiple worship experiences Saturday, April 4th and Easter Sunday, April 5th."/>
	<script src="/_js/modernizr.custom.js"></script>
	<script src="/_js/lib.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher: "12217aef-f07e-464d-8757-03bfdb881858", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{embed="_includes/header-closer" bar="no"}

<div class="easter15 clearfix">
	<div id="layerslider-container" class="easter_top">
		<div id="layerslider" style="width:100%;height:350px;">
			<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
				<img class="ls-s3 si" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;" src="/_img/easter/easter_logo-2015.jpg">
			</div>
		</div>
	</div>
	<div id="full-only">
		<div class="easter_2 container">
			<div class="easter_2-container goodfriday">
				<img src="/_img/easter/goodfriday_title.png" align="center" style="max-width:800px;margin:0 auto;width:100%;display:block">
				<br><br>
				<div class="container clearfix">
					<div class="infoblocks">
						<span class="fa fa-clock-o" style="float: left"></span>
						<h3>Friday, April 3<sup>rd</sup> 2015</h3>
						<p>5:30 PM -<br id="mobile-only"> Food Trucks and Activities</p>
						<p>7:00 PM -<br id="mobile-only"> Worship Experience</p>
						<br>
					</div>
					<div class="infoblocks">
						<span class="fa fa-map-marker"></span>
						<h3>Myriad Botanical Gardens</h3>
						<p>301 W. Reno Ave</p>
						<p>Oklahoma City, OK 73102</p>
						<p><a href="#" id="full-only" class="goodfriday-modal-bump">CLICK FOR INTERACTIVE MAP</a></p>
					</div>
					<div class="clear"></div>
					<div id="goodfriday-modal">
						<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
						<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
    	        	
						<style>
						  #map { width:100%; height:340px;}
						</style>
						<div id='map'></div>
						<script>
						var map = L.mapbox.map('map', 'journeychurchtv.hi81h4l9')
						    .setView([35.4653638,-97.517964], 17);
						</script>
					</div>
					<br>
					<p id="full-only" style="padding:10px">
						JourneyChurch.tv invites all of the Oklahoma City area to join us as we experience Good Friday in the Park at the Myriad Botanical Gardens. Bring your friends, family, blankets and lawn chairs for a time of community at 5:30 PM, followed by an incredible time of worship and remembrance at 7:00 PM. This outdoor event is the perfect opportunity to invite the entire city to experience Jesus’ sacrificial love and forgiveness.<br><br>
						{!--}Limited, reserved parking is available in <a href='#2' class='goodfriday-modal-bump'>lot 320 located at 240 W Reno and lot 322 located at 350 W Reno</a>. Please place your Good Friday in the Park invite card on your dashboard to access the reserved parking lots. Additional public parking is available in downtown around the gardens.<br><br>{--}
						<small>*In case of inclement weather, Good Friday in the Park will take place at JourneyChurch Norman Campus Auditorium, 3801 Journey Parkway, Norman. Please watch this website and our social media channels for updates or call 405-217-8700.</small>
					</p>
					<p id="mobile-only" style="padding:10px">
						{!--}Limited, reserved parking is available in lot 320 located at 240 W Reno and lot 322 located at 350 W Reno. Please place your Good Friday in the Park invite card in your dash to access the reserved parking lots. Additional public parking is available in downtown around the gardens.<br><br>{--}
						<small>*In case of inclement weather, Good Friday in the Park will take place at JourneyChurch Norman Campus Auditorium, 3801 Journey Parkway, Norman. Please watch this website and our social media channels for updates or call 405-217-8700.</small>
					</p>
					<br>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="easter_times">
			{!--}
			<div class="easter_5">
				<div class="easter_5-container">
					<div class="container clearfix">
						<p>
							Easter is always a great time to gather as a church family and celebrate the resurrection of Jesus Christ, our Savior! We want this to be a great time for your friends and family as well! We have multiple worship experiences Saturday, April 4<sup>th</sup> and Easter Sunday, April 5<sup>th</sup>. Invite your friends and family to join you using the social media links below.
						</p>
						<br><br>
						<div class="easterlocal">
							<span class="fa fa-map-marker"></span>
							<p><strong>JourneyChurch.tv</strong></p>
							<p>3801 Journey Pkwy</p>
							<p>Norman, OK 73072</p>
						</div>
						<div class="socialshares">
							<span class='st_facebook_custom fa fa-facebook-square' displayText='Facebook'></span>
							<span class='st_twitter_custom fa fa-twitter-square' displayText='Tweet' st_via="journeychurchtv" st_msg="Join me for"></span>
							<span class='st_googleplus_custom fa fa-google-plus-square' displayText='Google +'></span>
							<div class="clear"></div>
						</div>
					</div>
				</div>
			</div>
			{--}
			<div class="easter_3">
				<div class="easter_3-container">
					<div class="easter_smalldeets">
						<h2>Saturday<br>April 4</h2>
						<div class="easter_3-timesght">
							<span class="fa fa-clock-o" style="float: left"></span>
							<p>4:30 PM<br>
							6:00 PM</p>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="easter_4">
				<div class="easter_4-container">
					<div class="easter_smalldeets">
						<h2>Sunday<br>April 5</h2>
						<span class="fa fa-clock-o" style="float: left"></span>
						<div class="suntimes">
							<p>8:30 AM</p>
							<p>10:00 AM</p>
							<p>11:30 AM</p>
						</div>
						<div class="suntimes2">
							<p>4:30 PM</p>
							<p>6:00 PM</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div id="mobile-only">
		<div class="easter_2 container">
			<div class="easter_2-container goodfriday">
				<img src="/_img/easter/goodfriday_title.png" align="center" style="max-width:800px;margin:0 auto;width:100%;display:block">
				<br><br>
				<div class="container clearfix">
					<div class="infoblocks">
						<span class="fa fa-clock-o" style="float: left"></span>
						<h3>Friday, April 3<sup>rd</sup> 2015</h3>
						<p>5:30 PM -<br id="mobile-only"> Food Trucks and Activities</p>
						<p>7:00 PM -<br id="mobile-only"> Worship Experience</p>
						<br>
					</div>
					<div class="infoblocks">
						<span class="fa fa-map-marker"></span>
						<h3>Myriad Botanical Gardens</h3>
						<p>301 W. Reno Ave</p>
						<p>Oklahoma City, OK 73102</p>
						<p><a href="#" id="full-only" class="goodfriday-modal-bump">CLICK FOR INTERACTIVE MAP</a></p>
					</div>
					<div class="clear"></div>
					<div id="goodfriday-modal">
						<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
						<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
    	        	
						<style>
						  #map { width:100%; height:340px;}
						</style>
						<div id='map'></div>
						<script>
						var map = L.mapbox.map('map', 'journeychurchtv.hi81h4l9')
						    .setView([35.4653638,-97.517964], 17);
						</script>
					</div>
					<br>
					<p id="full-only" style="padding:10px">
						JourneyChurch.tv invites all of the Oklahoma City area to join us as we experience Good Friday in the Park at the Myriad Botanical Gardens. Bring your friends, family, blankets and lawn chairs for a time of community at 5:30 PM, followed by an incredible time of worship and remembrance at 7:00 PM. This outdoor event is the perfect opportunity to invite the entire city to experience Jesus’ sacrificial love and forgiveness.<br><br>
						{!--}Limited, reserved parking is available in <a href='#2' class='goodfriday-modal-bump'>lot 320 located at 240 W Reno and lot 322 located at 350 W Reno</a>. Please place your Good Friday in the Park invite card on your dashboard to access the reserved parking lots. Additional public parking is available in downtown around the gardens.<br><br>{--}
						<small>*In case of inclement weather, Good Friday in the Park will take place at JourneyChurch Norman Campus Auditorium, 3801 Journey Parkway, Norman. Please watch this website and our social media channels for updates or call 405-217-8700.</small>
					</p>
					<p id="mobile-only" style="padding:10px">
						{!--}Limited, reserved parking is available in lot 320 located at 240 W Reno and lot 322 located at 350 W Reno. Please place your Good Friday in the Park invite card in your dash to access the reserved parking lots. Additional public parking is available in downtown around the gardens.<br><br>{--}
						<small>*In case of inclement weather, Good Friday in the Park will take place at JourneyChurch Norman Campus Auditorium, 3801 Journey Parkway, Norman. Please watch this website and our social media channels for updates or call 405-217-8700.</small>
					</p>
					<br>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<img src="/_img/easter/easter_logo-2015-mobile.jpg">
		<div class="easter_3 easter_3-mobile">
			<div class="easter_3-container">
				<div class="easter_smalldeets">
					<h2>Saturday<br>April 4</h2>
					<div class="easter_3-timesght">
						<p>4:30<br>6:00 PM</p>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="easter_4 easter_4-mobile">
			<div class="easter_3-container">
				<div class="easter_smalldeets">
					<h2>Sunday<br>April 5</h2>
					<div class="suntimes">
						<p>8:30 AM, 10:00 &amp; 11:30 AM,<br> 4:30 &amp; 6:00 PM</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/_js/layerslider.js"type="text/javascript"></script>
<script src="/_js/layerslider.transitions.js"type="text/javascript"></script>
<script type='text/javascript' src='/_js/jquery.simplemodal.js'></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#layerslider').layerSlider({
			skinsPath : '/themes/assets/',
			skin : 'fullwidth',
			autoStart : true,
			navStartStop : false,
			responsive : false,
			responsiveUnder : 966,
			sublayerContainer : 966,
			hoverPrevNext : false,
			thumbnailNavigation : false,
			showCircleTimer: false,
			touchnav: true
		});
	});
	$('#goodfriday-modal').hide();
	$('.easter_2 .goodfriday-modal-bump').click(function (e) {
		$('#goodfriday-modal').modal();
		return false;
	});
</script>

{embed="_includes/footer"}