{embed="_includes/header" title="Give" bar="yes"}
<meta name="Description" content="Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.">
<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>Give</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix fancy-page">
	<div class="grid_8">
		<h2>Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.</h2><br>
		<h3>End of Year Giving</h3>
		December is a time many make year-end gifts. Week in and week out we are seeing lives changed for His Kingdom. While all glory and credit goes to the faithfulness of God, a sincere “thank you” is due you for your faithfulness in bringing your tithes and offerings to His House. It is our prayer that God will bless your house in the same way you continue to bless His church (Luke 6:38).
		<br><hr>
		<p>If you attend JourneyChurch, then this is simply another avenue to serve in a way God has called us to. One of the primary ways we serve God is by cheerfully giving God our “firstfruits” (2 Corinthians 9:7; Proverbs 3:9). The New Testament Scriptures don’t call us to a percentage but a principle. That principle is one of giving cheerfully and sacrificially for the sake of the Gospel.</p>
		<br>
		<p>We thank those who help us meet the needs and pray that God would help us to use every gift for the furtherance of The Gospel. God bless you as we serve Him Together in all that He has called us to do.</p>
		<br>
		<h2 style="font-size:22px;line-height:24px">“Since you excel in so many ways–you have so much faith, such gifted speakers, such knowledge, such enthusiasm, and such love for us–now I want you to excel also in this gracious ministry of giving…”</h2>
		<h3>2 Corinthians 8:7</h3>
	</div>
	<div class="grid_4">
		<a href="https://secure.accessacs.com/access/nonmemberlogin.aspx?sn=106649&sc=give" target="_blank"><button class="large" style="margin-top:5px">Sign in to Give Online <i class="icon-chevron-right"></i></button></a>
		<br>
		<p style="padding:10px">
			Have questions about online giving?
			<br>
			<i class="icon-envelope"></i> <a href="mailto:connect@JourneyChurch.tv">connect@JourneyChurch.tv</a>
			<br>
			<i class="icon-phone"></i> (405) 217-8700
		</p>
		<br>
		<a href="/downloads/AR_2013_WEB.pdf" target="_blank"><button style="width:100%;margin:0;">Download the 2013 Annual Report</button></a>
		<br><br>The 2013 Annual Report is all about you and what God has done through you! It's not just a book about numbers. Every number represented is a life changed and impacted forever because of God's work through you.
		<br><br>So thank you for all you've done. Your consistent generosity changes everything…allowing JourneyChurch to be more consistent than ever before in fulﬁlling our mission of seeing cities transformed, one life at a time.
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}