{embed="_includes/header" title="Give" bar="yes"}
<meta name="Description" content="Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.">
<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>Give</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix fancy-page">
	<div class="grid_8">
		<h2>Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.</h2><br>
		<p>If you attend JourneyChurch, then this is simply another avenue to serve in a way God has called us to. One of the primary ways we serve God is by cheerfully giving God our “firstfruits” (2 Corinthians 9:7; Proverbs 3:9). The New Testament Scriptures don’t call us to a percentage but a principle. That principle is one of giving cheerfully and sacrificially for the sake of the Gospel.</p>
		<br>
		<p>We thank those who help us meet the needs and pray that God would help us to use every gift for the furtherance of The Gospel. God bless you as we serve Him Together in all that He has called us to do.</p>
		<br>
		<h2 style="font-size:22px;line-height:24px">“Since you excel in so many ways–you have so much faith, such gifted speakers, such knowledge, such enthusiasm, and such love for us–now I want you to excel also in this gracious ministry of giving…”</h2>
		<h3>2 Corinthians 8:7</h3>
	</div>
	<div class="grid_4">
		<a href="https://secure.accessacs.com/access/oglogin.aspx?sn=106649" target="_blank"><button class="large" style="margin-top:5px">Give Online <i class="fa fa-chevron-right"></i></button></a>
		<br>
		<div style="padding:10px">
			<p>
				<a href="https://secure.accessacs.com/access/memberlogin.aspx?sn=106649" target="_blank">LOGIN HERE</a> to view your personal giving history
			</p>
			<br>
			<h3>Text-to-Give</h3>
			<p>We have a quick and easy option for you to give via text anytime. Text our Journey tithe number at (405) 253-5005 with your tithe amount. Then designate your payment option and voila! A confirmation text will be sent to you. Your private information will be secured and saved for your next text-to-give.</p>
			<hr>
			<p>
				Have questions about giving online?
				<br>
				<i class="fa fa-envelope-o"></i> <a href="mailto:connect@JourneyChurch.tv">connect@JourneyChurch.tv</a>
				<br>
				<i class="fa fa-phone"></i> (405) 217-8700
			</p>
		</div>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}
