{embed="_includes/header" title="Give" bar="yes"}
<script type="text/javascript" src="http://www.streammonkey.com/_js/jwplayer.js"></script>

<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>Give</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
	<div class="grid_12">
		<div id="vid0192">Please install <a href="http://get.adobe.com/flashplayer/">Adobe Flash</a>.</div>
		<script type="text/javascript"> 
		// Player provided by StreamMonkey.com
			jwplayer("vid0192").setup({					   
			    'autostart': 'false',
				'skin': 'http://www.streammonkey.com/_jw/Nacht/elements.xml',
				'height': '350px',
			    'width': '100%',
				'menu': 'false',
				'aspectratio': '16:9',
				'type': 'http://www.streammonkey.com/_jw/vimeo.swf',
				'file': 'http://vimeo.com/43608766',
				'image': '/_img/giving-thumb.png',
			    'plugins': {
			    	'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
			   	},		    
			    'modes': [{
			    	'type':'flash',
			    	'src': 'http://www.streammonkey.com/_jw/player.swf',
			    }]
			});
		</script>
		<div class="clear"></div>
	</div>
	
	<div class="grid_12 fancy-page">
		<br>
		<a href="https://secure.accessacs.com/access/nonmemberlogin.aspx?sn=106649&sc=give" target="_blank"><button class="extra-large">Give Online Here</button></a>
		<br><br>
		<h2>Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.</h2>
		<br>
		<p>If you attend JourneyChurch, then this is simply another avenue to serve in a way God has called us to. One of the primary ways we serve God is by cheerfully giving God our “firstfruits” (2 Corinthians 9:7; Proverbs 3:9). The New Testament Scriptures don’t call us to a percentage but a principle. That principle is one of giving cheerfully and sacrificially for the sake of the Gospel.</p>
		<br>
		<p>We thank those who help us meet the needs and pray that God would help us to use every gift for the furtherance of The Gospel. God bless you as we serve Him Together in all that He has called us to do.</p>
		<br>
		<a href="/downloads/AR_2013_WEB.pdf" target="_blank"><button class="pull-right">Download the 2013 Annual Report</button></a>
		<p>“Since you excel in so many ways–you have so much faith, such gifted speakers, such knowledge, such enthusiasm, and such love for us–now I want you to excel also in this gracious ministry of giving…”<br>
		2 Corinthians 8:7</p>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}