{embed="_includes/header" bar="no"}
{!-- Sliding box addons --}
<link rel="stylesheet" type="text/css" href="/_css/component.css" />
<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />

<script src="/_js/modernizr.custom.js"></script>
<script src="/_js/lib.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>	

<div id="layerslider-container">
	<div id="layerslider" style="width:100%;height:450px;margin-bottom:40px">
		<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
			<img class="ls-bg" src="/_img/slider/Awakening-bg.png">
			<img class="ls-s3 resimg" src="/_img/slider/Awakening-1.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0; ">
			<a href="/calendar/event/671a17f5-e321-4d5d-b102-a2a700f650b7?/awakening" class="ls-link"></a>
		</div>
		<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
			<img class="ls-bg" src="/_img/slider/40Days-bg.png">
			<img class="ls-s3"  src="/_img/slider/40Days-1.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0; ">
			<a href="/main/40days" class="ls-link"></a>
		</div>
		<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
			<img class="ls-bg" src="/_img/slider/GoodFriday-bg.png">
			<img class="ls-s3"  src="/_img/slider/GoodFriday-1.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0; ">
			<a href="/calendar/event/7787bd58-fcab-4b12-b093-a2df01258bbc" class="ls-link">
		</div>
	</div>
</div>
	
<div id="full-only">
	<div class="container clearfix boxes">
		<ul class="cs-style-2">
			<li class="grid_4">
				<figure>
					{exp:channel:entries channel="Media" limit="1" category="9" sort="desc" orderby="media-date" show_future_entries="no"}
						<a href="/media/{url_title}">
							<div class="slide_content box1">
								<i class="fa fa-chevron-circle-up"></i>
								<span>Watch the</span>
								Latest Message
							</div>
							<figcaption>
								<p>{if media-shrt-title}{media-shrt-title}{if:else}{title}{/if}</p>
							</figcaption>
						</a>
					{/exp:channel:entries}
				</figure>
			</li>
			<li class="grid_4">
				<figure>
					<a href="/locations">
						<div class="slide_content box2">
							<i class="fa fa-chevron-circle-up"></i>
							Locations
							<span>&amp; times</span>
						</div>
						<figcaption>
							<p>Find a campus near you</p>
						</figcaption>
					</a>
				</figure>
			</li>
			<li class="grid_4">
				<figure>
					<a href="/new">
						<div class="slide_content box3">
							<i class="fa fa-chevron-circle-up"></i>
							First time here?
							<span>Learn more about us</span>
						</div>
						<figcaption>
							<p>Who we are</p>
						</figcaption>
					</a>
				</figure>
			</li>
			<div class="clear"></div>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div id="mobile-only">
	<div class="container clearfix">
		{exp:channel:entries channel="Media" limit="1" category="9" sort="desc" orderby="media-date" show_future_entries="no"}
			<a href="/media/{url_title}">
				<div class="grid_12 mobile_boxes box1">
					<strong>Watch the Latest Message:</strong><br>{title}
				</div>
			</a>
		{/exp:channel:entries}
		
		<a href="/locations">
			<div class="grid_12 mobile_boxes box2">
				<strong>Locations &amp; Times</strong><br>
				Find a campus near you
			</div>
		</a>
		
		<a href="/new">
			<div class="grid_12 mobile_boxes box3">
				<strong>First time here?</strong><br>
				Learn more about us
			</div>
		</a>
		
		
		{!-- TEMP MOBILE CALENDAR --}
		<a href="/calendar">
			<div class="grid_12 mobile_boxes box4">
				<strong>What's Happening?</strong><br>
				View the Calendar
			</div>
		</a>
	</div>
</div>

<div class="container clearfix">
	<div id="full-only" class="grid_8">
		<div class="happening">
			<h2>Happening This Week <a href="/calendar"><i class="fa fa-chevron-circle-right pull-right"></i></a></h2>

			<div id="cal-week">
				<ul class="cal-week-choices">
					<?php date_default_timezone_set('America/Chicago'); ?>
					<li id="cal-week-box"><a href="#day-sun"><?php echo date('j', strtotime(date('Y-m-d')." Sunday last week"));?><span>Sunday</span></a></li>
					<li id="cal-week-box"><a href="#day-mon"><?php echo date('j', strtotime(date('Y-m-d')." Monday this week"));?><span>Monday</span></a></li>
					<li id="cal-week-box"><a href="#day-tues"><?php echo date('j', strtotime(date('Y-m-d')." Tuesday this week"));?><span>Tuesday</span></a></li>
					<li id="cal-week-box"><a href="#day-wed"><?php echo date('j', strtotime(date('Y-m-d')." Wednesday this week"));?><span>Wednesday</span></a></li>
					<li id="cal-week-box"><a href="#day-thurs"><?php echo date('j', strtotime(date('Y-m-d')." Thursday this week"));?><span>Thursday</span></a></li>
					<li id="cal-week-box"><a href="#day-fri"><?php echo date('j', strtotime(date('Y-m-d')." Friday this week"));?><span>Friday</span></a></li>
					<li id="cal-week-box"><a href="#day-sat"><?php echo date('j', strtotime(date('Y-m-d')." Saturday this week"));?><span>Saturday</span></a></li>
					<div class="clear"></div>
				</ul>
				<div class="clear"></div>
				
				<div class="cal-week-details">
					<div id="day-sun">
						8:30 AM - <a href="/calendar/event/9b64d70c-bebb-4a7e-98d5-a2a90168a000">Worship Experience</a><br>
						10:00 AM - <a href="/calendar/event/dde8a359-7b36-484b-8b35-a2a901690eb2">Worship Experience</a><br>
						11:30 AM - <a href="/calendar/event/24ce2fd1-bb54-4cd7-85ed-a2a90169549f">Worship Experience</a><br>
						4:00 PM - <a href="/calendar/event/b15cddb4-07c1-43f3-8f9b-a2b000fe1e7b">Equip Class- Financial Peace University</a><br>
						6:00 PM - <a href="/calendar/event/cebf8c19-8724-4af7-b7c4-a2a901698e72">Worship Experience</a><br>
						6:00 PM - <a href="/calendar/event/1840c604-3482-4b29-ac83-a29e00ce17dc">Launch U</a>
					</div>
					<div id="day-mon">
						6:15 AM - <a href="/calendar/event/8b6592c7-8ff7-4172-bd25-a29a0122b66a">Men's Fraternity</a>
					</div>
					<div id="day-tues">
						9:00 PM - <a href="/calendar/event/c6912665-a726-41ca-91ab-a29e00cf67c0">Lifestream</a>
					</div>
					<div id="day-wed">
						7:00 PM - <a href="/calendar/event/d293d6ce-9e17-48a0-8128-a29e00d0865c">Student Journey</a><br>
						7:00 PM - <a href="/calendar/event/cef029e0-a2e0-43f1-941b-a27c00d1afd5">56 Worship Experience</a>
					</div>
					<div id="day-thurs">
						9:30 AM - <a href="/calendar/event/b7f38bb1-1f5f-4205-a98d-a2a700efb9ba">Reflect</a><br>
						7:00 PM - <a href="/calendar/event/38affd34-ec73-4192-9c76-a2a700f01223">Reflect</a><br>
						7:00 PM - <a href="/calendar/event/2f1e9e27-7eed-4aa8-a093-a2a700b9c3a5">Prayer Groups</a>
					</div>
					<div id="day-fri">
						No events listed for this day
					</div>
					<div id="day-sat">
						No events listed for this day
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="latest">
			<h2>Latest News and Updates</h2>
			{exp:channel:entries channel="Latest" orderby="date" sort="desc"}
				<div class="latest-entry">
					<h3>{if latest-link}<a href="{latest-link}">{/if}{title}{if latest-link}</a>{/if}</h3>
					{if latest-body}
						<p>{latest-body}</p>
					{/if}
				</div>
			{/exp:channel:entries}
		</div>
	</div>
	<div class="clear"></div>
</div>
<script src="/_js/layerslider.js"type="text/javascript"></script>
<script src="/_js/layerslider.transitions.js"type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#layerslider').layerSlider({
			skinsPath : '/themes/assets/',
			skin : 'fullwidth',
			autoStart : true,
			navStartStop : false,
			responsive : true,
			responsiveUnder : 768,
			sublayerContainer : 966,
			hoverPrevNext : false,
			thumbnailNavigation : false,
			showCircleTimer: false,
			touchnav: true
		});
	});		
</script>	
<script>
  	$(function() {
  		  var d = new Date();
  		  var n = d.getDay();
  		  $( "#cal-week" ).tabs({ active: n });
  	});
	$("#cal-week-box").click(function(){
	     window.location=$(this).find("a").attr("href"); 
	     return false;
	});
	
</script>
<script src="/_js/toucheffects.js"></script>
{embed="_includes/footer"}