{embed="_includes/header" bar="no"}
{!-- Sliding box addons --}
<link rel="stylesheet" type="text/css" href="/_css/component.css" />
<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />

<script src="/_js/modernizr.custom.js"></script>
<script src="/_js/lib.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div id="layerslider-container">
	<div id="layerslider" style="width:100%;height:450px;margin-bottom:40px">
		<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
			<img class="ls-bg" src="/_img/slider/remix-bg.jpg">
			<img class="ls-s3 si" src="/_img/slider/remix-3.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:3000; delayout:0;">
			<img class="ls-s3 si specialslide" src="/_img/slider/remix-2.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
			<img class="ls-s3 si" src="/_img/slider/remix-1.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
			<a href="http://creativejourney.tv" class="ls-link"></a>
		</div>
		<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
			<img class="ls-bg" src="/_img/slider/VBX-bg.jpg">
			<img class="ls-s3 si" src="/_img/slider/VBX-1.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
			<a href="http://vbx2014.ticketleap.com/jkids/" class="ls-link"></a>
		</div>
		<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;background-color: #006f7c">
			<h2 class="ls-s3 si" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0; width:966px; color: #fff; text-align:center; font-size: 56px; top:150px; font-family: 'aleoregular',Georgia,serif">Daily Devotionals</h2>
			<h3 class="ls-s3 si" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0; width:966px; color: #fff; text-align:center; font-size: 24px; top:220px; line-height:26px">Read today's devotional, "{exp:channel:entries channel="Devos" orderby="date" sort="desc" show_future_entries="yes" limit="1"}{title}{/exp:channel:entries}" <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></h3>
			<a href="/devos" class="ls-link"></a>
		</div>
		<div class="ls-layer" style="slidedirection: top; slidedelay: 6000; delayout: 1000;">
			<img class="ls-bg" src="/_img/slider/futurepassed-bg.jpg">
			<img class="ls-s3 si" src="/_img/slider/futurepassed-1.png" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
			<a href="/study/future-passed" class="ls-link"></a>
		</div>
	</div>
</div>
	
<div id="full-only">
	<div class="container clearfix boxes">
		<ul class="cs-style-2">
			<li class="grid_4">
				<figure>
					<a href="/new">
						<div class="slide_content box1">
							<i class="fa fa-chevron-up" style="padding-top:2px"></i>
							First time here?
							<span>Learn more about us</span>
						</div>
						<figcaption>
							<p>Who we are</p>
						</figcaption>
					</a>
				</figure>
			</li>
			<li class="grid_4">
				<figure>
					<a href="/locations">
						<div class="slide_content box2">
							<i class="fa fa-chevron-up" style="padding-top:2px"></i>
							Location
							<span>&amp; times</span>
						</div>
						<figcaption>
							<p>Where We Gather</p>
						</figcaption>
					</a>
				</figure>
			</li>
			<li class="grid_4">
				<figure>
					{exp:channel:entries channel="Media" limit="1" category="9" sort="desc" orderby="media-date" show_future_entries="no"}
						<a href="/media/{url_title}">
							<div class="slide_content box3">
								<i class="fa fa-chevron-up" style="padding-top:2px"></i>
								<span>Watch the</span>
								Latest Message
							</div>
							<figcaption>
								<p>{if media-shrt-title}{media-shrt-title}{if:else}{title}{/if}</p>
							</figcaption>
						</a>
					{/exp:channel:entries}
				</figure>
			</li>
			<div class="clear"></div>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div id="mobile-only">
	<div class="container clearfix">
		<a href="/new">
			<div class="grid_12 mobile_boxes box1">
				<strong>First time here?</strong><br>
				Learn more about us
			</div>
		</a>
		
		<a href="/locations">
			<div class="grid_12 mobile_boxes box2">
				<strong>Locations &amp; Times</strong><br>
				Where We Gather
			</div>
		</a>
		
		{exp:channel:entries channel="Media" limit="1" category="9" sort="desc" orderby="media-date" show_future_entries="no"}
		<a href="/media/{url_title}">
			<div class="grid_12 mobile_boxes box3">
				<strong>Watch the Latest Message:</strong><br>
				{title}
			</div>
		</a>
		{/exp:channel:entries}
		
		{!-- TEMP MOBILE CALENDAR --}
		<a href="/calendar">
			<div class="grid_12 mobile_boxes box4">
				<strong>What's Happening?</strong><br>
				View the Calendar
			</div>
		</a>
	</div>
</div>

<div class="container clearfix">
	<div id="full-only" class="grid_8">
		<div class="happening">
			<h2>Happening This Week <a href="/calendar"><i class="fa fa-chevron-right pull-right" style="padding-top:1px"></i></a></h2>

			<div id="cal-week">
				<ul class="cal-week-choices">
					<?php date_default_timezone_set('America/Chicago'); ?>
					<li id="cal-week-box"><a href="#day-sun"><?php echo date('j', strtotime(date('Y-m-d')." Sunday last week"));?><span>Sunday</span></a></li>
					<li id="cal-week-box"><a href="#day-mon"><?php echo date('j', strtotime(date('Y-m-d')." Monday this week"));?><span>Monday</span></a></li>
					<li id="cal-week-box"><a href="#day-tues"><?php echo date('j', strtotime(date('Y-m-d')." Tuesday this week"));?><span>Tuesday</span></a></li>
					<li id="cal-week-box"><a href="#day-wed"><?php echo date('j', strtotime(date('Y-m-d')." Wednesday this week"));?><span>Wednesday</span></a></li>
					<li id="cal-week-box"><a href="#day-thurs"><?php echo date('j', strtotime(date('Y-m-d')." Thursday this week"));?><span>Thursday</span></a></li>
					<li id="cal-week-box"><a href="#day-fri"><?php echo date('j', strtotime(date('Y-m-d')." Friday this week"));?><span>Friday</span></a></li>
					<li id="cal-week-box"><a href="#day-sat"><?php echo date('j', strtotime(date('Y-m-d')." Saturday this week"));?><span>Saturday</span></a></li>
					<div class="clear"></div>
				</ul>
				<div class="clear"></div>
				
				<div class="cal-week-details">
					<div id="day-sun">
						9:30 AM - <a href="/location">Worship Experience</a><br>
						10:00 AM - <a href="/calendar/event/4ccbc0cb-8265-499f-9030-a31600f9dda6">Senior Sunday</a><br>
						11:00 AM - <a href="/location">Worship Experience</a><br>
						6:00 AM - <a href="/location">Worship Experience</a>
					</div>
					<div id="day-mon">
						7:00 PM - <a href="/calendar/event/f524f732-86cb-45c1-a86a-a2a800b8bd03">MMA (Mixed Marcial Arts)</a>
					</div>
					<div id="day-tues">
						No events listed for today
					</div>
					<div id="day-wed">
						7:00 PM - <a href="/calendar/event/d293d6ce-9e17-48a0-8128-a29e00d0865c">Student Journey</a><br>
						7:00 PM - <a href="/calendar/event/cef029e0-a2e0-43f1-941b-a27c00d1afd5">56 Worship Experience</a><br>
					</div>
					<div id="day-thurs">
						7:00 PM - <a href="/calendar/event/fd238c71-7860-4afa-abfd-a3250125250c">Adult Volleyball</a><br>
						7:00 PM - <a href="/calendar/event/1532eeb7-5ff7-465d-a0e4-a32501222366">Adult Basketball</a><br>
						8:00 PM - <a href="/calendar/event/3483dbb6-3d05-4231-ae74-a32501275636">Adult Cycling</a>
					</div>
					<div id="day-fri">
						No events listed for today
					</div>
					<div id="day-sat">
						No events listed for today
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid_4">
		<div class="latest">
			<h2>Latest News and Updates</h2>
			{exp:channel:entries channel="Latest" orderby="date" sort="desc"}
				<div class="latest-entry">
					<h3>{if latest-link}<a href="{latest-link}">{/if}{title}{if latest-link}</a>{/if}</h3>
					{if latest-body}
						<p>{latest-body}</p>
					{/if}
				</div>
			{/exp:channel:entries}
		</div>
	</div>
	<div class="clear"></div>
</div>
<script src="/_js/layerslider.js"type="text/javascript"></script>
<script src="/_js/layerslider.transitions.js"type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('#layerslider').layerSlider({
			skinsPath : '/themes/assets/',
			skin : 'fullwidth',
			autoStart : true,
			navStartStop : false,
			responsive : false,
			responsiveUnder : 966,
			sublayerContainer : 966,
			hoverPrevNext : false,
			thumbnailNavigation : false,
			showCircleTimer: false,
			touchnav: true
		});
	});		
</script>	
<script>
  	$(function() {
  		  var d = new Date();
  		  var n = d.getDay();
  		  $( "#cal-week" ).tabs({ active: n });
  	});
	$("#cal-week-box").click(function(){
	     window.location=$(this).find("a").attr("href"); 
	     return false;
	});
	
</script>
<script src="/_js/toucheffects.js"></script>
{embed="_includes/footer"}