{embed="_includes/header" title="Jobs" bar="yes"}

<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>Jobs at JourneyChurch.tv</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
	<div class="grid_12">
		{exp:channel:entries channel="Jobs"}
			<h2 style="color:#006f7c">{title} ({job_hours})</h2>
			{job_body}
			Interested? Submit your reel and résumé to <a href="mailto:creative@journeychurch.tv">creative@journeychurch.tv</a>.
		{/exp:channel:entries}
	</div>
</div>

{embed="_includes/footer"}
