{embed="_includes/header" title="Kickball Tournament" bar="yes"}

<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>Kickball</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
	<div class="grid_12 fancy-page">
		<div class="grid_6 alpha"><h2>Kickball Tournament</h2>
			<p>
				Date: August 9th<br>
				Format:  Single Elimination (adult bracket and kids bracket) 10 Player Teams<br><br>

				Time: 7:30pm start, all team members must be present<br>
				Where: JourneyChurch.tv south field<br><br>

				Rules: All games will consist of 3 innings and require all 10 players to kick<br><br>

				Maximum Teams: 20<br>
				Registration: Deadline 7:30pm<br><br>

				All team members will be given a red, white or blue bandana for team identification.<br><br>

				Prizes: Golden Volleyball for 1st place team, flags to runner ups<br><br>

				Call Lindsey at <a href="tel:8066790175">806.679.0175</a> for more information.<br><br>
			</p>
			<a href="https://journeydreamteam.wufoo.com/forms/z1k18ke60l3hq8j/"><strong>SIGN UP</strong></a> for the tournament!
		</div>
		<div class="grid_6 omega"><img src="/_img/kickball.JPG"></div>
	</div>
</div>

{embed="_includes/footer"}
