<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MCKBD 2017</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/mckbd.css">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
    <link href="https://use.fontawesome.com/2bb08ad6ac.css" media="all" rel="stylesheet">
  </head>
  <body>
    <section id="cover"></section>

    <section id="tagline">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h4 class="font-light">If you're looking for the <span class="yellow">party</span> of the year, you've found it. Join us for two BIG weekends on <span class="yellow">August 20th</span> and <span class="yellow">27th</span> when <span class="yellow">Journey Church</span> throws a back-to-school bash like you've never experienced! With carnival rides, food trucks, fireworks, and more, we have something for the whole family!</h4>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container-fluid">
        <div class="row">
          <div id="weekend-1">
            <div class="col-sm-6 no-gutter title">
              <div class="img"></div>
              <div class="overlay"></div>
              <div class="content">
                <div class="v-align-wrapper">
                  <div class="v-align">
                    <div class="inner center-block">
                      <h2 class="text-uppercase font-block">Weekend #1</h2>
                      <div class="event-content">
                        <h4 class="text-uppercase font-block">August 20th</h4>
                        <h4 class="font-light"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:00 AM - 8:00 PM</h4>
                        <h5 class="font-light"><i class="fa fa-map-marker" aria-hidden="true"></i> JourneyChurch.tv</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 no-gutter description">
              <div class="v-align-wrapper">
                <div class="v-align">
                  <div class="inner center-block">
                    <ul class="list-unstyled">
                      <li>Food Trucks  AM & PM</li>
                      <li>Fireworks PM</li>
                      <li>Live t-shirt screenprinting  AM & PM</li>
                      <li>Dog show</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

          <div id="weekend-2">
            <div class="col-sm-6 col-sm-push-6 no-gutter title">
              <div class="img"></div>
              <div class="overlay"></div>
              <div class="content">
                <div class="v-align-wrapper">
                  <div class="v-align">
                    <div class="inner center-block">
                      <h2 class="text-uppercase font-block">Weekend #2</h2>
                      <div class="event-content">
                        <h4 class="text-uppercase font-block">August 27th</h4>
                        <h4 class="font-light"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:00 AM - 8:00 PM</h4>
                        <h5 class="font-light"><i class="fa fa-map-marker" aria-hidden="true"></i> JourneyChurch.tv</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-sm-pull-6 no-gutter description">
              <div class="v-align-wrapper">
                <div class="v-align">
                  <div class="inner center-block">
                    <ul class="list-unstyled">
                      <li>Carnival Rides and Games  AM & PM</li>
                      <li>Food Trucks  AM & PM</li>
                      <li>Petting Zoo (unsure on time)</li>
                      <li>Arts Festival  AM & PM</li>
                      <li>Live t-shirt screenprinting  AM & PM</li>
                      <li>Facepainting  AM & PM</li>
                    <ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="connect">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3 class="text-uppercase font-block yellow">Parking</h3>
            <p class="white">More information about parking coming soon.</p>
          </div>

          <div class="col-sm-4">
            <h3 class="text-uppercase font-block yellow">Artists</h3>
            <p class="white">We’re gathering local artists from around the metro to come and showcase their work. If you are a local artist in the metro area <a href="https://journeydreamteam.wufoo.com/forms/z1s2flrq070z90x/">apply</a> now!</p>
          </div>

          <div class="col-sm-4">
            <h3 class="text-uppercase font-block yellow">Serve</h3>
            <p class="white">We have so many spots open for servant leaders. If you are available to help out August 20th or 27th <a href="http://www.signupgenius.com/go/10c094aaca62aa5fa7-mychurch3">sign up</a> today!</p>
          </div>
        </div>
      </div>
    </section>

    <section id="social">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1>#MCKBD</h1>
            <a href="http://facebook.com/journeychurchtv"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="http://twitter.com/journeychurchtv"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="http://instagram.com/journeychurchtv"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.snapchat.com/add/journeychurchtv"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
