<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="">
		<meta name="keywords" content="">

		<title>Mountains</title>

		{!-- Stylesheets --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/mountains.css">

    {!-- Font Backup --}
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

		{!-- Font Icons --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	</head>
	<body>
    <div class="banner bg-img">
      <div class="inner">
        <div class="container">
					<div class="row">
	          <div class="col-sm-6 col-sm-offset-3">
							<img src="/_img/mountains-logo.png" class="logo img-responsive"/>
	          </div>
					</div>
        </div>
      </div>
    </div>

		<div id="promo" class="bg-img">
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<iframe width="100%" height="100%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/262489793&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
					</div>

					<div class="col-md-6 col-md-offset-1">
						<h3>Lets Move</h3><br>
						<p>"Mountains" marks a new chapter for Creative Journey Worship. Birthed from the maturing of our worship culture and the shaping of our sound, we are more than excited to pursue writing a full length original album that captures the heart of Journey Church.</p><br><br>
						<a href="https://www.kickstarter.com/projects/1291122242/mountains-0"><button class="btn btn-default">Fund Us On Kickstarter</button></a>
						<a href="http://itunes.apple.com/album/id1111405660?ls=1&app=itunes"><img src="/_img/Get_it_on_iTunes_Badge_US_1114.svg" class="img-responsive"/></a>
					</div>
				</div>
			</div>
		</div>

		<div id="quotes">
			<div class="container">
				<div class="row quote">
					<div class="col-sm-4 quote-img"><img src="/_img/mountains-alison.jpg" class="img-responsive"/></div>
					<div class="col-sm-7 col-sm-offset-1 quote-caption"><h2>Alison Goodnight</h2><h5 class="text-uppercase">Creative Journey Worship Pastor</h5><br><p>"Being still is so counter-cultural and takes serious discipline to sit and wait. However, I have heard the greatest revelations from God in the times that I have quieted my mind, stilled my body, and just spent time in reverent awe that He is my God."</p></div>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>

				<div class="row quote">
					<div class="col-sm-4 quote-img"><img src="/_img/mountains-austin.jpg" class="img-responsive"/></div>
					<div class="col-sm-7 col-sm-offset-1 quote-caption"><h2>Austin Cannon</h2><h5 class="text-uppercase">Music Director \ Keys</h5><br><p>"I've never worked with more motivated and passionate musicians who bring their all to the studio. We pour our hearts and souls into this project and depend on each other for honest feedback and truust one another's opinion."</p></div>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>

				<div class="row quote">
					<div class="col-sm-4 quote-img"><img src="/_img/mountains-justin.jpg" class="img-responsive"/></div>
					<div class="col-sm-7 col-sm-offset-1 quote-caption"><h2>Justin McCullough</h2><h5 class="text-uppercase">Bassist</h5><br><p>"Writing 'Be Still' really just re-enforced the message of the song – That God can speak to us when we can block out all the worldly distractions and focus on him."</p></div>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>

				<div class="row quote">
					<div class="col-sm-4 quote-img"><img src="/_img/mountains-randa.jpg" class="img-responsive"/></div>
					<div class="col-sm-7 col-sm-offset-1 quote-caption"><h2>Randa Mitchell</h2><h5 class="text-uppercase">Vocals</h5><br><p>“Being in the recording studio together was so fun! I was in awe of how everyone was so encouraging and supportive of each other. Recording is very personal and could easily be a difficult experience...but not with this group. The family we have in this Worship Team has been the biggest blessing!”</p></div>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>

				<div class="row quote">
					<div class="col-sm-4 quote-img"><img src="/_img/mountains-mikey.jpg" class="img-responsive"/></div>
					<div class="col-sm-7 col-sm-offset-1 quote-caption"><h2>Mikey Power</h2><h5 class="text-uppercase">Drummer</h5><br><p>“This single is a reminder to me that God speaks in the stillness when all other things are moved aside.”</p></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="social">
							<ul>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"></i></a></li>
							</ul>
						</div>
						<br>
						<p>© <?php echo date("Y"); ?> JourneyChurch.tv. All Rights Reserved PO Box 722764<br>Norman, OK 73070 | 405.217.8700<br><a href="mailto:connect@JourneyChurch.tv">connect@JourneyChurch.tv</a></p>
					</div>
				</div>
			</div>
		</footer>

    {!-- Javascript/Jquery --}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>

    <script>
      $(document).ready(function() {
				var windowHeight = $(window).height();
				$(".banner").height(windowHeight);

        $(window).resize(function() {
					windowHeight = $(window).height();
					$(".banner").height(windowHeight);
        });
      });
    </script>

		<script>
			TweenMax.to($(".banner .inner img"), 1.5, {marginTop:"0px", ease: Expo.easeOut, delay:1});
			TweenMax.to($(".banner .inner img"), 2, {opacity:1, delay:1});
		</script>
	</body>
</html>
