{embed="_includes/header" title="Pastor Clark Mitchell" bar="yes"}
<div class="title-bar">
	<div class="container">
		<div class="grid_12 pastorclark-standalone">
			<h2>Clark Mitchell <span>Founding Senior Pastor</span></h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
			<div class="grid_8">
				{exp:channel:entries channel="Pages" url_title="pastor-clark"}
					{page-body}
				{/exp:channel:entries}
				<div class="clear"></div>
			</div>
			<div class="grid_4">
				{embed="_component/sidebar-about"}
				<br>
				<button><a href="http://clarkmitchell.tv/speaking-request/" target="_blank">Speaking Requests</a></button>
			</div>
			<div class="clear"></div>
</div>

{embed="_includes/footer"}