{embed="_includes/header" bar="no"}

<div class="container">
	<div class="grid_12">
		<h2>Full - playlist</h2>
		<iframe src='http://www.streammonkey.com/iframe/3196' width=' 640' height='660' frameborder='0' allowfullscreen webkitAllowFullScreen mozAllowFullscreen></iframe>
	</div>
	<div class="clear"></div>
	<div class="grid_6">
		<h2>Half - single VOD</h2>
		<link rel='stylesheet' type='text/css' href='http://sm-dev.streammonkey.com/css/iframe.css'><div class='StreamMonkey'><iframe src='http://sm-dev.streammonkey.com/iframe/3167' width='640' height='360' frameborder='0' allowfullscreen webkitAllowFullScreen mozAllowFullscreen></iframe></div>
	</div>
	<div class="grid_6">
		<h2>SIX TWO</h2>
		<link rel='stylesheet' type='text/css' href='http://sm-dev.streammonkey.com/css/iframe.css'><div class='StreamMonkey'><iframe src='http://sm-dev.streammonkey.com/iframe/3167' width='640' height='360' frameborder='0' allowfullscreen webkitAllowFullScreen mozAllowFullscreen></iframe></div>
	</div>
</div>

{embed="_includes/footer"}