{embed="_includes/header" title="Psalm 84 Challenge" bar="yes"}

<div class="title-bar about-alt" style="text-align:center;padding:30px 0;">
	<div class="container">
		<div class="grid_12 fancy-page">
			<h2 style="color:#fff;font-size:37px;text-transform:uppercase;">Psalm 84 Challenge</h2>
			<h2 style="color:#989d00;font-size:22px;padding-top:0">Read | Pray | Fast | Memorize | Meditate</h2>
			<p style="color:#fff;margin:0;font-size:15px">A 90 Day Invitation to Dwell January 4<sup>th</sup>-April 3<sup>rd</sup></p>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
	<div class="grid_12 fancy-page">
		<h2>READ <span>Select a 90 day reading plan</span></h2>
		<p>
			<ul>
				<li>Adult: we have provided a <a href="http://downloads.journeychurch.tv/2015_Psalm84_90Days.pdf" target="_blank"><strong>90 Day New Testament Reading Plan</strong></a> for January 4<sup>th</sup>-April 3<sup>rd</sup> or create your own</li>
				<li>Elementary: we have provided a <a href="http://downloads.journeychurch.tv/2015_Psalm84_90Days_JKIDS.pdf" target="_blank"><strong>Psalm 84 JKIDS Challenge</strong></a></li>
				<li>Preschool: download the <a href="https://www.bible.com/kids" target="_blank"><strong>YouVersion Bible App for Kids</strong></a> or read from The Beginner’s Bible each day</li>
			</ul>
			<br><br>
			Use the <a href="http://youtu.be/gGclEW8E7GU"><strong>YouVersion Bible App</strong></a> to read God's Word throughout the Psalm 84 Challenge.
		</p>
		<br><br>
		<h2>PRAY <span>Be intentional about taking some time daily to pray</span></h2>
		<p>Corporate Prayer: join us in The Studio on Mondays at 6:00 PM beginning Monday, January 5<sup>th</sup></p>
		<br><br>
		<h2>FAST <span>Pick a type of fast or create your own</span></h2>
		<p>Like prayer and Bible reading, fasting is one of the spiritual disciplines of following Jesus. Learn more about what fasting is, the benefits of fasting, a practical how-to, and learn what to do while fasting by <a href="http://downloads.journeychurch.tv/FastingGuide_2015.pdf" target="_blank">taking a look at the 2015 Fasting Guide</a>.</p><br>
		<div class="grid_6 alpha">
			<strong>Distraction Fasts</strong><br>
			TV<br>
			Video Games<br>
			Texting<br>
			Social Media<br>
			Internet Browsing<br><br>
			<strong>You can fast as little as one day or as many as you would like</strong>
		</div>
		<div class="grid_6 omega">
			<strong>Food Fasts</strong><br>
			Daniel Fast (fruits & vegetables only)<br>
			Refraining from “fast foods”<br>
			Refraining from sweets<br>
			Liquids only (water, juice, smoothies)<br><br>
			<a href="http://downloads.journeychurch.tv/FastingGuide_2015.pdf" target="_blank"><button>Download the Fasting Guide</button></a>
		</div>
		<div class="clear"></div>
		<br><br>
		<h2>MEMORIZE <span>Memorize a passage of scripture each week</span></h2>
		<p>The New Testament has 260 chapters you can easily finish reading within three months. We've crafted a 90 Day New Testament Reading Plan that can be a helpful tool to help you to reach your goal of reading the entire New Testament in 90 days. If you miss a day or don’t finish the chapters, don’t get discouraged. Just keep going! <strong><a href="http://downloads.journeychurch.tv/2015_Psalm84_90Days.pdf" target="_blank">Download the Reading Plan here</a></strong></p>
		<strong>Choose the list of scripture provided or create your own</strong>
		<div class="grid_6 alpha">
			Psalm 84:1-2<br>
			Psalm 139:1-3<br>
			Psalm 119:9-11<br>
			Psalm 119:105<br>
			Romans 3:23
		</div>
		<div class="grid_6 omega">
			Romans 5:1<br>
			Romans 5:8<br>
			Romans 6:23<br>
			Romans 10:9<br>
			Romans 8:32<br>
			1 John 1:9<br>
		</div>
		<div class="clear"></div>
		<br><p><strong>Bonus</strong>: <a href="http://thebeginnersbible.com/#!prettyPhoto">download the Bible Minded app on your electronic devices</a></p><br><br>
		<h2>MEDITATE <span>Pick a scripture and focus on that truth all day</span></h2>
		<p><strong>Psalm 84:1-2 (NIV)</strong><br>
			How lovely is your dwelling place, Lord Almighty! My soul yearns, even faints,
			for the courts of the Lord; my heart and my flesh cry out for the living God.</p>
	</div>
</div>

{embed="_includes/footer"}