<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Keep in touch with Journey Church community throughout the summer with Road Trip 2015">
		<meta name="keywords" content="Road Trip 2015 Journey Church Norman OK">

		<title>Road Trip 2015</title>

		<!--{!-- Set pretty fonts --}-->
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/688704/css/fonts.css" />

		<!--{{!-- Cool Font Icons --}-->
		<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>

		<!--{{!-- Set other prettiness factors --}-->
		<link rel="stylesheet" href="/_css/normalize.css">
		<link rel="stylesheet" href="/_css/base.css">
		<link rel="stylesheet" href="/_css/grid.css">
		<link rel="stylesheet" href="/_css/roadtrip.css">

		<link rel='stylesheet' media='screen and (min-width: 768px)' href='/_css/full.css' />
		<link rel='stylesheet' media='screen and (max-width: 767px)' href='/_css/mobile.css' />
		<!--[if lt IE 9]><link href='/_css/full.css' rel='stylesheet'/><![endif]-->

		<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">-->

		<!--{{!-- Start the cool components --}-->
		<link rel="stylesheet" type="text/css" href="/_css/component.css" />
		<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />
	</head>
	<body>
		<div id="header_wrapper">
			<div class="container">
				<div class="separator"></div>

				{!-- Header --}

				<div id="header" class="grid_8 push_2">
					<h1>Travel Together</h1>
					<h2>#JCROADTRIP15</h2>
				</div>

				<div class="separator clear"></div>

				{!-- Explanation of Road Trip --}

				<div id="explain" class="grid_6 push_3">
					<h1>Whether You Plan To Be Near Or Far, We Want To Travel Together. When You're Far, Join Us For Worship Online During
						Our Sunday Experience Times. Just Click <a href="http://live.journeychurch.tv/">Live.Journeychurch.TV</a>
					</h1>
				</div>

				<div class="clear"></div>

			</div>
		</div>

		<div class="container">
			<div class="grid_8 push_2" id="ten_ways"><h2>10 Ways To Have A Blast</h2></div>

			<div class="clear"></div>

			{!-- 10 Ways To Have A Blast --}

			<div id="blast_1" class="grid_4 blast">
				<h1>Blast #1</h1>
				<h1>Go Camping</h1>
			</div>

			<div id="blast_2" class="grid_4 blast">
				<h1>Blast #2</h1>
				<h1>Wash The Car In Your Swimsuit</h1>
			</div>

			<div id="blast_3" class="grid_4 blast">
				<h1>Blast #3</h1>
				<h1>Go For A Bike<br>Ride</h1>
			</div>

			<div class="blast_separator clear"></div>

			<div id="blast_4" class="grid_9 blast">
				<h1>Blast #4</h1>
				<h1>Plant Something To Care For</h1>
			</div>

			<div id="blast_5" class="grid_3 blast">
				<h1>Blast #5</h1>
				<h1>Run A Race As A Family</h1>
			</div>

			<div class="blast_separator clear"></div>

			<div id="blast_6" class="grid_3 blast">
				<h1>Blast #6</h1>
				<h1>Go To The Farmers Market</h1>
			</div>

			<div id="blast_7" class="grid_9 blast">
				<h1>Blast #7</h1>
				<h1>Nature Scavenger Hunt</h1>
			</div>

			<div class="blast_separator clear"></div>

			<div id="blast_8" class="grid_4 blast">
				<h1>Blast #8</h1>
				<h1>Try A New Recipe</h1>
			</div>

			<div id="blast_9" class="grid_4 blast">
					<h1>Blast #9</h1>
					<h1>Have A Water Fight</h1>
				</div>

				<div id="blast_10" class="grid_4 blast">
					<h1>Blast #10</h1>
					<h1>Put On A Talent Show</h1>
				</div>

		</div>

		<div class="separator clear"></div>

		<div id="schedule_wrapper">
			<div class="container">
				<div class="grid_8 push_2" id="schedule">
					<h2>Upcoming Events</h1>
				</div>

				<div class="clear"></div>

				{!-- May

				<div id="may">
					<div class="month grid_2">
						<h1>May</h1>
					</div>

					<div class="events grid_8 alpha">
						<ul>
							<li><a href="#"><h3>May 16.</h3> Young Adult Local Mission</a></li>
							<div id="young_adult_pic"></div>
						</ul>
					</div>
				</div>

				<div class="separator clear"></div>

				--}

				{!-- June --}

				<div id="june">
					<div class="month grid_2">
						<h1>JUNE</h1>
					</div>

					<div class="events grid_8 alpha">
						<ul>
							<li><a href="/calendar/event/a9d0b411-cfa6-4b58-ac6c-a44b01077a4c/1433253600/1433264400"><h3>JUNE 2-5.</h3> VBX</a></li>
							<li><a href="/calendar/event/aad104c5-7776-44dd-8da4-a475011cf127/1433597400/1433610000"><h3>JUNE 6.</h3> Loveworks 5K & 1 Mile Fun Run</a></li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1433722500/1433728800">
									<h3>JUNE 7.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3><br>Strawberry Shortcake<br>Eskimo Sno Cones
										</li>
										<li>
											<h3>Yard Game. </h3>Ultimate Frisbee
										</li>
										<li>
											<h3>Ministry. </h3>Adult
										</li>
									</ul>
								</a>
							</li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1434327300/1434333600">
									<h3>JUNE 14.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Krispy Stix
										</li>
										<li>
											<h3>Yard Game. </h3>Mega Relay
										</li>
										<li>
											<h3>Ministry. </h3>SJ
										</li>
									</ul>
								</a>
							</li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1434932100/1434938400">
									<h3>JUNE 21.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Cinnamon Apple Crepes
										</li>
										<li>
											<h3>Yard Game. </h3><br>Father/Son Dodgeball Tournament<br>Various Yard Games
										</li>
										<li>
											<h3>Ministry. </h3>College Journey
										</li>
									</ul>
								</a>
							</li>
							<li><a href="/calendar/event/68e87c44-f09a-482b-b49a-a49900f1f39a/1434895200/1434909600"><h3>JUNE 21.</h3> Man Day 2015</a></li>
							<li><a href="/calendar/event/23856ddf-4a17-4a5c-a337-a4a700dad02b/1435150800/1435447800"><h3>JUNE 24-27.</h3> 56 Mission Trip (Tulsa)</a></li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1435536900/1435543200">
									<h3>JUNE 28.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Brownie Sunday
										</li>
										<li>
											<h3>Yard Game. </h3>Live Music
										</li>
										<li>
											<h3>Ministry. </h3>Kids
										</li>
									</ul>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="separator clear"></div>

				{!-- July --}

				<div id="july">
					<div class="month grid_2">
						<h1>JULY</h1>
					</div>

					<div class="events grid_8 alpha">
						<ul>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1436141700/1436148000">
									<h3>JULY 5.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Berry Shortcake
										</li>
										<li>
											<h3>Yard Game. </h3>Red, White & Blue Tournament
										</li>
										<li>
											<h3>Ministry. </h3>Adult
										</li>
									</ul>
								</a>
							</li>
							<li><a href="/calendar/event/64f3df5c-909b-4cab-aa86-a48100a1c085/1436245200/1436331540"><h3>JULY 7.</h3> 56 W.O.N. Day</a></li>
							<li><a href="/calendar/event/9a8f9479-2c89-46f3-978c-a48100d2edd9/1436418000/1436504340"><h3>JULY 9.</h3> Jr High W.O.N. Day</a></li>
							<li><a href="/calendar/event/2ddb176f-a55e-48fe-805c-a4a50114dfbe/1436482800/1436655600"><h3>JULY 9-11.</h3> Family Mission Trip</a></li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1436746500/1436752800">
									<h3>JULY 12.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Krispy Stix
										</li>
										<li>
											<h3>Yard Game. </h3><br>Chalk Paint By Number<br>Various Yard Games
										</li>
										<li>
											<h3>Ministry. </h3>SJ / Creative Journey
										</li>
									</ul>
								</a>
							</li>
							<li><a href="/calendar/event/64f3df5c-909b-4cab-aa86-a48100a1c085/1436850000/1436936340"><h3>JULY 14.</h3> 56 W.O.N. Day</a></li>
							<li><a href="/calendar/event/4d24feb2-8d2d-4d42-8b78-a481012c8983/1437055200/1437066000"><h3>JULY 16.</h3> JKIDS Create Day</a></li>
							<li><a href="/calendar/event/9a8f9479-2c89-46f3-978c-a48100d2edd9/1437022800/1437109140"><h3>JULY 16.</h3> Jr High W.O.N. Day</a></li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1437351300/1437357600">
									<h3>JULY 19.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Cinnamon Apple Crepes
										</li>
										<li>
											<h3>Yard Game. </h3>Live Music
										</li>
										<li>
											<h3>Ministry. </h3>College Journey
										</li>
									</ul>
								</a>
							</li>
							<li><a href="/calendar/event/64f3df5c-909b-4cab-aa86-a48100a1c085/1437454800/1437541140"><h3>JULY 21.</h3> 56 W.O.N. Day</a></li>
							<li><a href="/calendar/event/9a8f9479-2c89-46f3-978c-a48100d2edd9/1437627600/1437713940"><h3>JULY 23.</h3> Jr High W.O.N. Day</a></li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1437956100/1437962400">
									<h3>JULY 26.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Brownie Sundae
										</li>
										<li>
											<h3>Yard Game. </h3><br>Slip-n-Slide<br>Sponge War
										</li>
										<li>
											<h3>Ministry. </h3>Kids / SJ
										</li>
									</ul>
								</a>
							</li>
							<li><a href="/calendar/event/5d55c26b-50a1-426c-aaaa-a47d010ea2a1/1438146000/1438232340"><h3>JULY 29 - August 1.</h3> 56 Camp</a></li>
							<li><a href="/calendar/event/61a49ace-7541-4c8a-9057-a48100ec6310/1438146000/1438232340"><h3>JULY 29 - August 2.</h3> SJ Camp</a></li>
						</ul>
					</div>
				</div>

				<div class="separator clear"></div>

				{!-- August --}

				<div id="august">
					<div class="month grid_2">
						<h1>August</h1>
					</div>

					<div class="events grid_8 alpha">
						<ul>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1438560900/1438567200">
									<h3>AUGUST 2.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Strawberry Shortcake
										</li>
										<li>
											<h3>Yard Game. </h3><br>Graffiti Wall<br>Blue Man Wannabe
										</li>
										<li>
											<h3>Ministry. </h3>Adult / Creative Journey
										</li>
									</ul>
								</a>
							</li>
							<li><a href="/calendar/event/7b9b7545-2c83-4820-bab9-a4a50116d176/1438869600/1438880400"><h3>AUGUST 6.</h3> JKIDS Create Day</a></li>
							<li>
								<a href="/calendar/event/6e14250e-814a-48ba-b4a2-a4a50110c0dc/1439165700/1439172000">
									<h3>AUGUST 9.</h3> Sweet Sundays in the Park<br>
									<ul>
										<li>
											<h3>Desert. </h3>Krispy Stix
										</li>
										<li>
											<h3>Yard Game. </h3>Live Music
										</li>
										<li>
											<h3>Ministry. </h3>College
										</li>
									</ul>
								</a>
							</li>
							<li>
								<a href="/calendar/event/ce4e2adf-185d-4f9a-b08e-a4a7011c41be/1439701200/1439787540">
									<h3>AUGUST 16.</h3> My Church is Kind of a Big Deal - Journey Style Picnic<br>
									<ul>
										<li>
											<h3>Desert. </h3><br>Cinnamon Apple Crepes<br>Journey Popsicles
										</li>
										<li>
											<h3>Yard Game. </h3>Fireworks
										</li>
										<li>
											<h3>Ministry. </h3>All ministries
										</li>
									</ul>
								</a>
							</li>
							<li><a href="/calendar/event/388f4d6c-9725-457b-b368-a4a7011e26e4/1440306000/1440392340"><h3>AUGUST 23.</h3> My Church is Kind of a Big Deal - Journey State Fair</a></li>
						</ul>
					</div>
				</div>

				<div class="separator clear"></div>

				{!-- Weekly Events --}

				<div id="weekly_events">
					<div class="month grid_2">
						<h1>WEEKLY EVENTS</h1>
					</div>

					<div class="events grid_8 alpha">
						<ul>
							<li><a href="#"><h3>SUNDAY.</h3> Summer Experience times 8:30, 10:00, 11:30 AM & 6:00 PM</a></li>
							<li><a href="#"><h3>TUESDAY.</h3> Summer Lifestream Tuesdays at 7:00 PM (June & July only)
									Men’s Ministry. - Tuesdays at 6:30 AM at JourneyChurch. Begins June 9 </a></li>
							<li><a href="#"><h3>WEDNESDAY.</h3> 56 (5th & 6th grade), Jr. High, High School at 7:00 PM</a></li>
							<li><a href="#"><h3>THURSDAY.</h3> Reflect Women’s Bible Study June 11 - July 30 at 7:00 PM in The Studio</a></li>
							<li><a href="#"><h3>EQUIP.</h3> Classes - June 7 - July 2 visit journeychurch.tv/classes for days and times</a></li>
						</ul>
					</div>
				</div>

				<div class="separator clear"></div>
			</div>
		</div>
		{embed="_includes/footer-content"}
	</body>
</html>
