<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Get to know your neighbors with Rock the Block 2015 at Journeychurch.tv">
		<meta name="keywords" content="Rock the Block 2015 Journey Church Norman OK">

		<title>Rock the Block</title>

		<!--{!-- Set pretty fonts --}-->
		<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/688704/css/fonts.css" />

		<!--{{!-- Cool Font Icons --}-->
		<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>

		<!--{{!-- Set other prettiness factors --}-->
		<link rel="stylesheet" href="/_css/normalize.css">
		<link rel="stylesheet" href="/_css/base.css">
		<link rel="stylesheet" href="/_css/grid.css">
		<link rel="stylesheet" href="/_css/rocktheblock.css">

		<link rel='stylesheet' media='screen and (min-width: 768px)' href='/_css/full.css' />
		<link rel='stylesheet' media='screen and (max-width: 767px)' href='/_css/mobile.css' />
		<!--[if lt IE 9]><link href='/_css/full.css' rel='stylesheet'/><![endif]-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	</head>
	<body>
	<script>
		setTimeout(
			function() {
			$(document).ready(function() {
				$('.rock').animate({
					left:"0"
				}, 1000);
			}
		, 1000);

			setTimeout(
				function() {
					$('.the').animate({
						right:"0"
					}, 750);
				}
			, 1000);

			setTimeout(
				function() {
					$('.block').animate({
						left:"0"
					}, 750);
				}
			, 1750);

			$(document).scroll(function() {
				$('.neighbors').fadeIn('slow');
			});

			$('.potluck').click(function() {
				$('.list_title').css('background-color', 'transparent');
				$(this).css('background-color', '#58C182');
				$('.list').css('display', 'none');
				$('.potluck_list').css({
					'display': 'block'
				});
			});

			$('.byom').click(function() {
				$('.list_title').css('background-color', 'transparent');
				$(this).css('background-color', '#58C182');
				$('.list').css('display', 'none');
				$('.byom_list').css({
					'display': 'block'
				});
			});

			$('.icecream').click(function() {
				$('.list_title').css('background-color', 'transparent');
				$(this).css('background-color', '#58C182');
				$('.list').css('display', 'none');
				$('.icecream_list').css({
					'display': 'block'
				});
			});

			$('.youprovide').click(function() {
				$('.list_title').css('background-color', 'transparent');
				$(this).css('background-color', '#58C182');
				$('.list').css('display', 'none');
				$('.youprovide_list').css({
					'display': 'block'
				});
			});
		});
	</script>
		<div class="title">
			<div class="container">
				<div class="grid_12"><div class="rock"><img src="/_img/rocktheblock/rock.png"></div><h1 class="the">The</h1><div class="block"><img src="/_img/rocktheblock/block.png"></div><br><h3 class="neighbors">Get To Know Your Neighbors</h3><br><h3 class="hashtag">#jcrocktheblock</h3><br></div>
			</div>
			<div class="clear"></div>
		</div>

		<div class="info">
			<div class="container">
				<div class="grid_12 prepare">
					<h2>How to Prepare</h2>
					<ul>
						<li><img src="/_img/rocktheblock/1.png" width="75" class="number"> <span>Decide if you want to host or is there a Journey neighbor you can partner with?</span></li>
						<li><img src="/_img/rocktheblock/2.png" width="75" class="number"> <span>Pick a date between now and September 6th.</span></li>
						<li><img src="/_img/rocktheblock/3.png" width="75" class="number"> <span>Fill out our pre-made invitations. Be sure to include the date, address, time, and RSVP contact.</span></li>
						<li><img src="/_img/rocktheblock/4.png" width="75" class="number"> <span>Choose a convenient location, easily accessible and has all the commodities you need</span></li>
					</ul>
				</div>
				<br class="clear"><br><br>
				<div class="grid_3 ideas omega">Here are some ideas</div>
				<div class="grid_3 lightbulb"><img src="/_img/rocktheblock/lightbulb.png" width="190"></div>
				<div class="grid_6 ideas alpha">
					<ul>
						<li><h4>Pot Luck Cook Out</h4><br> <span>Everyone brings a side & you provide the meat</span></li>
						<li><h4>B.Y.O.M.</h4><br> <span>Bring Your Own Meat & you provide the sides</span></li>
						<li><h4>Ice Cream Social</h4><br> <span>Homemade ice cream & topping bar</span></li>
						<li><h4>You Provide Everything</h4><br> <span>Neighbors just show up and enjoy</span></li>
					</ul>
				</div>
				<br class="clear"><br><br>
			</div>

			<div id="list_wrapper">
				<div class="container">
					<div class="grid_3 potluck alpha omega list_title">
						<a href="#list_wrapper"><h3>Pot Luck Cook Out<br><i class="fa fa-check"></i> Checklist</h3></a>
					</div>
					<div class="grid_3 byom alpha omega list_title">
						<a href="#list_wrapper"><h3>B.Y.O.M.<br><i class="fa fa-check"></i> Checklist</h3></a>
					</div>
					<div class="grid_3 icecream alpha omega list_title">
						<a href="#list_wrapper"><h3>Ice Cream Social<br><i class="fa fa-check"></i> Checklist</h3></a>
					</div>
					<div class="grid_3 youprovide alpha omega list_title">
						<a href="#list_wrapper"><h3>You Provide Everything<br><i class="fa fa-check"></i> Checklist</h3></a>
					</div>
					<div class="clear"></div>
				</div>
				<div class="potluck_list list">
					<div class="container">
						<div class="grid_12 potluck_print">Pot Luck Cook Out - Checklist</div><div class="clear"></div>
						<div class="grid_3 alpha">
							<ul>
								<li>hamburgers</li>
								<li>hot dogs</li>
								<li>buns (hamburger and hot dog)</li>
								<li>cheese slices</li>
								<li>pickles</li>
								<li>ketchup</li>
								<li>mustard</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>relish</li>
								<li>mayonnaise</li>
								<li>paper plates</li>
								<li>napkins</li>
								<li>bottled water</li>
								<li>cans of soda</li>
								<li>kids’ juice boxes</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>ice</li>
								<li>cooler</li>
								<li>onion (sliced)</li>
								<li>lettuce (shreded)</li>
								<li>tomato</li>
								<li>grill</li>
								<li>lighter or charcoal for the grill</li>
							</ul>
						</div>
						<div class="grid_3 omega">
							<ul>
								<li>name tags & a sharpie (write their first name and house #)</li>
								<li>music</li>
								<li>lawn chairs</li>
								<li>yard games or activities for the kids</li>
								<li>camera or phone charged for pictures</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="byom_list list">
					<div class="container">
						<div class="grid_12 byom_print">Bring Your Own Meat - Checklist</div><div class="clear"></div>
						<div class="grid_3 alpha">
							<ul>
								<li>buns (hamburger and hot dog)</li>
								<li>cheese slices</li>
								<li>pickles</li>
								<li>ketchup</li>
								<li>mustard</li>
								<li>relish</li>
								<li>mayonnaise</li>
								<li>paper plates</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>napkins</li>
								<li>bottled water</li>
								<li>cans of soda</li>
								<li>kids’ juice boxes</li>
								<li>ice</li>
								<li>cooler</li>
								<li>onion (sliced)</li>
								<li>lettuce (shreded)</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>tomato</li>
								<li>grill</li>
								<li>lighter or charcoal for the grill</li>
								<li>chips</li>
								<li>baked beans</li>
								<li>potato salad</li>
								<li>watermelon</li>
								<li>dessert</li>
							</ul>
						</div>
						<div class="grid_3 omega">
							<ul>
								<li>name tags & a sharpie (write their first name and house #)</li>
								<li>music</li>
								<li>lawn chairs</li>
								<li>yard games or activities for the kids</li>
								<li>camera or phone charged for pictures</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="icecream_list list">
					<div class="container">
						<div class="grid_12 icecream_print">Ice Cream Social - Checklist</div><div class="clear"></div>
						<div class="grid_3 alpha">
							<ul>
								<li>bowls</li>
								<li>napkins</li>
								<li>spoons</li>
								<li>table cloth</li>
								<li>ice cream scoops</li>
								<li>vanilla and chocolate ice cream (or another flavor you like)</li>
								<li>ice cream cones</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>hot fudge</li>
								<li>caramel sauce</li>
								<li>strawberry sauce</li>
								<li>butterscotch</li>
								<li>marshmallow cream</li>
								<li>bananas</li>
								<li>sprinkles</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>nuts</li>
								<li>maraschino cherries</li>
								<li>whipped cream</li>
								<li>vanilla wafers</li>
								<li>other toppings</li>
								<li>bottled water</li>
								<li>cans of soda (i.e. rootbeer float)</li>
							</ul>
						</div>
						<div class="grid_3 omega">
							<ul>
								<li>kids’ juice boxes</li>
								<li>wet wipes for sticky fingers</li>
								<li>name tags & a sharpie (write their first name and house #)</li>
								<li>music</li>
								<li>camera or phone charged for pictures</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="youprovide_list list">
					<div class="container">
						<div class="grid_12 youprovide_print">You Provide Everything - Checklist</div><div class="clear"></div>
						<div class="grid_3 alpha">
							<ul>
								<li>hamburgers</li>
								<li>hot dogs</li>
								<li>buns (hamburger and hot dog)</li>
								<li>cheese slices</li>
								<li>pickles</li>
								<li>ketchup</li>
								<li>mustard</li>
								<li>relish</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>mayonnaise</li>
								<li>paper plates</li>
								<li>napkins</li>
								<li>bottled water</li>
								<li>cans of soda</li>
								<li>kids’ juice boxes</li>
								<li>ice</li>
								<li>cooler</li>
							</ul>
						</div>
						<div class="grid_3">
							<ul>
								<li>onion (sliced)</li>
								<li>lettuce (shreded)</li>
								<li>tomato</li>
								<li>baked beans</li>
								<li>potato salad</li>
								<li>watermelon</li>
								<li>dessert (ice cream, cupcakes, cookies, etc)</li>
								<li>grill</li>
							</ul>
						</div>
						<div class="grid_3 omega">
							<ul>
								<li>lighter or charcoal for the grill</li>
								<li>name tags & a sharpie (write their first name and house #)</li>
								<li>music</li>
								<li>lawn chairs</li>
								<li>yard games or activities for the kids</li>
								<li>camera or phone charged for pictures</li>
							</ul>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="grid_12 invite">
					<h2>How to Invite</h2>
					Decide if you want to invite your immediate neighbors, your whole street or your whole neighborhood!<br><br>
					<span class="bold">One or two weeks before |</span> Deliver the invitations door to door<br><br>
					<span class="bold">One week before |</span> Deliver the invitations door to door<br><br>
					<h4 class="info_footer">Stop by the Connection Center TODAY to pick up your Rock the Block supplies. Visit us online at journeychurch.tv/rocktheblock for more helpful planning tools.</h4>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		{embed="_includes/footer-content"}
	</body>
</html>
