{redirect="/"}

<!DOCTYPE html>
<html class="no-js">
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title>JourneyChurch.tv | Christmas Spectacular 2016</title>

  	<meta name="description" content="JourneyChurch.tv Christmas Spectacular 2016">
    <meta name="keywords" content="Journey Church, JourneyChurch.tv, Christmas, Christmas Spectacular, Norman, OKC, Moore, 2016">
  	<meta name="author" content="JourneyChurch.tv">
  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/favicon.ico" type="image/x-icon">

  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {!-- Fonts --}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/_css/font-awesome.css"/>

    {!-- Bootstrap CSS --}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    {!-- Styles --}
    <link rel="stylesheet" href="/_css/spectacular.css"/>

    <script type="text/javascript" src="/_js/modernizr-custom.js"></script>
  </head>
  <body>
    <section id="cover" class="bg-img full-height text-center">
      <div class="v-center-wrapper">
        <div class="v-center">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                {!--}<h1>Christmas Spectacular</h1>{--}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-img">
      <div class="container-fluid">
        <div class="row">
          <div id="intro" class="col-md-6 bg-img"></div>

          <div id="about" class="col-md-6">
            <div class="v-center-wrapper">
              <div class="v-center">
                <div class="pad">
                  <h1 class="text-uppercase">What</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis velit vitae nisl porta aliquet tristique sed diam. Integer et convallis sapien. In lectus tellus, convallis non lectus non, ultrices congue massa. Praesent pellentesque massa massa, vitae venenatis risus hendrerit volutpat. Nulla vitae tellus massa. Curabitur malesuada, mi at condimentum dapibus, lorem dui ultrices ligula, in faucibus nibh ante a felis. Cras a nulla tincidunt, laoreet ante id, mollis tortor.</p>
                  <br>
                  <h1 class="text-uppercase">When</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis velit vitae nisl porta aliquet tristique sed diam. Integer et convallis sapien. In lectus tellus, convallis non lectus non, ultrices congue massa. Praesent pellentesque massa massa, vitae venenatis risus hendrerit volutpat. Nulla vitae tellus massa. Curabitur malesuada, mi at condimentum dapibus, lorem dui ultrices ligula, in faucibus nibh ante a felis. Cras a nulla tincidunt, laoreet ante id, mollis tortor.</p>
                  <br>
                  <h1 class="text-uppercase">Where</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis velit vitae nisl porta aliquet tristique sed diam. Integer et convallis sapien. In lectus tellus, convallis non lectus non, ultrices congue massa. Praesent pellentesque massa massa, vitae venenatis risus hendrerit volutpat. Nulla vitae tellus massa. Curabitur malesuada, mi at condimentum dapibus, lorem dui ultrices ligula, in faucibus nibh ante a felis. Cras a nulla tincidunt, laoreet ante id, mollis tortor.</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="text-center">
      <div class="container-fluid">
        <div class="row">
          <div id="serve" class="col-sm-6 bg-img">
            <div class="v-center-wrapper">
              <div class="v-center">
                <h2>Serve</h2>
                <br>
                <a href="#" class="btn btn-default">JKids</a>
                <a href="#" class="btn btn-default">Dream Team</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {!-- Jquery/Javascript Bootstrap --}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
