<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Our second annual 56 Spring Retreat is March 31 at 6:00 PM-April 1st at 6:00 PM. It will be 24 hours full of fun, small group discussions, serving together around the community of Norman, and much more!">
		<meta name="keywords" content="56 Spring Retreat, 56, Spring Retreat, Journey Church, JourneyChurch.tv, Norman, OK, Oklahoma City">

		<title>56 Spring Retreat</title>

		{!-- Stylesheets --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/springretreat.css">

    {!-- Fonts --}
		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6186432/755202/css/fonts.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

		{!-- Font Icons --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	</head>
	<body>
		<section id="cover">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
							<img src="/_img/springretreat/SpringRetreat_Logo-01.png" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="scroll-down-container">
				<div class="scroll-down"><i class="fa fa-angle-down"></i></div>
			</div>
		</section>

		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2 class="font-bold font-block">March 31st - April 1st</h2>
						<br>
						<p>Our second annual 56 Spring Retreat is March 31st at 6:00 PM-April 1st at 6:00 PM. It will be 24 hours full of fun, small group discussions, serving together around the community of Norman, and much more! We will host the large group teaching sessions at the church discussing different perspectives of our relationship with God, our relationships with others, and our relationship with ourselves. Small group discussions will follow each session. The 5th, 6th, and 7th graders will stay in gender specific host homes (hand-picked by the JKIDS and 56 staff and have background checks on file). Cost of $45 includes dinner, breakfast, lunch, a t-shirt, and transportation costs.</p>
						<br>
						<a href="https://journeykids.ticketleap.com/56-spring-retreat/" class="btn btn-default btn-lg font-block">Register</a>
						<a href="/_doc/MedicalandLiabilityReleaseForm-56 Spring Retreat.pdf" class="btn btn-default btn-lg font-block">Medical Release Form</a>
						<br><br><br><br>
					</div>
					<div class="col-md-3 col-md-offset-1">
						<img src="/_img/springretreat/basketball.jpg" class="img-responsive">
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</section>

		<section id="schedule"  class="bg-img">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="font-bold font-block">Schedule</h2>
						<br>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Friday, March 31st</h4>
						  </div>
						  <div class="panel-body">
								6:00 PM Check-in and Pizza
								<br><br>
								7:00 PM Session 1
								<br><br>
								8:30 PM Head to Host Homes
								<br><br>
								8:45 PM Small Group Ice breakers and discussion
								<br><br>
								11:00 PM Lights Out
						  </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Saturday, April 1st</h4>
						  </div>
						  <div class="panel-body">
								8:00 AM Breakfast at Host Homes
								<br><br>
								9:00 AM Arrive at JourneyChurch.tv
								<br><br>
								9:30 AM Head to Serving Locations
								<br><br>
								12:30 PM Lunch
								<br><br>
								1:00 PM Trampoline Park
								<br><br>
								4:00 PM Session 2
								<br><br>
								6:00 PM Parent Pick Up
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="faqs"  class="bg-img">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="font-bold font-block">FAQs</h2>
						<br>
					</div>
				</div>
				<div class="wrapper">
					<div class="row">
						<div class="col-sm-12">
							<strong>1. Do I drop off and pick up my child at the church? Do I need to walk them in?</strong><br>
							<p>For our retreats and camps, we ask that parents walk their child in and check them in with us. This is because we often have extra forms that are needed to be signed and/or items that we need to hand to you.</p><br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<strong>2. Will I know in advance the host home my child will be attending and who will be staying with them?</strong><br>
							<p>Will the girls and boys be at separate host homes? Yes. You will receive an email the day before the retreat. This email will contain the address of the host home that your child will be attending, the host home parents’ contact information,  your child’s small group leader’s contact information, and digital copies of any forms that we need signed. Students are assigned to grade and gender specific host homes.</p><br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<strong>3. Do I need to send any extra money with my child?</strong><br>
							<p>No, all costs for the retreat have already been paid for by your registration fee. If for some reason this is not the case, we will notify you up front to send your child with spending money.</p><br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<strong>4. Where will my child be serving?</strong><br>
							<p>Students will participate in local serve projects around the city such as serving at the local food bank, providing assistance to the elderly, etc. We will not know the specific locations until the week of the retreat.</p><br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<strong>5. Can I sign up to be a host home?</strong><br>
							<p>Yes. We are always looking for parents to get involved with our ministry. If you feel led to open your home to these students, please email us at <a href="mailto:56@journeychurch.tv">56@journeychurch.tv</a></p><br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<strong>6. What if my child has an event to attend during the middle of the retreat?</strong><br>
							<p>Students can still attend the retreat. We just ask that you inform Ka’eo and their small group leader when the event is, what time you will be picking your child up, and when can we expect your child to return.</p><br><br>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<strong>7. Do you accommodate children with food allergies?</strong><br>
							<p>We will provide alternative meals for your child. We just ask that you please notify us in advance so we can make sure to accommodate your child. Notifying us the day of is unacceptable.</p>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</section>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<script>
		$(document).ready(function() {
			$(".scroll-down").click(function() {
				$("body, html").animate({
					scrollTop : $("#about").offset().top + "px"
				});
			});
		});
		</script>
	</body>
</html>
