<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width">

		<meta name="description" content="Are you in junior high or high school and feeling disconnected to what's going on around you spiritually? Do you want the chance to plug back in, recharge, and become closer to God? We believe that the Stand Up Conference will engage you to not only experience the presence of Jesus but also to put your faith in the path that He has called you to walk on daily.">
		<meta name="keywords" content="Stand Up Conference, Stand Up, Stand Out, Student Journey, Journey Church, JourneyChurch.tv, Journey Worship, Norman, OK, Oklahoma City">

		<title>Stand Up Conference 2017</title>

		{!-- Stylesheets --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/standup.css">

    {!-- Fonts --}
		<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6186432/755202/css/fonts.css" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>

		{!-- Font Icons --}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	</head>
	<body>
		<section id="cover">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<img src="/_img/standup/Splash_page_image.png" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
			<div class="scroll-down-container">
				<div class="scroll-down"><i class="fa fa-angle-down"></i></div>
			</div>
		</section>

		<section id="about" class="bg-img">
			<div class="container">
				<div class="row">
					<div class="col-sm-9 col-md-8">
						<p>Are you in junior high or high school and feeling disconnected to what's going on around you spiritually? Do you want the chance to plug back in, recharge, and become closer to God? We believe that the Stand Up Conference will engage you to not only experience the presence of Jesus but also to put your faith in the path that He has called you to walk on daily.</p>
						<br>
						<p>Our vision is to see students go deeper in their love for Jesus and wider in their relationship with others.</p>
						<br>
						<p>We believe that each student who commits to Standing Up and Standing Out will begin to see their world change in their communities, schools, jobs, sports, and--most importantly--with God.</p>
					</div>
					<div class="clearfix"></div>
					<br><br><br>
					<div class="col-xs-12">
						<h1 class="font-extra-light font-block">February 17th - 18th</h1>
						<br>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12">
						<h4 class="font-bold font-block">Location</h4>
						<h4 class="font-extra-light">Journey Church in Norman, OK</h4>
						<a href="http://maps.google.com/?q=3801%20Journey%20Parkway,Norman,%20OK%2073072" class="btn btn-default font-block">Get Directions</a>
						<br><br>
					</div>
					<div class="col-md-12">
						<h4 class="font-bold font-block">From out of town?</h4>
						<a href="http://book.bestwestern.com/bestwestern/groupSearch.do?groupId=6R7PD1J9" class="btn btn-default font-block">Find a place to stay</a>
						<br><br>
					</div>
					<div class="col-md-12">
						<h4 class="font-bold font-block">Medical Release</h4>
						<a href="/_doc/MedicalandLiabilityReleaseForm-StandUpConference-2.pdf" class="btn btn-default font-block">Download</a>
						<br><br>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-8 col-md-offset-2">
						<br><br><br><br>
						<a id="tickets" href="http://StandUpConference.ticketleap.com" class="btn btn-default btn-block btn-lg font-block">Purchase Tickets</a>
					</div>
				</div>
			</div>
		</section>

		<section id="speakers">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="font-extra-light font-block">Speakers</h1>
						<br><br>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-3">
			      <img src="/_img/standup/Eddie2016.jpg" class="img-responsive grayscale">
					</div>
					<div class="col-md-9">
						<div class="caption">
			        <h3 class="font-bold font-block">Eddie Guerra</h3>
			        <p>Eddie Guerra, from Chalmette, Louisiana, has worked with Joyce Meyer Ministries and was the student pastor for Healing Place Church for 10 years. He has been married to Megan Guerra since 2007 and they have two children together, Myla Melissa and Tallan Elijah.</p>
			    	</div>
					</div>
					<div class="clearfix"></div>
					<br><br><br>
					<div class="col-md-3">
			      <img src="/_img/standup/jonathan.jpg" class="img-responsive grayscale">
					</div>
					<div class="col-md-9">
						<div class="caption">
			        <h3 class="font-bold font-block">Jonathon Pena</h3>
			        <p>Leads The Ezekiel Project, the youth ministry of Church on the Hill pastored by Pastors Adam and Jami McCain in Cedar Hill, Tx. The Ezekiel Project was planted in 2010 and has a strong influence in the public schools reaching hundreds of students per week on their campuses. Pastor Jonathan currently lives in Grand Prairie TX with his wife Mirna and their two kids Anaiah and Uzziah.</p>
			    	</div>
					</div>
				</div>
			</div>
		</section>

		<section id="schedule">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1 class="font-extra-light font-block">Schedule</h1>
						<br>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Friday Night</h4>
						  </div>
						  <div class="panel-body">
								6:00 PM Doors open
								<br><br>
								6:30 PM Pre-Experience
								<br>
								-Games and Give A Ways
								<br><br>
								7:00 PM Experience starts
								<br>
								-Hang out after
						  </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Saturday Morning</h4>
						  </div>
						  <div class="panel-body">
								9:00 AM Doors open
								<br><br>
								9:30 AM Experience
								<br><br>
								10:30 AM Breakout Session 1 (30 min)
								<br><br>
								11:15 AM Outreach 'Care Packages Nicaragua'
								<br><br>
								12:00 PM Lunch
								<br><br>
								1:30 PM Breakout Sessions (45 min)
								<br><br>
								2:30 Break
						  </div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Saturday Night</h4>
						  </div>
						  <div class="panel-body">
								6:00 PM Doors open
								<br><br>
								6:30 PM Pre-Experience
								<br>
								-Games and Give A Ways
								<br><br>
								7:00 PM Experience
								<br>
								-After-party to follow
								<br><br>
								10:00 PM Dismiss to Host Homes
						  </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h4 class="panel-title font-bold font-block">Sunday Morning</h4>
						  </div>
						  <div class="panel-body">
						    11:00 AM Experience
						  </div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="social">
							<ul>
								<li><a href="https://twitter.com/student_journey"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.facebook.com/StudentJourneyNorman"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.instagram.com/student_journey/"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
						<br>
						<p>© <?php echo date("Y"); ?> JourneyChurch.tv. All Rights Reserved PO Box 722764<br>Norman, OK 73070 | 405.217.8700<br><a href="mailto:connect@JourneyChurch.tv">connect@JourneyChurch.tv</a></p>
					</div>
				</div>
			</div>
		</footer>

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<script>
		$(document).ready(function() {
			$(".scroll-down").click(function() {
				$("body, html").animate({
					scrollTop : $("#about").offset().top + "px"
				});
			});
		});
		</script>
	</body>
</html>
