{embed="_includes/header" title="Team Hope" bar="yes"}
<meta name="Description" content="Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.">

<style type="text/css">
	a {color: #821d24;}
	
</style>

<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

<div class="title-bar" style="background-color:#821d24">
	<div class="container">
		<div class="grid_7 push_2">
			<div class="videoWrapper">
				<div id="video_unleashinghope"></div>
				<div class="clear"></div>
			</div>
			<script type="text/javascript">
				jwplayer("video_unleashinghope").setup({					   
				    'autostart': 'false',
				    'width': '100%',
					'height': '360px',
					'menu': 'false',
					'aspectratio': '16:9',
					'file': 'https://www.youtube.com/watch?v=MHbknIn_msU?hd=1',
					'image': '/_img/teamhope_video.jpg',
					'abouttext': 'JourneyChurch.tv Media',
					'aboutlink': 'http://journeychurch.tv/media',
				    'plugins': {
				    	'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
				   	},    
				    'modes': [{
				    	'type':'flash',
				    	'src': '/_js/jwplayer.flash.swf'
				    }]
				});
			</script>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container fancy-page clearfix">
	<div class="grid_12">
		<p>Dear Journey Family,<br><br>
		We are so excited about the potential it has to create waves of positive change in our cities. We think this study is going to be one of the best we’ve ever done and that is why we want you to be a part of TEAM HOPE!
		<br><br>
		<strong>What is TEAM HOPE?</strong><br>
		TEAM HOPE is made up of passionate, hungry, hopeful people in our church who will create awareness and excitement about Unleashing Hope in our community. TEAM HOPE is our “street team” who will reach out to people who need hope, who need to be loved, and who need a church family. TEAM HOPE is an extension of our pastors and staff who cannot reach everyone in need of this powerful and life-changing message. TEAM HOPE is a true picture of Matthew 28:19, “Therefore go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit.”
		<br><br>
		<strong>What does being a part of TEAM HOPE involve?</strong><br>
		Your commitments on TEAM HOPE are simple: participate by purchasing an Unleashing Hope kit and reading The Hope Quotient, be involved in an Unleashing Hope Life Group, and invite new people to be a part of it, too. We believe that your voice carries great weight in our community, especially outside the church walls. When you commit to TEAM HOPE, you are committing to encouraging, motivating, inspiring and inviting new people to participate in this life-changing study with us.
		<br><br>
		<strong>Tell me more...</strong><br>
		Watch the video above and prepare to head out the door and invite your neighbors!
		<br><br>
		<strong>Will you commit to TEAM HOPE?</strong><br>
		Most importantly, I want you to know that you are created to make a difference and your family is an essential part of ministry at JourneyChurch. After you watch the TEAM HOPE video with your family, we want to visit with you about this opportunity to answer any questions, pray with you, and encourage you in this endeavor.  I believe that your family will be instrumental in sharing this message of hope! As part of your commitment, we will provide helpful invite tools like door hangers and we’d love to see you wearing your TEAM HOPE button! Let’s jump in together believing that God can do anything!
		<br><br><br>
		<em>Pastor Clark</em>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}