{embed="_includes/header" title="Unleashing Hope" bar="yes"}
<meta name="Description" content="Giving cheerfully and sacrificially of our finances is part of our worship. As believers in Jesus, we are on a mission to point people to Him and are called to steward the finances God gives us toward that end.">

<style type="text/css">
	a {color: #821d24;}
	
</style>

<script type="text/javascript" src="/_js/jwplayer.js"></script>
<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>

<div class="title-bar" style="background-color:#821d24">
	<div class="container">
		<div class="grid_7 push_2">
			<div class="videoWrapper">
				<div id="video_unleashinghope"></div>
				<div class="clear"></div>
			</div>
			<script type="text/javascript">
				jwplayer("video_unleashinghope").setup({					   
				    'autostart': 'false',
				    'width': '100%',
					'height': '360px',
					'menu': 'false',
					'aspectratio': '16:9',
					'file': 'http://downloads.journeychurch.tv.s3.amazonaws.com/video/Promo-UnleashingHope.mp4',
					'image': '/_img/unleashinghope_video.jpg',
					'abouttext': 'JourneyChurch.tv Media',
					'aboutlink': 'http://journeychurch.tv/media',
				    'plugins': {
				    	'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
				   	},    
				    'modes': [{
				    	'type':'flash',
				    	'src': '/_js/jwplayer.flash.swf'
				    }]
				});
			</script>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container fancy-page clearfix">
	<div class="grid_8">
		<p>Underneath every thriving person, every thriving marriage, kid, and business is one factor—hope! JourneyChurch is joining churches from around the nation to unleash hope through an innovative study based on the new book, <em>The Hope Quotient</em>, by Ray Johnston.</p><br>
		<p>Hope is the one thing that can change everything. That’s because when hope is thriving, eleven things are unleashed in your life: You have more satisfying relationships. You’re more productive. You’re less affected by stress. You’re more successful. You’re more satisfied. You’re more compassionate. You’re more willing to help people in need. You’re physically healthier. You hold yourself to higher standards. You’re more likely to assume leadership. You’re more likely to see God as loving, caring, and forgiving.</p>
		<br>
	</div>
	<div class="grid_4">
		<ul class="side-nav">
			<h3 class="sub-title" style="background-color:#821d24">Resources</h3>
			<li><a href=" " onclick="window.open('https://journeydreamteam.wufoo.com/forms/unleashing-hope-kit/',  null, 'height=514, width=680, toolbar=0, location=0, status=1, scrollbars=1,resizable=1'); return false">- Get Your Resource Kit</a></li>
			<li><a href="/groups/find">- <strong>Find</strong> a Life Group</a></li>
			<li><a href="/groups/start">- <strong>Lead</strong> a Life Group</a></li>
		</ul>
	</div>
	<div class="clear"></div>
	<div class="grid_12">
		<p><img src="/_img/unleashinghope-kit.jpg" align="right" style="padding-left: 10px"> In addition to incredible weekend teaching, we are preparing Unleashing Hope resource kits that are designed to raise the hope quotient in all aspects of your life. The kits are packed with materials for dynamic family time and scripture memory, personal devotion, Life Group conversations, and more! The kits are available to preorder HERE and will be available to pickup at the Unleashing Hope booth in the Norman Campus lobby.</p><br>
		<p><strong>Hope is more than a feeling; it’s the by-product of seven key factors.</strong><br>
		<i class="fa fa-chevron-right" style="padding-left:10px"></i> Factor 1: Recharge Your Batteries<br>
		<i class="fa fa-chevron-right" style="padding-left:10px"></i> Factor 2: Raise Your Expectations<br>
		<i class="fa fa-chevron-right" style="padding-left:10px"></i> Factor 3: Refocus on the Future<br>
		<i class="fa fa-chevron-right" style="padding-left:10px"></i> Factor 4: Play to Your Strengths<br>
		<i class="fa fa-chevron-right" style="padding-left:10px"></i> Factor 5: Refuse to Go It Alone<br>
		<i class="fa fa-chevron-right" style="padding-left:10px"></i> Factor 6: Replace Burnout with Balance<br>
		<i class="fa fa-chevron-right" style="padding-left:10px"></i> Factor 7: Play Great Defense</p><br>
		<p>Using seven years of research, powerful biblical illustrations, and compelling human-interest stories, the Unleashing Hope study will show how these seven essential factors will support, sustain, and strengthen your hope. And when consciously built into your life, how they will unleash hope in your marriage, your kids, your career, your church, your community, and the world.<p>
	</div>
</div>

{embed="_includes/footer"}