{embed="_includes/header" title="Volleyball" bar="yes"}

<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>Volleyball</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
	<div class="grid_12 fancy-page">
		<div class="grid_6 alpha"><h2>Red, White & Blue Sand Volleyball Tournament</h2>
			<p>
				Date: July 11th<br>
				Format:  6 vs 6 -  must have 2 girls playing at all times<br><br>

				Single Elimination<br>
				Time: 7:30pm start, all team members must be present<br>
				Where: JourneyChurch.tv Volleyball Courts<br><br>

				Rules: All games are played by rally scoring. This means every mistake is a point for the other team. If you miss a serve, miss a hit, or miss a block, the other team gets a point. All games go to 21. To make sure the game is fair, under weather conditions or sun rays, the teams change sides every 7 points.<br><br>

				Maximum Teams: 20<br>
				Registration: Deadline 7:30pm<br><br>

				All team members will be given a red, white or blue bandana for team identification.<br><br>

				Prizes: Golden Volleyball for 1st place team, flags to runner ups<br><br>

				Call Lindsey at <a href="tel:8066790175">806.679.0175</a> for more information.<br><br>
			</p>
			<a href="https://journeydreamteam.wufoo.com/forms/z18cfcbi1uvv4wa/"><strong>SIGN UP</strong></a> for the tournament!
		</div>
		<div class="grid_6 omega"><img src="/_img/Volleyball.JPG"></div>
	</div>
</div>

{embed="_includes/footer"}
