<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title>JourneyChurch.tv | Good Friday 2016</title>

  	<meta name="description" content="JourneyChurch.tv Good Friday 2016">
  	<meta name="author" content="JourneyChurch.tv">
  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/favicon.ico" type="image/x-icon">

  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {!-- Fonts --}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/_css/font-awesome.css"/>

    {!-- Styles --}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/goodfriday.css"/>

  	{!-- Cool Font Icons  --}
  	<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>
  </head>
  <body>
    <section id="cover" class="bg-img">
      <div class="container">
        <div class="inner">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <img src="/_img/Good_Friday_Logo.png" class="img-responsive fade"/>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="about-box col-sm-4 text-center">
            <div class="triangle bg-img"><span></span><span></span></div>
            <div class="pad">
              <h1><strong>What</strong></h1>
              <p>Good Music. Good Food. Good Vibes. Good Friday. Bring the family to enjoy a night of music, food trucks and a chat from Pastor Clark.</p>
            </div>
          </div>

          <div class="about-box col-sm-4 text-center">
            <div class="triangle bg-img"><span></span><span></span></div>
            <div class="pad">
              <h1><strong>When</strong></h1>
              <p>Plan on spending your March 25th evening hanging with us. Food trucks arrive at 5:30, and the experience starts at 6:30.</p>
            </div>
          </div>

          <div class="about-box col-sm-4 text-center">
            <div class="triangle bg-img"><span></span><span></span></div>
            <div class="pad">
              <h1><strong>Where</strong></h1>
              <p>The Myriad Botanical Gardens sit just south of the Devon Tower. We’ll be at The Great Lawn in front of the stage.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="maps" class="bg-img">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2 text-center map">
            <a href="https://www.google.com/maps/place/Myriad+Botanical+Gardens/@35.4642773,-97.5200866,17z/data=!3m1!4b1!4m2!3m1!1s0x87b217299f574e03:0x8fd2a7a17df9affc">
              <h1 class="text-uppercase light"><div class="glyphicon glyphicon-map-marker blue"></div><br><br>Get<br>Directions</h1>
            </a>
          </div>

          <div class="col-sm-4 text-center map">
            <a href="/goodfriday/map">
              <h1 class="text-uppercase light"><div class="glyphicon glyphicon-picture blue"></div><br><br>Event<br>Map</h1>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="best-of" class="bg-img">
      <div class="container">
        <div class="row">
          <div class="quote">
            <div class="col-sm-10">
              <h1 class="text-capitalize"><span class="quote-mark">"</span>The heart of worship in the heart of the city.<span class="quote-mark">"</span></h1>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="clearfix"></div>

          <div class="quote">
            <div class="col-sm-10">
              <h1 class="text-capitalize"><span class="quote-mark">"</span>TGIGF: Thank God it's Good Friday!<span class="quote-mark">"</span></h1>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="clearfix"></div>

          <div class="quote">
            <div class="col-sm-10">
              <h1 class="text-capitalize"><span class="quote-mark">"</span>Just a simple time to unplug and relax.<span class="quote-mark">"</span></h1>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="invite">
      <div class="container-fluid">
        <div class="row">
          <div id="tag" class="col-sm-6 text-center bg-img invite">
            <div class="col-sm-8 col-sm-offset-2 inner">
              <h1 class="light">It’s always a <span>good</span> time. We’re ready for you!</h1><br><br>
            </div>
          </div>

          <div id="social" class="col-sm-6 text-center bg-img invite">
            <div class="inner">
              <h1 class="light">#itsall<span>good</span>friday</h1><br>
              <ul class="list-unstyled list-inline">
                <li><a href="https://www.facebook.com/journeychurchtv"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/journeychurchtv"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/journeychurchtv/"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="easter">
      <div class="container">
        <div class="row">
          <div class="col-12-sm text-center">
            <h3 class="light">And if you think <span class="blue">THIS</span> is good… just wait until {!--<a href="/easter" class="fade">--}<strong class="blue">Sunday</strong> {!--<i class="fa fa-angle-right blue"></i></a>--}</h3>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="light">&copy <?php echo date("Y"); ?> JourneyChurch.tv. All Rights Reserved
PO Box 722764 | Norman, OK 73070 | 405.217.8700 | <a href="mailto:connect@journeychurch.tv" class="fade"><span class="blue">connect@JourneyChurch.tv</span></a></p>
          </div>
        </div>
      </div>
    </section>

    {!-- Jquery --}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        var width = $(window).width();

        if (width >= 1200) {
          $('.about-box:first-child').addClass('active');

          $('.about-box:first-child').mouseover(function() {
            $('.about-box').removeClass('active');
            $(this).addClass('active');
          });

          $('.about-box:nth-child(2)').mouseover(function() {
            $('.about-box').removeClass('active');
            $(this).addClass('active');
          });

          $('.about-box:last-child').mouseover(function() {
            $('.about-box').removeClass('active');
            $(this).addClass('active');
          });

          $('#tag').mouseover(function() {
            $('.invite').removeClass('active');
            $(this).addClass('active');
          });

          $('#social').mouseover(function() {
            $('.invite').removeClass('active');
            $(this).addClass('active');
          });
        }
      });
    </script>
  </body>
</html>
