/* Footer */

#footer {
  background-color: $color-darkest;
  color: $color-lightest;
  font-size:12px;
  .col-footer {
    height:50px;
  }
  p {
    margin:0;
  }
  ul {
    li {
      display:inline-block;
      margin:0 4px;
      a {
        color:white;
        @include font-extra-light;
      }
      i {
        font-size:16px;
        color: $color-lightest;
      }
    }
  }
}
