/* Footer */

#footer {
  .connect {
    background-color:#2D2D2D;
    display:none;
  }

  .info {
    background-color:black;
    color:white;
    font-size:12px;
    p {
      margin:0;
    }
  }
}
