/* Global */

body {
  @include font-book;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  line-height:1.45em;
  margin-top:10px;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
  li {
    a:hover {
      text-decoration:none;
    }
  }
}

a {
  color:$link-color;
  &:active, &:hover, &:focus {
    color:$link-color;
  }
  &:hover {
    .pointer {
      transform:translateX(5px);
      @include transition(0.15s transform ease-in);
    }
  }
}

p {
  margin:20px 0;
  line-height:26px;
  @include font-extra-light;
}

a {
  @include font-book;
}

.bg-img {
  background-attachment:scroll;
  background-position:center center;
  background-repeat:no-repeat;
  @include background-size-cover;
  background-color: $color-dark;
  color: $color-lightest;
}

.bg-img-fixed {
  @extend .bg-img;
  background-attachment:fixed;
}

.font-extra-light {
  @include font-extra-light;
}

.font-light {
  @include font-light;
}

.font-book {
  @include font-book;
}

.font-medium {
  @include font-medium;
}

.font-bold {
  @include font-bold;
}

.font-black {
  @include font-black;
}

.font-block-extra-light {
  @include font-block-extra-light;
}

.font-block-light {
  @include font-block-light;
}

.font-block-book {
  @include font-block-book;
}

.font-block-medium {
  @include font-block-medium;
}

.font-block-bold {
  @include font-block-bold;
}

.font-block-black {
  @include font-block-black;
}

.font-color-lightest {
  color: $color-lightest;
}

.font-color-extra-light {
  color: $color-extra-light;
}

.font-color-light {
  color: $color-light;
}

.font-color-regular {
  color: $color-regular;
}

.font-color-dark {
  color: $color-dark;
}

.font-color-extra-dark {
  color: $color-extra-dark;
}

.font-color-darkest {
  color: $color-darkest;
}

.vertical-align-wrapper {
  @include vertical-align-wrapper;
}

.vertical-align {
  @include vertical-align;
}

.no-gutter {
  padding-left:0;
  padding-right:0;
}

.icon {
  display:block;
  height:auto;
  max-width:55%;
  border-radius:50%;
  margin-right:auto;
  margin-left:auto;
}

.pointer {
  padding-left:5px;
  transform:translateY(0px);
  @include transition(0.15s transform ease-in);
}

.paper {
  padding:40px;
  background-color:$color-lightest;
}

@include media-sm {
  h1 {
    font-size:29px;
  }

  h2 {
    font-size:26px;
  }

  h3 {
    font-size:19px;
  }

  h4 {
    font-size:14px;
  }

  h5 {
    font-size:12px;
  }

  h6 {
    font-size:10px;
  }

  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    padding-top:15px;
    padding-bottom:15px;
  }
  .no-gutter {
    padding-left:30px;
    padding-right:30px;
  }
}

@include media-xs {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-top:15px;
    padding-bottom:15px;
  }
}
