/* Header */
#header {
  position:absolute;
  width:100%;
  top:0px;
  left:0px;
  padding:30px;
  z-index:1500;
}

.header-filler {
  display:none;
}

.no-cover {
  #header {
    padding-top:15px;
    padding-bottom:15px;
  }

  .header-filler {
    background-color:$color-lightest;
    height:80px;
    width:100%;
    display:block;
  }
}

/* Logo */
.logo {
  width:50px;
  display:inline-block;
  float:left;
}
