/* Main */
#no-js-wrapper {
  display:none;
}

.no-js {
  #no-js-wrapper {
    display:block;
  }

  #wrapper {
    display:none;
  }
}

.section {
  .title {
    margin-bottom:40px;
  }
  h2 {
    margin-top:0;
  }
}

.section-tall {
  @extend .section;
}

.section-short {
  @extend .section;
}

.section, .section-tall, .section-short {
  padding:40px 0;
}

.preview-content {
  padding-left:30px;
  padding-right:30px;
}

@include media-md {
  .section {
    padding:50px 0;
  }

  .section-tall {
    padding:70px 0;
  }

  .section-short {
    padding:30px 0;
  }
}
