/* Main */
#no-js-wrapper {
  display:none;
}

.no-js {
  #no-js-wrapper {
    display:block;
  }

  #wrapper {
    display:none;
  }
}

.section {
  padding:125px 0;

  .title {
    margin-bottom:40px;
  }
}

.section-page {
  @extend .section;
  padding:80px 0;
}

.section-skinny {
  @extend .section;
  padding:40px 0;
}

@include media-sm {
  .section {
    padding:60px 0;
  }
}

.preview-content {
  padding-left:30px;
  padding-right:30px;
}
