
@font-face {
  font-family: 'Homestead-Display';
  src: url('Homestead-Display.eot?#iefix') format('embedded-opentype'),  url('Homestead-Display.woff') format('woff'), url('Homestead-Display.ttf')  format('truetype'), url('Homestead-Display.svg#Homestead-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
