<script type="text/javascript" src="/_js/livevalidation.js"></script>

<div class="modal fade" id="addEvent" tabindex="-1" role="dialog" aria-hidden="true">
	{exp:channel:form channel="Planning" return="planning/index" author_id="CURRENT_USER"}
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Add Event</h4>
				</div>
				<div class="modal-body">
					<input name="title" type="text" class="form-control" placeholder="Title"><br>
					{if member_group=="1" OR member_group=="7"}
						{category_menu}
							<select name="category[]" id="categories" size="9" multiple="multiple" style="width:100%">
								{select_options}
							</select>
						{/category_menu}
						<br><br>
					{/if}
					<label>Image</label>
					{field:planning-img}
					<br>
					<input id="datepicker" name="planning-event_date" type="text" class="form-control datepicker" placeholder="Event Date"><br>
					{if member_group=="1" OR member_group=="7"}
						<input id="datepicker" name="expiration_date" type="text" class="form-control datepicker" placeholder="Expiration Date"><br>
					{/if}
					<input name="planning-location" type="text" class="form-control" placeholder="Location"><br>
					<input name="planning-person" type="text" class="form-control" placeholder="Owner Email"><br>
					<input name="planning-contact" type="text" class="form-control" placeholder="Event Contact"><br>
					{if member_group=="1"}
						<label>Blurb</label>
						<textarea name="planning-blurb" id="planningblurb{entry_id}" class="form-control" rows="5" placeholder="Blurb">{planning-blurb}</textarea><br>
					{/if}
					<label>Detailed Description</label>
					<p>This description MUST be included and MUST answer the questions of WHO (target audience), WHAT (the details of your event and what will happen), and WHY (what makes this event important, how it connects to the cultural values of JourneyChurch and what creates urgency for someone to be involved).</p>
					<textarea name="planning-desc" id="planningdesc" class="form-control" rows="5"></textarea><br>
					{if member_group=="1"}
						<textarea name="planning-other" id="planningother{entry_id}" class="form-control" rows="5" placeholder="Marketing Plan">
							<strong>Design</strong><br><br>
							<strong>Video</strong><br><br>
							<strong>Web</strong><br><br>
						</textarea>
					{if:else}
						<br>
						<h5><input type="checkbox" name="approved-overseer" required="required"> Check if your overseer has approved this event.</h5>
					{/if}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
					<input type="submit" class="btn btn-primary" value="Submit">
				</div>
			</div>
		</div>
		
		{!-- CKEDITOR - it's down here so it's only looped in when cat4 isn't present --}
		<script src="/themes/ckeditor/ckeditor.js"></script>
		<script src="/themes/ckeditor/adapters/jquery.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			CKEDITOR.replace('planningblurb{entry_id}', {
				uiColor: '#ffffff'
			});
			CKEDITOR.replace('planningother{entry_id}', {
				uiColor: '#ffffff'
			})
		});
		</script>
	{/exp:channel:form}
</div>