{!-- 
	add event - need building request? design request?
--}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Communications Planning</title>

	<link href="/strap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
	<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>
	
	{exp:jquery:script_tag}
	{exp:jquery:script_tag ui='core'}
	{exp:jquery:script_tag ui='datepicker'}
	{exp:jquery:script_tag ui='slider'}
	
	<script src="/strap/dist/js/bootstrap.min.js"></script>
	<script src="/strap/dist/js/timepicker.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="/strap/assets/js/html5shiv.js"></script>
		<script src="/strap/assets/js/respond.min.js"></script>
		<![endif]-->
		
	<script type="text/javascript">
	$(function() {
		$('#datepicker').datetimepicker({
			timeFormat: "hh:mm TT"
		});
	});
	</script>
</head>

<body>
	{if member_group == "1" OR member_group == "7"}	
		<section>
			<div class="container">
				<?php 
					 $firstUrl = date('Y-m-d', strtotime(date('Y-m-d')." Sunday this week"));
				?>
				
				{exp:channel:entries channel="planning_week" show_expired="yes" show_future_entries="yes" limit="1" dynamic="yes" url_title="2014-02-09"}
					<?php
						$date = new DateTime('{title}');
						$newtitle = $date->format('F jS, Y');
					?>
					<h2>
						Week of <?php echo $newtitle ?>
						<div class="pull-right">
							{exp:channel:prev_entry channel="planning_week"}
								<a href="/planning/{prev_entry->title}">
									<i class="fa fa-chevron-left"></i>
								</a>
							{/exp:channel:prev_entry}
							
							{exp:channel:next_entry channel="planning_week"}
								<a href="/planning/{next_entry->title}">
									<i class="fa fa-chevron-right"></i>
								</a>
							{/exp:channel:next_entry}
						</div>
					</h2>
						
					{embed="planning/item" itemtitle="Worship Guide" urltitle="{url_title}" itemname="worshipguide"}
					{embed="planning/item" itemtitle="Video Announcements" urltitle="{url_title}" itemname="videoann"}
					{embed="planning/item" itemtitle="Insert" urltitle="{url_title}" itemname="insert"}
					{embed="planning/item" itemtitle="Email" urltitle="{url_title}" itemname="email"}
					{embed="planning/item" itemtitle="Social Media" urltitle="{url_title}" itemname="socialmedia"}
					{embed="planning/item" itemtitle="Blog" urltitle="{url_title}" itemname="blog"}
					{embed="planning/item" itemtitle="Experience Video" urltitle="{url_title}" itemname="experiencevideo"}
					{embed="planning/item" itemtitle="Notes for Pastor Clark" urltitle="{url_title}" itemname="pastor"}
					
				{/exp:channel:entries}
				
				<div class="clearfix"></div>
			</div>
		</section>
	{/if}
	
	<section>
		<div class="container">
			<div class="panel panel-default">
			 	<div class="panel-heading">
					<strong>What's Coming Up</strong>
					<div class="pull-right">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
							<i class="fa fa-th-list"></i> Tier Color Codes 
						</a>
						&nbsp; &nbsp;
						<a data-toggle="modal" data-target="#addEvent" href="#">
							<strong><i class="fa fa-plus"></i> Add Event</strong>
						</a>
					</div>
				</div>
						<div id="collapseOne" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="tier-key tier-1">Tier 1</div>
								<div class="tier-key tier-2">Tier 2</div>
								<div class="tier-key tier-3">Tier 3</div>
								<div class="tier-key tier-4">Tier 4</div>
								<div class="tier-key tier-5">Tier 5</div>
							</div>
						</div>
				<table class="table table-hover table-condensed table-bordered">
					<thead>
						<tr>
							<th>Title</th>
							<th>Date</th>
							<th>Contact</th>
							<th>Location</th>
							<th class="col-sm-6">Detailed Description</th>
						</tr>
					</thead>
					<tbody class="planning-items">
						{exp:channel:entries channel="Planning" orderby="date" sort="asc" show_future_entries="yes" dynamic="no"}
							<tr data-toggle="modal" data-target="#edit{entry_id}" class="{categories}{category_url_title}{/categories}">
								<td>{title}</td>
								<td>
									{!-- If start and end dates are same --}
									{if "{entry_date format='%m/%d/%y %g:%i%a'}" == "{expiration_date format='%m/%d/%y %g:%i%a'}"}
										{entry_date format="%m/%d/%y"}
										
									{!-- If dates are same but times are different --}
									{if:elseif "{entry_date format='%m/%d/%y'}" == "{expiration_date format='%m/%d/%y'}" && "{entry_date format='%g:%i%a'}" != "{expiration_date format='%g:%i%a'}"}
										{entry_date format="%m/%d/%y %g:%i%a"} - {expiration_date format='%g:%i%a'}
										
									{!-- If dates are different --}
									{if:elseif "{entry_date format='%m/%d/%y'}" != "{expiration_date format='%m/%d/%y'}" && "{entry_date format='%g:%i%a'}" == "{expiration_date format='%g:%i%a'}"}
										{entry_date format="%m/%d/%y"} -<br> {expiration_date format='%m/%d/%y'}
									
									{!-- If dates and times are different --}
									{if:elseif "{entry_date format='%m/%d/%y'}" != "{expiration_date format='%m/%d/%y'}" && "{entry_date format='%g:%i%a'}" != "{expiration_date format='%g:%i%a'}"}
										{entry_date format="%m/%d/%y %g:%i%a"} -<br> {expiration_date format='%m/%d/%y %g:%i%a'}
									{/if}
								</td>
								<td>{planning-person}</td>
								<td>{planning-location}</td>
								<td>{planning-desc}</td>
							</tr>
							
							{embed="planning/edit" editid="{entry_id}"}
						{/exp:channel:entries}
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	{embed="planning/add"}
</body>
</html>
