{!--}
2. make creative form after the process of adding event? Prefilled text post approval?
3. Send approval email to user  - use new button under approval process
4. Another btn for update to approved event
{--}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Communications Planning</title>

	<link href="/strap/dist/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
	<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>
	<link href="{path=css/_ee_channel_form_css}" type="text/css" rel="stylesheet" media="screen">
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="/_js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/_js/jquery.cookies.2.2.0.min.js"></script>
	
	<script src="/strap/dist/js/bootstrap.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="/strap/assets/js/html5shiv.js"></script>
		<script src="/strap/assets/js/respond.min.js"></script>
		<![endif]-->
	
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
	<script type="text/javascript" src="/themes/third_party/calendar/js/jquery-ui.custom.min.js"></script>
	{exp:calendar:datepicker_js}
	{exp:calendar:datepicker_css}
	
	<script src="/themes/ckeditor/ckeditor.js"></script>
	<script src="/themes/ckeditor/adapters/jquery.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function(){ 
		$('tr[data-target="#edit"]').click(function(event) {
		    event.preventDefault();
			var select = $(this);
			var id = select.attr('id');
		    var myModal = $('#edit');
		    var modalBody = myModal.find('.modal-content');
		    // load content into modal
			modalBody.html('<div class="modal-body"><span class="fa fa-spinner fa-spin"></span> <strong>Loading...</strong></div>');
		    modalBody.load('/planning/edit/'+id);
		});
	});
	</script>
</head>

<body>
	<section>
		<h2>Communications Planning</h2>
		<div id="logged_status" style="display:none"></div>
	</section>
	<section>
		<div class="">
			<div class="panel panel-default">
			 	<div class="panel-heading">
					<a data-toggle="modal" data-target="#addEvent" href="#">
						<strong><i class="fa fa-plus"></i> Add Event</strong>
					</a>
				</div>
				<table class="table table-hover table-condensed table-bordered" style="overflow:scroll">
					<thead>
						<tr>
							<th>Event Name</th>
							<th>Tier</th>
							<th>Date</th>
							<th>Location</th>
							<th>Owner</th>
							<th>Event Contact</th>
							<th class="col-sm-4">Blurb</th>
							<th class="col-sm-3">Detailed Event Info</th>
							<th class="col-sm-2">Marketing Plan</th>
						</tr>
					</thead>
					<tbody class="planning-items">
						{exp:channel:entries channel="Planning" show_future_entries="yes" orderby="planning-event_date" sort="asc" dynamic="no"}
							{if planning-approved == "Yes" OR logged_in_member_id == author_id OR member_group == "1" OR member_group == "7"}
								<tr id="{entry_id}" data-toggle="modal" {if logged_in_member_id == author_id OR member_group=="1" OR member_group=="7"}data-target="#edit"{/if} style="{if planning-approved != 'Yes'}background-color:rgb(244, 225, 209){/if}">
									<td>
										{title}
									</td>
									<td>{categories}{category_name}<br>{/categories}</td>
									<td>
										{planning-event_date format="%m/%d/%Y"}
										
										{!-- If start and end dates are same 
										{if "{entry_date format='%m/%d/%y %g:%i%a'}" == "{expiration_date format='%m/%d/%y %g:%i%a'}"}
											{entry_date format="%m/%d/%y"}
											
										-- If dates are same but times are different 
										{if:elseif "{entry_date format='%m/%d/%y'}" == "{expiration_date format='%m/%d/%y'}" && "{entry_date format='%g:%i%a'}" != "{expiration_date format='%g:%i%a'}"}
											{entry_date format="%m/%d/%y %g:%i%a"} - {expiration_date format='%g:%i%a'}
											
										-- If dates are different 
										{if:elseif "{entry_date format='%m/%d/%y'}" != "{expiration_date format='%m/%d/%y'}" && "{entry_date format='%g:%i%a'}" == "{expiration_date format='%g:%i%a'}"}
											{entry_date format="%m/%d/%y"} -<br> {expiration_date format='%m/%d/%y'}
										
										-- If dates and times are different 
										{if:elseif "{entry_date format='%m/%d/%y'}" != "{expiration_date format='%m/%d/%y'}" && "{entry_date format='%g:%i%a'}" != "{expiration_date format='%g:%i%a'}"}
											{entry_date format="%m/%d/%y %g:%i%a"} -<br> {expiration_date format='%m/%d/%y %g:%i%a'}
										{/if}
										{--}
									</td>
									<td>{planning-location}</td>
									<td>{planning-person}</td>
									<td>{planning-contact}</td>
									<td>{planning-blurb}</td>
									<td>{planning-desc}</td>
									<td>{planning-other}</td>
								</tr>
							{/if}
								
							{if logged_in_member_id == author_id OR member_group=="1" OR member_group=="7"}
								<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content"></div>
									</div>
								</div>
							{/if}
						{/exp:channel:entries}
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	{embed="planning/add"}
	{embed="_component/login"}
</body>
</html>