{exp:channel:entries channel="planning_week" limit="1" url_title="{embed:urltitle}"}
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>{embed:itemtitle}</strong>
				<div class="pull-right">
					<a data-toggle="modal" data-target="#addItem{embed:urltitle}" href="#"><i class="fa fa-edit"></i></a>
				</div>
			</div>
			<div class="container events">
				{if {embed:itemname} != "pastor"}
					{planning-{embed:itemname} show_expired="yes" show_future_entries="yes"}
						-<a data-toggle="modal" data-target="#edit{planning-{embed:itemname}:entry_id}">{planning-{embed:itemname}:title}</a><br>
					{/planning-{embed:itemname}}
				{/if}
				{planning-{embed:itemname}_notes}
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="addItem{embed:urltitle}" tabindex="-1" role="dialog" aria-hidden="true">
		{exp:channel:form channel="planning_week" return="planning/index" datepicker="no"}
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">{embed:itemtitle}</h4>
					</div>
					<div class="modal-body">
						{planning-worshipguide:title}
						{planning-worshipguide}
						     {if field_name=="planning-worshipguide"}
						            <select id="{planning-worshipguide}" name="{planning-worshipguide}[data][]" multiple="multiple">
						                  <option value="">Select...</option>
						                  {options}
						                      <option value="{option_value}"{selected}>{option_name}</option>
						                  {/options}
						             </select>
						     {/if}
						{/planning-worshipguide}
						<input name="planning-ministry" type="text" class="form-control" placeholder="Ministry Responsible"><br>
						<textarea name="planning-desc" id="planningdesc" class="form-control" rows="5" placeholder="Detailed Description"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
						<input type="submit" class="btn btn-primary" value="Submit">
					</div>
				</div>
			</div>
		{/exp:channel:form}
	</div>
{/exp:channel:entries}