/*
Font: 		Social Gothic
Style: 		Regular
URL: 		http://www.youworkforthem.com/font/T0143/social-gothic
Foundry: 	Canada Type
Foundry: 	http://www.youworkforthem.com/designer/14/canada-type
Copyright:	Copyright  2007-2011 Canada Type. All rights reserved.
Version: 	1.4
Created:	March 10, 2014
License: 	http://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'SocialGothic';
	src: url('social-gothic.eot');
	src: url('social-gothic.eot?#iefix') format('embedded-opentype'),
	     url('social-gothic.woff') format('woff'),
	     url('social-gothic.ttf') format('truetype'),
	     url('social-gothic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}
