.event {
  margin-top:30px;
  &:first-child {
    margin-top:0;
  }
  .caption {
    padding-top:0;
    padding-bottom:0;
    .inner {
      background-color:$color-lightest;
      padding:40px;
      h3 {
        margin-top:0;
      }
      .twitter-share-button {
        position:relative !important;
        top:4px;
      }
    }
  }
  .image {
    padding-top:0;
    padding-bottom:0;
    .bg-img {
      height:300px;
      width:100%;
    }
    .caption {
      background-color:$color-lightest;
      padding:5px 15px;
    }
  }
}

@include media-sm {
  .event {
    &:nth-child(-n+3) {
      margin-top:0;
    }
    .caption {
      .inner {
        height:350px;
      }
    }
    .image {
      .bg-img {
        height:350px;
      }
    }
  }
}
