.team {
  padding:75px 0;
  .social {
    background-color: $color-lightest;
    padding:10px 15px;
    font-size:20px;
    margin-top:20px;
    ul {
      li {
        display:inline-block;
        margin:0 7px;
      }
    }
  }
}

.team-member {
  padding:50px 0;
  .caption {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding:5px 0;
  }
}
