.team {
  padding:50px 0;
}

.team-member {
  padding:50px 0;
  .caption {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding:5px 0;
  }
}

.bio {
  .social {
    margin-top:30px;
    ul {
      li {
        display:inline-block;
        margin:0 3px;
      }
    }
  }
}

.bio-icon {
  padding-bottom:50px;
}

@include media-xs {
  .bio {
    padding:30px;
  }
}
