{embed="_includes/header" title="Calendar"}

<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/dialog.css" />
<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/calendar.css" />
<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/custom_1.css" />
<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/styles.css" />

<div class="container clearfix">
	<div class="grid_12 custom-calendar-full">
		<div class="custom-header clearfix">
			<h2>Calendar</h2>
			<h3 class="custom-month-year">
				<span id="custom-month" class="custom-month"></span>
				<span id="custom-year" class="custom-year"></span>
				<nav>
					<span id="custom-prev" class="custom-prev"></span>
					<span id="custom-next" class="custom-next"></span>
					<span id="custom-current" class="custom-current" title="Go to current date"></span>
				</nav>
			</h3>
		</div>

		<div id="calendar" class="fc-calendar-container"></div>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/cal_footer"}