{embed="_includes/header" title="Calendar"}

<link type="text/css" rel="stylesheet" href="/_js/acs/calendar.css" />
<link type="text/css" rel="stylesheet" href="/_js/acs/custom_1.css" />

<div class="container clearfix">
	<div class="grid_12 custom-calendar-full">
		<div class="custom-header clearfix">
			<h2>Calendar</h2>
			<div class="custom-calendar-GiantJanuary grid_4" style="display:none;float:left;">
				<img src="/_img/giantJanuary.png" style="width: 650px"><br><br>
				<div class="clear"></div>
			</div>
			<div class="custom-calendar-OneSweetSummer grid_4" style="display:none;float:left;">
				<img src="/_img/OneSweetSummer.png" style="width: 650px"><br><br>
				<div class="clear"></div>
			</div>
			<h3 class="custom-month-year">
				<span id="custom-month" class="custom-month"></span>
				<span id="custom-year" class="custom-year"></span>
				<nav>
					<span id="custom-prev" class="custom-prev"></span>
					<span id="custom-next" class="custom-next"></span>
					<span id="custom-current" class="custom-current" title="Go to current date"></span>
				</nav>
			</h3>
			<div class="custom-calendar-GiantJanuary fancy-body grid_6" style="display:none;float:left;">
				<p class="giantJanuary-large">2013 was a Blast! Together we have accomplished great things and seen lives transformed. With a fresh New Year, we
are revving up for a HUGE month to kick-off 2014. We offer many opportunities for everyone to connect and want everyone to find a place here in the JourneyChurch family. Start the New Year off right and check out our calendar full of January events.</p>
			</div>
			<div class="custom-calendar-OneSweetSummer fancy-body grid_6" style="display:none;float:left;">
				<p class="OneSweetSummer-large">This Summer is going to be SWEET! JourneyChurch is turning up the heat on all ministries through August. Grab your popsicles, sno cones, iced tea, and come enjoy these sweet summer activities with your entire family.</p>
				<br>
				<button style="margin:0"><a href="#OneSweetSummer_Features">Check out this summer's featured events</a></button>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="clear"></div>
</div>
<div class="fc-calendar-fullscreen">
	<div class="container clearfix">
		<div class="grid_12">
			<div id="calendar" class="fc-calendar-container"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="container clearfix">
	<div class="custom-calendar-GiantJanuary" style="display:none">
		<div class="grid_12 fancy-body">
			<h2>Your Opportunity<br>to Connect is HUGE!</h2>
			<p class="giantJanuary-large">January 2014 is bursting at the seams with opportunities for you to connect with God and others at JourneyChurch.tv. Find your opportunity below and let us help you get connected and start your year off right!</p>
			<br><br>
		</div>
		<div class="clear"></div>
		<div class="grid_6">
			<h3><a href="/calendar/event/356b4b73-6e7c-41d9-a95a-a29e00ccd83b">Awakening - January 8th</a></h3>
			<p>Begin the New Year by connecting with God. Awakening is a monthly event where we gather as a church family for an extended evening of worship, community and prayer. This month we have created a shared opportunity to worship God by fasting for one week.</p>
			<br>
			<h3><a href="/calendar/event/c206b5fc-9154-4e1a-9992-a29a011f572b">Life Group Kick-Off - January 12th</a></h3>
			<p>Are you looking for a way to connect in our church family this year? <a href="/groups">Join a Life Group!</a> Meet leaders at our 10 minute parties on Sunday, January 12th in The Studio after each experience to get plugged in.<br><br></p>
			<br>
			<h3><a href="/calendar/event/1840c604-3482-4b29-ac83-a29e00ce17dc">Launch - January 12th</a></h3>
			<p><a href="/connect/launch-u">Launch U</a> exists to invest in our young generation of students, to help grow them as followers of Christ and leaders for His Kingdom. Launch U has age specific leadership groups for 4th - 5th grade, jr. high, and high school.<br><br><br></p>
			<br>
			<h3><a href="/calendar/event/c6912665-a726-41ca-91ab-a29e00cf67c0">Lifestream - January 14th</a></h3>
			<p>Join thousands of college students each week at Lifestream for an evening of community, worship, and Biblical teaching. With a huge lobby full of friends, food and drinks, <a href="/connet/college-journey">Lifestream</a> is a great break in the week for college students to connect with God.</p>
		</div>
		<div class="grid_6">
			<h3><a href="/calendar/event/d293d6ce-9e17-48a0-8128-a29e00d0865c">Student Journey - January 15th</a></h3>
			<p>Come experience life with other jr. high and high school students and discover what it means to follow Jesus. <a href="/connect/students">Student Journey</a> exists to see our campuses transformed one life at a time. No matter where you are from or what you are comfortable with, all students will find a place at Student Journey.</p>
			<br>
			<h3><a href="/calendar/event/59a47abf-28af-4ece-969c-a26d00f8fe3d">Starting Point - January 19th</a></h3>
			<p>Come to Starting Point to discuss the vision and purpose of JourneyChurch and what it means to be a member of the house! Whether you have been attending weeks, months or years, Starting Point is the way learn about the heart of JourneyChurch!</p>
			<br>
			<h3><a href="/calendar/event/cef029e0-a2e0-43f1-941b-a27c00d1afd5">56 Ministry - January 22nd</a></h3>
			<p>On Wednesday, January 22nd, at 7:00pm we kick off a new worship specifically for 5th and 6th graders. During each experience, your student will build relationships with other students and leaders, engage in worship with a live band, and receive practical teaching from God’s Word! Doors will open every Wednesday at 6:30pm!</p>
			<br>
			<h3><a href="/calendar/event/girlfriends">Girlfriends - January 27th</a></h3>
			<p>Girls preteen through 113 are invited to join us for an incredible night of fun and fellowship, Monday, January 27th, 2014. The Pre-Party begins at 6:00pm with snacks, activities, photo ops, and more. Worship will begin at 7:00pm with guest speaker Julie Richard. <a href="/calendar/event/girlfriends">Purchase your tickets online here.</a></p>
		</div>
	</div>
	<div id="OneSweetSummer_Features" class="custom-calendar-OneSweetSummer" style="display:none;padding-top:20px">
		<div class="grid_12 OneSweetSummer-body">
			<h2>This Summer's<br>Featured Events</h2>
			<br><br>
		</div>
		<div class="grid_6">
			<h3><a href="/calendar/event/4fabe8a2-4cc7-4c63-80dd-a32500fbea49">Sweet Sundays In The Park <br><small>June 1 - July 27</small></a></h3>
			<p>Everyone is invited to enjoy these sweet summer nights at the JourneyChurch park. Join us for community, music, outdoor fun, and a dessert-of-the-week after the 6:00 PM experience.</p>
			<br><br>
			<h3><a href="/calendar/event/d7cd15ad-322a-4755-8ac4-a2a701172aee">VBX - The Wild West Show<br><small>June 3 - 6</small></a></h3>
			<p>The Wild West Show is blazing through for kids 4 years old through completed 4th grade. Register today for only $15 to include a t-shirt, live dramas, biblical teaching, worship, crafts, adventure theatre and outdoor recreation. Ladies and Gents don’t forget June 6th is Family Rodeo night featuring grub, inflatables, square dancing, a mechanical bull, and Oklahoma’s longest slip and slide!</p>
			<br>
			<h3><a href="/calendar/event/1f6eb0b2-6ff1-4dc5-b9b3-a2a70117a35e">Father’s Day<br><small>June 15</small></a></h3>
			<p>Let’s celebrate dads on Father’s Day by upgrading to Man Day. We pay tribute to your shaving, wisdom, cutting wood, tying ties, building fires and coaching. You provide all the daily encouragement and laughter we need.</p>
			<br>
			<h3><a href="/calendar/event/f6d856af-02b8-4186-a18d-a32501638046">JourneyKIDS Create Days<br><small>June 26 & July 10</small></a></h3>
			<p>Kids Create Day’s purpose is to encourage kids to use the creativity God has given them. There will be options for art, music, etc. Kids Create Day is from 9:00 AM to 4:00 PM. Cost is $10. Kindergarten through completed 6th grade are welcome.</p>
		</div>
		<div class="grid_6">
			<h3><a href="/calendar/event/dc78db1f-1633-4e5f-8f8d-a30900d11c0d">56 Summer Camp<br><small>July 23 - 26</small></a></h3>
			<p>Do not let your kids miss out on an experience of a lifetime! Sign up for 56 Summer Camp at Camp Wow to experience a time of fun, community and worship! Early bird registration is $199.</p>
			<br>
			<h3><a href="/calendar/event/cac64676-fb0c-414a-a94b-a2fa01323c08">SJ Summer Camp<br><small>July 23 - 27</small></a></h3>
			<p>You don’t want to miss this opportunity for fun, fellowship and worship! Sign up for Student Journey Camp at Camp Wow June 23rd-27th! Early bird registration is $199.</p>
			<br><br>
			<h3><a href="/calendar/event/051211d7-3548-40c7-9934-a3250164b90d">My Church Is Kind Of A Big Deal<br><small>August 17 & 24</small></a></h3>
			<p>My Church is Kind of a Big Deal is our third annual celebration of what God is doing through you and JourneyChurch. We believe that the local church is the hope of the world and this is a perfect opportunity to invite friends and family to experience our God who can do anything! MCKBD will include a church-wide study and many have-a-blast moments!</p>
			<br>
		</div>
	</div>
	<div class="clear"></div>
</div>

<script type="text/javascript" src="/_js/acs/jquery.calendario.js"></script>
<script type="text/javascript">	
	$(function() {
		var cal = $( '#calendar' ).calendario( {
			onDayClick : function( $el, $contentEl, dateProperties ) {
				for( var key in dateProperties ) {
					console.log( key + ' = ' + dateProperties[ key ] );
				}
			},
			displayWeekAbbr : true,
			startIn : 0			
		});
		
		$month = $( '#custom-month' ).html( cal.getMonthName() );
		$year = $( '#custom-year' ).html( cal.getYear() );
		
		// Set the title window to current month name
		window.parent.document.title = cal.getMonthName() + " - JourneyChurch.tv";

		UpdateCalendar();

		$( '#custom-next' ).on( 'click', function() {
			cal.gotoNextMonth( updateMonthYear );
			checkSpecialMonths();
		});
		$( '#custom-prev' ).on( 'click', function() {
			cal.gotoPreviousMonth( updateMonthYear );
			checkSpecialMonths();
		});
		$( '#custom-current' ).on( 'click', function() {
			cal.gotoNow( updateMonthYear );
		});
		
		function checkSpecialMonths() {
			if (cal.getMonthName() == "January" && cal.getYear() == "2014") {
	   			$('.custom-calendar-full h2').hide();
				$('.custom-month').hide();
				$('.custom-year').hide();
				$('.custom-calendar-GiantJanuary').show();
				$('head').append('<link rel="stylesheet" type="text/css" href="/_css/giantJanuary.css">');
			} else if (cal.getMonthName() == "June" && cal.getYear() == "2014" || cal.getMonthName() == "July" && cal.getYear() == "2014" || cal.getMonthName() == "August" && cal.getYear() == "2014") {
	   			$('.custom-calendar-full h2').hide();
				$('.custom-year').hide();
				$('.custom-calendar-OneSweetSummer').show();
				$('head').append('<link rel="stylesheet" type="text/css" href="/_css/onesweetsummer.css">');
			} else {
	   			$('.custom-calendar-full h2').show();
				$('.custom-month').show();
				$('.custom-year').show();
				$('.custom-calendar-GiantJanuary').hide();
				$('.custom-calendar-OneSweetSummer').hide();
				$('link[rel=stylesheet][href~="/_css/giantJanuary.css"]').remove();
				$('link[rel=stylesheet][href~="/_css/onesweetsummer.css"]').remove();
			}
			
			if (cal.getMonthName() == "June" && cal.getYear() == "2014") {
				$(".custom-month").css("color", "#f05032");
				$(".fc-day_holder").css("backgroundColor", "#f05032");
				$("span.fc-date").css("color", "#f05032");
				$(".OneSweetSummer-body h2").css("color", "#f05032");
			} else if (cal.getMonthName() == "July" && cal.getYear() == "2014") {
				$(".custom-month").css("color", "#f48024");
				$(".fc-day_holder").css("backgroundColor", "#f48024");
				$("span.fc-date").css("color", "#f48024");
				$(".OneSweetSummer-body h2").css("color", "#f48024");
			} else if (cal.getMonthName() == "August" && cal.getYear() == "2014") {
				$(".custom-month").css("color", "#eeb111");
				$(".fc-day_holder").css("backgroundColor", "#eeb111");
				$("span.fc-date").css("color", "#eeb111");
				$(".OneSweetSummer-body h2").css("color", "#eeb111");
			} else {
				$(".custom-month").css("color", "rgba(0, 0, 0, 0.6)")
			}
		}

		function updateMonthYear() {				
			$month.html( cal.getMonthName() );
			$year.html( cal.getYear() );
			// Update the window title to current month name
			window.parent.document.title = cal.getMonthName() + " - JourneyChurch.tv";
			
			UpdateCalendar();
		}
		
		function UpdateCalendar() {
			$.getJSON("/_scripts/acs/get_events.php", {month: cal.getMonthName(), year: cal.getYear()}, function(data) {			
				cal.setData(data);
				
			});
		}
	});
</script>

{embed="_includes/footer"}