{embed="_includes/header" title="Calendar"}

<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/dialog.css" />
<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/calendar.css" />
<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/custom_1.css" />
<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/styles.css" />

<div class="container clearfix">
	<div class="grid_12 custom-calendar-full">
		<div class="custom-header clearfix">
			<h2>Calendar</h2>
			<div class="custom-calendar-GiantJanuary grid_4" style="display:none;float:left;">
				<img src="/_img/giantJanuary.png" style="width: 650px"><br><br>
				<div class="clear"></div>
			</div>
			<h3 class="custom-month-year">
				<span id="custom-month" class="custom-month"></span>
				<span id="custom-year" class="custom-year"></span>
				<nav>
					<span id="custom-prev" class="custom-prev"></span>
					<span id="custom-next" class="custom-next"></span>
					<span id="custom-current" class="custom-current" title="Go to current date"></span>
				</nav>
			</h3>
			<div class="custom-calendar-GiantJanuary fancy-body grid_6" style="display:none;float:left;">
				<p class="giantJanuary-large">2013 was a BLAST! Together we have accomplished great things and seen lives transformed. With a fresh New Year in 2014, we
are getting ready for a HUGE month. We hope that everyone can find a place here in the JourneyChurch family. We offer many opportunities for everyone to connect. Start the New Year off right and check out our calendar full of January events.</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="clear"></div>
</div>
<div class="fc-calendar-fullscreen">
	<div class="container clearfix">
		<div class="grid_12">
			<div id="calendar" class="fc-calendar-container"></div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="container clearfix">
	<div class="container clearfix">
		<div class="custom-calendar-GiantJanuary" style="display:none">
			<div class="grid_12 fancy-body">
				<h2>Your Opportunity<br>to Connect is HUGE!</h2>
				<p class="giantJanuary-large">January 2014 is bursting at the seams with opportunities for you to connect with God and others at JOURNEYCHURCH.TV. Find your opportunity below and let us help you get connected and start your year off right!</p>
				<br><br>
			</div>
			<div class="clear"></div>
			<div class="grid_6">
				<h3><a href="/calendar/event/356b4b73-6e7c-41d9-a95a-a29e00ccd83b">Awakening - January 8th</a></h3>
				<p>Begin the New Year by connecting with God. Awakening is a monthly event where we gather as a church family for an extended evening of worship, community and prayer. This month we have created a shared opportunity to worship God by fasting for one week.</p>
				<br>
				<h3><a href="/calendar/event/c206b5fc-9154-4e1a-9992-a29a011f572b">Life Group Kick-Off - January 12th</a></h3>
				<p>Are you looking for a way to connect in our church family this year? <a href="/groups">Join a Life Group!</a> Meet leaders at our 10 minute parties on Sunday, January 12th in The Studio after each experience to get plugged in.<br><br></p>
				<br>
				<h3><a href="/calendar/event/1840c604-3482-4b29-ac83-a29e00ce17dc">Launch - January 12th</a></h3>
				<p><a href="/connect/launch-u">Launch U</a> exists to invest in our young generation of students, to help grow them as followers of Christ and leaders for His Kingdom. Launch U has age specific leadership groups for 4th - 5th grade, jr. high, and high school.<br><br><br></p>
				<br>
				<h3><a href="/calendar/event/c6912665-a726-41ca-91ab-a29e00cf67c0">Lifestream - January 14th</a></h3>
				<p>Join thousands of college students each week at Lifestream for an evening of community, worship, and Biblical teaching. With a huge lobby full of friends, food and drinks, <a href="/connet/college-journey">Lifestream</a> is a great break in the week for college students to connect with God.</p>
			</div>
			<div class="grid_6">
				<h3><a href="/calendar/event/d293d6ce-9e17-48a0-8128-a29e00d0865c">Student Journey - January 15th</a></h3>
				<p>Come experience life with other jr. high and high school students and discover what it means to follow Jesus. <a href="/connect/students">Student Journey</a> exists to see our campuses transformed one life at a time. No matter where you are from or what you are comfortable with, all students will find a place at Student Journey.</p>
				<br>
				<h3><a href="/calendar/event/59a47abf-28af-4ece-969c-a26d00f8fe3d">Starting Point - January 19th</a></h3>
				<p>Come to Starting Point to discuss the vision and purpose of JourneyChurch and what it means to be a member of the house! Whether you have been attending weeks, months or years, Starting Point is the way learn about the heart of JourneyChurch!</p>
				<br>
				<h3><a href="/calendar/event/cef029e0-a2e0-43f1-941b-a27c00d1afd5">56 Ministry - January 22nd</a></h3>
				<p>On Wednesday, January 22nd, at 7:00 PM we kick off a new worship specifically for 5th and 6th graders. During each experience, your student will build relationships with other students and leaders, engage in worship with a live band, and receive practical teaching from God’s Word! Doors will open every Wednesday at 6:30pm!</p>
				<br>
				<h3><a href="/calendar/event/girlfriends">Girlfriends - January 27th</a></h3>
				<p>Girls preteen through 113 are invited to join us for an incredible night of fun and fellowship, Monday, January 27th, 2014. The Pre-Party begins at 6:00pm with snacks, activities, photo ops, and more. Worship will begin at 7:00 PM with guest speaker Julie Richard. <a href="/calendar/event/girlfriends">Purchase your tickets online here.</a></p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

{embed="_includes/cal_footer"}