{embed="_includes/header" title="{if segment_2 == ''}Meet the Team{/if}{if segment_2 != ''}{exp:channel:entries channel="team" dynamic="on" limit="1"}{title}{/exp:channel:entries}{/if}" bar="yes"}

<div class="title-bar">
	<div class="container">
		<div class="grid_12">
			<h2>Meet the Team</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">		
	<h2 class="grid_12 pastorclark">Clark Mitchell <span>Founding Senior Pastor</span></h2>
	<div class="team-entry" style="padding-top:25px">
		<div class="grid_4">
			<img src="/_img/PastorClark.jpg">
		</div>
		<div class="grid_8">
			<p style="font-size:14px;">At age 15, Clark Mitchell knew God was shaping his desire to help lead people into their God-given potential and dreams. It was that same dream and passion that motivated him to begin JourneyChurch with his wife and 34 others in late 2001. As the church continued to see unprecedented favor in leading the next generation, Pastor Clark continued to look for innovative ways to transform cities one life at a time. Ten years after founding JourneyChurch, Clark and Robin began Loveworks Leadership, Inc. (LLI) Again, the initiative was met with unprecedented enthusiasm as LLI created environments for at-risk middle school students to receive academic tutoring, life skills training, and leadership development to give them hope and to shape their character to become the leaders they were created to be.</p><br>
			<a href="/pastorclark">Learn more about Pastor Clark</a>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear marg-b-40">&nbsp;</div>
	
	<h2 class="grid_12">Demographic Pastors</h2>
	<div class="grid_12">
		<p class="marg-b-40">We have pastors available that fit your season of life. <a href="https://journeydreamteam.wufoo.com/forms/how-can-we-help/" target="_blank"><strong>Contact us if you have any questions.</strong></a></p>
	</div>
	
	<div class="grid_12">
		{exp:channel:categories channel="Team" style="linear"}
		    <h3 style="border-bottom:1px solid #222;font-size:18px">{category_name}</h3>
			{exp:channel:entries channel="team" sort="asc" orderby="team-sort" category="{category_id}"}
				{team-shrt-bio}
			{/exp:channel:entries}
			<div class="clear marg-b-40">&nbsp;</div>
		{/exp:channel:categories}
	</div>
</div>

{embed="_includes/footer"}