<html lang="en">
  <head>
    <title>2017 Mid-annual Report</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta property="og:image" content="http://journeychurch.tv/_img/auditions.jpg"/>-->
    <meta property="og:title" content="2017 Mid-annual Report"/>
    <meta property="og:description" content="We've had a great year so far full of exciting moments and fun memories! View our recap of 2017 so far at journeychurch.tv/annualreport." />
    <meta property="og:url" content="http://journeychurch.tv/annualreport"/>
    <meta property="og:site_name" content="JourneyChurch.tv"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/_css/annualreport.css">
  </head>

  <body class="text-center">
    <section id="intro">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 no-gutter">
            <div class="dark-green height-taller">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad-narrow center-block">
                    <h3>
                      We've had a great year full of exciting moments and fun memories! It's tough to put a number
                      on the amount of good times had at Journey Church this year, but scroll down to see just a few
                      things worth celebrating!
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 no-gutter">
            <div class="light-blue height-taller">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <img src="/_img/annualreport_2017/logo.png" class="img-responsive">
                    <br>
                    <h3 class="text-uppercase font-light">Journeychurch.tv</h3>
                    <h3 class="font-light">2017 Mid-annual Report</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="reports">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 no-gutter">
            <div class="blue height-short">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h2>Commitments</h2>
                    <h1>580</h1>
                  </div>
                </div>
              </div>
            </div>

            <div class="light-green height-tall">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h2>First Time Guest</h2>
                    <h1>292</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 no-gutter">
            <div class="green height-tall">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h2>Baptisms</h2>
                    <h1>44</h1>
                  </div>
                </div>
              </div>
            </div>

            <div class="dark-blue height-short">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h2>Next Steps</h2>
                    <h1>39</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 no-gutter">
            <div class="light-blue height-medium">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h3>Global Missions</h3>
                    <h2>39 Haiti</h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="green height-medium">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h2>8 Partnering</h2>
                    <h2>Organizations</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 no-gutter">
            <div class="dark-green height-medium">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h3>Hours Served by Dream Team</h3>
                    <h2>23,750</h2>
                  </div>
                </div>
              </div>
            </div>

            <div class="dark-blue height-medium">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h3>God can do anything</h3>
                    <h3>e:320</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 no-gutter">
            <div class="light-green height-taller">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad center-block">
                    <h4>Events Attendance</h4>
                    <br>

                    <h3>Girlfriends</h3>
                    <h3>1048</h3>
                    <br>

                    <h3>Good Friday</h3>
                    <h3>3500</h3>
                    <br>

                    <h3>Easter</h3>
                    <h3>8599</h3>
                    <br>

                    <h3>Mothers Day</h3>
                    <h3>2433</h3>
                    <br>

                    <h3>Fathers Day</h3>
                    <h3>1794</h3>
                    <br>

                    <h3>VBX</h3>
                    <h3>915</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 no-gutter">
            <div class="blue height-tall">
              <div class="vertical-align-wrapper">
                <div class="vertical-align">
                  <div class="pad-narrow center-block">
                    <h1>Total Sunday Attendance</h1>
                    <h1>53,258</h1>

                    <br>

                    <h3>Average Sunday Attendance</h3>
                    <h2>2,048</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
