{embed="_includes/header" title="Freedom Ministry" bar="yes"}

<div class="container" style="margin-top: 20px">
	<div class="grid_5">
		<img src="/_img/freedom.png">
	</div>
	<div class="grid_7">
		<br><br>
		<h3>Freedom Ministry is a process of fulfilling Jesus’ mission as described in Luke 4:18-19 <small>(NIV)</small></h3>
		<br>
		<p><sup>18</sup>The Spirit of the Lord is on me, because he has anointed me to proclaim good news to the poor. He has sent me to proclaim freedom for the prisoners and recovery of sight for the blind, to set the oppressed free, <sup>19</sup>to proclaim the year of the Lord’s favor.</p>
	</div>
	<div class="clear"></div>
</div>

<div class="container clearfix">
	<div class="grid_12 fancy-page">
		<p style="padding:60px 0 50px">Freedom Ministry is designed to help you become who you were created to be. In Christ, we have the ability to enjoy a high level of spiritual, emotional, relational, and physical freedom. Obstacles such as fear, lack of understanding, and unforgiveness can lead to uncontrolled emotions, compulsive thoughts, destructive behaviors, or broken relationships. All of these hinder our joy and spiritual health. Freedom Ministry is a Kingdom-focused ministry that teaches and assists us in applying the Word of God and engaging the power of the Holy Spirit to overcome these obstacles so that we can experience the abundant life that Jesus provided for us.</p>
		<br>
		<h2 style="width:100%;border-bottom:1px solid #006f7c">Get Connected</h2>
		<br>
		<div class="grid_6 alpha">
			<img src="/_img/kairos.png" class="kairos">
			<br><br>
			<p>Kairos is a Greek word that means “the appointed time in the purpose of God” or differently stated “the time when God acts.” Kairos is an event where you are given an opportunity to have an encounter with God. Kairos will consist of times of worship, teaching, reflection, and personal ministry. Our next Kairos event is <strong>Saturday, October 17th at 9:00 AM</strong>. Childcare will be provided.</p>
			<br>
			<a href="https://journeydreamteam.wufoo.com/forms/kairos-registration/" target="_blank"><button>Register for Kairos</button></a>
		</div>
		<div class="grid_6 omega">
			<img src="/_img/equip.png" class="equip_classes">
			<br><br>
			<p>Each EQUIP class is designed to be a catalyst for spiritual growth as well as practical instruction in your daily life. We hope to help you answer the question, "How does my faith affect my daily life?" There are multiple classes offered during the week to fit your schedule.</p>
			<br><br>
			<a href="/classes"><button>Find EQUIP Class</button></a>
		</div>
		<div class="clear"></div>
	</div>
</div>

<script>
$(function() {
	 $("#accordion").accordion({ header: "h3", active: false, collapsible: true, heightStyle: "content" });
	 $("#accordion2").accordion({ header: "h3", active: false, collapsible: true, heightStyle: "content" });
});
</script>
{embed="_includes/footer"}
