{if embed:bar == ''}
	</div>
{/if}

</div>{!-- End wrapper --}
<div class="clear"></div>
<div id="footer">
	<div class="container clearfix footer-content">
		<div class="grid_12">
			<a href="https://journeydreamteam.wufoo.com/forms/how-can-we-help/" target="_blank"><button style="margin-left:0">How can we help?</button></a>
			<div id="mobile-only" class="pull-right footer-social" style="padding-top:10px;margin-right:10px">
				<a href="http://facebook.com/journeychurchtv" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="http://twitter.com/journeychurchtv" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="http://instagram.com/journeychurchtv" target="_blank"><i class="fa fa-instagram"></i></a>
				<a href="http://youtube.com/journeychurchmedia" target="_blank"><i class="fa fa-youtube"></i></a>
			</div>
			<ul id="full-only" class="pull-right">
				<li><a href="/about">About</a></li>
				<li><a href="/blogs">Blogs</a></li>
				<li><a href="/locations">Locations</a></li>
				<li><a href="/connect">Get Connected</a></li>
				<li><a href="/media">Media</a></li>
				<li><a href="/calendar">Calendar</a></li>
				<li><a href="/jobs">Jobs</a></li>
				<li><a href="https://secure.accessacs.com/access/memberlogin.aspx?sn=106649" target="_blank">myJourney</a></li>
				<li><a href="/give">Give</a></li>
			</ul>
		</div>
		
		<div class="clear"></div>
		
		{!-- Rights for Desktop --}
		<div id="full-only" class="rights">
			<div class="grid_9">
				<p>&copy; <?php echo date("Y"); ?> JourneyChurch.tv. All Rights Reserved<br>
				PO Box 722764 | Norman, OK 73070 | 405.217.8700 | <a href="mailto:connect@journeychurch.tv">connect@journeychurch.tv</a></p>
			</div>
			<div class="grid_3 footer-social">
				<a href="http://facebook.com/journeychurchtv" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="http://twitter.com/journeychurchtv" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="http://instagram.com/journeychurchtv" target="_blank"><i class="fa fa-instagram"></i></a>
				<a href="http://youtube.com/journeychurchmedia" target="_blank"><i class="fa fa-youtube"></i></a>
			</div>
		</div>
		
		{!-- Rights for Mobile --}
		<div id="mobile-only" class="rights">
			<div class="grid_12">
				<p>&copy; <?php echo date("Y"); ?> JourneyChurch.tv. All Rights Reserved<br>
				PO Box 722764 | Norman, OK 73070<br>405.217.8700<br><a href="mailto:connect@journeychurch.tv">connect@journeychurch.tv</a></p>
				<div class="clear"></div>
			</div>
		<div class="clear"></div>
	</div>
</div>