<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="apple-touch-icon-precomposed" href="/_img/iOS.jpg" />
	<meta name="apple-mobile-web-app-title" content="JourneyChurch" />
	<meta name="apple-itunes-app" content="app-id=978127236">
	<meta name="google-site-verification" content="S1vJM4d9ZXFbAYLs-Q2QSc0N2Q-TUm9GsvAUaQyIm6A" />

	<title>{if embed:title}{embed:title} - {/if}JourneyChurch.tv {if embed:title2}{embed:title2}{/if}</title>

	<meta name="description" content="JourneyChurch is a house committed to transforming our cities ... one life at a time.">
	<meta name="author" content="JourneyChurch.tv">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	{!-- Fonts --}
	<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="//use.typekit.net/fhp5zym.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	{!-- Theme it up --}
	<link rel="stylesheet" href="/_css/base.css">
	<link rel="stylesheet" href="/_css/grid.css">

	<link rel='stylesheet' media='screen and (min-width: 768px)' href='/_css/full.css' />
	<link rel='stylesheet' media='screen and (max-width: 767px)' href='/_css/mobile.css' />
	<!--[if lt IE 9]><link href='/_css/full.css' rel='stylesheet'/><![endif]-->

	<link rel="stylesheet" href="/_css/style.css">

	{!-- Cool Font Icons --}
	<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>

	{!-- jQuery (Cloudflare) --}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>

	<script src="/_js/journeyeffects.js"></script>

	{!-- Mobile Nav --}
	<link rel="stylesheet" href="/_css/sidr.css">

	{!-- Charbeat --}
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

	{!-- Pingdom Real Stats --}
	<script>
	var _prum = [['id', '52cda967abe53db449000000'],
	             ['mark', 'firstbyte', (new Date()).getTime()]];
	(function() {
	    var s = document.getElementsByTagName('script')[0]
	      , p = document.createElement('script');
	    p.async = 'async';
	    p.src = '//rum-static.pingdom.net/prum.min.js';
	    s.parentNode.insertBefore(p, s);
	})();
	</script>

	{!-- Mobile JS --}
	<script src="/_js/toucheffects.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
		  $('#opensidr').sidr();
		});
	</script>

	{if embed:tags}
		{embed:tags}
	{/if}
