<html lang="en">
  <head>
    <title>Journey Church App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/_css/app.css">
  </head>

  <body>
    <nav class="navbar navbar-default main-nav">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">
            <li {if segment_2 == "about"}class="active"{/if}><a href="/app/about">About</a></li>
            <li {if segment_2 == "download"}class="active"{/if}><a href="/app/download">Download</a></li>
            <li {if segment_2 == ""}class="active"{/if}><a href="/app">Guide</a></li>
          </ul>
        </div>
      </div>
    </nav>

    {if segment_2 == "about"}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h2 class="text-uppercase blue">About</h2><br>
            <p>Thanks for your interest in the all-new Journey Church app! It’s been designed with you in mind in order to give you as many resources as possible to help your daily walk with Jesus and further connect you with our church. If you’re looking for a place to belong, you’ve found it.</p><br>
            <p>We’ve highlighted a few of our favorite features for you to skim through and learn more about. From watching experiences to taking notes, and from weekly devotionals to online giving, we’ve got you covered.</p><br>
            <p>If you have questions or suggestions, please let us know by e-mailing <a href="support@journeychurch.tv">support@journeychurch.tv</a>.</p>
          </div>
        </div>
      </div>
    </section>
    {if:elseif segment_2 == "download"}
    <section id="download">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h2 class="text-uppercase blue">Download</h2><br>
            <p></p>
            <div class="promotionals">
              <a href="https://itunes.apple.com/us/app/journey-church-norman/id1227537655?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;margin-left:10px;"></a>
              <a href='https://play.google.com/store/apps/details?id=com.customchurchapps.journeychurchnorman&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="display:inline-block;overflow:hidden;no-repeat;width:155px;background-size:contain;"/></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    {if:else}
    <section id="guide">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 col-lg-3 col-lg-offset-0 nav-wrapper">
            <nav class="feature-nav">
              <button class="btn btn-default btn-block text-uppercase" data-toggle="collapse" data-target="#nav-collapse">Select Feature <i class="fa fa-angle-down" aria-hidden="true"></i></button>
              <div class="collapse" id="nav-collapse">
                <ul class="list-unstyled" role="tablist">
                {exp:channel:entries channel="app_feature" orderby="app_feature_order" sort="asc"}
                  <li><a href="#{ url_title }" aria-controls="{ url_title }" data-toggle="tab" role="tab" class="text-uppercase">{ title }</a></li>
                {/exp:channel:entries}
                </ul>
              </div>
            </nav>
          </div>

          <div class="hidden-lg">
            <div class="clearfix"></div>
            <br>
          </div>

          <div class="col-lg-9">
            <div class="tab-content">
              {exp:channel:entries channel="app_feature" orderby="app_feature_order" sort="asc"}
              <div id="{ url_title }" class="tab-pane fade" role="tabpanel">
                <div class="col-md-5 col-md-push-7 col-lg-5 col-lg-push-6 col-lg-offset-1">
                  <div class="iphone-wrapper">
                    <div class="carousel slide">
                      <div class="carousel-inner">
                        {parents field="app_feature" orderby="app_feature_step_order" sort="asc"}
                          <div class="item">
                            <img src="{ parents:app_feature_step_image }">
                          </div>
                        {/parents}
                        <img src="/_img/app/iphone-outline.png">
                      </div>
                    </div>
                  </div>

                  <div class="controls">
                    <div class="col-xs-2 col-xs-offset-3 text-center move-left"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                    <div class="col-xs-2 text-center play-pause"><i class="fa fa-pause" aria-hidden="true"></i></div>
                    <div class="col-xs-2 text-center move-right"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    <div class="clearfix"></div>
                  </div>
                </div>

                <div class="col-md-7 col-md-pull-5 col-lg-6 col-lg-pull-6">
                  <h3 class="text-uppercase">{ title }</h3>
                  <br>
                  <p>{ app_feature_description }</p>
                  <br>
                  <ol id="ol-{ count }">
                  {parents field="app_feature" orderby="app_feature_step_order" sort="asc" dynamic="no"}
                    {if parents:no_results}
                      <style>
                        #ol-{ count } {
                          display:none;
                        }
                      </style>
                    {/if}

                    <li>
                      <strong>{ parents:title }</strong> <i class="fa fa-check-circle pull-right blue" aria-hidden="true" style="font-size:18px;"></i><br>
                      { parents:app_feature_step_description }
                    </li>
                    {if '{parents:count}' != '{parents:total_results}'}<br>{/if}
                  {/parents}
                  </ol>
                  <br><br>
                </div>

                <div class="clearfix"></div>
              </div>
              {/exp:channel:entries}

              <div class="clearfix"></div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </section>
    {/if}

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <!--<a href="mailto:creative@journeychurch.tv" class="btn btn-block btn-default text-uppercase">Need a Hand?</a>-->
            <div class="contact">
              <p>Have any questions or suggestions?<br>Email us at <a href="mailto:support@journeychurch.tv">support@journeychurch.tv</a> and we will be in touch!</p>
            </div>
          </div>

          <div class="col-md-5">
            <div class="promotionals promotionals-footer">
              <a href="https://itunes.apple.com/us/app/journey-church-norman/id1227537655?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;margin-left:10px;"></a>
              <a href='https://play.google.com/store/apps/details?id=com.customchurchapps.journeychurchnorman&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="display:inline-block;overflow:hidden;no-repeat;width:155px;background-size:contain;"/></a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/2bb08ad6ac.js"></script>
    <script src="/_js/app.js"></script>
  </body>
</html>
