{embed="_includes/header" title="Household" bar="true"}
<script type="text/javascript">
$(function() {
	$(".mobilead").click(function(){
		$(".webapp").slideUp('fast', function() {
			$(".mobileapp").slideDown('fast');
		});
	});
	$(".webad").click(function(){
		$(".mobileapp").slideUp('fast', function() {
			$(".webapp").slideDown('fast');
		});
	});
});
</script>
<div id="household">
	<div class="webapp">
		<div class="title-bar household-title">
			<div class="container">
				<div class="grid_12">
					<h2>How to use our <span>house<span>hold</span></span> website</h2>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="household-body">
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>visit</h2>
						<p>Visit us online at <a href="http://household.journeychurch.tv" target="_blank">household.JourneyChurch.tv</a> and select the link "New Here? Sign Up!" Click on "Howdy (your name)" in the top right hand corner of the page.</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>edit</h2>
						<p>Click "Edit Profile" under your avatar to update your information and add a picture. Click "Save." Take time to view and edit the other categories under "Personal Information." Click "Menu" tab to close your Profile Settings.</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>personalize</h2>
						<p>Click the "Me" tab to tailor your personal feed according to interest. Here you can "Add Apps" to provide spiritual growth and inspiration in the column on the left.</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>connect</h2>
						<p>Click the "Groups" tab at top of page to join your Life Group OR create a new group for people who share similar interested by clicking the "Groups" button at the top left hand corner of the page.</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>befriend</h2>
						<p>Click the "People" button next to the "Groups" button at the top left hand corner of the page to add friends.</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>community</h2>
						<p>Have fun connecting with others in our house through prayer, serving, and participating in our mobile community.</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>help?</h2>
						<p>Need some help? Connect with the Nerd Herd for expert assistance any time by emailing <a href="mailto:household@journeychurch.tv" target="_blank">household@JourneyChurch.tv</a>.</p>
					</div>
				</div>
			</div>

			<div class="mobilead">
				<div class="container">
					<div class="grid_4">
						<img src="/_img/household-icon.png">
					</div>
					<div class="grid_8">
						<h2 style="padding-top:75px">our house in your hands</h2>
						<p><strong>Connect on the go with our household mobile app.</strong> Here you can watch previous messages, watch live, take live message notes, pray for one another, connect with friends, and customize your feed!</p>
						<br>
						<p><strong style="text-decoration:underline">Click here for step by step instructions on how to set up your household app</strong></p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<div class="mobileapp">
		<div class="title-bar household-title">
			<div class="container">
				<div class="grid_12">
					<h2>How to use our <span>house<span>hold</span></span> app</h2>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="household-body">
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>download</h2>
						<p>Visit your mobile app store. Search "journey household". Download our household app.</p>
						<br>
						<div class="grid_3 alpha">
							<a href="https://itunes.apple.com/us/app/our-household-by-journeychurch.tv/id978127236?mt=8&uo=6&at=&ct=" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.png) no-repeat;width:165px;height:40px;@media only screen{background-image:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg);}"></a>
						</div>
						<div class="grid_3 omega">
							<a href="https://play.google.com/store/apps/details?id=org.table.journeychurchtv&hl=en" target="_blank">
  								<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
							</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>sign up</h2>
						<p>Tap "Sign Up" and follow the prompt buttons OR "Sign In" (if you've already created a profile).</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>filter</h2>
						<p>Filter Your Feed >> Pull down on the screen and tap the “Filter” button. Select the area(s) of interest.</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>feed</h2>
						<p>Choose a Feed >> Tap the "JourneyChurch.tv" button at the top of the screen. Select any of your groups to keep up to date with their feed</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>teachings</h2>
						<p>Watch Teachings >> Tap on menu icon in top left hand corner. Tap "Teachings" in the list on the left</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>notes</h2>
						<p>Take Message Notes >> Tap on the Teaching you wish to watch  > Tap “Watch”  > Tap “Take Notes”  >  Tap “Insert Outline”  >  Add to the existing notes and click "Save" in the upper right hand corner</p>
					</div>
				</div>
			</div>
			<div class="divider">&nbsp;</div>
			<div class="section clearfix">
				<div class="container">
					<div class="grid_12">
						<h2>help?</h2>
						<p>Need more help? >> Tap “Feedback” in the menu listing for FAQ’s, video tutorials, and other useful tools. Or email <a href="mailto:household@journeychurch.tv" target="_blank">household@JourneyChurch.tv</a>.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="webad">
			<div class="container">
				<div class="grid_4">
					<img src="/_img/household-icon.png">
				</div>
				<div class="grid_8">
					<h2 style="padding-top:75px">our house in your hands</h2>
					<p>If you’re looking for a more in depth version, check out household for your desktop! You’ll want to visit our JourneyChurch family and become a part of this house.</p>
					<br>
					<p><strong style="text-decoration:underline">Click here for step by step instructions on how to set up your household on your desktop</strong></p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

{embed="_includes/footer"}
