* {
  font-family:'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B', Arial;
}

h1 {
  margin-top:0;
}

ul {
  list-style-type:none;
  margin:0;
}

select {
  background-color:#F3F3F3;
  width:100%;
  padding:5px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius:0;
  border:none;
  color:#686868;

}

.btn {
  background-image:none;
  border-radius:0;
  border:0;
  text-shadow:none;
  box-shadow:none;
}

.btn:hover {
  text-shadow:none;
}

.btn:active {
  text-shadow:none;
  box-shadow:none;
}

.btn:focus {
  text-shadow:none;
  box-shadow:none;
}

.btn-default {
  color:white;
  padding:10px 20px;
  font-size:12px;
  -moz-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -webkit-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -o-transition:0.2s color ease-in, 0.2s background-color ease-in;
  transition:0.2s color ease-in, 0.2s background-color ease-in;
  background-color:#686868;
  text-transform:uppercase;
  letter-spacing:4px;
  margin-right:-4px;
}

.btn-default:hover {
  color:white;
  background-color:#B0B0B0;
  border-color:#B0B0B0;
  -moz-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -webkit-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -o-transition:0.2s color ease-in, 0.2s background-color ease-in;
  transition:0.2s color ease-in, 0.2s background-color ease-in;
}

.btn-default:active {
  color:white !important;
  background-color:#B0B0B0 !important;
  border-color:#B0B0B0;
  -moz-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -webkit-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -o-transition:0.2s color ease-in, 0.2s background-color ease-in;
  transition:0.2s color ease-in, 0.2s background-color ease-in;
  outline-offset:0px !important;
}

.btn-default:focus {
  color:white;
  background-color:#B0B0B0;
  border-color:#B0B0B0;
  -moz-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -webkit-transition:0.2s color ease-in, 0.2s background-color ease-in;
  -o-transition:0.2s color ease-in, 0.2s background-color ease-in;
  transition:0.2s color ease-in, 0.2s background-color ease-in;
  outline-offset:0px;
}

.pad {
  padding:20px;
}

.remove {
  opacity:0.5;
  -moz-transition:0.2s opacity ease-in, 0.2s;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

#admin-login {
  text-align:center;
  margin-top:5%;
  padding-top:30px;
  padding-bottom:30px;
}

#admin-login h1 {
  font-size:35px;
  text-transform:uppercase;
  font-weight:200;
  letter-spacing:5px;
  color:#B0B0B0;
  margin-top:30px;
}

#admin-header {
  background-color:rgba(70, 70, 70, 0.97);
  display:block;
  z-index:1000;
  position:fixed;
  width:100%;
}

#admin-header .logo {
  width:60px;
}

#notification {
  display:none;
  text-align:center;
}

#notification h5 {
  color:white;
  margin:24px 0 0 0;
}

.header-filler {
  height:60px;
}

#admin-main {
  background-color:#F3F3F3;
  padding-top:20px;
  padding-bottom:20px;
}

#admin-sidebar label {
  font-weight:200;
  margin-bottom:0;
}

#admin-sidebar .datepicker {
  margin-bottom:5px;
}

#filter-form section {
  margin-top:15px;
  margin-bottom:15px;
}

#filter-date input {
  margin-top:0;
  border:none;
  padding:5px;
  background-color:#F3F3F3;
  color:#686868;
  width:100%;
}

#from-error, #to-error {
  margin-top:10px;
  margin-bottom:10px !important;
}

#ui-datepicker-div {
  background-color:white;
  color:#686868;
  padding:10px;
  border:1px solid #F3F3F3;
  display:none;
}

#ui-datepicker-div td, #ui-datepicker-div th, #ui-datepicker-div .ui-icon, #ui-datepicker-div .ui-datepicker-title {
  padding:4px;
}

#ui-datepicker-div a {
  color:#686868;
}

#ui-datepicker-div a:hover {
  color:#006f7c;
}

#ui-datepicker-div .ui-icon {
  margin-left:2px;
  margin-right:2px;
}

#ui-datepicker-div .ui-datepicker-title select {
  margin-right:10px;
  width:auto;
}

#ui-datepicker-div .ui-state-disabled {
  color:#B0B0B0;
}

.story {
  background-color:white;
  margin-top:25px;
  margin-bottom:25px;
  -moz-transition:0.2s opacity ease-in;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

.story .header {
  background-color:#464646;
}

.new, .in-progress, .active, .completed, .reviewed {
  padding-top:15px;
  padding-bottom:15px;
  text-transform:uppercase;
  font-size:12px;
  letter-spacing:4px;
  text-align:center;
  color:white;
}

.new {
  background-color:#009933;
}

.reviewed {
  background-color:#4B0082;
}

.in-progress {
  background-color:#006f7c;
}

.active {
  background-color:#cc0000;
}

.completed {
  background-color:#e67300;
}

.date {
  color:#F3F3F3;
  margin-top:14px;
  font-size:14px;
  font-weight:200;
}

.trash {
  color:#F3F3F3;
  font-size:20px;
  margin-top:10px;
  -moz-transition:0.2s opacity ease-in;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

.trash:hover {
  opacity:0.7;
  cursor:pointer;
  -moz-transition:0.2s opacity ease-in;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

.save {
  padding-top:15px;
  padding-bottom:15px;
}

.story .content {
  padding-top:15px;
  padding-bottom:15px;
  margin-top:10px;
}

.story .content h3 {
  margin:0;
}

.story .footer {
  padding-top:10px;
  padding-bottom:10px;
}

.more {
  display:none;
  margin-top:15px;
  padding-top:10px;
  padding-bottom:10px;
}

.more .entry {
  margin-top:10px;
  margin-bottom:10px;
}

.more .entry p {
  color:#B0B0B0;
}

.more .entry strong {
  color:#464646;
}

.more .content a {
  color:#006f7c;
}

.more-info {
  font-size:18px;
  margin-top:4px;
  -moz-transition:0.2s opacity ease-in;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

.more-info:hover {
  opacity:0.7;
  cursor:pointer;
  -moz-transition:0.2s opacity ease-in;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

.category {
  background-color:#F3F3F3;
  color:#B0B0B0;
  padding:10px 20px;
  text-align:center;
  font-size:12px;
  text-transform:uppercase;
  letter-spacing:4px;
  margin-top:5px;
  margin-bottom:5px;
}

.edit-category {
  color:white;
  margin-top:10px;
  font-size:20px;
  -moz-transition:0.2s opacity ease-in;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

.edit-category:hover {
  opacity:0.7;
  cursor:pointer;
  -moz-transition:0.2s opacity ease-in;
  -webkit-transition:0.2s opacity ease-in;
  -o-transition:0.2s opacity ease-in;
  transition:0.2s opacity ease-in;
}

.edit-categories {
  padding-top:20px;
  padding-bottom:20px;
  display:none;
}

.edit-categories form label {
  font-weight:200;
  margin:0;
}
