{exp:channel:entries channel="Content" url_title="{embed:url-title}" limit="1"}
<section id="section-{entry_id}" class="section-page">
  <div class="container">
    <div class="row">
      <div class="col-md-7 content-left">
        {content_body}
      </div>

      <div class="col-md-4 content-right">
        {if content_youtube_video_id}
          <div class="vid-responsive">
            <iframe src="https://www.youtube.com/embed/{content_youtube_video_id}" frameborder="0" allowfullscreen></iframe>
          </div>
        {if:else}
          <img src="{content_sidebar_image}" class="content-img img-responsive"/><br/>
          {content_sidebar_content}
        {/if}
      </div>
    </div>
  </div>
</section>
{/exp:channel:entries}
