<div class="two-column-mobile-wrapper">
{exp:channel:entries channel="Events" limit="{embed:number-columns}"}
  <a href="/events/{url_title}">
    <div id="events-{entry_id}" class="two-column-mobile card col-md-3 col-xs-6">
      <div class="cover-img">
        <img src="{events_cover_image}" class="img-responsive"/>
      </div>
      <div class="info">
        <div class="inner">
          <div class="vertical-align-wrapper">
            <div class="vertical-align">
              <h4 class="title font-light">{title}</h4>
              <div class="date">
                <h5 class="font-extra-light">{if '{events_start_date format="%M %d"}' == '{events_end_date format="%M %d"}'}{events_start_date format="%M %d"}{if:else}{events_start_date format="%M %d"} - {events_end_date format="%M %d"}{/if}</h5>
                <h5 class="font-extra-light">{events_start_date format="%g"}:{events_start_date format="%i %A"} - {events_end_date format="%g"}:{events_end_date format="%i %A"}</h5>
              </div>
              {!--}<h5 class="eyebrow">{events_location}</h5>
              {events_description}
              Contact: <a href="mailto:{events_contacy_email}">{events_contact_name}</a>{--}
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
{/exp:channel:entries}
  <div class="clearfix"></div>
</div>
