{exp:facebook:events page_id="{embed:page_id}" fields="{embed:fields}" {if embed:time_filter}time_filter="{embed:time_filter}"{/if}}
  {if error}
    <h2>{error}</h2>
  {if:else}
    {events}
      <div class="col-sm-6 col-lg-4 event-embed">
        <div class="image">
          <div id="event-{id}">
            <a href="/events/{page_id}/{id}">
              <div class="bg-img"></div>
            </a>
            <div class="caption">
              <a href="/events/{page_id}/{id}">
                <h5>{name}</h5>
              </a>
              <h5>{start_time format="%F %j"}</h5>
            </div>
          </div>
        </div>
      </div>

      {if cover_source}
      <script>
        $(document).ready(function() {
          $("#event-{id} .bg-img").css("background-image", "url({cover_source})");
        });
      </script>
      {/if}
    {/events}
  {/if}
{/exp:facebook:events}
