  </main>
  <footer id="footer" class="text-center" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="col-footer vertical-align-wrapper">
            <div class="vertical-align">
              <p class="font-extra-light">&copy<script> document.write(new Date().getFullYear()); </script> JourneyChurch.tv</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="col-footer vertical-align-wrapper">
            <div class="vertical-align">
              {embed="embed/navigation" category="6"}
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div class="col-footer vertical-align-wrapper">
            <div class="vertical-align">
              <div class="social">
                <ul>
                  {exp:channel:entries channel="Social" limit="1" dynamic="no" entry_id="8"}
                    {if social_facebook}<li><a href="https://facebook.com/{social_facebook}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>{/if}
                    {if social_twitter}<li><a href="https://twitter.com/{social_twitter}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{/if}
                    {if social_instagram}<li><a href="https://instagram.com/{social_instagram}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{/if}
                    {if social_youtube}<li><a href="https://youtube.com/{social_youtube}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>{/if}
                  {/exp:channel:entries}
                {/if}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <div id="help-button" class="col-footer vertical-align-wrapper">
            <div class="vertical-align">
              <a class="btn btn-default">How Can We Help?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
