  </main>
  <footer id="footer" role="contentinfo">
    <div class="connect section">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-2">
            <a class="btn btn-default btn-block">How Can We Help?</a>
          </div>

          <div class="col-sm-4">
            {embed="embed/social"}
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="info section-skinny text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <p class="font-extra-light">&copy<script> document.write(new Date().getFullYear()); </script> JourneyChurch.tv</p>
          </div>

          <div class="col-sm-3">
            <p class="font-extra-light">&copy<script> document.write(new Date().getFullYear()); </script> JourneyChurch.tv</p>
          </div>

          <div class="col-sm-3">
            {embed="embed/social"}
          </div>

          <div class="col-sm-3">
            <a class="btn btn-default">How Can We Help?</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

{!-- Jquery --}
<script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
