  </main>
  <footer id="footer" class="section-skinny text-center" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4">
          <div class="col-footer vertical-align-wrapper">
            <div class="vertical-align">
              <p class="font-extra-light">&copy<script> document.write(new Date().getFullYear()); </script> JourneyChurch.tv</p>
            </div>
          </div>
        </div>

        <div class="footer-links">
          <div class="col-md-3 col-sm-4">
            <div class="col-footer vertical-align-wrapper">
              <div class="vertical-align">
                {embed="embed/navigation" category="6"}
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-4">
            <div class="col-footer vertical-align-wrapper">
              <div class="vertical-align">
                {embed="embed/social"}
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4">
          <div class="col-footer vertical-align-wrapper">
            <div class="vertical-align">
              <a class="btn btn-default">How Can We Help?</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

{!-- Jquery --}
<script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>
