</head>
<body>
  <div id="no-js-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Javascript must be enabled in your browser to view this website.</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper">
    <header id="header" role="banner">
      <a href="/" class="logo">
        <img src="/img/logo.png" class="img-responsive" />
      </a>

      <div class="nav-icon">
        <span></span>
        <span></span>
      </div>

      <div class="clearfix"></div>
    </header>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav-links">
        {embed="embed/navigation" category="1"}

        {embed="embed/social"}
      </div>
    </nav>

    <main id="main" role="main">
