<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	{!-- Browser Data --}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	{!--}<link rel="apple-touch-icon-precomposed" href="/_img/iOS.jpg" />{--}
	<meta name="apple-mobile-web-app-title" content="Journey Church" />
	{!--}<meta name="apple-itunes-app" content="app-id=978127236">{--}
	<meta name="google-site-verification" content="S1vJM4d9ZXFbAYLs-Q2QSc0N2Q-TUm9GsvAUaQyIm6A" />

	<title>JourneyChurch.tv{if embed:title} | {embed:title}{/if}</title>

	<meta name="description" content="Journey Church is a house committed to transforming our cities ... one life at a time.">
	<meta name="author" content="Journey Church">
	{!--}<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">{--}
	{!--}<link rel="icon" href="/favicon.ico" type="image/x-icon">{--}

	<meta name="viewport" content="width=device-width,initial-scale=1.0">


	{!-- Stylesheet --}
	<link rel="stylesheet" type="text/css" href="/css/main.css" />


	{!-- Fonts --}
	<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6186432/755202/css/fonts.css" />
	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700,300,200' rel='stylesheet' type='text/css'>

	{!-- Font Icons --}
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />


	{!-- Modernizr --}
	<script type="text/javascript" src="/js/modernizr-custom.js"></script>

	{!-- Jquery --}
	<script type="text/javascript" src="/js/jquery-3.0.0.min.js"></script>


	{!-- Pingdom Real Stats --}
	<script>
	var _prum = [['id', '52cda967abe53db449000000'],
	             ['mark', 'firstbyte', (new Date()).getTime()]];
	(function() {
	    var s = document.getElementsByTagName('script')[0]
	      , p = document.createElement('script');
	    p.async = 'async';
	    p.src = '//rum-static.pingdom.net/prum.min.js';
	    s.parentNode.insertBefore(p, s);
	})();
	</script>
