</head>
<body {if embed:no_cover}class="no-cover"{/if}>
  <div id="no-js-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Javascript must be enabled in your browser to view this website.</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="wrapper">
    {if embed:no_cover}<div class="header-filler"></div>{/if}

    <header id="header" role="banner">
      <a href="/" class="logo">
        <img src="/img/logo.png" class="img-responsive" />
      </a>

      <div class="nav-icon">
        <span></span>
        <span></span>
      </div>

      <div class="clearfix"></div>
    </header>

    <nav id="nav" class="nav" role="navigation">
      <div class="nav-links-wrapper">
        <div class="nav-links">
          {embed="embed/navigation" category="1"}

          <div class="social">
            <ul>
              {exp:channel:entries channel="Social" limit="1" dynamic="no" entry_id="8"}
                {if social_facebook}<li><a href="https://facebook.com/{social_facebook}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>{/if}
                {if social_twitter}<li><a href="https://twitter.com/{social_twitter}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{/if}
                {if social_instagram}<li><a href="https://instagram.com/{social_instagram}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{/if}
                {if social_youtube}<li><a href="https://youtube.com/{social_youtube}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>{/if}
              {/exp:channel:entries}
            {/if}
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main id="main" role="main">
