{exp:channel:entries channel="Page" limit="1" {if embed:id}entry_id="{embed:id}"{/if} dynamic="no"}
<div id="page-{url_title}" class="page">
  <div {if page_cover_type == "Partial Cover"}class="cover-partial bg-img"{if:else}class="cover bg-img"{/if}>
    {if page_background_video}
      <div class="bg-video">
        <video autoplay loop muted>
          <source src="/video/{page_background_video}.webm" type="video/webm">
          <source src="/video/{page_background_video}.mp4" type="video/mp4">
        </video>
      </div>

      <style>
        .no-video #page-{url_title} .cover-partial, .no-video #page-{url_title} .cover {
          background-image:url("{page_background_image}");
        }
      </style>
    {/if}
    <div class="inner">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            {if page_display_title}<h4 class="font-block-bold">{page_display_title}</h4>{if:else}<h4 class="font-block-bold">{title}</h4>{/if}
            {if page_sub_title}<h2 class="font-extra-light">{page_sub_title}</h2>{/if}
            {if page_link}<br><a href="{page_link}" class="btn btn-fade">{page_link_text}</a>{/if}
          </div>
        </div>
      </div>
    </div>

    {if page_social}
    <div class="social">
      <ul>
      {page_social}
        {if page_social:social_facebook}<li><a href="https://facebook.com/{page_social:social_facebook}" class="social-circle"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>{/if}
        {if page_social:social_twitter}<li><a href="https://twitter.com/{page_social:social_twitter}" class="social-circle"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{/if}
        {if page_social:social_instagram}<li><a href="https://instagram.com/{page_social:social_instagram}" class="social-circle"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{/if}
        {if page_social:social_youtube}<li><a href="https://youtube.com/{page_social:social_youtube}" class="social-circle"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>{/if}
      {/page_social}
      </ul>
    </div>
    {/if}
  </div>

  {if entry_id == "9"}
    {embed="embed/home-caption"}
  {/if}

  {if page_background_video}
  <style>
    @media only screen and (max-width: 991px) {
      #page-{url_title} .cover-partial, #page-{url_title} .cover {
        background-image:url("{page_background_image}");
      }
    }
  </style>
  {if:else}
  <style>
    #page-{url_title} .cover-partial, #page-{url_title} .cover {
      background-image:url("{page_background_image}");
    }
  </style>
  {/if}

  {if page_navigation_category_id}
    <div id="page-nav" class="page-nav">
      {embed="embed/navigation" category="{page_navigation_category_id}"}
    </div>
  {/if}

  {if "{page_content:count}" != ""}
    {embed="embed/content" url-title="{page_content}{page_content:url_title}{/page_content}"}
  {/if}

  {if page_section_category_id}
    {embed="embed/content-sections" category="{page_section_category_id}"}
  {/if}

  {if page_preview_category_id}
    {embed="embed/previews" category="{page_preview_category_id}"}
  {/if}
</div>
{/exp:channel:entries}
