{exp:channel:entries channel="Section" orderby="section_order" sort="asc" category="{embed:section-category}" dynamic="no"}


{!-- Section Header --}
{if section_background_image}
  {if section_center_text == "Yes"}
    {if section_size == "Skinny"}
    <section id="section-{url_title}" class="section-skinny bg-img text-center">
    {if:else}
    <section id="section-{url_title}" class="section bg-img text-center">
    {/if}
  {if:else}
    {if section_size == "Skinny"}
    <section id="section-{url_title}" class="section-skinny bg-img">
    {if:else}
    <section id="section-{url_title}" class="section bg-img">
    {/if}
  {/if}
{if:else}
  {if section_center_text == "Yes"}
    {if section_size == "Skinny"}
    <section id="section-{url_title}" class="section-skinny text-center">
    {if:else}
    <section id="section-{url_title}" class="section text-center">
    {/if}
  {if:else}
    {if section_size == "Skinny"}
    <section id="section-{url_title}" class="section-skinny">
    {if:else}
    <section id="section-{url_title}" class="section">
    {/if}
  {/if}
{/if}
    <div class="container">
      <div class="row">

      {if entry_id == 18}
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="title font-light">Need Prayer?</h1>
          <form>
            <input type="text" placeholder="How can we pray for you?">
          </form>
        </div>
      {if:else}

      {!-- Video Type --}
      {if section_type == "Video"}
          {embed="embed/video" category="{embed:watch-category}" section-title="{section_display_title}"}
      {/if}


      {!-- Events Type --}
      {if section_type == "Events"}
        {if section_display_title}
          <div class="col-sm-12">
            <h1 class="title font-light">{section_display_title}</h1>
          </div>

          <div class="clearfix"></div>
        {/if}
        {embed="embed/events" number-of-columns="{section_number_of_columns}"}
      {/if}


      {!-- Column Type --}
      {if section_type == "Columns"}
        {if section_display_title}
          <div class="col-sm-12">
            <h1 class="title font-light">{section_display_title}</h1>
          </div>
        {/if}

        {if section_number_of_columns == 1}
          <div class="col-sm-12">
            {section_column_1}
          </div>
        {if:elseif section_number_of_columns == 2}
          <div class="col-sm-6">
            {section_column_1}
          </div>

          <div class="col-sm-6">
            {section_column_2}
          </div>
        {if:elseif section_number_of_columns == 3}
          <div class="col-sm-4">
            {section_column_1}
          </div>

          <div class="col-sm-4">
            {section_column_2}
          </div>

          <div class="col-sm-4">
            {section_column_3}
          </div>
        {if:elseif section_number_of_columns == 4}
          <div class="col-sm-3">
            {section_column_1}
          </div>

          <div class="col-sm-3">
            {section_column_2}
          </div>

          <div class="col-sm-3">
            {section_column_3}
          </div>

          <div class="col-sm-3">
            {section_column_4}
          </div>
        {/if}
      {/if}
    {/if}

{!-- Section Footer --}
    </div>
  </div>
</section>


{!-- Background Image --}
{if section_background_image}
<style>
  #section-{url_title} {
    background-image:url("/img/Backgrounds/{section_background_image}");
  }
</style>
{/if}


{!-- Background Color --}
{if section_background_color}
<style>
  #section-{url_title} {
    background-color:{section_background_color};
  }
</style>
{/if}
{/exp:channel:entries}
