<div class="social">
  <ul>
  {exp:channel:entries channel="Social" limit="1" dynamic="no"}
    {if social_facebook}<li><a href="{social_facebook}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>{/if}
    {if social_twitter}<li><a href="{social_twitter}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>{/if}
    {if social_instagram}<li><a href="{social_instagram}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>{/if}
    {if social_youtube}<li><a href="{social_youtube}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>{/if}
  {/exp:channel:entries}
  </ul>
</div>
