<div class="container"><hr></div>

<section class="section-skinny">
  <div class="container">
    <div class="row">
      {exp:channel:entries channel="Studies" dynamic="no" url_title="{embed:study}"}
        {parents field="watch_study" orderby="watch_date" sort="desc"}
          {if "{parents:url_title}" != "{embed:disclude}"}
            <div class="col-md-4 col-sm-6 pad-top pad-bottom">
              <a href="/watch/{parents:url_title}#section-watch-player">
                <div class="thumb">
                  <div class="thumb-img"><img src="{parents:watch_image}" class="img-responsive"/></div>
                  <div class="caption">{parents:title}</div>
                </div>
              </a>
            </div>
          {/if}
        {/parents}
      {/exp:channel:entries}
    </div>
  </div>
</section>
