{embed="_includes/header" title="Admin Panel"}

{embed="_component/admin-tools"}

<div class="container">
	<div style="margin-bottom:15px;border-bottom:1px solid #eee">
		<h2 style="float:left;">Admin Panel</h2>
		<div id="service_live" class="pull-right"></div>
		<div class="clear"></div>
	</div>
	<div class="grid_2">
		<div>
			<h2 id="total_visitors" style="font-size:36px">0</h2>
			<p style="font-size:12px">Visitors</p>
		</div>
		{!-- SM Stats}
		<div>
			<h2 id="connections" style="font-size:36px">0</h2>
			<p style="font-size:12px">Connections (SM)</p>
		</div>
		{--}
	</div>
	<div class="grid_10">
		<h3>Most Active Pages</h1>
		<div class="clear"></div>
		
		<p id="current_pages">Loading Most Active Pages…</p>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}