{embed="_includes/header" title="About" bar="yes"}
<div class="title-bar about-alt">
	<div class="container">
		<div class="grid_12">
			<h2>About JourneyChurch</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container clearfix">
	<div class="grid_12 banner">
		<span data-picture data-alt="About JourneyChurch">
			<span data-src="/_img/aboutus-small.png"></span>
			<span data-src="/_img/aboutus.png" data-media="(min-width: 465px)"></span>

			<!-- Fallback content for non-JS browsers -->
			<noscript><img src="/_img/aboutus-small.png" alt="About JourneyChurch"></noscript>
		</span>
	</div>
	<div class="grid_8 fancy-page">
		<h2>God can do anything you know, far more than you could ever imagine or guess or request in your wildest dreams! He does it not by pushing us around but by working within us, his Spirit deeply and gently within us.</h2>
		<h3>Ephesians 3:20 <span>(The Message)</span></h3>
		<br>
		{exp:channel:entries channel="Pages" url_title="about"}
			{page-body}
		{/exp:channel:entries}
	</div>
	<div class="grid_4">
		{embed="/_component/sidebar-about"}
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}