{embed="_includes/header" title="Classes" bar="no"}

<div class="container clearfix page-classes">
	<div class="classes-logo"></div>
	
	{exp:channel:entries channel="Classes" orderby="class-start" sort="asc"}
		<div class="grid_6 class {switch='blue|pink|green|orange|purple'}">
			<div class="class-inner">
				<div class="class-header clearfix">
					<h2>{title}</h2>
					<h3>
						{class-day}s | {class-time}
						<br>
						{if "{class-start format='%m%d%Y'}" <= "{current_time format='%m%d%Y'}"}Began{if:else}Begins{/if} {class-start format="%M %j"}
					</h3>
				</div>
				<p>{class-desc}</p>
				<a href="https://journeydreamteam.wufoo.com/forms/join-an-equip-class/def/field4={title}" target="_blank"><button>Enroll in class</button></a>
			</div>
		</div>
		{switch="|<div class='clear'></div>"}
	{/exp:channel:entries}
	<div class="clear"></div>
</div>


{embed="_includes/footer"}