{embed="_includes/header-opener" title="{if segment_2}{exp:channel:entries channel='Blog' dynamic='yes'}{title}{/exp:channel:entries}{if:else}Blogs{/if}"}
<link rel="alternate" type="application/rss+xml" title="JourneyChurch.tv Blogs" href="http://journeychurch.tv/blogs/feed">
<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "12217aef-f07e-464d-8757-03bfdb881858", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{embed="_includes/header-closer" bar="{if segment_2==''}yes{if:else}no{/if}"}
{if segment_2 == ""}
	<div class="title-bar blogs-featured">
		<div class="container">
			<div class="grid_12">
				{exp:channel:entries channel="Blog" orderby="date" sort="desc" category="30" limit="1"}
					<h3>{if {entry_date format='%Y'} != "1991"}{entry_date format="%F %j, %Y"}{/if}</h3>
					<h2><strong>Featured:</strong> {title}</h2>
					{exp:word_limit total="60"}
						{exp:remove_html}
							<p>{blog-body}</p>
						{/exp:remove_html}
					{/exp:word_limit}
					<div class="blog-details">
						{categories}{if category_id == '33'}<a href="{blog-external}" target="_blank">{if:else}<a href="/blogs/{url_title}">{/if}{/categories}<button class="no-margin-l">Read this post &nbsp;<i class="fa fa-angle-right"></i></button></a>
						{if blog-author}Written by {blog-author}{/if}
					</div>
				{/exp:channel:entries}
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="container clearfix">
		<div class="grid_12">
			{exp:channel:entries channel="Blog" orderby="date" sort="desc" category="not 26"}
				{categories}
						<div class="blog-entry">
							<h3>{if {entry_date format='%Y'} >= "1999"}{entry_date format="%F %j, %Y"}{/if}</h3>
							<h2>{if category_id == '33'}<a href="{blog-external}" target="_blank">{if:else}<a href="/blogs/{url_title}">{/if}{title}</a></h2>

							<div class="blog-preview">
							{exp:word_limit total="60"}
								{blog-body}
							{/exp:word_limit}
							</div>

							<div class="blog-details">
								{if category_id == '33'}<a href="{blog-external}" target="_blank">{if:else}<a href="/blogs/{url_title}">{/if}<button class="no-margin-l">Read this post &nbsp;<i class="fa fa-angle-right"></i></button></a>
								{if blog-author}Written by {blog-author}{/if}
							</div>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
				{/categories}
			{/exp:channel:entries}
		</div>
	</div>
{if:else}
	{exp:channel:entries channel="Blog" dynamic="yes"}
		<meta name="title" content="{title}">
		<meta name="description" content="{exp:remove_html}{blog-body}{/exp:remove_html}">
		<meta property="og:url" content="http://JourneyChurch.tv/blogs/{url_title}">

		<div class="container clearfix">
			<div class="grid_12">
				<div class="blog-title">
					<h3>{if {entry_date format='%Y'} >= "1999"}{entry_date format="%F %j, %Y"}{/if}</h3>
					<h2>{title}</h2>
				</div>

				<div class="blog-entry">
					{blog-body}
				</div>

				<div class="blog-details">
					{if blog-author}Written by {blog-author}{/if}
					<div class="blog-comments pull-right">
						<span class='st_fblike_hcount' displayText='Facebook Like'></span>
						<span class='st_facebook_hcount' displayText='Facebook'></span>
						<span class='st_twitter_hcount' displayText='Tweet'></span>
					</div>
				</div>
			</div>
		</div>
	{/exp:channel:entries}
{/if}

{embed="_includes/footer"}
