{embed="_includes/header" title="Simply Christmas"}

<style type="text/css">
	@font-face {
	    font-family: 'arvil_sansregular';
	    src: url('/_font/arvil_sans-webfont.eot');
	    src: url('/_font/arvil_sans-webfont.eot?#iefix') format('embedded-opentype'),
	         url('/_font/arvil_sans-webfont.woff') format('woff'),
	         url('/_font/arvil_sans-webfont.ttf') format('truetype'),
	         url('/_font/arvil_sans-webfont.svg#arvil_sansregular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
	.arvil {
		font-family: 'arvil_sansregular', sans-serif;
	}
	img.album {
		display: block;
		margin: 0 auto;
	}
	.album-details {
		margin-top: 30px;
	}
	@media only screen and (min-width: 769px) {
		h2.arvil {
			font-size: 46px;
			color: #0f7c18;
			margin-top: 260px;
			line-height: 40px;
			text-align: center;
		}
		h3.arvil {
			font-size: 23px;
			color: #E82A32;
			text-align: center;
		}
		h4.arvil {
			font-size: 26px;
			color: #E82A32;
			text-align: right;
			line-height: 24px;
			margin-top: 260px;
			line-height: 26px;
			text-align: center;
		}
		h5.price {
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300;
			font-size: 46px;
			color: #0f7c18;
			text-align: center;
			line-height: 46px;
		}
		h5.price sup {
			font-size: 16px;
		}
	}
	@media only screen and (max-width: 768px) {
		h2.arvil {
			font-size: 42px;
			color: #0f7c18;
			text-align: center;
			padding-top: 20px;
		}
		h3.arvil {
			font-size: 23px;
			color: #E82A32;
			text-align: center;
		}
		h4.arvil {
			font-size: 26px;
			color: #E82A32;
			text-align: center;
			line-height: 24px;
			line-height: 26px;
			text-align: center;
		}
		h5.price {
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300;
			font-size: 46px;
			color: #0f7c18;
			text-align: center;
			line-height: 46px;
		}
		h5.price sup {
			font-size: 16px;
			text-align: center;
		}
		img.album {
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
</style>

<div class="container">
	<div class="grid_12">
	    <div class="grid_3 alpha"><h2 class="arvil">Simply Christmas</h2></div>
		<div class="grid_6"><img class="album" src="/_img/album.png"></div>
		<div class="grid_3 omega"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="container album-details">
	<div class="grid_5">
		
	</div>
	<div class="grid_7">
		<div id="preOrder">Order the Album</div>
		<div id="albumHolder">
			<div id="wufoo-wa5r3ru1gm37fb">
			Fill out my <a href="https://journeydreamteam.wufoo.com/forms/wa5r3ru1gm37fb">online form</a>.
			</div>
			<script type="text/javascript">var wa5r3ru1gm37fb;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'journeydreamteam', 
			'formHash':'wa5r3ru1gm37fb', 
			'autoResize':true,
			'height':'673',
			'async':true,
			'host':'wufoo.com',
			'header':'hide', 
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { wa5r3ru1gm37fb = new WufooForm();wa5r3ru1gm37fb.initialize(options);wa5r3ru1gm37fb.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');</script>
		</div>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}