{embed="embed/header"}

{embed="embed/page" id="158"}

{if segment_2}

  {if segment_2 == "college"}
  <section id="section-studies" class="section-skinny">
    <div class="container">
      <div class="row">
        {exp:channel:entries channel="Studies" dynamic="no" orderby="date" sort="desc" category="37"}
          <div class="col-md-4 col-sm-6 pad-top pad-bottom">
            <a href="/studies/{url_title}#section-studies">
              <div class="thumb">
                <div class="thumb-img"><img src="{study_image}" class="img-responsive"/></div>
                <div class="caption">{title}</div>
              </div>
            </a>
          </div>
        {/exp:channel:entries}
      </div>
    </div>
  </section>
  {if:elseif segment_2 == "events"}
  <section id="section-events" class="section-skinny">
    <div class="container">
      <div class="row">
        {exp:channel:entries channel="Watch" dynamic="no" orderby="date" sort="desc" category="32"}
          <div class="col-md-4 col-sm-6 pad-top pad-bottom">
            <a href="/watch/{url_title}#section-watch-player">
              <div class="thumb">
                <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
                <div class="caption">{title}</div>
              </div>
            </a>
          </div>
        {/exp:channel:entries}
      </div>
    </div>
  </section>
  {if:elseif segment_2 == "stories"}
  <section id="section-stories" class="section-skinny">
    <div class="container">
      <div class="row">
        {exp:channel:entries channel="Watch" dynamic="no" orderby="date" sort="desc" category="33"}
          <div class="col-md-4 col-sm-6 pad-top pad-bottom">
            <a href="/watch/{url_title}#section-watch-player">
              <div class="thumb">
                <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
                <div class="caption">{title}</div>
              </div>
            </a>
          </div>
        {/exp:channel:entries}
      </div>
    </div>
  </section>
  {if:else}
    {embed="embed/watch-player"}

    {exp:channel:entries channel="Watch" url_title="{segment_2}" category="34|31" dynamic="no"}
      {embed="embed/watch-others" disclude="{url_title}" study="{watch_study}{watch_study:url_title}{/watch_study}"}
    {/exp:channel:entries}
  {/if}

{if:else}

  {embed="embed/watch-player" category="34"}

  <script>
  $("#share-facebook").click(function() {
    FB.ui({
      method: 'share',
      mobile_iframe: true,
      href: 'http://journeychurch.dev/watch/exodus-1',
    }, function(response){});
  });
  </script>

  <div class="container">
    <hr>
  </div>

  <section id="section-watch-categories" class="section-skinny">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 pad-top pad-bottom">
          <a href="/studies#section-studies">
            <div class="thumb">
              {exp:channel:entries channel="Studies" limit="1" category="36" orderby="date" sort="desc"}
                <div class="thumb-img"><img src="{study_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">Studies</h4></div>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 pad-top pad-bottom">
          <a href="/watch/college#section-studies">
            <div class="thumb">
              {exp:channel:entries channel="Studies" limit="1" category="37" orderby="date" sort="desc"}
                <div class="thumb-img"><img src="{study_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">College</h4></div>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 pad-top pad-bottom">
          <a href="/watch/events#section-events">
            <div class="thumb">
              {exp:channel:entries channel="Watch" limit="1" category="32" orderby="date" sort="desc"}
                <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">Events</h4></div>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>

        <div class="col-sm-6 pad-top pad-bottom">
          <a href="/watch/stories#section-stories">
            <div class="thumb">
              {exp:channel:entries channel="Watch" limit="1" category="33" orderby="date" sort="desc"}
                <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">Stories</h4></div>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
{/if}

{embed="embed/footer"}
