{embed="embed/header"}

{embed="embed/page" id="158"}

{if segment_2}
  {if segment_2 == college}
  <section class="section-skinny">
    <div class="container">
      <div class="row">
        {exp:channel:entries channel="Studies" dynamic="no" orderby="{watch_date}" sort="desc"}
        <a href="/studies/{url_title}#section-watch-player">
          <div class="col-md-4 col-sm-6 pad-top pad-bottom">
            <div class="thumb">
              <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
              <div class="caption">{title}</div>
            </div>
          </div>
        </a>
        {/exp:channel:entries}
      </div>
    </div>
  </section>
  {/if}

  {embed="embed/watch-player"}

  {exp:channel:entries channel="Watch" url_title="{segment_2}"}
    {embed="embed/watch-others" disclude="{url_title}" study="{watch_study}{watch_study:url_title}{/watch_study}"}
  {/exp:channel:entries}

{if:else}

  {embed="embed/watch-player" category="34"}

  <div class="container">
    <hr>
  </div>

  <section id="section-watch-categories" class="section-skinny">
    <div class="container">
      <div class="row">
        <a href="/studies#section-studies">
          <div class="col-sm-6 pad-top pad-bottom">
            <div class="thumb">
              {exp:channel:entries channel="Studies" limit="1"}
                <div class="thumb-img"><img src="{study_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">Studies</h4></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </a>

        <a href="/watch/college">
          <div class="col-sm-6 pad-top pad-bottom">
            <div class="thumb">
              {exp:channel:entries channel="Watch" limit="1" category="31"}
                <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">College</h4></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </a>

        <a href="/watch/events">
          <div class="col-sm-6 pad-top pad-bottom">
            <div class="thumb">
              {exp:channel:entries channel="Watch" limit="1" category="32"}
                <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">Events</h4></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </a>

        <a href="/watch/stories">
          <div class="col-sm-6 pad-top pad-bottom">
            <div class="thumb">
              {exp:channel:entries channel="Watch" limit="1" category="33"}
                <div class="thumb-img"><img src="{watch_image}" class="img-responsive"/></div>
              {/exp:channel:entries}
                <div class="caption"><h4 class="font-extra-light">Stories</h4></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
{/if}

{embed="embed/footer"}
