
@font-face {
  font-family: 'AmericanTypewriter';
  src: url('AmericanTypewriter.eot?#iefix') format('embedded-opentype'),  url('AmericanTypewriter.woff') format('woff'), url('AmericanTypewriter.ttf')  format('truetype'), url('AmericanTypewriter.svg#AmericanTypewriter') format('svg');
  font-weight: normal;
  font-style: normal;
}
