{embed="_includes/header" title="Interns" bar="no"}
<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class="container" style="margin-top:40px">
	<div class="grid_12" style="margin-bottom:50px;">
		<a href="/interns/"><h1 style="text-align:center;color:#006f7c;font-size:36px">Journey Interns</h1></a>
	</div>

	<div class="clear"></div>

	<div class="grid_12" style="text-align:center">
		<h2>Physical Address</h2>
		<p>3801 Journey Parkway<br>
			Norman, OK 73072</p>
		<br>
		<h2>Mailing Address</h2>
		<p>P.O. Box 722764<br>
			Norman, OK 73070</p>
		<br>
		<h2>Phone</h2>
		<p>(405) 217-8700<p>
		<br>
		<h2>Fax</h2>
		<p>(405) 217-8701</p>
		<br><br>
		<h2>Other Questions?</h2>
		<p>Email <a href="mailto:andi@journeychurch.tv">andi@journeychurch.tv</a></p>
	</div>
</div>

{embed="_includes/footer"}
