{embed="_includes/header" title="Interns" bar="no"}
<link rel="stylesheet" type="text/css" href="/_css/layerslider.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<div class="container" style="margin-top:40px">
	<div class="grid_12" style="margin-bottom:50px;">
		<a href="/interns/"><h1 style="text-align:center;color:#006f7c;font-size:36px">Journey Interns</h1></a>
	</div>
	<div class="clear"></div>
	<div class="grid_4">
		{!--}<p style="padding:10px 0 0"><strong>Spring Internship Applications</strong><br><br>Open on July 25th, 2016<br>Close on August 28th, 2016<br><br>Internship dates: September 1st - December 4th</p>{--}
		<br><br>
		<a href="/about"><button class="large">About JourneyChurch</button></a>
		<br><br>
		{!--}<a href="https://journeydreamteam.wufoo.com/forms/leadership-journey-internship-application/"><button class="large">Become an Intern</button></a>{--}
		{!--}<p style="padding:10px 0 20px"><strong>Application Deadline:</strong> hello</p>
		<br><br>{--}
		<a href="/interns/faq"><button class="large">About the Internship</button></a>
		<br><br>
		<a href="/interns/contact"><button class="large">Contact</button></a>
		<br><br>
		<a href="/interns/apply"><button class="large">Apply</button></a>
	</div>
	<div class="grid_8">
		<div id="layerslider-container">
			<div id="layerslider" style="width:635px;height:450px;margin-bottom:40px">
				<div class="ls-layer" style="slidedirection: top; slidedelay: 9000; delayout: 1000;">
					<img class="ls-s3 si" src="/_img/interns/catherine.jpg" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
				</div>
				<div class="ls-layer" style="slidedirection: top; slidedelay: 9000; delayout: 1000;">
					<img class="ls-s3 si" src="/_img/interns/powell.jpg" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
				</div>
				<div class="ls-layer" style="slidedirection: top; slidedelay: 9000; delayout: 1000;">
					<img class="ls-s3 si" src="/_img/interns/josiah.jpg" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
				</div>
				<div class="ls-layer" style="slidedirection: top; slidedelay: 9000; delayout: 1000;">
					<img class="ls-s3 si" src="/_img/interns/brandon.jpg" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
				</div>
				<div class="ls-layer" style="slidedirection: top; slidedelay: 9000; delayout: 1000;">
					<img class="ls-s3 si" src="/_img/interns/mark.jpg" style="slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin:1000; delayout:0;">
				</div>
			</div>
		</div>
		<script src="/_js/layerslider.js"type="text/javascript"></script>
		<script src="/_js/layerslider.transitions.js"type="text/javascript"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#layerslider').layerSlider({
					skinsPath : '/themes/assets/',
					skin : 'fullwidth',
					autoStart : true,
					navStartStop : false,
					responsive : false,
					responsiveUnder : 966,
					sublayerContainer : 966,
					hoverPrevNext : false,
					thumbnailNavigation : false,
					showCircleTimer: false,
					touchnav: true
				});
			});
		</script>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}
