{exp:acs_bridge:small_groups parent_id="4|138|139" show_closed="no"}
{if PublicGroup == 'Y'}
	<div class="group-entry {if PublicGroup != 'Y'}closedgroup{if:else}opengroup{/if}">
		<h3>{SGName}</h3>
		<p class="groups-date">{if {current_time format='%m%d%Y'} >= {StartDate format='%m%d%Y'}}Begins{if:else}Began{/if} on {StartDate format="%F %j"}</p>
		<div class="groups-info">
			{if Description != "We apologize. This group is currently at maximum capacity."}
				<p>{exp:word_limit total="60"}{Description}{/exp:word_limit}</p>
				<a href="/groups/details/{GroupID}"><button class="no-margin-l">Get details</button></a>
			{/if}
		</div>
	</div>
{/if}
{/exp:acs_bridge:small_groups}