/* Buttons */
.btn-default {
  border:0;
  border-radius:0;
  text-transform:uppercase;
  font-size:11px;
  @include font-bold;
  letter-spacing:2px;
  padding:15px 20px;
  @include transition(background-color 0.2s ease-in, color 0.2s ease-in);
  &:hover, &:active, &:focus, &:active:hover {
    background-color: $color-extra-dark;
    color: $color-lightest;
    box-shadow:none;
    @include transition(background-color 0.2s ease-in, color 0.2s ease-in);
  }
}

.btn-fade {
  @extend .btn-default;
  border:2px solid $color-lightest;
  padding:12px 18px;
  @include transition(background-color 0.2s ease-in, color 0.2s ease-in);
  &:hover, &:active, &:focus {
    color: $color-lightest;
    background-color:transparent !important;
    border:2px solid $color-lightest !important;
    @include transition(background-color 0.2s ease-in, color 0.2s ease-in);
  }
}

@include media-sm {
  .btn {
    font-size:10px !important;
  }
}
