/* Cover */
.cover {
  height:calc(100vh - 55px) !important;
  min-height:450px;
  @include vertical-align-wrapper;
  .inner {
    @include vertical-align;
    text-align:center;
  }
}

.cover-partial {
  @extend .cover;
  height:450px !important;
}

.cover-caption {
  position:relative;
  z-index:100;
  @include vertical-align-wrapper;
  background-color: $color-lightest;
  color: $color-darkest;
  height:55px;
  width:100%;
  .inner {
    @include vertical-align;
  }
}

.no-cssvhunit {
  .cover {
    height:450px;
  }
}
