/* Cover */
.cover {
  height:100vh;
  width:100%;
  display:table;
  background-image:url("/img/Deer.JPG");
  background-size:cover;
  background-attachment:scroll;
  background-position:center center;

  h1 {
    margin:0;
    text-align:center;
    display:table-cell;
    vertical-align:middle;
  }
}
