/* Cover */
.cover {
  height:calc(100vh - 50px);
  width:100%;
  min-height:500px;
  @include vertical-align-wrapper;
  .inner {
    @include vertical-align;
    text-align:center;
    .title {

    }
  }
}

.cover-partial {
  @extend .cover;
  height:500px;
}

.cover-caption {
  @include vertical-align-wrapper;
  background-color:white;
  color:black;
  height:50px;
  width:100%;
  .inner {
    @include vertical-align;
  }
}

.no-cssvhunit {
  .cover {
    height:500px;
  }
}
