/* Main Nav */
.nav {
  background-color:rgba(0, 0, 0, 0.7);
  position:absolute;
  top:0px;
  right:0px;
  z-index:1000;
  display:none;
  height:100%;
  padding-top:100px;
  padding-left:25px;
  padding-bottom:100px;
  width:275px;
  overflow-y:scroll;
  ul {
    li {
      display:block;
      margin-top:5px;
      margin-bottom:5px;
      a {
        display:inline-block;
        padding:5px;
        color:white;
        letter-spacing:3px;
        text-transform:uppercase;
        font-size:12px;
      }
    }
  }
  .social {
    ul {
      li {
        display:inline;
        margin:0 5px;
        &:first-child {
          margin-left:0;
        }
        &:last-child {
          margin-right:0;
        }
      }
    }
  }
}

/* Nav Icon */
.nav-icon {
  display:inline-block;
  border-radius:50%;
  padding:16px 11px;
  z-index:1500;
  position:absolute;
  top:35px;
  right:30px;
  @include transition(background-color, 0.2s, ease-in);
  &:hover {
    cursor:pointer;
  }
  span {
    height:2px;
    width:20px;
    background-color:white;
    display:block;
    @include transition(transform, 0.2s, ease-in);

    &:first-child {
      margin-bottom:6px;
    }
  }
}

/* Nav Visible */
.nav-visible {
  overflow:hidden;

  .nav-icon {
    span {
      @include transition(transform, 0.2s, ease-in);
      &:first-child {
        transform:rotateZ(45deg) translateX(3px) translateY(2.5px);
      }
      &:last-child {
        transform:rotateZ(-45deg) translateX(3px) translateY(-2.5px);
      }
    }
  }
}
