.overlay {
  background-color:$color-darkest;
  position:relative;
  .caption {
    position:absolute;
    top:0;
    left:0;
    color:$color-lightest;
    z-index:100;
    background-color:rgba(0, 0, 0, 0.7);
    @include transition(background-color, 0.3s, ease-in);
    padding:5px 14px;
    h4, h5 {
      margin:0;
    }
  }

  img {
    opacity:1;
    z-index:0;
    @include transition(opacity, 0.3s, ease-in);
  }

  &:hover {
    .caption {
      background-color:rgba(0, 0, 0, 0);
      @include transition(background-color, 0.3s, ease-in);
    }
    img {
      opacity:0.3;
      @include transition(opacity, 0.3s, ease-in);
    }
  }
}
