.preview {
  padding-top:50px;
  &:first-child {
    padding-top:0;
  }
  .col-sm-12 {
    padding-top:0;
    padding-bottom:0;
  }
  .caption {
    padding:30px;
    background-color:$color-lightest;
    .inner {
      .more {
        padding:10px 0;
      }
    }
  }
  .preview-img {
    height:250px;
  }
}

@include media-sm {
  .preview {
    &:first-child {
      padding-top:0;
    }
    .caption {
      padding:60px;
    }
    .preview-img {
      height:525px;
      width:100%;
    }
  }
}

@include media-md {
  .preview {
    padding-top:100px;
    &:first-child {
      padding-top:0;
    }
    .caption {
      height:525px !important;
      padding:60px;
      @include vertical-align-wrapper;
      .inner {
        @include vertical-align;
        .description {
          max-height:225px;
          overflow-y:scroll;
          padding:5px 0;
        }
      }
    }
  }
}
