.preview {
  .caption {
    background-color:$color-lightest;
    height:500px;
    padding:40px 60px;
    @include vertical-align-wrapper;
    .inner {
      @include vertical-align;
      .description {
        max-height:200px;
        overflow-y:scroll;
      }

      .more {
        padding-top:10px;
        padding-bottom:10px;
      }
    }
  }
  .preview-img {
    height:500px;
  }
}
