.preview {
  padding:75px 0;
  .caption {
    background-color:$color-lightest;
    height:500px;
    padding:40px 60px;
    @include vertical-align-wrapper;
    .inner {
      @include vertical-align;
      .description {
        max-height:200px;
        overflow-y:scroll;
      }

      .more {
        padding-top:10px;
        padding-bottom:10px;
      }
    }
  }
  .preview-img {
    height:500px;
  }
  &:first-child {
    padding-top:0;
  }
  &:last-child {
    padding-bottom:0;
  }
}

@include media-sm {
  .preview {
    .col-sm-12 {
      padding-top:0;
      padding-bottom:0;
    }
    .caption {
      height:auto;
      padding:60px;
      .inner {
        .description {
          max-height:auto;
          overflow-y:inherit;
        }
      }
    }

    .preview-img {
      height:350px;
    }
  }
}
