.social-circle {
  font-size:16px;
  width:32px;
  height:32px;
  display:inline-block;
  border:2px solid $color-accent;
  border-radius:50%;
  text-align:center;
  @include transition(background-color 0.15s ease-in);
  i {
    @include transition(color 0.15s ease-in);
    margin-top:6px;
  }
  &:hover {
    background-color:$color-accent;
    @include transition(background-color 0.15s ease-in);
    i {
      color:$color-lightest;
      @include transition(color 0.15s ease-in);
    }
  }
}

.page {
  .social {
    text-align:center;
    position:absolute;
    width:100%;
    left:0px;
    top:435px;
    ul {
      li {
        margin:0 5px;
        display:inline;
        .social-circle {
          color:white;
          border-color:rgba(255, 255, 255, 0.6);
          @include transition(border-color 0.2s ease-in);
          margin-top:6px;
          &:hover {
            background-color:transparent;
            border-color:rgba(255, 255, 255, 1);
            @include transition(border-color 0.2s ease-in);
          }
        }
      }
    }
  }
}
