.social-circle {
  font-size:18px;
  padding:5px 7px;
  border:2px solid $color-accent;
  border-radius:50%;
  @include transition(background-color 0.15s ease-in);
  i {
    @include transition(color 0.15s ease-in);
  }
  &:hover {
    background-color:$color-accent;
    @include transition(background-color 0.15s ease-in);
    i {
      color:$color-lightest;
      @include transition(color 0.15s ease-in);
    }
  }
}
