html, body {
	font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B'; font-weight: 300;
	font-style: normal;
	height: 100%;
	font-size: 14px;
}

@font-face {
    font-family: 'aleolight';
    src: url('/_font/aleo-light-webfont.eot');
    src: url('/_font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-light-webfont.woff') format('woff'),
         url('/_font/aleo-light-webfont.ttf') format('truetype'),
         url('/_font/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('/_font/aleo-regular-webfont.eot');
    src: url('/_font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-regular-webfont.woff') format('woff'),
         url('/_font/aleo-regular-webfont.ttf') format('truetype'),
         url('/_font/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('/_font/aleo-bold-webfont.eot');
    src: url('/_font/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-bold-webfont.woff') format('woff'),
         url('/_font/aleo-bold-webfont.ttf') format('truetype'),
         url('/_font/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'SocialGothic';
	src: url('/_font/social-gothic.eot');
	src: url('/_font/social-gothic.eot?#iefix') format('embedded-opentype'),
	     url('/_font/social-gothic.woff') format('woff'),
	     url('/_font/social-gothic.ttf') format('truetype'),
	     url('/_font/social-gothic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5 {font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B'; font-weight: 400; font-style: normal; text-transform: uppercase; -webkit-margin-before: 0em;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;}

h2 {font-size: 26px;text-transform: uppercase;}

a {color: #006f7c; text-decoration: none;outline:0;}
a:hover, a:active {text-decoration: underline !important;outline:0;}

button {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #006f7c;
  border: 1px solid #006f7c;
  border-radius: 1px;
  transition: all 0.3s ease-out;

  /* Font styles */
  font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  
  cursor: pointer;
}
button a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

button:hover  { background: #7f3e19; }
button:focus { outline: 0; }

button.registration {
	padding: 20px;
	font-size: 14px;
}
button.large {
	width: 100%;
	padding: 20px 0;
	font-size: 20px;
	margin: 0;
}
button.extra-large {
	width: 100%;
	padding: 20px 0;
	font-size: 28px;
	margin: 0;
}

.breaker {
	margin: 20px 0;
}

.extra-margin {
	margin: 20px 0;
}
.abit-margin {
	margin: 10px 0;
}
.no-margin-l {
	margin-left: 0;
}


/* Global Stuff */
.ministry_logo {
	margin: 100px 0 120px;
	text-align: center;
}
h1 {
	font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 200;
	font-size: 70px;
	color: #fff;
	text-transform: initial;
	text-align: center;
	margin: 100px 0 120px;
}
h2 {
	font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
	font-size: 170px;
	font-weight: 400;
	color: #fff;
}
	h2 span {
		font-size: 25px;
	}
h3 {
	font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
	font-size: 35px;
	font-weight: 500;
	color: #fff;
	width: 100%;
	border-bottom: 2px solid #fff;
	letter-spacing: 1px;
}
h4 {
		font-size: 25px;
		font-weight: 500;
	}
h5 {
	font-size: 47px;
	font-weight: 400;
}
	h5 span {
		font-size: 25px;
		font-weight: 400;
	}
h6 {
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
}
	h6 span {
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
		text-transform: uppercase;
	}
.boxed_content {
	padding: 20px 10px;
	color: #fff;
	margin-bottom: 30px;
}
	.boxed_content h5 {
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-weight: 400;
		font-size: 17px;
		width: 100%;
		color: #fff;
		border-bottom: 2px solid #fff;
	}
	.boxed_content h4 {
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-weight: 400;
		font-size: 110px;
	}
		.boxed_content h4 span {
			font-size: 25px;
		}
	.boxed_content p {
		font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 400;
		font-size: 12px;
		padding-top: 20px;
	}

/* Pastor Letter */
#letter {
	background: url(/_img/annualreport/letter.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding: 100px 0;
}
	#letter .letter-logo {
		margin-bottom: 50px;
		text-align: center;
	}

	#letter p {
		color: #fff;
		font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
	}
	#letter .familyphoto {
		margin-top: 40px;
	}

/* Baptisms and Commitments */
#bapcommit {
	background: url(/_img/annualreport/bapcommit.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	background-color:black;
}

	#bapcommit .totalcommit {
		text-align: center;
		margin-bottom: 50px;
	}

	#bapcommit h3 {
		font-size: 20px;
	}

	#bapcommit .baptisms h2 {
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-size: 45px;
		font-weight: 500;
		color: #007A89;
		border-bottom: 2px solid #007A89;
		margin-bottom: 10px;
	}
	#bapcommit .baptisms img {
		width: 100%;
	}
	#bapcommit .baptism-videos {
		margin: 50px auto;
	}

/* Attendance */
#attendance {
	background-color: #AAAD00;
	color: #fff;
	padding-bottom: 100px;
}
		#attendance p {
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;
		}
	
	#attendance .attendance_details {
		border-top: 2px solid #fff;
		margin-bottom: 20px;
		display: flex;
	}
		#attendance .attendance_details .att_block {
			border-right: 2px solid #fff;
			padding: 20px 0;
			flex: 1;
			vertical-align: top;
			width: 24%;
			float: left;
		}
		#attendance .attendance_details .att_block > div {
			padding: 0 20px;
			display: block;
		}
		#attendance .attendance_details .att_block.omega{
			border-right: none;
		}
	#attendance .tag {
		margin-bottom: 100px;
	}
		#attendance .tag p {
			font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-size: 20px;
			font-weight: 400;
			font-style: italic;
			text-transform: initial;
		}


/* Serving */
#serving {
	background: url(/_img/annualreport/serving.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	#serving .boxed_content {
		background-color: #A6DBDE;
		color: #231F20;
	}
		#serving .boxed_content h5 {
			color: #231F20;
			border-bottom: 2px solid #231F20;
		}
		
	#serving .serving-vid {
		margin-top: 50px;
	}


/* Life Groups */
#lifegroups {
	background: url(/_img/annualreport/lifegroups.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	.increase-wrapper {
		margin-top: 40px;
	}
	.increase-wrapper:after {
		clear: both;
	}
	.increase-groups, .increase-adultgroups {
		background-color: #fff;
		padding: 10px;
		float: left;
	}
		.increase-groups p, .increase-adultgroups p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			color: #9C542A;
			font-size: 26px;
			margin: 0;
		}
	
	.increase-wrapper .increase-side {
		font-size: 26px;
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-weight: 400;
		color: #fff;
		margin-top: 10px;
		float: left;
		padding-left: 20px;
	}
	.increase-groups {
		width: 62%;
	}
	.increase-adultgroups {
		width: 39%;
	}
	
	#lifegroups .groupleaders {
		background: #CCA892;
		padding: 20px 40px 0;
	}
	#lifegroups .lifegroups-vid {
		margin-top: 50px;
	}
	
/* JKIDS */
#jkids {
	background: url(/_img/annualreport/jkids.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	
	#jkids .boxed_content {
		background-color: #A6DBDE;
		color: #231F20;
	}
		#jkids .boxed_content h5 {
			color: #231F20;
			border-bottom: 2px solid #231F20;
		}
	#jkids .serving-vid {
		margin-top: 50px;
	}


/* 56 Ministry */
#ministry56 {
	background: url(/_img/annualreport/ministry56.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	#ministry56 h1 {
		color: #AAAD00;
	}
	#ministry56 h2 {
		color: #AAAD00;
		float: left;
	}
	#ministry56 h3 {
		color: #AAAD00;
		border-bottom: 2px solid #AAAD00;
	}
	#ministry56 .ministry56-launch {
		background-color: #AAAD00;
		padding: 20px;
		float: right;
		width: 70%;
		margin: 55px 10px 10px;
	}
		#ministry56 .ministry56-launch p {
			color: #fff;
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-weight: 400;
			font-size: 12px;
		}
	#ministry56 .boxed_content {
		background-color: #AAAD00;
		color: #fff;
	}
		#ministry56 .boxed_content h5 {
			color: #fff;
			border-bottom: 2px solid #fff;
		}

		
/* Student Journey */
#studentjourney {
	background: url(/_img/annualreport/sj.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	#studentjourney .boxed_content {
		background-color: #E8E270;
		color: #231F20;
	}
		#studentjourney .boxed_content h5 {
			color: #231F20;
			border-bottom: 2px solid #231F20;
		}
		
	#studentjourney .sj-locations {
		margin-top: 60px;
	}
	
	
/* College */
#college {
	background: url(/_img/annualreport/college.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#college .increases h2 {
		font-size: 100px;
		line-height: 110px;
	}
	#college .increase-wrapper {
		margin-top: 10px;
	}
		#college .increase-wrapper .increase-side {
			font-size: 17px;
			margin-top: 0;
		}
	#college .increase-2013, #college .increase-2014 {
		background-color: #fff;
		padding: 0 10px;
		float: left;
	}
		#college .increase-2013 p, #college .increase-2014 p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			color: #007A89;
			font-size: 17px;
			margin: 0;
		}
		#college .increase-2013 {
			width: 55%;
		}
		#college .increase-2014 {
			width: 70%;
		}
	
	#college .boxed_content {
		background-color: #007A89;
		color: #fff;
	}
		#college .boxed_content h5 {
			border-bottom: 2px solid #fff;
		}

	#college .college-locations {
		margin-top: 30px;
	}
	

/* Equip & Pastoral Care */
#equip {
	background: #9C542A;  
	padding-bottom: 100px;
}
	#equip h1 {
		text-transform: uppercase;
	}
	
/* Creative Journey */
	

/* Interns */
#interns {
	background: #007A89;  
	padding-bottom: 100px;
}
	#interns .interns_rock {
		font-size: 400px;
		line-height: 400px;
	}
	
/* Loveworks */
#loveworks {
	background: url(/_img/annualreport/loveworks.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#loveworks h2 {
		line-height: 170px;
		margin-top: 20px;
	}
	#loveworks h4 {
		font-size: 72px;
		line-height: 72px;
		color: #fff;
		font-weight: 400;
	}
		#loveworks h4 span {
			font-size: 25px;
		}
	#loveworks .increases h2 {
		font-size: 100px;
		line-height: 110px;
	}
	#loveworks .increase-wrapper {
		margin-top: 10px;
	}
		#loveworks .increase-wrapper .increase-side {
			font-size: 17px;
			color: #fff;
			margin-top: 10px;
			float: left;
			padding-left: 20px;
		}
	#loveworks .increase-2012 {
		width: 20%;
		background-color: #fff;
		padding: 10px;
		float: left;
	}
		#loveworks .increase-2012 p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			font-size: 17px;
			margin: 0;
			color: #AAAD00;
		}
	#loveworks .increase-2013 {
		width: 70%;
		background-color: #E8E270;
		padding: 10px;
		float: left;
	}
		#loveworks .increase-2013 p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			font-size: 17px;
			margin: 0;
			color: #231F20;
		}
		
	#loveworks .boxed_content {
		margin-top: 40px;
	}
		#loveworks .boxed_content h4 {
			font-size: 112px;
			line-height: 114px;
		}
		#loveworks .boxed_content .grid_3 {
			padding: 20px 0;
		}
		#loveworks .loveworks-special {
			background-color: #E8E270;
			color: #231F20;
			padding: 20px 0 10px;
		}
			#loveworks .loveworks-special h5 {
				color: #231F20;
				border-bottom: 2px solid #231F20;
			}
			#loveworks .loveworks-special h4 {
				color: #231F20;
			}
	#loveworks .loveworks-vid {
		margin-top: 50px;
	}
	
	
/* Outreach */
#outreach {
	background: url(/_img/annualreport/outreach.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#outreach h1 {
		color: #AAAD00;
	}
	#outreach h2 {
		color: #AAAD00;
		font-size: 105px;
	}
	#outreach h3 {
		color: #AAAD00;
		border-bottom: 2px solid #AAAD00;
		font-size: 16px;
	}
	#outreach .totalgiven {
		text-align: center;
		margin: 40px auto 60px;
	}
		
		
/* Finances */
#finances {
	background: #007A89;  
	padding-bottom: 100px;
}
	#finances h2 {
		font-size: 112px;
	}
	
	#finances .boxed_content {
		background-color: #003E45;
		color: #fff;
		margin: 40px auto;
	}
		#finances .boxed_content h5 {
			color: #fff;
			font-size: 35px;
			border-bottom: 2px solid #fff;
		}
		

/* Seeds */
#seeds {
	background: url(/_img/annualreport/seeds.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#seeds h2 {
		font-size: 112px;
	}
	#seeds h4 {
		font-size: 60px;
		color: #fff;
		font-weight: 400;
		line-height: 62px;
	}
	#seeds .seeds-about {
		background: #fff;
		padding: 20px;
		padding-right: 0;
		margin-bottom: 30px;
	}
		#seeds .seeds-about > div {
			padding-right: 20px;
		}
		#seeds .seeds-about h3 {
			color: #000;
			border-bottom: #000 solid 2px;
		}
		#seeds .seeds-about p {
			padding-top: 25px;
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-weight: 400;
			font-size: 12px;
			color: #000;
		}
		
		
/* Giving */
#giving {
	background: #007A89;  
	padding-bottom: 100px;
}