/*
  Colors:

  Dark Blue: #16818B
  Blue: #299AA1
  Light Blue: #5caeb4

  Dark Green: #ACB043
  Green: #BFBD46
  Light Green: #CFCA74
*/

body {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', Arial;
  font-weight: 200;
  font-style: normal;
  color:white;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
}

.font-light {
  font-weight:100;
}

.dark-blue {
  background-color: #16818B;
}

.blue {
  background-color: #299AA1;
}

.light-blue {
  background-color: #5caeb4;
}

.dark-green {
  background-color: #ACB043;
}

.green {
  background-color: #BFBD46;
}

.light-green {
  background-color: #CFCA74;
}

.height-taller {
  height:700px;
}

.height-tall {
  height:500px;
}

.height-medium {
  height:350px;
}

.height-short {
  height:200px;
}

.no-gutter {
  padding-left:0 !important;
  padding-right:0 !important;
}

.vertical-align-wrapper {
  display:table;
  width:100%;
  height:100%;
}

.vertical-align {
  display:table-cell;
  vertical-align:middle;
}

.pad {
  width:90%;
}

.pad-narrow {
  width:50%;
}
