html, body {
	font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B'; font-weight: 300;
	font-style: normal;
	height: 100%;
	font-size: 14px;
}

@font-face {
    font-family: 'aleolight';
    src: url('/_font/aleo-light-webfont.eot');
    src: url('/_font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-light-webfont.woff') format('woff'),
         url('/_font/aleo-light-webfont.ttf') format('truetype'),
         url('/_font/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('/_font/aleo-regular-webfont.eot');
    src: url('/_font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-regular-webfont.woff') format('woff'),
         url('/_font/aleo-regular-webfont.ttf') format('truetype'),
         url('/_font/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('/_font/aleo-bold-webfont.eot');
    src: url('/_font/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-bold-webfont.woff') format('woff'),
         url('/_font/aleo-bold-webfont.ttf') format('truetype'),
         url('/_font/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'SocialGothic';
	src: url('/_font/social-gothic.eot');
	src: url('/_font/social-gothic.eot?#iefix') format('embedded-opentype'),
	     url('/_font/social-gothic.woff') format('woff'),
	     url('/_font/social-gothic.ttf') format('truetype'),
	     url('/_font/social-gothic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5 {font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B'; font-weight: 400; font-style: normal; text-transform: uppercase; -webkit-margin-before: 0em;
-webkit-margin-after: 0;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;}

h2 {font-size: 26px;text-transform: uppercase;}

a {color: #006f7c; text-decoration: none;outline:0;}
a:hover, a:active {text-decoration: underline !important;outline:0;}

button {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #006f7c;
  border: 1px solid #006f7c;
  border-radius: 1px;
  transition: all 0.3s ease-out;

  /* Font styles */
  font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  
  cursor: pointer;
}
button a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

button:hover  { background: #7f3e19; }
button:focus { outline: 0; }

button.registration {
	padding: 20px;
	font-size: 14px;
}
button.large {
	width: 100%;
	padding: 20px 0;
	font-size: 20px;
	margin: 0;
}
button.extra-large {
	width: 100%;
	padding: 20px 0;
	font-size: 28px;
	margin: 0;
}

.breaker {
	margin: 20px 0;
}

.extra-margin {
	margin: 20px 0;
}
.abit-margin {
	margin: 10px 0;
}
.no-margin-l {
	margin-left: 0;
}


/* Global Stuff */
.ministry_logo {
	margin: 100px 0 120px;
	text-align: center;
}
h1 {
	font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 200;
	font-size: 70px;
	color: #fff;
	text-transform: initial;
	text-align: center;
	margin: 100px 0 120px;
}
h2 {
	font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
	font-size: 170px;
	font-weight: 400;
	color: #fff;
}
	h2 span {
		font-size: 25px;
	}
h3 {
	font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
	font-size: 35px;
	font-weight: 500;
	color: #fff;
	width: 100%;
	border-bottom: 2px solid #fff;
	letter-spacing: 1px;
}
h4 {
		font-size: 25px;
		font-weight: 500;
	}
h5 {
	font-size: 47px;
	font-weight: 400;
}
	h5 span {
		font-size: 25px;
		font-weight: 400;
	}
h6 {
	font-size: 30px;
	font-weight: 400;
	margin: 0;
	text-transform: uppercase;
}
	h6 span {
		font-size: 15px;
		font-weight: 400;
		line-height: 18px;
		text-transform: uppercase;
	}
p {
	text-align: justify;
}
	
	/* Mobile Version */
	@media only screen and (max-width: 767px) {
		h1 {
			font-size: 48px;
		}
		h2 {
			font-size: 100px;
			line-height: 140px;
		}
		h3 {
			font-size: 25px;
		}
		p {
			text-align: left;
		}
	}
	
	/* Print Version */
	@media print {
		@page {
			margin: 2cm;
		}
		h1, h2, h3 {
		   page-break-after: avoid;
		}
		h3 {
			border-bottom: 2px solid #000!important;
		}
		section { page-break-after:always; }
		img {
		   max-width: 100% !important;
		}
		#mobile-only {
			display: none;
		}
		.ministry_logo {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		.videoWrapper {
			display: none;
			visibility: hidden;
		}
	}
	
.boxed_content {
	padding: 20px 10px;
	color: #fff;
	margin-bottom: 30px;
}
	.boxed_content h5 {
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-weight: 400;
		font-size: 17px;
		width: 100%;
		color: #fff;
		border-bottom: 2px solid #fff;
	}
	.boxed_content h4 {
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-weight: 400;
		font-size: 110px;
	}
		.boxed_content h4 span {
			font-size: 25px;
		}
	.boxed_content p {
		font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 400;
		font-size: 12px;
		padding-top: 20px;
	}
	
/* Navigation */
nav {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9999999;
}
	nav ul {
		text-align: right;
	}
	nav li {
		font-size: 22px;
		text-transform: uppercase;
		color: #fff;
		margin: 10px 0;
	}
	nav li a {
		color: #fff;
	}
	nav li span {
		display: none;
	}
	nav li i {
		padding-left: 10px;
	}

/* Cover */
#cover .print-cover {
	display: none;
}
	@media print {
		#cover #layerslider-container {
			display: none;
		}
		#cover .print-cover {
			display: block;
			width: 100%;
			height: 100%;
			page-break-after:always 
		}
	}
	
/* Pastor Letter */
#letter {
	background: url(/_img/annualreport/letter.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding: 100px 0;
}
	#letter .letter-logo {
		margin-bottom: 50px;
		text-align: center;
	}

	#letter p {
		color: #fff;
		font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		text-align: justify;
	}
	#letter .familyphoto {
		margin-top: 40px;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	
	
	@media print {
		#letter .letter-logo img {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
		#letter .clarksig {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
	

/* Images */
#images {
	background: #000;
	width:100%;
	height:1024px;
}
	#images .images-allimgs{
		background: url(/_img/annualreport/images.jpg);
		height: 1024px;
		max-width: 2000px;
		display: none;
	}
	
	@media print {
		#images {
			display: none;
		}
	}


/* Baptisms and Commitments */
#bapcommit {
	background: url(/_img/annualreport/bapcommit.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	background-color:black;
}
	#bapcommit h1 {
		margin-bottom: 60px;
		font-size: 40px;
	}

	#bapcommit .totalcommit {
		text-align: center;
		margin-bottom: 50px;
	}

	#bapcommit h2 {
		font-size: 86px;
	}
	#bapcommit h3 {
		font-size: 23px;
	}

	#bapcommit .baptisms h2 {
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-size: 50px;
		font-weight: 500;
		color: #007A89;
		border-bottom: 2px solid #007A89;
		margin-bottom: 10px;
		line-height: 64px;
	}
	#bapcommit .baptisms img {
		width: 100%;
	}
	#bapcommit .baptism-videos {
		margin: 50px auto;
	}
	
	@media only screen and (max-width: 767px) {
		#bapcommit .baptisms h2 {
			font-size: 35px;
		}
	}
	
	@media print {
		.totalcommit img, .bacommit-icons {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}


/* Attendance */
#attendance {
	background-color: #AAAD00;
	color: #fff;
	padding-bottom: 100px;
}
		#attendance p {
			font-size: 15px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;
		}
	#attendance .avgweekly {
		font-size: 170px;
	}
	#attendance .avgweekly-ppl {
		display: none;
	}
	#attendance .attendance_details {
		border-top: 2px solid #fff;
		margin-bottom: 20px;
		display: flex;
	}
		#attendance .attendance_details .att_block {
			border-right: 2px solid #fff;
			padding: 20px 0;
			flex: 1;
			vertical-align: top;
			width: 24%;
			float: left;
		}
		#attendance .attendance_details .att_block > div {
			padding: 0 20px;
			display: block;
		}
		#attendance .attendance_details .att_block.omega{
			border-right: none;
		}
	#attendance .tag {
		margin-bottom: 100px;
	}
		#attendance .tag p {
			font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-size: 20px;
			line-height: 24px;
			font-weight: 400;
			font-style: italic;
			text-transform: initial;
		}

	
	@media only screen and (max-width: 767px) {
		#attendance .avgweekly {
			font-size: 100px;
			line-height: 140px;
		}
		#attendance .attendance_details {
			display: block;
		}
		#attendance .att_block {
			display: block;
			width: 100%!important;
			border-right: none;
			border-bottom: 2px solid #fff;
		}
	}
	
	@media print {
		#attendance .attendance_details {
			border-top: 2px solid #000;
		}
		#attendance .attendance_details .att_block {
			border-right: 2px solid #000;
		}
		.totalcommit img, .bacommit-icons {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}


/* Serving */
#serving {
	background: url(/_img/annualreport/serving.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	#serving .srvtldrs {
		font-size: 170px;
	}
	#serving .srvtldrs-ppl {
		display: none;
	}
	#serving .boxed_content {
		background-color: #A6DBDE;
		color: #231F20;
	}
		#serving .boxed_content h5 {
			color: #231F20;
			border-bottom: 2px solid #231F20;
		}
		
	#serving .serving-vid {
		margin-top: 50px;
	}

	@media only screen and (max-width: 767px) {
		#serving .srvtldrs {
			font-size: 100px;
		}
	}


/* Life Groups */
#lifegroups {
	background: url(/_img/annualreport/lifegroups.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	.increase-wrapper {
		margin-top: 40px;
	}
	.increase-wrapper:after {
		clear: both;
	}
	.increase-groups, .increase-adultgroups {
		background-color: #fff;
		padding: 10px;
		float: left;
	}
		.increase-groups p, .increase-adultgroups p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			color: #9C542A;
			font-size: 26px;
			margin: 0;
		}
	
	.increase-wrapper .increase-side {
		font-size: 26px;
		font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
		font-weight: 400;
		color: #fff;
		margin-top: 10px;
		float: left;
		padding-left: 20px;
	}
	.increase-groups {
		width: 15%;
	}
	.increase-adultgroups {
		width: 31%;
	}
	
	#lifegroups .groupleaders {
		background: #CCA892;
		padding: 20px 40px 0;
	}
	#lifegroups .lifegroups-vid {
		margin-top: 50px;
	}
	
	@media only screen and (max-width: 767px) {
		#lifegroups .increases {
			margin-bottom: 40px;
		}
		.increase-groups p, .increase-adultgroups p { 
			font-size: 20px;
		}
		.increase-groups {
			width: 20%;
		}
		.increase-adultgroups {
			width: 35%;
		}
		#lifegroups .groupleaders {
			padding: 5px;
		}
	}
	
	@media print {
		.increase-groups, .increase-adultgroups {
			border: 1px solid #000;
		}
		.increase-groups {
			width: 62%;
		}
		.increase-adultgroups {
			width: 39%;
		}
	}
	
	
/* JKIDS */
#jkids {
	background: url(/_img/annualreport/jkids.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	
	#jkids .boxed_content {
		background-color: #A6DBDE;
		color: #231F20;
	}
		#jkids .boxed_content h5 {
			color: #231F20;
			border-bottom: 2px solid #231F20;
		}
	#jkids .serving-vid {
		margin-top: 50px;
	}


/* 56 Ministry */
#ministry56 {
	background: url(/_img/annualreport/ministry56.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	#ministry56 h1 {
		color: #AAAD00;
	}
	#ministry56 h2 {
		color: #AAAD00;
		float: left;
	}
	#ministry56 h3 {
		color: #AAAD00;
		border-bottom: 2px solid #AAAD00;
	}
	#ministry56 .ministry56-launch {
		background-color: #AAAD00;
		padding: 20px;
		float: right;
		width: 70%;
		margin: 55px 10px 10px;
	}
		#ministry56 .ministry56-launch p {
			color: #fff;
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-weight: 400;
			font-size: 12px;
		}
	#ministry56 .boxed_content {
		background-color: #AAAD00;
		color: #fff;
	}
		#ministry56 .boxed_content h5 {
			color: #fff;
			border-bottom: 2px solid #fff;
		}
		
	@media only screen and (max-width: 767px) {
		#ministry56 .ministry56-launch {
			width: 100%;
			display: block;
			float: left;
			padding: 0;
			margin: 20px 0 40px;
		}
		#ministry56 .ministry56-launch p {
			padding: 10px;
		}
		#ministry56 .boxed_content {
			width: 100%;
			margin: 0 0 40px;
		}
		#ministry56 .boxed_content p {
			padding-right: 20px;
		}
	}
	
	@media print {
		#ministry56 .ministry56-launch {
			border: 1px solid #000;
		}
		#ministry56 .boxed_content h5 {
			border-bottom: 2px solid #000;
		}
	}

		
/* Student Journey */
#studentjourney {
	background: url(/_img/annualreport/sj.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

	#studentjourney .boxed_content {
		background-color: #E8E270;
		color: #231F20;
	}
		#studentjourney .boxed_content h5 {
			color: #231F20;
			border-bottom: 2px solid #231F20;
		}
		
	#studentjourney .sj-locations {
		margin-top: 60px;
	}
	
	@media print {
		#studentjourney .sj-locations {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
	
	
/* College */
#college {
	background: url(/_img/annualreport/college.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#college .increases h2 {
		font-size: 100px;
		line-height: 110px;
	}
	#college .increase-wrapper {
		margin-top: 10px;
	}
		#college .increase-wrapper .increase-side {
			font-size: 17px;
			margin-top: 0;
		}
	#college .increase-2013, #college .increase-2014 {
		background-color: #fff;
		padding: 0 10px;
		float: left;
	}
		#college .increase-2013 p, #college .increase-2014 p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			color: #007A89;
			font-size: 17px;
			margin: 0;
		}
		#college .increase-2013 {
			width: 8%;
		}
		#college .increase-2014 {
			width: 8%;
		}
	
	#college .boxed_content {
		background-color: #007A89;
		color: #fff;
	}
		#college .boxed_content h5 {
			border-bottom: 2px solid #fff;
		}

	#college .college-locations {
		margin-top: 30px;
	}
	
	#college .college-themissions {
		margin-bottom: 40px;
	}
	
	@media only screen and (max-width: 767px) {
		#college .increases {
			margin-bottom: 40px;
		}
		#college .college-themissions-mobile {
			background: #fff;
			padding: 30px 0 10px;
		}
		#college .college-themissions-mobile h2 {
			color: #007A89;
			line-height: 100px;
		}
		#college .college-themissions-mobile h3 {
			color: #007A89;
		}
	}
	
	@media print {
		#college .ministry-logo {
			margin: 60px 0 80px;
		}
		#collge h2 {
			line-height: 155px;
		}
		#college .increase-2013 {
			width: 55%;
			border: 1px solid #000;
		}
		#college .increase-2014 {
			width: 70%;
			border: 1px solid #000;
		}
		#college .college-themissions {
			display: none;
		}
		#college .college-themissions-mobile {
			display: inline;
			margin-top: 40px;
		}
	}
	

/* Equip & Pastoral Care */
#equip {
	background: #9C542A;  
	padding-bottom: 100px;
}
	#equip h1 {
		text-transform: uppercase;
	}
	

/* Creative Journey */
#creative {
	background: #000;
	background: url(/_img/annualreport/creative.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#creative h2 {
		float: left;
	}
	#creative h3 {
		font-size: 30px;
		margin-bottom: 15px;
	}
		#creative h3 span {
			text-transform: lowercase;
		}
	#creative h5 {
		color: #fff;
		font-size: 17px;
		border-bottom: solid 2px #fff;
	}
	#creative .jbl-speakers {
		float: right;
		width: 60%;
		margin-top: 45px;
	}
		#creative .jbl-speakers h2 {
			font-size: 17px;
			line-height: 30px;
			display: block;
			clear: both;
		}
		#creative .jbl-speakers h3 {
			font-size: 24px;
		}
	#creative .details {
		background: #fff;
		float: right;
		width: 60%;
		margin-top: 40px;
		padding: 20px;
	}
		#creative .details p {
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-weight: 200;
			font-size: 12px;
			color: #231F20;
		}
		
	#creative .creative-album {
		margin: 40px auto;
	}
	
	@media only screen and (max-width: 767px) {
		#creative .jbl-speakers {
			width: 100%;
			clear: both;
			margin-bottom: 40px;
		}
		#creative .details {
			width: 100%;
			padding: 0;
			clear: both;
			margin-bottom: 40px;
		}
		#creative .details p {
			padding: 10px;
		}
		#creative .creative-album-mobile {
			background: #fff;
			padding: 10px;
			margin-bottom: 40px;
		}
		#creative .creative-album-mobile h2 {
			color: #000;
			float: inherit;
		}
		#creative .creative-album-mobile h3 {
			color: #000;
			border-bottom: 2px solid #000;
			margin-bottom: 30px;
		}
		#creative .creative-album-mobile h4 {
			color: #000;
			border-bottom: 1px solid #000;
		}
	}
	
	@media print {
		#creative .details {
			border: 1px solid #000;
		}
		#creative .creative-album {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
	

/* Interns */
#interns {
	background: #007A89;  
	padding-bottom: 100px;
}
	#interns .interns-details {
		background: #A6DBDE;
	}
		#interns .interns-details > div {
			padding: 10px 30px 5px;
		}
		#interns .interns-details h3 {
			color: #231F20;
			border-bottom: 2px solid #231F20;
		}
		#interns .interns-details p {
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-weight: 200;
			font-size: 12px;
			color: #231F20;
		}
	#interns .interns_rock {
		font-size: 380px;
		line-height: 380px;
	}
	
	#interns img {
		margin: 45px auto 40px;
	}

	@media only screen and (max-width: 767px) {
		#interns .interns-details {
			margin-bottom: 40px;
		}
		#interns img {
			margin: 20px 0;
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		#interns .interns_rock {
			font-size: 160px;
			line-height: 180px;
			margin-bottom: 40px;
		}
	}
	
	
/* Loveworks */
#loveworks {
	background: url(/_img/annualreport/loveworks.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#loveworks h2 {
		line-height: 170px;
		margin-top: 20px;
	}
	#loveworks h4 {
		font-size: 72px;
		line-height: 72px;
		color: #fff;
		font-weight: 400;
	}
		#loveworks h4 span {
			font-size: 25px;
		}
	#loveworks .increases h2 {
		font-size: 100px;
		line-height: 110px;
	}
	#loveworks .increase-wrapper {
		margin-top: 10px;
	}
		#loveworks .increase-wrapper .increase-side {
			font-size: 17px;
			color: #fff;
			margin-top: 10px;
			float: left;
			padding-left: 20px;
		}
	#loveworks .increase-2012 {
		width: 10%;
		background-color: #fff;
		padding: 10px;
		float: left;
	}
		#loveworks .increase-2012 p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			font-size: 17px;
			margin: 0;
			color: #AAAD00;
		}
	#loveworks .increase-2013 {
		width: 10%;
		background-color: #E8E270;
		padding: 10px;
		float: left;
	}
		#loveworks .increase-2013 p {
			font-family: 'Gotham Cond SSm A', 'Gotham Cond SSm B';
			font-weight: 400;
			font-size: 17px;
			margin: 0;
			color: #231F20;
		}
		
	#loveworks .boxed_content {
		margin-top: 40px;
	}
		#loveworks .boxed_content h4 {
			font-size: 112px;
			line-height: 114px;
		}
		#loveworks .boxed_content .grid_3 {
			padding: 20px 0;
		}
		#loveworks .loveworks-special {
			background-color: #E8E270;
			color: #231F20;
			padding: 20px 0 10px;
		}
			#loveworks .loveworks-special h5 {
				color: #231F20;
				border-bottom: 2px solid #231F20;
			}
			#loveworks .loveworks-special h4 {
				color: #231F20;
			}
	#loveworks .loveworks-vid {
		margin-top: 50px;
	}
	
	@media only screen and (max-width: 767px) {
		#loveworks .increases {
			margin-bottom: 40px;
		}
		#loveworks h2 {
			font-size: 100px;
			line-height: 100px;
			margin-bottom: 0;
		}
		#loveworks .loveworks-special .grid_2 {
			padding: 10px;
		}
	}
	
	@media print {
		#loveworks h5 {
			border-bottom: 2px solid #000;
		}
		.increase-fall-2012 {
			width: 20%!important;
			border: 1px solid #000;
		}
		.increase-fall-2013 {
			width: 70%!important;
			border: 1px solid #000;
		}
		.increase-spring-2012 {
			width: 46%!important;
			border: 1px solid #000;
		}
		.increase-spring-2013 {
			width: 50%!important;
			border: 1px solid #000;
		}
		.increase-total-2012 {
			width: 40%!important;
			border: 1px solid #000;
		}
		.increase-total-2013 {
			width: 12%!important;
			border: 1px solid #000;
		}
	}
	
	
/* Outreach */
#outreach {
	background: url(/_img/annualreport/outreach.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#outreach h1 {
		color: #AAAD00;
	}
	#outreach h2, #outreach .outreach-given-act {
		color: #AAAD00;
		font-size: 105px;
	}
	#outreach h3 {
		color: #AAAD00;
		border-bottom: 2px solid #AAAD00;
		font-size: 16px;
	}
	#outreach .totalgiven {
		text-align: center;
		margin: 40px auto 60px;
	}
	
	@media only screen and (max-width: 767px) {
		#outreach h2, #outreach .outreach-given-act {
			font-size: 80px;
		}
	}
	
	@media print {
		.totalgiven img {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
			-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		.seeds-about {
			margin-left: 0;
		}
	}
		
		
/* Finances */
#finances {
	background: #007A89;  
	padding-bottom: 100px;
}
	#finances h2 {
		font-size: 112px;
	}
	
	#finances .boxed_content {
		background-color: #003E45;
		color: #fff;
		margin: 40px auto;
	}
		#finances .boxed_content h5 {
			color: #fff;
			font-size: 35px;
			border-bottom: 2px solid #fff;
		}
		
	@media only screen and (max-width: 767px) {
		#finances h2 {
			font-size: 80px;
		}
	}
	
	@media print {
		#finances img {
			filter: url(inverse.svg#negative);
			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
		

/* SEEDS */
#seeds {
	background: url(/_img/annualreport/seeds.jpg) no-repeat center center fixed;  
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}
	#seeds h2 {
		font-size: 112px;
	}
	#seeds h4 {
		font-size: 60px;
		color: #fff;
		font-weight: 400;
		line-height: 62px;
	}
	#seeds .seeds-about {
		background: #fff;
		padding: 20px;
		padding-right: 0;
		margin-bottom: 30px;
	}
		#seeds .seeds-about > div {
			padding-right: 20px;
		}
		#seeds .seeds-about h3 {
			color: #000;
			border-bottom: #000 solid 2px;
		}
		#seeds .seeds-about p {
			padding-top: 25px;
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-weight: 400;
			font-size: 12px;
			color: #000;
		}
		
	#seeds .outstanding {
		margin-top: 39px;
	}

	@media only screen and (max-width: 767px) {
		#seeds h2 {
			font-size: 80px;
			line-height: 100px;
		}
		#seeds h3 {
			margin-top: 40px;
		}
		#seeds h4 {
			font-size: 40px;
			line-height: 45px;
		}
	}
		

/* Accomplishments */
#accomplishments {
	width:100%;
	height:1056px;
	background: #000;
}

	@media print {
		#accomplishments {
			display: none;
			visibility: hidden;
		}
	}
	

/* Giving */
#giving {
	background: #007A89;  
	padding-bottom: 100px;
}
	#giving h3 {
		font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 200;
		font-size: 20px;
		padding-bottom: 5px;
	}
	#giving p {
		font-size: 17px;
		color: #fff;
	}
	#giving ul {
		font-size: 17px;
		color: #fff;
		list-style-position:inside;
	}
	#giving ul li {
		margin: 10px 0;
	}
	#giving ul > ul {
		padding-left: 20px;
	}
	#giving .givebtn {
		text-align: center;
		width: 100%;
	}
		#giving .givebtn a {
			font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
			font-weight: 500;
			color: #fff;
			font-size: 22px;
			text-transform: uppercase;
		}
		
	@media print {
		#giving .givebtn {
			display: none;
			visibility: hidden;
		}
	}