/*
  Colors:

  Dark Blue: #16818B
  Blue: #299AA1
  Light Blue: #5caeb4

  Dark Green: #ACB043
  Green: #BFBD46
  Light Green: #CFCA74
*/

body {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', Arial;
  font-style: normal;
  color:white;
  font-size:12px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  font-weight: 400;
  line-height:1.4em;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {

}

h6 {

}

.font-light {
  font-weight:100;
}

.font-bold {
  font-weight:500;
}

.dark-blue {
  background-color: #16818B;
}

.blue {
  background-color: #299AA1;
}

.light-blue {
  background-color: #5caeb4;
}

.dark-green {
  background-color: #ACB043;
}

.green {
  background-color: #BFBD46;
}

.light-green {
  background-color: #CFCA74;
}

.no-gutter {
  padding-left:0 !important;
  padding-right:0 !important;
}

.pad-narrow, .pad {
  width:80%;
}

.large {
  font-size:5em;
}

.logo {
  max-width:50%;
}

.letters-close {
  letter-spacing:-3px;
}

.height-taller, .height-tall, .height-medium, .height-short {
  padding-top:50px;
  padding-bottom:50px;
}

@media screen and (min-width: 768px) {
  .vertical-align-wrapper {
    display:table;
    width:100%;
    height:100%;
  }

  .vertical-align {
    display:table-cell;
    vertical-align:middle;
  }

  .height-taller, .height-tall, .height-medium, .height-short {
    padding-top:0;
    padding-bottom:0;
  }

  .height-taller {
    height:700px;
  }

  .height-tall {
    height:500px;
  }

  .height-medium {
    height:350px;
  }

  .height-short {
    height:200px;
  }
}

@media screen and (min-width: 992px) {
  body {
    font-size:13px;
  }

  .pad-narrow {
    width:50%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size:14px;
  }

  .pad {
    width:70%;
  }

  .logo {
    max-width:80%;
  }
}
