body {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', Arial;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  min-height:100%;
  position:relative;
  padding-bottom:200px;
}

section {
  padding:30px 0;
}

section h1 {
  margin:0;
}

.blue {
  color:#006f7c;
}

.main-nav {
  background-color:#F9F9F9;
  border-bottom:1px solid #F3F3F3;
  border-top:0;
  border-radius:0;
  margin-bottom:0;
}

.main-nav ul li {
  font-size:12px;
  text-transform: uppercase;
}

.main-nav .navbar-nav > li > a {
  color:black;
}

.main-nav .navbar-toggle {
  border-radius:0;
  border:0;
}

.main-nav .navbar-toggle .icon-bar {
  background-color:black;
}

.main-nav .navbar-nav > .active > a, .main-nav .navbar-nav > .active > a:hover {
  background-color:#006f7c;
  color:white;
}

.nav-wrapper {
  padding:0;
}

.nav-wrapper .feature-nav {
  padding:15px 30px;
}

.nav-wrapper .btn, .nav-wrapper .btn:active, .nav-wrapper .btn:hover, .nav-wrapper .btn:active:hover, .nav-wrapper .btn:active:focus, .nav-wrapper .btn:focus {
  background-color:#F9F9F9;
  border-radius:0;
  border:1px solid #F3F3F3;
  font-size:12px;
  padding:10px;
  box-shadow:none;
  outline:none;
}

.nav-wrapper ul {
  margin:0;
  border-left:1px solid #F3F3F3;
  border-right:1px solid #F3F3F3;
  border-bottom:1px solid #F3F3F3;
}

.nav-wrapper ul li a {
  color:#717271;
  text-decoration:none;
  padding:12px;
  display:block;
  font-size:12px;
  border-bottom:1px solid #F3F3F3;
}

.nav-wrapper ul li:last-child a {
  border-bottom:0;
}

.nav-wrapper ul .active a, .nav-wrapper ul .active a:hover  {
  background-color:#006f7c;
  color:white;
}

.nav-wrapper ul a:hover {
  background-color:#F9F9F9;
  color:#282828;
}

.tab-content .tab-pane h3 {
  color:#006f7c;
}

.content-wrapper {
  min-height:100%;
}

.iphone-wrapper {
  width:250px;
  height:500px;
  position:relative;
  margin:5px auto 0 auto;
}

.iphone-wrapper .carousel .carousel-inner .item {
  position:absolute;
  top:57px;
  left:19px;
  width:84.6%;
  height:75%;
  z-index:-100;
}

.iphone-wrapper .carousel .carousel-inner .item img {
  position:absolute;
  height:100%;
  width:100%;
}

.iphone-wrapper .carousel .carousel-inner .item:last-child img{
  top:auto;
  left:auto;
  width:100%;
  height:100%;
  z-index:0;
}

.promotionals {
  margin-left:-10px;
  margin-top:20px;
  text-align:center;
}

.promotionals a:last-child img {
  margin-top:-32px;
}

ol {
  border:1px solid #F3F3F3;
  background-color:#F9F9F9;
  padding:20px 20px 20px 35px;
  margin:0;
}

ol strong {
  color:black;
}

ol .active strong {
  color:#006f7c;
}

.controls {
  margin-top:20px;
  font-size:24px;
}

.controls i:hover {
  cursor:pointer;
}

footer {
  background-color:#F9F9F9;
  border-top:1px solid #F3F3F3;
  border-bottom:1px solid #F3F3F3;
  padding:5px 0;
  position:absolute;
  width:100%;
  bottom:0px;
  height:200px;
}

footer a {
  color:#006f7c;
}

footer .contact {
  margin-top:15px;
  line-height:26px;
  text-align:center;
  margin-bottom:40px;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
  body {
    padding-bottom:90px;
  }

  footer {
    height:90px;
  }

  footer .contact {
    margin-bottom:0;
    text-align:left;
  }

  .nav-wrapper ul {
    border:1px solid #F3F3F3;
  }

  .main-nav .navbar-nav > li > a {
    color:#777;
  }

  .promotionals {
    text-align:right;
  }
}

@media screen and (min-width: 1200px) {
  .nav-wrapper .btn {
    display:none;
  }

  .nav-wrapper .collapse {
    display:block !important;
  }
}
