body
{
  font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', 'Montserrat', Arial;
  font-weight:300;
  background-color:black;
  color:white;
  background-image:url("/_img/christmas/Christmas-day.jpeg");
}

section
{
  padding:25px 0;
}

.bg-img
{
  background-color:black;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.no-gutter
{
  padding-right:0;
  padding-left:0;
}

.btn-default
{
  margin-top:5px;
  margin-bottom:5px;
}

.wrapper
{
  padding:25px 0;
}

.content .inner
{
  padding-top:30px;
  padding-bottom:30px;
}
