/* Colors
  Pink: #c6579a
  Blue: #6ad1e3
  Green: #a4d65e
  Black: #0C0C0C
*/

@font-face {
  font-family: 'GeosansLight';
  src: url('/_font/GeosansLight/GeosansLight.eot'); /* IE9 Compat Modes */
  src: url('/_font/GeosansLight/GeosansLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_font/GeosansLight/GeosansLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_font/GeosansLight/GeosansLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('/_font/GeosansLight/GeosansLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/_font/GeosansLight/GeosansLight.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  background-color:#0C0C0C !important;
  font-family:'GeosansLight', Arial;
  color:white;
  font-weight:200;
  background: url("/_img/Easter-Background.jpg") no-repeat bottom center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

a:hover, a:active, a:focus {
  text-decoration:none;
}

h1 {
  font-size:60px;
  letter-spacing:35px;
  text-transform:uppercase;
}

h2 {
  font-size:50px;
  text-transform:uppercase;
}

h3 {
  font-size:30px;
}

p {
  font-size:20px;
}

section {
  padding:80px 0;
  text-align:center;
  -webkit-transition:0.25s ease-in background-color;
  -moz-transition:0.25s ease-in background-color;
  -o-transition:0.25s ease-in background-color;
  transition:0.25s ease-in background-color;
}

section:hover {
  -webkit-transition:0.25s ease-in background-color;
  -moz-transition:0.25s ease-in background-color;
  -o-transition:0.25s ease-in background-color;
  transition:0.25s ease-in background-color;
}

section:first-child {
  padding:0;
}

#cover-mobile {
  display:none;
  position:relative;
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  transform:translateY(-50%);
}

#cover .inner {
  position:relative;
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  transform:translateY(-50%);
}

#cover .cover-border {
  height:3px;
  background-color:transparent;
  -webkit-transition:0.25s ease-in background-color;
  -moz-transition:0.25s ease-in background-color;
  -o-transition:0.25s ease-in background-color;
  transition:0.25s ease-in background-color;
}

#cover .active .cover-border {
  background-color:#6ad1e3;
  -webkit-transition:0.25s ease-in background-color;
  -moz-transition:0.25s ease-in background-color;
  -o-transition:0.25s ease-in background-color;
  transition:0.25s ease-in background-color;
}

#cover .cover-border:first-child {
  margin-bottom:30px;
}

#cover .cover-border:last-child {
  margin-top:30px;
}

#cover .letter {
  font-size:75px;
  color:white;
  -webkit-transition:0.25s ease-in color;
  -moz-transition:0.25s ease-in color;
  -o-transition:0.25s ease-in color;
  transition:0.25s ease-in color;
}

#cover .active .letter {
  color:#6ad1e3;
  -webkit-transition:0.25s ease-in color;
  -moz-transition:0.25s ease-in color;
  -o-transition:0.25s ease-in color;
  transition:0.25s ease-in color;
}

#cover .line {
  opacity:0;
}

#arrow {
  position:absolute;
  top:85%;
  left:50%;
  opacity:0;
  -webkit-transform:translateX(-50%);
  -ms-transform:translateX(-50%);
  -o-transform:translateX(-50%);
  -moz-transform:translateX(-50%);
  transform:translateX(-50%);
}

#arrow i {
  position:relative;
  font-size:50px;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

#what-is {
  opacity:0;
}

#what-is h2 span {
  color:#c6579a;
}

#about {
  opacity:0;
}

#about h3 strong {
  border-bottom:1px solid #6ad1e3;
  -webkit-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -moz-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -o-transition:0.25s ease-in border-color, 0.25s ease-in color;
  transition:0.25s ease-in border-color, 0.25s ease-in color;
}

.about:hover h3 strong {
  border-color:white !important;
  color:#6ad1e3;
  -webkit-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -moz-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -o-transition:0.25s ease-in border-color, 0.25s ease-in color;
  transition:0.25s ease-in border-color, 0.25s ease-in color;
}

.about:hover p {
  color:#6ad1e3;
  -webkit-transition:0.25s ease-in color;
  -moz-transition:0.25s ease-in color;
  -o-transition:0.25s ease-in color;
  transition:0.25s ease-in color;
}

#filler {
  opacity:0;
}

.filler:first-child {
  background: url("/_img/Easter-2.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:300px;
}

.filler:nth-child(2) {
  background: url("/_img/Easter-1.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:300px;
}

.filler:last-child {
  background: url("/_img/Easter-3.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:300px;
}

#teaser {
  opacity:0;
}

#teaser h2 strong {
  border-bottom:1px solid #a4d65e;
  -webkit-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -moz-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -o-transition:0.25s ease-in border-color, 0.25s ease-in color;
  transition:0.25s ease-in border-color, 0.25s ease-in color;
}

#teaser:hover h2 strong {
  border-color:white;
  color:#a4d65e;
  -webkit-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -moz-transition:0.25s ease-in border-color, 0.25s ease-in color;
  -o-transition:0.25s ease-in border-color, 0.25s ease-in color;
  transition:0.25s ease-in border-color, 0.25s ease-in color;
}

#involve {
  opacity:0;
}

#involve i {
  color:#c6579a;
  font-size:35px;
  margin-bottom:15px;
}

#involve a:hover strong {
  border-color:#c6579a;
  -webkit-transition:0.25s ease-in border-color;
  -moz-transition:0.25s ease-in border-color;
  -o-transition:0.25s ease-in border-color;
  transition:0.25s ease-in border-color;
}

#involve a:hover i {
  color:#c6579a;
  -webkit-transition:0.25s ease-in color;
  -moz-transition:0.25s ease-in color;
  -o-transition:0.25s ease-in color;
  transition:0.25s ease-in color;
}

#invite:hover i {
  color:#c6579a;
  -webkit-transition:0.25s ease-in color;
  -moz-transition:0.25s ease-in color;
  -o-transition:0.25s ease-in color;
  transition:0.25s ease-in color;
}

#download {
  color:white;
}

#download strong {
  border-bottom:1px solid white;
  -webkit-transition:0.25s ease-in border-color;
  -moz-transition:0.25s ease-in border-color;
  -o-transition:0.25s ease-in border-color;
  transition:0.25s ease-in border-color;
}

#social {
  opacity:0;
  padding-bottom:240px;
}

#social a {
  color:white;
}

#social i {
  font-size:30px;
  margin-left:10px;
  margin-right:10px;
  margin-top:40px;
  color:#6ad1e3;
  opacity:0.7;
  -webkit-transition:0.25s ease-in opacity;
  -moz-transition:0.25s ease-in opacity;
  -o-transition:0.25s ease-in opacity;
  transition:0.25s ease-in opacity;
}

#social i:hover {
  opacity:1;
  -webkit-transition:0.25s ease-in opacity;
  -moz-transition:0.25s ease-in opacity;
  -o-transition:0.25s ease-in opacity;
  transition:0.25s ease-in opacity;
}

#social span {
  color:#6ad1e3;
}

/* Medium devices (desktops, 992px and up) (Tablet Wide) */
@media screen and (max-width: 1199px) {
  body {
    background-attachment:scroll;
  }

  section {
    opacity:1 !important;
  }

  h2 {
    font-size:40px;
  }

  #cover-mobile {
    display:block;
  }

  #cover {
    background: url("/_img/Easter-Background-2.png") no-repeat top right scroll;
  }

  #cover .inner {
    display:none;
  }

  #arrow {
    opacity:1 !important;
  }

  #what-is:hover {
    color:white;
  }

  .about:nth-child(2) h3 strong {
    border-color:white !important;
    color:#6ad1e3;
  }

  .about:nth-child(2) p {
    color:#6ad1e3;
  }

  .about:first-child h3 strong, .about:last-child h3 strong {
    border-color:#6ad1e3 !important;
    color:white;
  }

  .about:first-child p, .about:last-child p {
    border-color:#6ad1e3 !important;
    color:white;
  }

  #teaser h2 strong {
    border-color:white;
    color:#a4d65e;
  }

  #involve strong {
    border-color:#c6579a;
  }

  #social h1 {
    font-size:50px;
    letter-spacing:normal;
    text-transform:lowercase;
  }

  #social i {
    opacity:1;
  }
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
  #cover {
    background-image:none;
  }

  .about {
    margin-top:40px;
    margin-bottom:40px;
  }

  .about:first-child {
    margin-top:0;
  }

  .about:last-child {
    margin-bottom:0;
  }

  #download {
    margin-top:40px;
  }
}

@media print {
  h1, h2, h3, p {
    color:black;
  }

  section {
    padding:20px 0;
    opacity:1 !important;
  }

  .col-sm-4, .col-sm-6, .col-sm-12 {
    display:block;
  }

  #cover .inner {
    display:none;
  }

  #cover-mobile {
    display:block;
  }

  #filler {
    display:none;
  }

  #arrow {
    display:none;
  }
}
