
	#mobile, #sidr, #mobile-top {display:none;}
	#mobile-only {display:none;}
	
	/* Full Size Top */
	.journeylogo {
		background-image: url(/_img/logo.png);
		text-transform: uppercase;
		background-repeat: no-repeat;
		height: 45px;
		margin-top: 10px;
		padding-top: 16px;
	}
	.journeylogo span {
		font-family: 'Gotham SSm 1r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 100; font-style: normal;
		font-size: 14px;
		color: #FFFFFF;
		margin-top: 15px;
		padding-left: 52px;
		-moz-padding-start: 52px;
		 -webkit-padding-start: 52px;
	}
	
	.bar-enabled {
		position: relative;
		-moz-box-shadow: 0px 1px 5px #020202;
		-webkit-box-shadow: 0px 1px 5px #020202;
		box-shadow: 0px 1px 5px #020202;
	}
	.bar-disabled {
		margin-top: 20px;
	}
	.nav {
		font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
		font-size: 14px;
		color: #FFFFFF;
		text-transform: uppercase;
		position: fixed;
	}
	ul.nav-main{
		display: block;
		list-style: none;
		position: relative;
		float: right;
		clear: both;
		padding-top: 10px;
		margin: 0;
	}
	ul.nav-main > li{
		-webkit-backface-visibility: hidden;
		height: 45px;
		padding: 17px 15px 0;
		float: left;
		position:relative;
		z-index: 100;
		color: #FFFFFF;
		font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 400;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
		cursor: pointer;
	}
	ul.nav-main li a {
		color: #FFFFFF!important;
		font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B'!important;
		font-weight: 400!important;
		font-size: 12px!important;
		text-transform: uppercase!important;
		text-decoration: none!important;
		cursor: pointer!important;
	}
	ul.nav-main li a:hover {
		text-decoration: none!important;
	}
	.activenav {
		background-image: url(/_img/nav-arrow.png);
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	.nav-sub {
		background-image: url(/_img/bg-nav-sub.png);
		background-repeat: repeat;
		padding: 20px 0;
		position: absolute;
		z-index: 9999;
		display: none;
		left: 0;
		width: 100%;
		color: #FFFFFF;
	}
	.nav-sub h2 {
		font-size: 30px;
		color: #989d00;
		margin: 0;
		padding: 10px 0 15px 0;
	}
	.nav-sub a {
		color: #989d00;
		text-decoration: none;
		font-size: 16px;
	}
	.nav-sub p {
		color: #FFFFFF;
		margin: 0;
		font-weight: 300;
	}
	
	.media-thumbs {
		
	}

	/* Title Bar */
	.title-bar {
		background-color: #989d00;
		padding: 20px 0 0;
		margin-bottom: 20px;
	}
	.title-bar h2 {
		color: #FFFFFF;
		font-size: 28px;
		padding: 10px 0;
	}
	.title-bar span {
		font-size: 20px;
	}
	
	.about-alt {
		background-color: #006f7c;
	}
	
	
	
	/* SLIDES */
	.slides-container {
		max-width: 1400px;
		margin: 0 auto;
	}
    #slides {
      display: none;
	  margin-bottom: 45px;
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url(/_img/slider/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
	  margin-left: 20px;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

	.slidesjs-pagination li:last-child {
		margin-right: 20px;
	}
    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(/_img/slider/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #7f3e19;
    }
	
	
	/* Home Small Calendar */
	#cal-week ul {
		background-color: #fff;
		margin-bottom: 20px;
		border-bottom: 1px solid #b2b4b1;
	}
	#cal-week li {
		list-style-type: none;
		font-size: 36px;
		line-height: 24px;
		padding-top: 20px;
		padding-bottom: 10px;
		text-align: center;
		float: left;
		width: 14.285%;
	}
	#cal-week li span {
		font-size: 11px;
		display: block;
		text-transform: uppercase;
	}
	#cal-week li.ui-state-active {
		background-color: #7f3e19;
	}
	#cal-week li.ui-state-active a {
		color: #FFF;
	}
	#cal-week li a, #cal-week li a:hover {
		text-decoration: none!important;
	}
	
	/* Groups */
	.groups-filter {
		margin-bottom: 15px;
	}
	.groups-filter ul li.active {
		text-decoration: underline;
	}
	.groups-filter ul li {
		list-style-type: none;
		float: left;
		padding: 0 10px;
		font-size: 16px;
	}
	.groups-filter ul li:first-child {
		padding-left: 0;
	}