	.custom-calendar-GiantJanuary p {
		color: #006f7c;
	}
	@media screen and (max-width: 880px), screen and (max-height: 450px) {
		.custom-month-year nav {
			margin: 20px 0!important;
		}
	}
	.fc-date {
		font-size: 46px !important;
		right: 0 !important;
		left: auto !important;
		text-align: right !important;
		min-width: 80px!important;
		font-weight: 700 !important;
		color: #FFF!important;
	}
	.fc-calendar, .fc-calendar-fullscreen {
		background-color: #006f7c;
	}
	.fc-head {
		background-color: #006f7c !important;
		color: #FFF !important;
		font-weight: 700!important;
		margin-bottom: 0px !important;
	}
	.fc-event a {
		color: #FFF!important;
	}
	.fc-calendar .fc-row > div > span.fc-weekday {
		color: rgba(255, 255, 255, 0.7)!important;
	}
	
	.custom-calendar-GiantJanuary h2 {
		font-family: 'aleoregular',Georgia,serif;
		text-transform: uppercase;
		color: #6F4D9F;
		font-size: 62px;
		line-height: 62px;
		margin-top: 30px;
	}
	@media screen and (max-width: 880px) , screen and (max-height: 450px) {
		.custom-calendar-GiantJanuary h2 {
			font-size: 42px;
		}
	}
	
	.custom-calendar-GiantJanuary h3 {
		color: #006f7c;
		font-weight: 700;
	}
	p.giantJanuary-large {
		font-size: 18px;
	}
	.custom-calendar-GiantJanuary a {
		border-bottom: 1px #006f7c dotted;
	}
	.custom-calendar-GiantJanuary a:hover {
		border-bottom: 1px #006f7c solid;
		text-decoration: none!important;
	}
	.fc-calendar .fc-row > div.fc-today {
		background-color: #00616D !important;
	}