/* All Mobile Sizes */

	#navigation {display:none;}
	#full-only {display:none;}
	#mobile {position:fixed;width:100%;z-index:9999;}
	.mobile-spacer {height:65px;}
	
	.ei-title{
		position: absolute;
		right: 0px;
		margin-right: 0px;
		width: 100%;
		text-align: center;
		top: auto;
		bottom: 10px;
		background: #fff;
		background: rgba(255,255,255,0.9);
		padding: 5px 0;
	}
	.ei-title h2, .ei-title h3{
		text-align: center;
	}
	.ei-title h2{
		font-size: 20px;
		line-height: 24px;
	}
	.ei-title h3{
		font-size: 30px;
		line-height: 40px;
	}
	
	.title-bar {
		margin-bottom: 10px;
		border-bottom: 1px solid #b2b4b1;
	}
	.title-bar h2 {
		color: #006f7c;
		font-size: 24px;
		padding: 10px 0;
	}
	.title-bar span {
		font-size: 20px;
		color: #000;
		display: block;
	}
	
	.nav-main {
		display: none;
	}
	
	ul.side-nav {
		margin: 20px 0;
	}
	
	.fancy-page h2 {
		font-size: 22px;
	}
	
	/* Home */
	.mobile_boxes {
		height: 50px;
		padding-top: 30px;
	}
	.latest-entry {
		margin-top: 5px;
		padding: 0 10px;
	}
	
	/* Groups */
	.groups-filter {
		margin-bottom: 10px;
	}
	.groups-filter ul li.active {
		text-decoration: underline;
	}
	.groups-filter ul li {
		text-align: center;
		list-style-type: none;
		font-size: 16px;
	}
	.groups-filter ul li:first-child {
		padding-left: 0;
	}
	
	/* Locations */
	.location-details {
		margin: 10px 0;
	}
	
	/* Media */
	.media-title {
		background-color: #989d00;
	}
	.media-title h2 {
		color: #FFF;
	}
	.mobile-media h2, .mobile-media span {
		color: #FFF !important;
	}
	.series {
		padding: 10px 0;
	}
	.series-ind {
		padding: 10px;
	}
	.series-ind img {
		display: block;
	}
	
	
	#wrapper {
		min-height: 100%;
		/* equal to footer height + footer margin-top */
		margin-bottom: -170px;
	}
	#footer, #wrapper:after {
	  /* .push must be the same height as footer */
	  margin-top: 20px;
	  height: 150px;
	}