@font-face {
  font-family: 'Avenir';
  src: url('/_font/AvenirLTStd-Black.eot'); /* IE9 Compat Modes */
  src: url('/_font/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_font/AvenirLTStd-Black.woff') format('woff'), /* Pretty Modern Browsers */
       url('/_font/AvenirLTStd-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/_font/AvenirLTStd-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'AvenirLight';
  src: url('/_font/Avenir-Light.eot'); /* IE9 Compat Modes */
  src: url('/_font/Avenir-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_font/Avenir-Light.woff') format('woff'), /* Pretty Modern Browsers */
       url('/_font/Avenir-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/_font/Avenir-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Avenir', 'Montserrat', sans-serif;
}

h4 {
  letter-spacing:3px;
}

h5 {
  letter-spacing:5px;
  color:#D0D0D0;
}

p {
  font-family: 'AvenirLight', 'Montserrat', sans-serif;
  font-size:14px;
  line-height:30px;
  letter-spacing:2px;
}

.bg-img {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-image:black;
}

.btn {
  border-radius:0;
  background-image:none;
  text-shadow:none;
  box-shadow:none;
}

.btn:hover {
  box-shadow:none;
}

.btn:active {
  box-shadow:none;
}

.btn:focus {
  outline-offset:0 !important;
}

.btn-default {
  font-size:12px;
  background-color:transparent;
  border:2px solid white;
  color:white;
  text-transform:uppercase;
  letter-spacing:4px;
  padding:10px 25px 8px 25px;
  -moz-transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  -webkit-transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  -o-transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color:white !important;
  color:black !important;
  border-color:white !important;
  -moz-transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  -webkit-transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  -o-transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
  transition:color 0.2s ease-in, background-color 0.2s ease-in, border-color 0.2s ease-in;
}

.banner {
  background-image: url("/_img/Mountains_BG_White.jpg");
  width:100%;
  display:table;
  height:800px;
}

.banner .inner {
  vertical-align:middle;
  display:table-cell;
}

.banner .inner img {
  opacity:0;
  margin-top:-200px;
}

.scroll-down-container {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
}

.scroll-down {
  font-size:65px;
  text-align:center;
  opacity:0;
}

.scroll-down i {
  position:relative;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.scroll-down:hover {
  cursor:pointer;
}

#promo {
  background-image: url("/_img/Mountains_BG_Black.jpg");
  color:white;
  padding:200px 0;
}

#promo h3 {
  font-family: 'AvenirLight', 'Montserrat', sans-serif;
  letter-spacing:18px;
  text-transform:uppercase;
}

#promo button {
  background-color:white;
  color:black;
}

#promo button:hover, #promo button:active, #promo button:focus {
  background-color:black !important;
  color:#2BDE73 !important;
  border-color:black !important;
}

#promo .hover {
  background-color:black;
  color:#2BDE73;
  border-color:black;
}

#promo iframe {
  height:350px;
}

#promo img {
  display:inline-block;
}

#google-play img {
  width:150px;
}

#quotes {
  padding-top:20px;
  padding-bottom:20px;
}

#quotes h2 {
  text-transform:uppercase;
  font-family: 'AvenirLight', 'Montserrat', sans-serif;
  letter-spacing:2px;
}

.quote {
  margin-top:50px;
  margin-bottom:50px;
}

.quote .quote-img {
  opacity:0.3;
  -moz-transition:opacity 0.25s ease-in;
  -webkit-transition:opacity 0.25s ease-in;
  -o-transition:opacity 0.25s ease-in;
  transition:opacity 0.25s ease-in;
}

.quote:hover .quote-img {
  opacity:1;
  -moz-transition:opacity 0.25s ease-in;
  -webkit-transition:opacity 0.25s ease-in;
  -o-transition:opacity 0.25s ease-in;
  transition:opacity 0.25s ease-in;
}

.quote-caption {
  margin-top:20px;
}

footer {
  padding:50px 0;
  background-color:black;
}

footer p {
  color:white;
  font-size:12px;
}

footer ul {
  list-style-type:none;
  padding:0;
}

footer ul li {
  display:inline;
  margin:0 5px;
}

footer ul li a {
  font-size:22px;
}

footer a {
  color:white;
  opacity:0.6;
  -moz-transition:opacity 0.25s ease-in;
  -webkit-transition:opacity 0.25s ease-in;
  -o-transition:opacity 0.25s ease-in;
  transition:opacity 0.25s ease-in;
}

footer a:hover, footer a:focus {
  opacity:1;
  color:white;
  -moz-transition:opacity 0.25s ease-in;
  -webkit-transition:opacity 0.25s ease-in;
  -o-transition:opacity 0.25s ease-in;
  transition:opacity 0.25s ease-in;
  text-decoration:none;
}

/* Tablet */
@media screen and (max-width:991px) {
  .bg-img {
    background-attachment:scroll;
  }

  #promo iframe {
    height:500px;
  }

  #promo h3 {
    margin-top:130px;
  }

  #promo {
    padding-top:60px;
    padding-bottom:60px;
  }

  .quote .quote-img {
    opacity:1;
  }
}

/* Mobile */
@media screen and (max-width:767px) {
  #promo iframe {
    height:400px;
  }

  #promo img {
    display:block;
    margin-left:0;
    margin-top:20px;
  }

  #google-play img {
    margin-left:-10px;
  }

  .quote-caption h2 {
    margin-top:35px;
  }
}
