
	.fc-head {
		display: none;
	}
	.fc-calendar .fc-body {
		padding: 0!important;
	}
	.fc-calendar .fc-row {
		margin: 10px 0;
	}
	
	.fc-date {
		font-size: 32px !important;
		text-align: left !important;
		min-width: 80px!important;
		font-weight: 300 !important;
		text-shadow: none!important;
	}
	.fc-calendar, .fc-calendar-fullscreen {
		background-color: #fff;
	}
	.fc-head {
		background-color: #006f7c !important;
		color: #FFF !important;
		font-weight: 700!important;
		margin-bottom: 0px !important;
	}
	.fc-event a {
		color: #231f20!important;
		font-weight: 400!important;
	}
	.fc-calendar .fc-row {
		box-shadow: none!important;
	}
	.fc-calendar .fc-row > div {
		box-shadow: none!important;
	}
	
	.fc-calendar .fc-row > div > span.fc-weekday {
		color: rgba(255, 255, 255, 0.7)!important;
	}
	h3.custom-month-year {
		text-align: left!important;
		font-family: 'Archer SSm A', 'Archer SSm B' !important; font-weight: 600!important; font-style: normal;
		font-size: 42px;
		margin: 5px 13px 20px;
	}
	.custom-calendar-OneSweetSummer h2 {
		font-family: 'aleoregular',Georgia,serif;
		text-transform: uppercase;
		font-size: 62px;
		line-height: 62px;
		margin-top: 30px;
	}
	.custom-calendar-OneSweetSummer p {
		color: #231f20;
	}
	
	.custom-calendar-OneSweetSummer h3 {
		font-weight: 700;
		font-size: 20px;
		padding-bottom: 10px;
	}
	p.OneSweetSummer-large {
		font-size: 18px;
	}
	.custom-calendar-OneSweetSummer a {
		border-bottom: 1px #006f7c dotted;
	}
	.custom-calendar-OneSweetSummer a:hover {
		border-bottom: 1px #006f7c solid;
		text-decoration: none!important;
	}
	.fc-calendar .fc-row > div.fc-today {
		background-color: #00616D !important;
	}
	
	.OneSweetSummer-body h2 {
		font-family: 'Archer SSm A', 'Archer SSm B' !important; font-weight: 600!important; font-style: normal;
	}
	
	
	@media screen and (min-width: 881px) {
		/* Date Number Holder */
		.fc-calendar .fc-row > div > div {
			margin-top: 30px!important;
		}
		.fc-day_holder {
			min-height: 245px;
			margin: 0 5px;
		}
	}
	@media screen and (max-width: 880px) , screen and (max-height: 450px) {
		.custom-month-year nav {
			margin: 20px 0!important;
		}
		.custom-calendar-OneSweetSummer h2 {
			font-size: 42px;
		}
		.fc-weekday {
			display:none!important;
		}
		.fc-day_holder {
			min-width: 100%!important;
			margin-top: 0!important;
		}
		.fc-date {
			margin-bottom:0!important;
			padding-left:10px!important;
		}
		.OneSweetSummer-body h2 {
			font-size: 44px;
			line-height: 46px!important;
		}
	}