/*
  Colors: Green - #989d00
          Blue - #006f7c
          Grey Texture: background-image:url('/_img/bg-texture.jpg');
          Rust - #7f3e19;
*/


/* Fonts */
@font-face {
  font-family: 'arvil_sans';
  src: url('/_font/arvil_sans-webfont.eot'); /* IE9 Compat Modes */
  src: url('/_font/arvil_sans-webfont?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_font/arvil_sans-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/_font/arvil_sans-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/_font/arvil_sans-webfont#svgFontName') format('svg');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'bravoRG';
  src: url('/_font/BravoRG.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleolight';
  src: url('/_font/aleo-light-webfont.eot');
  src: url('/_font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/_font/aleo-light-webfont.woff') format('woff'),
       url('/_font/aleo-light-webfont.ttf') format('truetype'),
       url('/_font/aleo-light-webfont.svg#aleolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('/_font/aleo-regular-webfont.eot');
    src: url('/_font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-regular-webfont.woff') format('woff'),
         url('/_font/aleo-regular-webfont.ttf') format('truetype'),
         url('/_font/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('/_font/aleo-bold-webfont.eot');
    src: url('/_font/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-bold-webfont.woff') format('woff'),
         url('/_font/aleo-bold-webfont.ttf') format('truetype'),
         url('/_font/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'SocialGothic';
	src: url('/_font/social-gothic.eot');
	src: url('/_font/social-gothic.eot?#iefix') format('embedded-opentype'),
	     url('/_font/social-gothic.woff') format('woff'),
	     url('/_font/social-gothic.ttf') format('truetype'),
	     url('/_font/social-gothic.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* Background */
html {
  background: #ffffff url('/_img/roadtrip/ROAD_optimized.jpg') no-repeat fixed right bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size:cover;
  background-size: cover;
}


/* Separators */
.separator {
  height:100px;
}

.blast_separator {
  height:26px;
}


/* Header */
#header {
  border:4px solid white;
}

#header h1 {
  font-family:'arvil_sans';
  color:white;
  font-size:7em;
  font-weight:100;
  text-align:center;
  margin-top:0;
  margin-bottom:0;
}

#header h2 {
  font-family:'arvil_sans';
  color:white;
  font-size:5em;
  font-weight:100;
  text-align:center;
  margin-top:0;
  margin-bottom:0;
}

#explain {
  background-color:white;
}

#explain h1 {
  color:#989d00;
  font-family:'bravoRG';
  font-size:3em;
  font-weight:100;
  padding:0 35px;
  line-height:1em;
  text-transform:uppercase;
}


/* Ten Ways To Have A Blast */
#ten_ways h2 {
  font-family:'arvil_sans';
  color:white;
  font-size:5em;
  font-weight:100;
  text-align:center;
}

.blast {
  height:170px;
  background-color:#989d00;
}

.blast h1 {
  text-align:center;
  font-family:'arvil_sans';
  color:white;
  font-size:4em;
  font-weight:100;
  line-height:1em;
}

.blast h1:nth-child(2) {
  display:none;
}

.blast:hover {
  background-color:white !important;
}

.blast:hover h1:first-child {
  display:none;
}

.blast:hover h1:nth-child(2) {
  display:block;
  color:#989d00;
}

#blast_2 h1:nth-child(2), #blast_3 h1:nth-child(2), #blast_5 h1:nth-child(2), #blast_9 h1:nth-child(2), #blast_10 h1:nth-child(2) {
  margin-top:20px;
}

#blast_6 h1:nth-child(2) {
  margin-top:2px;
  font-size:3.5em;
}

#blast_2, #blast_6, #blast_10 {
  background-color:#006f7c;
}

#blast_2 h1:nth-child(2), #blast_6 h1:nth-child(2), #blast_10 h1:nth-child(2) {
  color:#006f7c;
}

#blast_3, #blast_7 {
  background-image:url('/_img/bg-texture.jpg');
}

#blast_3 h1:nth-child(2), #blast_7 h1:nth-child(2) {
  color:grey;
}

#blast_3:hover, #blast_7:hover {
  background-color:white;
  background-image:none;
}

#blast_4, #blast_8 {
  background-color:#7f3e19;
}

#blast_4 h1:nth-child(2), #blast_8 h1:nth-child(2) {
  color:#7f3e19;
}


/* Upcoming Events */
#schedule h2 {
  font-family:'arvil_sans';
  color:white;
  font-size:5em;
  font-weight:100;
  text-align:center;
}

.month h1 {
  font-family:'arvil_sans';
  color:white;
  font-size:6em;
  font-weight:100;
}

.events {
  background-color:rgba(255, 255, 255, 1);
  padding:15px 15px;
}

.events ul {
  list-style-type:none;
}

.events ul li {
  font-family:'aleolight';
  color:#989d00;
  font-size:1.35em;
  font-weight:100;
  padding:10px 0;
  padding-left:17px;
}

.events ul li a {
  text-decoration:none;
  color:#989d00;
}

.events ul li a h2 {
  color:#989d00;
}

.events ul li:hover {
  background-color:#989d00;
}

.events ul li:hover a {
  color:white;
}

.events ul li:hover a h3 {
  color:white;
}

.events ul li h3 {
  font-family:'arvil_sans';
  color:black;
  display:inline;
  font-weight:normal;
}

.events ul li a:active {
  text-decoration:underline;
}

/*
#young_adult_pic {
  width:95%;
  height:200px;
  margin:30px auto 0 auto;
  background-image:url('/_img/YAE_photo_optimized.jpg');
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
*/

#weekly_events h1 {
  display:inline-block;
  width:400px;
  margin-left:-130px;
  margin-bottom:50px;
}

#weekly_events .month {
  margin-top:70px;
}

/*
#may .events {
  height:300px;
}
*/

.month h1 {
  transform:rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.events {
  text-align:left;
  padding-left:17px;
  border-left:4px solid #989d00;
}

/* Footer */
#footer {
  background-image: url(/_img/bg-texture.jpg);
  background-repeat: repeat;
}

button {
  margin: 10px;
  padding: 8px 15px;
  background: #006f7c;
  border: 1px solid #006f7c;
  border-radius: 1px;
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size:12px;
}

#footer button {
  float: left;
  display: inline-block;
  transition: background 0.3s ease-out;
}

#footer button:hover {
  background-color:#7f3e19;
  transition:all 0.3s ease-out;
}

#footer ul {
  margin-top: 22px;
}
#footer ul > li {
  float: left;
  list-style: none;
  color: #FFF;
  padding: 0 10px;
}
#footer ul > li a {
  color: #fff;
  font-size: 14px;
}
#footer .rights {
  color: #FFFFFF;
  border-top: 1px solid #b2b4b1;
  font-size: 10px;
  padding: 10px 0;
}
#footer .footer-social {
  text-align: right;
}
#footer .footer-social i {
  font-size: 24px;
  padding: 0 5px;
}
#footer .footer-social a, #footer .footer-social a:hover, #footer .footer-social a:active {
  color: #fff;
  text-decoration: none!important;
}

#footer a {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 300;
  font-style: normal;
  height: 100%;
  color: #fff;
  text-decoration: none!important;
}

#footer a:hover {
  text-decoration: underline !important;
}

/* Mobile */
@media screen and (max-width:767px) {
  #header {
    border:none;
    margin-bottom:60px;
  }

  .separator, .blast_separator {
    display:none;
  }

  #explain h1 {
    padding:0 25px;
    font-size:2.5em;
  }

  .blast h1 {
    font-size:2.5em !important;
    line-height:0.8em !important;
  }

  .blast h1:first-child {
    margin-top:30px;
  }

  .blast h1:nth-child(2) {
    display:block;
    color:white !important;
  }

  #blast_1:hover, #blast_5:hover, #blast_9:hover {
    background-color:#989d00 !important;
  }

  #blast_1:hover h1:first-child, #blast_5:hover h1:first-child, #blast_9:hover h1:first-child {
    display:block;
  }

  #blast_2:hover, #blast_6:hover, #blast_10:hover {
    background-color:#006f7c !important;
  }

  #blast_2:hover h1:first-child, #blast_6:hover h1:first-child, #blast_10:hover h1:first-child {
    display:block;
  }

  #blast_3:hover, #blast_7:hover {
    background-image:url('/_img/bg-texture.jpg');
  }

  #blast_3:hover h1:first-child, #blast_7:hover h1:first-child {
    display:block;
  }

  #blast_4:hover, #blast_8:hover {
    background-color:#7f3e19 !important;
  }

  #blast_4:hover h1:first-child, #blast_8:hover h1:first-child {
    display:block;
  }

  #schedule h2 {
    margin-bottom:0;
  }

  .month h1 {
    transform:none;
    -ms-transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    display:block;
    text-align:center;
    margin-bottom:0;
    font-size:4.5em !important;
  }

  #weekly_events {
    margin-bottom:70px;
  }

  #weekly_events h1 {
    margin-left:auto !important;
    margin-bottom:0 !important;
    margin-top:0;
    width:100% !important;
  }

  .events {
    border:none;
    padding:0;
  }

  .events ul {
    padding:15px;
  }

  .events ul li {
    padding-right:15px;
  }
}
