/*
	Colors:
	Yellow: #fdd15b;
	Blue: #3b67b1;
	Grey: #5d5e58;
	Orange: #f6914f;
	Green: #30b264;
	Light Green: #b5c297;
	Light Blue: #9fc7ea;

	Fonts:
	Futura Medium
	Helvetica Condensed
*/

@charset "utf-8";

@font-face {
  font-family: 'helveticaCondensed';
  src: url('/_font/HelveticaNeue-CondensedBlack.eot'); /* IE9 Compat Modes */
  src: url('/_font/HelveticaNeue-CondensedBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_font/HelveticaNeue-CondensedBlack.woff') format('woff'), /* Pretty Modern Browsers */
       url('/_font/HelveticaNeue-CondensedBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/_font/HelveticaNeue-CondensedBlack.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'futuraMedium';
  src: url('/_font/Futura-Medium.eot'); /* IE9 Compat Modes */
  src: url('/_font/Futura-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/_font/Futura-Medium.woff') format('woff'), /* Pretty Modern Browsers */
       url('/_font/Futura-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/_font/Futura-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
	font-family:'futuraMedium', Arial;
}

.info p, .info span {
	color:white;
	font-size:20px;
}

.title {
	background-color:#fdd15b;
	padding:0 0 20px 0;
  overflow:hidden !important;
}

.title h1 {
	text-transform:uppercase;
	text-align:center;
	color:white;
	line-height:0;
}

.rock {
	width:640px;
	margin:0 auto;
	position:relative;
	left:-2000px;
}

.the {
	font-size:396px;
	font-family:'helveticaCondensed', Arial;
	margin-top:130px;
	position:relative;
	right:-2000px;
}

.block {
	width:650px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-120px;
	position:relative;
	left:-2000px;
}

.title h3 {
	text-align:center;
	font-size:35px;
	color:white;
}

.title .hashtag {
	font-family:Arial;
}

.neighbors {
	color:#5d5e58 !important;
	font-size:44px !important;
	margin-top:0px;
	line-height:0;
	display:none;
	font-family:'futuraMedium', Arial;
}

.number {
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
}

.number:hover {
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
	-o-transition: transform 0.3s ease-in;
	-moz-transition: transform 0.3s ease-in;
	-webkit-transition: transform 0.3s ease-in;
	transition: transform 0.3s ease-in;
}

.info {
	background-color:#3b67b1;
	padding:20px 0;
}

.info h2 {
	color:#fdd15b;
	text-align:center;
	font-size:70px;
	text-transform:uppercase;
	font-family:'helveticaCondensed', Arial;
}

.info .prepare ul {
	list-style-type:none;
}

.info .prepare ul li {
	margin:10px 0;
}

.info span {
	color:white;
	font-family:'futuraMedium', Arial;
}

.info .ideas {
	font-size:50px;
	text-transform:uppercase;
	color:white;
	margin-top:-10px;
}

.info .ideas ul {
	color:white;
	font-size:16px;
	margin-top:15px;
}

.info .ideas ul li {
	text-transform:none;
	font-size:23px;
}

.info .ideas ul li h4 {
	display:inline;
	color:#f6914f;
	text-transform:uppercase;
}

.lightbulb img {
	margin:-15px 0 0 -30px;
	opacity:0.6;
	-o-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	-webkit-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
}

.lightbulb img:hover {
	opacity:1;
	-o-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	-webkit-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
}
.invite {
	text-align:center;
	color:white;
	font-size:20px;
}

.invite h5 {
	text-transform:uppercase;
	color:white;
	font-weight:bold;
	display:inline;
	font-size:22px;
}

.invite span {
	margin-left:0;
}

.invite span, .invite h4, .invite h5 {
	text-align:center;
}

#list_wrapper {
	background-color:#30b264;
	color:white;
	padding:40px 0;
}

#list_wrapper h3 {
	font-size:20px;
	text-align:center;
	color:white;
}

#list_wrapper a {
	text-decoration:none;
}

#list_wrapper ul{
	list-style-type:none;
}

#list_wrapper ul li {
	margin:15px 0 15px 26px;
}

.potluck, .byom, .icecream, .youprovide {
	padding-left:13px;
	padding-right:13px;
	height:104px;
}

.potluck_print, .byom_print, .icecream_print, .youprovide_print {
	display:none;
}

.potluck {
	background-color:#58C182;
}

.list_title {
	-o-transition: background-color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in;
	-webkit-transition: background-color 0.3s ease-in;
	transition: background-color 0.3s ease-in;
	padding-bottom:15px;
}

.potluck_list, .byom_list, .icecream_list, .youprovide_list {
	padding:15px 0;
	width:996px;
	margin:0 auto;
	color:white;
	background-color:#58C182;
}

.byom_list, .icecream_list, .youprovide_list {
	display:none;
}

.bold {
	font-weight:bold;
	text-transform:uppercase;
}

/* Footer */

#footer {
  background-image: url(/_img/bg-texture.jpg);
  background-repeat: repeat;
}

#footer p {
	font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', arial;
}

button {
  margin: 10px;
  padding: 8px 15px;
  background: #006f7c;
  border: 1px solid #006f7c;
  border-radius: 1px;
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', arial;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size:12px;
}

#footer button {
  float: left;
  display: inline-block;
  transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
	-moz-transition: background 0.3s ease-out;
	-webkit-transition: background 0.3s ease-out;
}

#footer button:hover {
  background-color:#7f3e19;
  -o-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  transition:all 0.3s ease-out;
}

#footer ul {
  margin-top: 22px;
}
#footer ul > li {
  float: left;
  list-style: none;
  color: #FFF;
  padding: 0 10px;
}
#footer ul > li a {
  color: #fff;
  font-size: 14px;
  font-weight:300 !important;
}
#footer .rights {
  color: #FFFFFF;
  border-top: 1px solid #b2b4b1;
  font-size: 10px;
  padding: 10px 0;
}
#footer .footer-social {
  text-align: right;
}
#footer .footer-social i {
  font-size: 24px;
  padding: 0 5px;
}
#footer .footer-social a, #footer .footer-social a:hover, #footer .footer-social a:active {
  color: #fff;
  text-decoration: none!important;
}

#footer a {
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', arial;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  color: #fff;
  text-decoration: none!important;
}

#footer a:hover {
  text-decoration: underline !important;
}

#footer p {
  font-weight:300 !important;
}

@media screen and (max-width:767px) {
	.rock, .block {
		width:100%;
	}

	.rock {
		margin-top:20px;
	}

	.the {
    margin-top:80px !important;
		font-size:10em !important;
    width:100% !important;
	}

	.block {
		margin-top:-10px;
	}

	.number {
		display:block;
		margin-bottom:10px;
	}

	.prepare span {
		margin-left:0;
	}

	.neighbors {
		line-height:normal;
	}

	.lightbulb img {
		margin:20px auto;
		opacity:1;
	}

	.info .prepare ul li {
		margin:30px 0;
	}

	.invite {
		text-align:left;
	}

	#list_wrapper {
		display:none;
	}

	#footer {
    margin:0 !important;
		height:auto !important;
  }
}

@media print {
	* {
		font-family:Arial !important;
	}

	.rock {
		position:static;
	}

	.the {
		margin-top:150px;
		font-size:320px;
		position:static;
	}

	.block {
		margin-top:-70px;
		position:static;
	}

	.neighbors {
		display:block !important;
	}

	.lightbulb img {
		opacity:1;
	}

	.potluck, .byom, .icecream, .youprovide {
		display:none;
	}

	.potluck_print, .byom_print, .icecream_print, .youprovide_print {
		display:block;
		font-size:40px;
		text-align:center;
	}

	.byom_list, .icecream_list, .youprovide_list {
		display:block;
	}

	#footer ul, #footer button, #footer a, #footer #full-only {
		display:none !important;
	}

	#footer .footer-social, #footer .footer-social a {
		display:block !important;
	}

	#footer .footer-social a[href]:after, #explain a[href]:after {
		content: " (" attr(href) ")" !important;
	}
}
