/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* Site Colors
Green:	#989d00
Blue:	#006f7c
Rust:	#7f3e19
Gray:	#b2b4b1
*/

/* We're gonna use this for placeholder text */
samp {color: #ff00c6;font-family:inherit;}

* {
	margin: 0;
}
html, body {
	font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300;
	font-style: normal;
	height: 100%;
	font-size: 14px;
}

@font-face {
    font-family: 'aleolight';
    src: url('/_font/aleo-light-webfont.eot');
    src: url('/_font/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-light-webfont.woff') format('woff'),
         url('/_font/aleo-light-webfont.ttf') format('truetype'),
         url('/_font/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleoregular';
    src: url('/_font/aleo-regular-webfont.eot');
    src: url('/_font/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-regular-webfont.woff') format('woff'),
         url('/_font/aleo-regular-webfont.ttf') format('truetype'),
         url('/_font/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleobold';
    src: url('/_font/aleo-bold-webfont.eot');
    src: url('/_font/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/_font/aleo-bold-webfont.woff') format('woff'),
         url('/_font/aleo-bold-webfont.ttf') format('truetype'),
         url('/_font/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5 {font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal; text-transform: uppercase;}

h2 {font-size: 26px;text-transform: uppercase;}

a {color: #006f7c; text-decoration: none;outline:0;}
a:hover, a:active {text-decoration: underline !important;outline:0;}

button {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: #006f7c;
  border: 1px solid #006f7c;
  border-radius: 1px;
  transition: all 0.3s ease-out;

  /* Font styles */
  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  
  cursor: pointer;
}
button a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

button:hover  { background: #7f3e19; }

button.registration {
	padding: 20px;
	font-size: 14px;
}
button.large {
	width: 100%;
	padding: 20px 0;
	font-size: 20px;
	margin: 0;
}
button.extra-large {
	width: 100%;
	padding: 20px 0;
	font-size: 28px;
	margin: 0;
}

.breaker {
	margin: 20px 0;
}

.extra-margin {
	margin: 20px 0;
}
.abit-margin {
	margin: 10px 0;
}
.no-margin-l {
	margin-left: 0;
}

div.capty-caption {
	background-color: #000;
	color: #FFF;
	font: bold 11px verdana;
	padding-left: 10px;
	-moz-padding-start: 10px;
	 -webkit-padding-start: 10px;
	padding-top: 7px;
}

div.capty-caption a {
	color: #318DAD;
	font: bold 11px verdana;
	text-decoration: none;
	text-shadow: none;
}

#wrapper {
	min-height: 100%;
	/* equal to footer height + footer margin-top */
	margin-bottom: -131px;
}
#wrapper:after {
  content: "";
  display: block;
}
#footer, #wrapper:after {
  /* .push must be the same height as footer */
  margin-top: 20px;
  height: 111px;
}
#footer a {
	color: #FFF!important;
}

/* Top Colors */
.prepend-blue {
	background-color: #006f7c;
}

/* TOP SECTION */
.top {
	background-image: url(/_img/bg-texture.jpg);
	background-repeat: repeat;
}

.countdown {
	background-color: #006f7c;
	padding: 5px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
	font-size: 14px;
	color: #b7b6b1;
	-moz-box-shadow: 0px 1px 5px #020202;
	-webkit-box-shadow: 0px 1px 5px #020202;
	box-shadow: 0px 1px 5px #020202;
}
.countdown span {
	color: #FFFFFF;
	letter-spacing: 0px;
}

.nav-main {
	display: none;
}

.admin-bar {
	background-color: #EEE;
	padding: 10px 0;
}

/* Page Elements */
.banner {
	margin-top: -20px;
	margin-bottom: 20px;
}
.page-title {
	color: #989d00;
	padding-bottom: 20px;
}
.fancy-page h2 {
	font-family: 'aleoregular',Georgia,serif;
	color: #7f3e19;
	font-size: 28px;
	text-transform: none;
	line-height: 30px;
	padding-bottom: 5px;
	letter-spacing: 1px;
}
.fancy-page h2 span {
	font-size: 20px;
}
.fancy-page h2 a {
	color: #7f3e19;
}
.fancy-page ul li {
	padding-left: 10px;
	list-style-position: inside;
}
.fancy-page h3 span {
	font-size: 12px;
}
.fancy-body {
	font-family: 'aleoregular',Georgia,serif;
	text-transform: none;
}
ul.side-nav {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.side-nav-right {
	text-align: right;
}
.side-nav li{
	list-style-type: none;
	padding: 2px 0;
	font-size: 16px;
}
.sub-title {
	font-size: 18px;
	color: #FFFFFF;
	padding: 5px 10px;
	margin-bottom: 10px;
	margin-left: -10px;
}
.sub-title.green {background-color: #989d00;}
.sub-title.blue {background-color: #006f7c;}
.sub-title.rust {background-color: #7f3e19;}
.sub-title.gray {background-color: #b2b4b1; width:60%;}
@media only screen and (max-width: 768px) {
	.sub-title.gray {width:100%;}
}

.mobile-liveservice {
	background-color: #006f7c;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}
.mobile-liveservice a {
	color: #FFF;
}

/* Home */
	.happening h2, .latest h2 {
		font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 200;
		font-style: normal;
		text-transform: uppercase;
		color: #FFFFFF;
		font-size: 16px;
		margin-top: 20px;
		padding: 5px;
	}
	.happening h2 {
		background-color: #b2b4b1;
	}
	.happening h2 a {
		font-size:23px;
		color:#FFFFFF;
	}
	.happening h2 a:hover {
		text-decoration: none!important;
	}
	
	.happening h3 {
		padding: 0;
	}
	.latest-entry {
		padding: 5px 0;
	}
	.latest h2 {
		background-color: #006f7c;
	}
	.latest p {
		font-size: 14px;
	}
	
	@media only screen and (max-width: 767px) {
		.mobile_boxes {
			text-transform: uppercase;
			color: #fff;
			font-size: 16px;
			line-height: 18px;
			text-align: center;
			padding: 10px 0;
			margin: 2px 0 !important;
		}
	}
	
/* About */
	
	#accordion, #accordion2 {
		cursor: pointer;
	}
	#accordion h3, #accordion2 h3 {
		background-color: #EEE;
		padding: 10px;
		border-bottom: 1px solid #b2b4b1;
	}
	#accordion .icon-plus-sign, #accordion2 .icon-plus-sign {
		color: #b2b4b1;
		float: right;
		font-size: 18px;
	}
	#accordion .accordion-title, #accordion2 .accordion-title {
		font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 400;
		font-size: 16px;
		padding-right: 10px;
	}
	#accordion2 {
		margin-top: 20px;
	}
	.ui-accordion-content {
		padding: 20px 0;
	}
	
	.side-locations h3 {
		margin-top: 10px;
	}
	.side-locations h4 {
		font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300;
		font-style: normal;
		height: 100%;
		font-size: 14px;
		text-transform: none;
		padding-bottom: 10px;
	}
	.side-locations p {
		padding-left: 10px;
		padding-bottom: 5px;
		font-size: 12px;
	}
	.slide-locations i {
		padding-right: 10px;
	}
	
	.locations-separator {
		padding: 10px;
		border-bottom: 1px solid #b2b4b1;
	}
	
/* Blogs */
	.blogs-featured {
		background-color: #E6E6E6!important;
		padding-bottom: 20px!important;
		margin-bottom: 0!important;
	}
		.blogs-featured h2 {
			font-family: 'aleoregular',Georgia,serif;
			font-size: 26px!important;
			color: #000!important;
			padding: 0!important;
			text-transform: none!important;
		}
		.blogs-featured h3 {
			font-size: 12px;
			padding-top: 10px;
			padding-bottom: 0;
		}
		
	.blog-entry {
		padding: 20px 0;
		border-bottom: 1px solid #b2b4b1;
	}
		.blog-entry h2 {
			font-family: 'aleoregular',Georgia,serif;
			font-size: 26px;
			text-transform: none;
			padding-bottom: 0;
		}
		.blog-entry h3 {
			color: #b2b4b1;
			font-size: 12px;
			padding-bottom: 0;
		}
		.blog-entry li {
			list-style-position: inside;
		}
		.blog-entry button {
			margin-bottom: 0;
		}
		.blog-entry p {
			padding: 10px 0;
		}
			.blog-entry > p:first-of-type {
				padding-top: 0;
			}
		.blog-comments {
			padding: 0;
			margin-bottom: 30px;
		}
		.blog-writtenby {
			margin-bottom: 10px;
		}
	.blog-preview {
		width: 100%;
	}
		.blog-preview > p:first-of-type {
			padding-top: 0;
		}
	.blog-details {
		margin-top: 10px;
	}
	
	.blog-title {
		margin-top: 20px;
	}
		.blog-title h2 {
			font-family: 'aleoregular',Georgia,serif;
			font-weight: normal;
			color: #7f3e19;
			text-transform: none;
		}
		.blog-title h3 {
			color: #b2b4b1;
			font-size: 12px;
			padding-bottom: 0;
		}
		
/* Calendar */
	
	/* Events */
	.entry .body {
		padding-top: 20px;
	}
	
/* Connect */
.connect-logo {
	margin-top: 10px;
	margin-bottom: 20px;
}
.connect-entry {
	margin: 10px 0;
}
.connect-entry h3 {
	font-size: 18px;
}

.side-verse {
	background-color: #006f7c;
	color: #ffffff;
}
.side-verse div {
	padding: 50px 20px;
}
.side-verse-alt {
	margin-top: 40px;
}
.side-verse-alt div {
	padding: 20px 20px;
}
.side-verse div h2 {
	color: #ffffff;
	text-transform: uppercase;
}
.side-verse div p {
	padding: 10px 0;
}
.side-verse div a {
	color: #ffffff;
}

/* Groups */
.groups-logo {
	margin-bottom: 30px;
}
.groups-date {
	padding-bottom: 5px;
}

.entry img {
	padding-right: 10px;
	padding-bottom: 10px;
}
.med-icon {
	font-size: 16px;
}

.group-entry {
	padding: 5px 0;
	border-bottom: 1px solid #b2b4b1;
}

#acs_events h3 {
	font-size: 18px;
	font-weight: 500;
}
#acs_events .groups-date {
	font-weight: 400;
}

/* Locations */
.leaflet-container a {
	color: #006f7c;
}
.marker-title {
	font-family: 'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B'; font-weight: 300; font-style: normal;
	text-transform: uppercase;
	font-size: 16px;
}
.marker-description {
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}
@media only screen and (max-width: 767px) {
	#map {display:none;}
}

.location-details {
	
}
.location-details i {
	font-size: 18px;
	padding-right: 10px;
}

/* Media */
.media {
	margin-top: 10px;
	margin-bottom: 15px;
}
.media-desc {
	position: relative;
	min-height: 360px;
}
	.media-desc-btm {
		position: absolute;
		bottom: 0;
	}
.media-notes input {
	margin: 10px 0;
}
.video_container {
	height: 200px;
}
.mobile-vid {
	max-width: 638px;
	max-height: 360px;
}
.media-viewall {
	background-color: #b2b4b1;
	min-height: 174px;
}
.media-viewall h2 {
	color: #fff;
	text-align: center;
	line-height: 165px;
}
.media-viewall a:hover, .media-viewall a:focus, .media-viewall a:active, .media-viewall a:visited {
	text-decoration: none!important;
}

/* Series */
.series {
	margin-top: 10px;
	margin-bottom: 15px;
}
.series img, .series-ind img {
	border: 1px solid #b2b4b1;
}
.series-title span {
	font-size: 13px;
	font-weight: 300;
}
.series-details h2 {
	padding-bottom: 10px;
}
.series-sub a, .series img {
	opacity: 1;
	filter:alpha(opacity=1.00); /* For IE8 and earlier */
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
}
.series-sub a:hover, .series img:hover {
	color: #222 !important; 
	text-decoration: none!important;
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}
.series-sub h2 {
	margin: 20px 0;
	text-align: center;
	border-top: #b2b4b1 2px double;
	border-bottom: #b2b4b1 2px double;
	padding: 10px;
}
.series-ind {
	margin-top: 10px;
	margin-bottom: 10px;
}

.stories {
	min-height: 300px;
}

/* Opportunities */
#ACSopps h3 {
	font-weight: 700;
	margin: 0;
}
#ACSopps p {
	margin: 0;
}

/* Team */
#God {
	display:none;
	visibility: hidden;
	text-index: -999999;
	height: 0;
}

h2.pastorclark {
	color: #006f7c;
}
h2.pastorclark span {
	font-size: 20px;
	color: #000;
}

.team-entry {
	margin: 20px 0;
	min-height: 20px;
}
.team-entry h2 {
	font-size: 17px;
}
.team-entry .team-title {
	padding-left: 5px;
}
.team-entry h3 {
	color: #006f7c;
}
.team-entry span {
	font-size: 12px;
	color: #000;
}
.team-entry p {
	font-size: 12px;
}
.marg-b-40 {
	margin-bottom: 40px;
}


@media only screen and (max-width: 767px) {
	h2.pastorclark span, .team-entry span {
		display: block;
	}
}

/* Footer */
#footer {
	background-image: url(/_img/bg-texture.jpg);
	background-repeat: repeat;
}
#footer button {
	float: left;
}
#footer ul {
	margin-top: 16px;
}
#footer ul > li {
	float: left;
	list-style: none;
	color: #FFF;
	padding: 0 10px;
}
#footer ul > li a {
	color: #fff;
}
#footer .rights {
	color: #FFFFFF;
	border-top: 1px solid #b2b4b1;
	font-size: 10px;
	padding: 10px 0;
}
#footer .footer-social {
	text-align: right;
}
#footer .footer-social i {
	font-size: 24px;
	padding: 0 5px;
}
#footer .footer-social a, #footer .footer-social a:hover, #footer .footer-social a:active {
	color: #fff;
	text-decoration: none!important;
}


/* Create Now Slides */
.createnow_slides {
	height: 450px;
	width: 1400px;
	background-color: #989d00;
	color: #FFF;
}
.createnow_slides ul#quotes {
	margin: 0;
}
.createnow_slides #quotes li {
	padding:40px 0 0 0;
	list-style: none;
	color: #FFF;
	font-size: 56px;
	line-height: 58px;
	text-transform: uppercase;
	font-family: 'Bitter', serif;
}
.createnow_slides a:hover {
	text-decoration: none!important;
}
.createnow_slides #quotes li span {
	font-family: "Arial" Gadget, sans-serif;
	display: block;
	font-size: 36px;
	color: #006f7c;
	text-transform: none;
}
.createnow_slides #quotes li {
	display:none; /* hide the items at first only */
}
.createnow_slides .quotes-refresh {
	margin-top: 15px;
}