{embed="_includes/header" title="Life Groups"}
<link type="text/css" rel="stylesheet" href="/themes/third_party/acs_bridge/css/dialog.css" />

<div class="container">
	<div class="grid_3">
		{embed="_component/sidebar-groups"}
	</div>
	<div class="grid_9">
		<div id="groupDetails"></div>
		<div class="clear"></div>
	</div>
</div>

	{embed="_includes/footer-content"}

	{!-- Mobile Nav --}
	<script src="/_js/sidr.js"></script>
	
	{!-- Retina Friendly --}
	<script type="text/javascript" src="/_js/retina.js"></script>
	
	<script src="/_js/scripts.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
	<script src="/themes/third_party/acs_bridge/acsView.js"></script>
	
	<script type="text/javascript">
	var _sf_async_config={uid:49423,domain:"journeychurch.tv",useCanonical:true};
	(function(){
	  function loadChartbeat() {
	    window._sf_endpt=(new Date()).getTime();
	    var e = document.createElement('script');
	    e.setAttribute('language', 'javascript');
	    e.setAttribute('type', 'text/javascript');
	    e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
	    document.body.appendChild(e);
	  }
	  var oldonload = window.onload;
	  window.onload = (typeof window.onload != 'function') ?
	     loadChartbeat : function() { oldonload(); loadChartbeat(); };
	})();

	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23134458-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
	<script>
		$(window).load(function() {
			$("#groupDetails").acsView({
				template: '/acs/lifegroups-details',
				id: '{segment_3}',
				showNav: 'false'
			});
		});
	</script>
	
	{!-- We have to load ACS in the background for cookies --}
	<div style="display:none">
		<iframe src="https://secure.accessacs.com/access/login_guest.aspx?sn=106649&sc=sgguest" height="0" width="0" border="0"></iframe>
	</div>
</body>
</html>