{embed="_includes/header" title="Life Groups FAQ"}
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<div class="container clearfix">
	<div class="grid_3">
		{embed="_component/sidebar-groups"}
	</div>
	<div class="grid_9 fancy-page marg-b-40">
		<div id="accordion">
			<h2>FAQ</h2>
			{exp:channel:entries channel="FAQ" category="24" orderby="date" sort="asc"}
				<h3><span class="accordion-title">{title}</span> <span class="icon-plus-sign"></span></h3>
				<div>
					{faq-body}
				</div>
			{/exp:channel:entries}
		</div>
		<br>
		<div id="accordion2">
			<h2>Benefits</h2>
			{exp:channel:entries channel="FAQ" category="25" orderby="date" sort="asc"}
				<h3><span class="accordion-title">{title}</span> <span class="icon-plus-sign"></span></h3>
				<div>
					{faq-body}
				</div>
			{/exp:channel:entries}
		</div>
	</div>
</div>
<script>
$(function() {
	 $("#accordion").accordion({ header: "h3", active: false, collapsible: true, heightStyle: "content" });
	 $("#accordion2").accordion({ header: "h3", active: false, collapsible: true, heightStyle: "content" });
});
</script>
{embed="_includes/footer"}