{embed="_includes/header" title="Find a Life Group"}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-collapse.js"></script>
<script type="text/javascript">	
	function Filter() {
		// Days filter										
		if ($("#monday-filter").attr('checked')) { day_string += ", .Monday"; }
		if ($("#tuesday-filter").attr('checked')) { day_string += ", .Tuesday"; }	
		if ($("#wednesday-filter").attr('checked')) { day_string += ", .Wednesday"; }	
		if ($("#thursday-filter").attr('checked')) { day_string += ", .Thursday";; }	
		if ($("#friday-filter").attr('checked')) { day_string += ", .Friday"; }	
		if ($("#saturday-filter").attr('checked')) { day_string += ", .Saturday"; }	
		if ($("#sunday-filter").attr('checked')) { day_string += ", .Sunday"; }
		
		
	}
	$(document).ready(function() {
		{exp:taggable sort="asc"}
			$("#{name}-filter").change(function(){
				if ($(this).is(':checked')) {
					$('.group-entry').hide();
			        $('.{name}').stop().show();
					return;
				} else {
					$('.group-entry').show();
				}
			});
		{/exp:taggable}
		{exp:channel:categories channel="Groups" style="linear" sort="asc"}
			$("#{category_name}-filter").change(function(){
				if ($(this).is(':checked')) {
					$('.group-entry').hide();
			        $('.{category_name}').stop().show();
					return;
				} else {
					$('.group-entry').show();
				}
			});
		{/exp:channel:categories}
	});
</script>
		
		
<div class="container clearfix">
	<div class="grid_3">
		{embed="_component/sidebar-groups"}
	</div>
	<div class="grid_9">
		<div class="groups-filter">
			<h3 style="margin-bottom:5px;">Search by Category</h3>
				<div id="theFilters">
					{exp:splitter blocks="4" delimiter="<br>" class="grid_2"}
						{exp:channel:categories channel="Groups" style="linear" sort="asc"}
							<input type="checkbox" id="{category_name}-filter" class='filter'> <label for="{category_name}-filter">{category_name}</label><br>
						{/exp:channel:categories}
					{/exp:splitter}
				</div>
			<div class="clear"></div>
			
			<h3 style="margin-bottom:5px;">Search by Tag</h3>
				<div id="theFilters">
					{exp:splitter blocks="4" delimiter="<br>" class="grid_2"}
						{exp:taggable sort="asc"}
							<input type="checkbox" id="{name}-filter" class='filter'> <label for="{name}-filter">{name}</label><br>
						{/exp:taggable}
					{/exp:splitter}
				</div>
			<div class="clear"></div>
		</div>
		<div class="groups-individual">
			{exp:channel:entries channel="Groups" sort="asc" orderby="title"}
				<div id="group_{entry_id}" class="group-entry {exp:remove_html}{groups-meet-day}{/exp:remove_html}{exp:taggable entry_url_title='{url_title}'} {name}{/exp:taggable}">
					<h3>
						{title}
						<a href="/groups/{entry_id}" class="getDetails"><button>Get Details</button></a>
					</h3>
					<p class="groups-date">Meets {groups-meet-day} {if groups-meet-time == "Morning"}mornings{if:elseif groups-meet-time == "Afternoon"}afternoons{if:elseif groups-meet-time == "Evening"}evenings{/if}</p>
					<p>{groups-details}</p>
				</div>
			{/exp:channel:entries}
		</div>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}