{embed="_includes/header" title="Journey Groups"}

<div id="groups-header">
	<div class="container">
		<div class="grid_4 push_4">
			<img src="/_img/journeygroups-logo.png"/>
		</div>

		<div class="grid_12">
			<h1>Journey<span>Groups</span></h1>
		</div>

		<div class="grid_4 push_2 group-button">
			<a href="https://journeychurch.groupvitals.com/GroupFinder"><h3>Browse Groups</h3></a>
		</div>
		<div class="grid_4 push_2 group-button">
			<a href="https://journeychurch.groupvitals.com/form"><h3>Join A Group</h3></a>
		</div>

		<div class="clear"></div>
	</div>
</div>

<div id="groups-faq">
	<div class="container">
		<div class="grid_8 push_2 question">
			<h1>What is a Journey Group?</h1>
			<p>A Journey Group is a group of three or more people that gather to create friendships, grow in their faith and expand <a href="/ourhouse">Our House</a>.</p>
		</div>

		<div class="grid_8 push_2 question">
			<h1>How do I find a Journey Group?</h1>
			<p>To find the perfect group for you, stop by the “Connection Center” in the lobby or contact our groups team at <a href="mailto:groups@journeychurch.tv">groups@journeychurch.tv</a>.</p>
		</div>

		<div class="grid_8 push_2 question">
			<h1>How do I lead a Journey Group?</h1>
			<p>To apply to lead a group, please take a few moments to <a href="https://journeydreamteam.wufoo.com/forms/z1mvfa8k1t8omku/">share some information with us</a>. Be sure to check the box marked "I would be interested in leading a group." We are so excited to serve alongside you!</p>
		</div>
	</div>

	<div class="clear"></div>
</div>


{embed="_includes/footer"}
