{embed="_includes/header" title="Start a Life Group"}

<div class="container clearfix">
	<div class="grid_3">
		{embed="_component/sidebar-groups"}
	</div>
	<div class="grid_9 fancy-page">
		<div id="wufoo-p7x3x5"></div>
	</div>
</div>

<script type="text/javascript">var p7x3x5;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'journeydreamteam', 
'formHash':'p7x3x5', 
'autoResize':true,
'height':'1483',
'async':true,
'header':'show', 
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { p7x3x5 = new WufooForm();p7x3x5.initialize(options);p7x3x5.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

{embed="_includes/footer"}