#footer {
	text-align: right;
	font-size: 12px;
}

#footer a {
	border-bottom: 1px dotted #2ba6cb;
}

h2 {
	color: #2ba6cb;
}

.panel {
	font-weight: bold;
}

.panelblue {
	color: #FFFFFF;
	background-color: #2ba6cb;
}