{embed="_includes/header-opener" title="Creative Journey Worship Auditions"}

<meta property="og:image" content="http://journeychurch.tv/_img/auditions.jpg"/>
<meta property="og:title" content="Audition for Creative Journey Worship"/>
<meta property="og:description" content="If God has gifted you with musical or technical talent, we want you to be able to use it for His glory! To sign up for an audition visit http://journeychurch.tv/auditions." />
<meta property="og:url" content="http://journeychurch.tv/auditions"/>
<meta property="og:site_name" content="JourneyChurch.tv"/>

{embed="_includes/header-closer" bar="yes"}

<div class="title-bar" style="margin-bottom:0;">
	<div class="container">
		<div class="grid_12">
			<h2>Creative Journey Worship Auditions</h2>
		</div>

		<div class="clear"></div>
	</div>
</div>

<div class="container">
	<div class="grid_6">
		<br><br>

		<h2 style="margin-bottom:5px;">About</h2>
		<p>
			We’re excited that you’re interested in being a part of the worship team at Journey Church!
			It is a fun, challenging, and rewarding ministry.
			If God has gifted you with musical or technical talent, we want you to be able to use it for His glory!
			This is a somewhat complex ministry with many moving parts.
			So for your advantage, and that of the worship ministry as a whole, there is a short process to become a regularly scheduled member of the worship team.
			Here are the first few steps…
		</p>

		<br>

		<p>
			Alison Goodnight<br>
			Worship Pastor<br>
			<a href="mailto:alison@journeychurch.tv">alison@journeychurch.tv</a>
		</p>
	</div>

	<div class="grid_6">
		<br><br>

		<h2 style="margin-bottom:5px;">First Steps</h2>
		<p>
			Prayerfully consider your involvement.<br>
			Please read the following information in its entirety (There is a lot of important information that you will need to know).<br>
			Fill out the application below and click submit.<br>
			Someone on the worship leadership team will contact you about your application and a scheduled audition time.<br>
			Questions are welcome…
		</p>
	</div>

	<div class="clear"></div>

	<br>

	<div class="grid_12"><hr></div>

	<div class="clear"></div>

	<br>

	<div class="grid_8">
		<h2 style="margin-bottom:5px;">Overview</h2>
		<p>
			One of the core values at Journey is worship–using our every breath in whatever we do for God’s glory and purpose.
			We desire to equip our people to live a life of worship, wherever they live, work, study, play or shop.
			Living in close relationship with God is an awesome and humbling privilege that we encourage at every opportunity.
			The worship ministry seeks to enhance that relationship by giving our people an opportunity to praise God together in a weekend worship environment,
			and then sending them out to be God’s hands and feet the other 99% of the week.
		</p>

		<br><br>

		<h3 style="margin-bottom:5px;">Audition Process</h3>
		<p>
			Once you submit your application, the Worship Pastor will contact you to arrange an audition time.
			Auditions for the Creative Journey Choir are scheduled often throughout the year.
			Auditions to play an instruments or sing on the platform in any of our worship venues are held twice a year, usually in February and September.<br><br>
			You will receive an email from the Worship Pastor prior to the rehearsal about the song(s) for your audition.<br><br>
			Auditions are, by nature, a little intimidating. We will try to make the process as relaxed as possible.
			In some cases, it may be evident that an applicant’s skills have not developed enough to serve on a regularly scheduled basis.
			Should this be the case, those conducting the audition will give some advice on how the applicant can improve. After some time and practice another audition may be scheduled.
		</p>

		<br><br>

		<h3 style="margin-bottom:5px;">Once You Get the Green Light After the Audition Process</h3>
		<p>
			Before you begin serving in the Sunday venue, we might ask you to do a few of the following depending upon your ability, age and schedule.<br><br>
			We require all vocalists to be in the choir. This group resembles the Body and is built on great community.
			The choir sings on Sundays about every 6-8 weeks.<br><br>
			We also require all vocalists who sing from the platform to be involved in group voice sessions.
			These happen once a month.<br><br>
			We may ask you to be a part of individual voice or musician lessons with our worship leadership team for a semester then reassess your growth at the end of the semester.<br><br>
			We may ask you to be a part of a band in training where you will do mock worship experiences and have rehearsals prior.
			This will help you learn our song catalog, our worship culture, the sound and audio equipment and get you introduced to the routine before actually stepping foot in a venue.<br><br>
			We may ask you to serve in one of our youth or college venues before serving in the Sunday venue for a time.<br><br>
		</p>
	</div>

	<div class="clear"></div>

	<br><br>

	<div class="grid_8">
		<div id="wufoo-z1mom91m1xamuas" style="border:1px dotted #CCCCCC; padding:20px;">
			<a href="https://journeydreamteam.wufoo.com/forms/z1mom91m1xamuas">Sign up</a>.
		</div>

		<script type="text/javascript">
			var z1mom91m1xamuas;(function(d, t) {
			var s = d.createElement(t), options = {
			'userName':'journeydreamteam',
			'formHash':'z1mom91m1xamuas',
			'autoResize':true,
			'height':'1465',
			'async':true,
			'host':'wufoo.com',
			'header':'show',
			'ssl':true};
			s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
			s.onload = s.onreadystatechange = function() {
			var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
			try { z1mom91m1xamuas = new WufooForm();z1mom91m1xamuas.initialize(options);z1mom91m1xamuas.display(); } catch (e) {}};
			var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
			})(document, 'script');
		</script>
	</div>
	<div class="clear"></div>
</div>

{embed="_includes/footer"}
