<style>
	h1, h2, h3, h4, h5 {font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B' !important; font-weight: 400!important; font-style: normal!important; text-transform: uppercase!important;}

	h2 {
		margin-top: 20px!important;
		font-family: 'aleoregular',Georgia,serif!important;
		color: #7f3e19!important;
		font-size: 22px!important;
		text-transform: none!important;
		line-height: 30px!important;
		padding-bottom: 5px!important;
		background-color:#FFF!important;
		border:none!important;
	}

	a {color: #006f7c!important; text-decoration: none!important;font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B' !important; font-weight: 400!important; font-style: normal!important;font-size:14px;}
	a:hover, a:active {text-decoration: underline !important;font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B' !important; font-weight: 400!important; font-style: normal!important;}
	
	label {font-family:'Gotham SSm 5r', 'Gotham SSm A', 'Gotham SSm B' !important; font-weight: 500!important; font-style: normal!important;font-size:14px!important;}
	span, td {font-family:'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B' !important; font-weight: 400!important; font-style: normal!important;font-size:14px!important;}

	img {
		padding-right: 15px!important;
	}

	#rowRegister {
		margin: 20px 0;
	}
	
	button, #btnRegister {
	  display: inline-block!important;
	  margin: 10px!important;
	  padding: 8px 15px!important;
	  background: #006f7c!important;
	  border: 1px solid #006f7c!important;
	  border-radius: 1px!important;
	  transition: all 0.3s ease-out!important;

	  /* Font styles */
	  font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B'!important;
	  font-weight: 400!important;
	  font-style: normal!important;
	  font-size: 16px!important;
	  text-decoration: none!important;
	  color: #fff!important;
	  text-transform: uppercase!important;
	}
	button a, #btnRegister a {
		color: #fff!important;
		text-decoration: none!important;
	}

	button:hover, #btnRegister:hover  { background: #7f3e19!important; }
	
	
	
</style>