<style>
	body {margin:0;}
</style>

	{exp:channel:entries channel="Media" category="9" limit="1" orderby="media-date" sort="desc"}
		{if media-video}
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src='http://www.streammonkey.com/iframe/{media-video}' frameborder='0'></iframe>
		</div>
		<div class="clear"></div>
		{!-- YouTube --}
		{if:elseif media-youtube}
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{media-youtube}" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="clear"></div>
		{/if}
	{/exp:channel:entries}
	<div class="clear"></div>
