<div id="welcomeBox">
	<div id="BoxContents">
		<div class="row">
			<div class="body">
				<div id="closetheBox">
					x
				</div>
				<h2>Welcome to JourneyChurch.tv</h2>
				<div class="twelve mobile-four columns">
					<p>
						<strong>Thanks for joining us for Christmas Spectacular!</strong><br>
						It's an honor to have you here! We may not have food, carriage rides, or a snow zone online, but we do have a special way to connect: our online chat.
					</p>
					<div class="wufooForm">
						<form id="form74" name="form74" class="wufoo topLabel page" autocomplete="off" enctype="multipart/form-data" method="post" novalidate="" action="https://journeydreamteam.wufoo.com/forms/pee2ca10l0fdbo/#public">
							<ul>
								<li id="foli1" class="notranslate ">
								<div>
									<input id="Field1" name="Field1" type="text" class="field text medium" value="" placeholder="Where are you?" maxlength="255" tabindex="1" onkeyup="">
								</div>
								</li>
								<li id="foli2" class="notranslate" style="margin-top: 10px">
								<div>
									<input id="Field2" name="Field2" type="text" class="field text medium" value="" placeholder="Total number of people watching?" maxlength="255" tabindex="2" onkeyup="">
								</div>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>
			<footer>
			<div class="row center">
				<li class="buttons">
				<div>
					<div id="submitBox" class="button blue right" style="margin-right:10px;">
						OKAY
					</div>
					<p>
						<input id="saveForm" class="button blue right" style="margin-right:10px;" name="saveForm" type="submit" value="Submit">
					</p>
				</div>
				</li>
				<li class="hide">
				<label for="comment">Do Not Fill This Out</label>
				<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
				<input type="hidden" id="idstamp" name="idstamp" value="yuwGZM9CEjNf5ElSl2+isacvz1mokp+RB5HpZ6ETZqY=">
				</li>
			</div>
			</footer>
		</div>
	</div>
</div>