{if embed:catid}
	<div class="container clearfix marg-b-40">
		<div class="grid_12 fancy-page">
			<h3>Meet the {embed:title} Team</h3>
			{exp:channel:entries channel="Team" dynamic="off" category="{embed:catid}"}
				<div class="grid_6 alpha">
					<div class="team-entry">
						<a href="/team/{url_title}"><img src="{team-photo}" style="float:left;max-width:100px;margin-right:10px"></a>
						<h3><a href="/team/{url_title}">{title}</a> {!--}<span>{team-title}</span>{--}</h3>
						{if team-bio}<p>{exp:word_limit total="33"}{team-bio}{/exp:word_limit} <a href="/team/{url_title}">Read More</a></p>{/if}
						<p style="margin-top:10px"><span class="fa fa-envelope-o"> Email:</span> <a href="mailto:{team-email}">{team-email}</a>{if team-fb}<br><span class="fa fa-facebook"></span> <a href="http://www.facebook.com/{team-fb}" target="_blank">{team-fb}</a>{/if}{if team-twitter}<br><span class="fa fa-twitter"></span> <a href="http://twitter.com/{team-twitter}" target="_blank">@{team-twitter}</a>{/if}{if team-instagram}<br><span class="fa fa-instagram"></span> <a href="http://www.instagram.com/{team-instagram}" target="_blank">{team-instagram}</a>{/if}</p>
						<div class="clear"></div>
					</div>
				</div>
				{switch="|<div class='clear'></div>"}
			{/exp:channel:entries}
		</div>
	</div>
{/if}