<div class="title-bar media-title">
	<div class="container">
		<div class="grid_12">
			<h2>Car Show</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container">
	<div class="grid_12 fancy-page">
		<h2>Summary</h2>
		<p><i class="fa fa-clock-o med-icon"></i> Sunday, June 21st during the 8:30, 10:00, 11:30 AM experiences</p>
		<p><i class="fa fa-map-marker med-icon"></i> &nbsp;JourneyChurch.tv, 3801 Journey Pkwy, Norman, OK 73072</p>

		<br>
		<h2>Details</h2>
		<p><strong>Second Annual JourneyChurch Man Day Car Show</strong></p>
		<p>It's JourneyChurch's Second Annual Car Show, and we couldn't be more excited! We're looking for all vehicles to enter this year's show.</p>
		<p>There is a $20 entry fee (includes free lunch and a t-shirt). While it includes free lunch and a t-shirt, we will also be giving awards for Best in Show, Judges' Pick, Best Classic Vehicle, Best Modern Vehicle, and Best Custom Vehicle.</p>
		<br><br>
		<a href="https://journeydreamteam.wufoo.com/forms/fathers-day-car-show/" style="font-size:20px"><i class="fa fa-ticket"></i> <strong>REGISTER ONLINE</strong></a>
		<br><br><br><p><strong>Question?</strong> Email Brandon Ehardt at <a href="mailto:brandon.ehardt@journeychurch.tv">Brandon.Ehardt@JourneyChurch.tv</a></p>

		<div class="clear"></div>
		<script type="text/javascript">
			$(function() {
				window.parent.document.title = "Car Show - JourneyChurch.tv";
			});
		</script>
	</div>
</div>
