<div class="container">
	<div class="grid_12 fancy-page">
		<img src="/_img/girlfriends-header.jpg">
		<br><br>
		
		{if segment_4 == "register"}
			<a href="https://secure.accessacs.com/access/eventlogin.aspx?id=ukaWSKz8wA5ngPZqSF4NIQ==&site=106649&ReturnUrl=events%2fwz_people.aspx&ChurchID=4305&EventID=54163&sn=106649" target="_blank" class="pull-right"><button class="registration">Purchase Ticket</button></a>
		{/if}
		
		<h2>Summary</h2>
		<p><i class="icon-time med-icon"></i> September 16 at 6pm</p>
		<p><i class="icon-map-marker med-icon"></i> Norman Campus Auditorium</p>
		<p><i class="icon-usd med-icon"></i> $5/person</p>

		<br>
		
		<h2>Details</h2>
		<p>We will start at 6:00 with our "Pre Party", this is a great time to come and hang out with your Girlfriends. We will start activities in the auditorium around 6:45, and the service will start at 7:00.</p><br>
		<p>Nicole Crank from Faith Church in St. Louis, MO will be joining us. To check out more about Nicole, visit her website: <a href="http://www.nicolecrank.com" target="_blank">www.nicolecrank.com</a>.</p><br>
		<p>There will be free childcare provided.</p>
		
		{if segment_4 != "register"}
		<br>
		<p><i class="icon-ticket med-icon"></i> <strong>Tickets are available starting September 1.</strong></p>
		{/if}
		
		<div class="clear"></div>
	</div>
</div>