<div class="container">
	<div class="grid_12 fancy-page">
		<img src="http://journeychurch.tv/_img/slides/Michael_JR_SLIDER.png">	
		
		<br><br><br>
		
		<div class="grid_5 alpha">
			<p>Get ready for a hilarious Sunday, February 2nd with guest speaker and comedian, Michael Jr. JourneyChurch is excited to have Michael Jr. back to both share a bundle of laughs and a comedic message to our friends and family. This is a prime opportunity to invite everyone you know!</p>
			<br><br>
			<p><i class="fa fa-clock-o med-icon"></i> February 2 at 8:30, 10, 11:30 AM and 6:30 PM</p>
			<p><i class="fa fa-map-marker med-icon"></i> &nbsp;<a href="http://maps.google.com/?q=3801%20Journey%20Parkway,Norman,%20OK%2073072" target="_blank">JourneyChurch.tv Norman Campus</a></p>
			<p><i class="fa fa-usd med-icon"></i> &nbsp;FREE</p>
		</div>
		<div class="grid_7 omega">
			<script type="text/javascript" src="/_js/jwplayer.js"></script>
			<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>
			<div style="max-width:650px!important">
				<div id="vidMichaelJr"></div>
			</div>
				<script type="text/javascript">
					jwplayer("vidMichaelJr").setup({					   
					    'autostart': 'false',
						'height': '360px',
					    'width': '100%',
						'menu': 'false',
						'aspectratio': '16:9',
						'file': 'http://downloads.journeychurch.tv.s3.amazonaws.com/Oversaved_MichaelJr-desktop.m4v',
						'image': '/_img/MichaelJrPlace.png',
						'abouttext': 'JourneyChurch.tv Media',
						'aboutlink': 'http://journeychurch.tv/media',
					    'plugins': {
					    	'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
					   	},    
					    'modes': [{
					    	'type':'flash',
					    	'src': '/_js/jwplayer.flash.swf'
					    }]
					});
				</script>
				<div class="clear"></div>
		</div>
		
		<div class="clear"></div>
		
		<script type="text/javascript">
			$(function() {	
				// Update the window title to current month name
				window.parent.document.title = "Michael Jr. - JourneyChurch.tv";
			});
		</script>
	</div>
</div>