<div class="container">
	<div class="grid_12 fancy-page">
		<img src="/_img/Girlfriends-Jan2014.png">
		
		<h2>Summary</h2>
		<p><i class="fa fa-clock-o med-icon"></i> January 27 at 6 PM</p>
		<p><i class="fa fa-map-marker med-icon"></i> &nbsp;Norman Campus Auditorium</p>
		<p><i class="fa fa-usd med-icon"></i> &nbsp;$5/person</p>

		<br>
		<h2>Details</h2>
		<p>Ladies, preteen to 113, mark your calendars for Monday, January 27th at the Norman Campus! Get inspired by Audrey Hepburn. The pre-party will begin at 6pm followed by an incredible worship experience with guest speaker, Julie Richard.</p><br>
		
		<br>
		
		{if "{current_time format='%m%d%Y'}" > "01052014"}
			<i class="fa fa-ticket"></i> <strong>Registration opens January 5th</strong>
		{if:else}
			<button class="registration pull-right"><i class="fa fa-ticket"></i> Register Online</button>
		{/if}
		
		<div class="clear"></div>
		<script type="text/javascript">
			$(function() {	
				// Update the window title to current month name
				window.parent.document.title = "Girlfriends - JourneyChurch.tv";
			});
		</script>
	</div>
</div>