
<div class="container clearfix">
	<div class="grid_12">
		<div class="entry fancy-page">
			<img src="/_img/FallsCreek.jpg"><br>
			<h2>Summary</h2>
			<p>
				The Fall Retreat is a weekend of worship, teaching, encountering God and having a blast!
			<p>
			<p>
				The retreat begins with arrival/registration on Friday, Nov. 1 from 5-6pm, immediately followed by dinner. Retreat concludes on Sunday, Nov. 3 with lunch. 
			</p>
			
			<br>
			
			<h2>Transportation</h2>
			<p>
				<strong>Students are responsible to arrive at the retreat on their own.</strong> However, we are organizing a carpool that will be leaving from JourneyChurch's Norman Campus on Nov. 1 at 3:30pm. Please let us know during the registration process if you are able to be a carpool driver and/or if you need a ride to/from the retreat.
			</p>
			
			<br>
			
			<h2>What to Bring</h2>
			<p>
				Below is a suggested packing list for the Fall Retreat. Throughout the weekend, there wil be "down time" where you're encouraged to play a game of football or basketball, go on a hike, sip hot chocolate on the front porch, or play cards. Pack accordingly!
				<br>
				<ul>
					<li>Bible</li>
					<li>Notebook</li>
					<li>Pen</li>
					<li>Journal</li>
					<li>Toiletries</li>
					<li>Towel</li>
					<li>Pillow</li>
					<li>Sleeping bag (or sheets for twin mattress)</li>
					<li>Clothes for 2 days in fall weather</li>
					<li>Clothes that you don't mind getting dirty</li>
					<li>Clothes to sleep in</li>
					<li>Jacket or Sweatshirt</li>
					<li>Flashlight</li>
					<li>Snack Shack Cash</li>
					<li>Closed-toe shoes (for outdoor activity, walking/hiking, basketball, etc.)</li>
				</ul>
			</p>
			
			<br>
			
			<h2>Contact Information</h2>
			<p>
				For more information, call our College Journey staff at the church office, (405) 217-8700, or email Kiah Bailey at <a href="mailto:kiah.bailey@journeychurch.tv">Kiah.Bailey@JourneyChurch.tv</a>
			</p>
				
			<br>
			
			<h2>Registration</h2>
			<i class="icon-ticket"></i> $50 per person
						
			<a href="https://secure.accessacs.com/access/eventlogin.aspx?id=oerjTVhLh/ZPl+n1Fg8huA==&site=106649&ReturnUrl=events%2fwz_people.aspx&ChurchID=4305&EventID=56275&sn=106649"><button class="pull-right">Register Now</button></a>
				
			<p></p>
		</div>
	</div>
</div>