<div class="title-bar media-title">
	<div class="container">
		<div class="grid_12">
			<h2>Baptism</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="container">
	<div class="grid_12 fancy-page">
		<h2>Summary</h2>
		<p><i class="icon-time med-icon"></i> September 29 at all worship experiences</p>
		<p><i class="icon-map-marker med-icon"></i> <a href="/locations/norman">Norman Campus</a> and <a href="/locations/swokc">SWOKC Campus</a></p>

		<br>
		<h2>Details</h2>
		<p>Baptism is an outward symbol of the inner commitment to Jesus. Because of this, we think a celebration is in order whenever a part of the church family makes this public declaration.</p>
		<br>
		<p>If you have recently accepted Christ or haven't been baptized, we encourage you to take this next step on your journey.</p>
		<br>
		<a href="https://journeydreamteam.wufoo.com/forms/baptism-signup/" target="_blank" class="pull-right"><button class="registration">Signup to be baptized</button></a>
	</div>
</div>