<div class="title-bar media-title">
	<div class="container">
		<div class="grid_12">
			<h2>Awakening</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="container">
	<div class="grid_12 fancy-page">
		<h2>Summary</h2>
		<p><i class="icon-time med-icon"></i> November 6 at 7:00pm</p>
		<p><i class="icon-map-marker med-icon"></i> Norman Campus Auditorium</p>

		<br>
		<h2>Details</h2>
		<p>Our next Awakening experience is November 6th at 7:00pm at the <a href="/locations/norman">Norman Campus</a>. This monthly night of worship and community is one of our favorite ways to gather as a church. Come and experience a great night of worship!</p>
		
		<div class="clear"></div>
	</div>
</div>