<div class="title-bar media-title">
	<div class="container">
		<div class="grid_12">
			<h2>Car Show</h2>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="container">
	<div class="grid_12 fancy-page">
		<h2>Summary</h2>
		<p><i class="fa fa-clock-o med-icon"></i> Sunday, June 21st from 9:00 AM - 1:00 PM</p>
		<p><i class="fa fa-map-marker med-icon"></i> &nbsp;JourneyChurch.tv, 3801 Journey Pkwy, Norman, OK 73072</p>

		<br>
		<h2>Details</h2>
		<p><strong>Second Annual JourneyChurch Man Day Car Show</strong></p>
		<p>It's JourneyChurch's Second Annual Car Show, and we couldn't be more excited! We're looking for all vehicles to enter this year's show.</p>
		<p>There is a $10 entry fee. While it includes a free lunch and "complementary gifts", we will also be giving awards for Best in Show, Judges' Pick, Best Classic Vehicle, Best Modern Vehicle, and Best Custom Vehicle.</p>
		<br><br>
		{if {current_time format="%Y%m%d"} >= "20150524"}
			<a href="https://secure.accessacs.com/access/eventlogin.aspx?id=eWRr4NmCwDtldZHex2SBXg==&site=106649&ReturnUrl=events%2fwz_people.aspx&ChurchID=4305&EventID=87949&sn=106649" style="font-size:20px"><i class="fa fa-ticket"></i> <strong>REGISTER ONLINE</strong></a><br>
		{if:else}
			<h3>REGISTRATION OPENS MAY 24th</h3>
		{/if}
		<br><br><p><strong>Question?</strong> Email Brandon Ehardt at <a href="mailto:brandon.ehardt@journeychurch.tv">Brandon.Ehardt@JourneyChurch.tv</a></p>

		<div class="clear"></div>
		<script type="text/javascript">
			$(function() {
				window.parent.document.title = "Car Show - JourneyChurch.tv";
			});
		</script>
	</div>
</div>
