<div class="container">
	<div class="grid_12 fancy-page">
		<img src="/_img/Girlfriends-Jan2014.png">
		
		<h2>Summary</h2>
		<p><i class="icon-time med-icon"></i> January 27 at 6pm</p>
		<p><i class="icon-map-marker med-icon"></i> Norman Campus Auditorium</p>
		<p><i class="icon-usd med-icon"></i> $5/person</p>

		<br>
		<h2>Details</h2>
		<p>Ladies, preteen to 113, mark your calendars for Monday, January 27th at the Norman Campus! Get inspired by Audrey Hepburn. The pre-party will begin at 6pm followed by an incredible worship experience with guest speaker, Julie Richard.</p><br>
		
		<br>
		<i class="fa fa-ticket"></i> <strong>Registration opens January 5th</strong>
		{!--}
		<button class="registration pull-right"><i class="fa fa-ticket"></i> Register Online</button>
		{--}
		<div class="clear"></div>
		<script type="text/javascript">
			$(function() {	
				// Update the window title to current month name
				window.parent.document.title = "Girlfriends - JourneyChurch.tv";
			});
		</script>
	</div>
</div>