{embed="_includes/header-opener" title="Michael Jr."}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher: "12217aef-f07e-464d-8757-03bfdb881858", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
<meta name="title" content="Michael Jr. at JourneyChurch.tv">
<meta name="og:description" content="Get ready for a hilarious Sunday, February 2nd with guest speaker and comedian, Michael Jr. JourneyChurch is excited to have Michael Jr. back to both share a bundle of laughs and a comedic message to our friends and family. This is a prime opportunity to invite everyone you know!">
<meta property="og:url" content="http://jrny.ch/michaeljrcomedy">
<meta property="og:type" content="movie" /> 
<meta property="og:video:height" content="420" /> 
<meta property="og:video:width" content="640" />
<meta property="og:video" content="http://downloads.journeychurch.tv.s3.amazonaws.com/Oversaved_MichaelJr-desktop.m4v">
{embed="_includes/header-closer" bar="yes"}

<div class="container">
	<div class="grid_12 fancy-page">
		<img src="http://journeychurch.tv/_img/slides/Michael_JR_SLIDER.png">
		<br><br>
	</div>
	
	<div class="clear"></div>
		
	<div class="grid_5">
		<p>Get ready for a hilarious Sunday, February 2nd with guest speaker and comedian, Michael Jr. JourneyChurch is excited to have Michael Jr. back to both share a bundle of laughs and a comedic message to our friends and family. This is a prime opportunity to invite everyone you know!</p>
		<br><br>
		<p><i class="fa fa-clock-o med-icon"></i> February 2nd at 8:30, 10:00, 11:30 AM &amp; 6:00 PM</p>
		<p><i class="fa fa-map-marker med-icon"></i> &nbsp;<a href="http://maps.google.com/?q=3801%20Journey%20Parkway,Norman,%20OK%2073072" target="_blank">JourneyChurch.tv Norman Campus</a></p>
		<p><i class="fa fa-usd med-icon"></i> &nbsp;FREE</p>
		<br><br>
		<span class='st_fblike_hcount' displayText='Facebook Like'></span>
		<span class='st_facebook_hcount' displayText='Facebook'></span>
		<span class='st_twitter_hcount' st_title='Just watched "{title}" from @JourneyChurchtv:' displayText='Tweet'></span>
	</div>
	<div class="grid_7">
		<script type="text/javascript" src="/_js/jwplayer.js"></script>
		<script type="text/javascript">jwplayer.key="kF3pT55ll5YkHD+C2nHMxZzfw+b5tbjmUoRRYg==";</script>
		<div style="max-width:650px!important">
			<div id="vidMichaelJr"></div>
		</div>
			<script type="text/javascript">
				jwplayer("vidMichaelJr").setup({					   
				    'autostart': 'false',
					'height': '360px',
				    'width': '100%',
					'menu': 'false',
					'aspectratio': '16:9',
					'file': 'http://downloads.journeychurch.tv.s3.amazonaws.com/Oversaved_MichaelJr-desktop.m4v',
					'image': '/_img/MichaelJrPlace.png',
					'abouttext': 'JourneyChurch.tv Media',
					'aboutlink': 'http://journeychurch.tv/media',
				    'plugins': {
				    	'gapro-2':{ accountid: "UA-23134458-1", trackstarts: true, trackpercentage: true, tracktime: true}
				   	},    
				    'modes': [{
				    	'type':'flash',
				    	'src': '/_js/jwplayer.flash.swf'
				    }]
				});
			</script>
			<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
</div>

{embed="_includes/event_footer"}