<div id="full-only">
	<a href="/groups"><img class="groups-logo" src="/_img/lifegroups.png" align="right"></a>
	
	<div class="clear"></div>
	
	<ul class="side-nav side-nav-right">
	<li><a href="https://secure.accessacs.com/access/login_guest.aspx?sn=106649&sc=sgguest" target="_blank">Find a Group</a></li>
	<li><a href="/groups/faq">FAQ &amp; Benefits</a></li>
	<li><a href="/groups/start">Become a Leader</a></li>
	<li><a href="/groups/resources">Leader Resources</a></li>
	</ul>
</div>

<div id="mobile-only">
	<a href="/groups"><img class="groups-logo" src="/_img/lifegroups.png" style="margin-bottom:10px;display:block;margin-left:auto;margin-right:auto"></a>
	
	<div class="clear"></div>
	
	<ul class="side-nav" style="text-align:center;margin-bottom:20px">
	<li><a href="https://secure.accessacs.com/access/login_guest.aspx?sn=106649&sc=sgguest" target="_blank">Find a Group</a></li>
	<li><a href="/groups/faq">FAQ &amp; Benefits</a></li>
	<li><a href="/groups/start">Become a Leader</a></li>
	<li><a href="/groups/resources">Leader Resources</a></li>
	</ul>
</div>