<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title>JourneyChurch.tv | Easter 2016</title>

  	<meta name="description" content="JourneyChurch.tv Easter 2016 - THE PARTY OF THE YEAR CELEBRATING THE EVENT OF THE AGES!">
    <meta name="keywords" content="Journey Church, JourneyChurch.tv, Easter, Good Friday, Norman, OKC, Moore, 2016">
  	<meta name="author" content="JourneyChurch.tv">
  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/favicon.ico" type="image/x-icon">

  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {!-- Fonts --}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/_css/font-awesome.css"/>

    {!-- Styles --}

    {!-- Bootstrap CSS --}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/easter.css"/>

  	{!-- Cool Font Icons  --}
  	<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>
  </head>
  <body>

    {!-- Cover --}
    <section id="cover" class="text-center">
      <div class="inner">

        {!-- Mobile Logo --}
        <img id="cover-mobile" src="/_img/It-Is-Finished-Text.png" class="img-responsive center-block"/>

        {!-- Desktop Logo --}
        <div id="cover-desktop" class="container">
          <div class="row">
            <div class="col-sm-4 col-sm-offset-4 cover-border"></div>

            {!-- Faded In lines --}
            <div id="it" class="line">
              <div class="col-sm-1 letter col-sm-offset-4">I</div>
              <div class="col-sm-1 letter">T</div>
            </div>

            <div id="is" class="line">
              <div class="col-sm-1 letter">I</div>
              <div class="col-sm-1 letter">S</div>
              <div class="clearfix"></div>
            </div>

            <div id="finished" class="line">
              <div class="col-sm-1 letter col-sm-offset-4">F</div>
              <div class="col-sm-1 letter">I</div>
              <div class="col-sm-1 letter">N</div>
              <div class="col-sm-1 letter">I</div>
              <div class="clearfix"></div>

              <div class="col-sm-1 letter col-sm-offset-4">S</div>
              <div class="col-sm-1 letter">H</div>
              <div class="col-sm-1 letter">E</div>
              <div class="col-sm-1 letter">D</div>
              <div class="clearfix"></div>
            </div>

            <div class="col-sm-4 col-sm-offset-4 cover-border"></div>
          </div>
        </div>

        {!-- Down Arrow --}
        <div id="arrow"><i class="fa fa-angle-down"></i></div>
      </div>
    </section>

    {!-- The Party --}
    <section id="what-is">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h2>The <span>party</span> of the year celebrating the event of the ages!</h2>
          </div>
        </div>
      </div>
    </section>

    {!-- What, When, Where --}
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="about col-sm-4">
            <h3><strong><span>Wha</span>t</strong></h3><br>
            <p>Let's celebrate the finished work of Christ! Consider this your VIP invite to the party on Easter weekend.</p>
          </div>

          <div class="about col-sm-4">
            <h3><strong><span>Whe</span>n</strong></h3><br>
            <p>March 26th at 4:30 PM and 6:00 PM<br>March 27th at 9:30 AM, 11:00 AM,<br>4:30 PM and 6:00 PM. </p>
          </div>

          <div class="about col-sm-4">
            <h3><strong><span>Wher</span>e</strong></h3><br>
            <p>The party is at our house! You'll find us at 3801 Journey Parkway, Norman, OK 73072. Don't miss out.</p>
          </div>
        </div>
      </div>
    </section>

    {!-- Photo Filler --}
    <section id="filler">
      <div class="container-fluid">
        <div class="row">
          <div class="filler col-sm-4"></div>

          <div class="filler col-sm-4"></div>

          <div class="filler col-sm-4"></div>
        </div>
      </div>
    </section>

    {!-- Life Changing Experience --}
    <section id="teaser">
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <h2>Expect an experience that will no doubt be <strong>life-changing</strong>.</h2>
          </div>
        </div>
      </div>
    </section>

    {!-- Invite/Download Promo Pack --}
    <section id="involve">
      <div class="container">
        <div class="row">
          <div id="invite" class="col-sm-4 col-sm-offset-1">
            <i class="fa fa-users"></i>
            <p>Don't come to the party alone! Invite your friends and family to join you for this unforgettable experience!</p>
          </div>

          <div id="download">
            <a href="/_doc/Easter 2016 Promo Pack.zip">
              <div class="col-sm-4 col-sm-offset-2">
                <i class="fa fa-cloud-download"></i>
                <p><strong>Download the promo pack here</strong> to deck out your social media with fun graphics and images that tell others what's going down.</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    {!-- Hashtag/social media --}
    <section id="social">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1><span>#</span>JCItIsFinished</h1>
          </div>

          <div class="col-sm-4 col-sm-offset-4">
            <a href="https://www.facebook.com/journeychurchtv"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/journeychurchtv"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/journeychurchtv/"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </section>

    {!-- Footer --}
    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>&copy <?php echo date("Y"); ?> <span class="text-uppercase">JourneyChurch.tv</span>. All Rights Reserved
PO Box 722764<br>Norman, OK 73070 | 405.217.8700<br><a href="mailto:connect@journeychurch.tv"><span>connect@JourneyChurch.tv</span></a></p>
          </div>
        </div>
      </div>
    </section>

    {!-- Jquery/Javascript Bootstrap --}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
        var width = $(window).width();
        var height = $(window).height();
        var innerHeight = $('#cover .inner').height();

        {!-- As long as height isnt too small, add padding --}
        if ((height - 100) > innerHeight) {
          var padding = (height-innerHeight)/2;

          {!-- Add padding to center the cover --}
          $('#cover').css({
            'padding-top' : padding + 'px',
            'padding-bottom' : padding + 'px'
          });
        }

        {!-- If desktop --}
        if (width >= 1200) {

          {!-- Letter hover effects --}
          $('#cover .letter').hover(function() {
            $('#cover-desktop').addClass('active');
          }, function() {
            $('#cover-desktop').removeClass('active');
          });

          {!-- Fade in cover words at timeouts --}
          setTimeout(
            function() {
              $('#it').fadeTo(1500, 1);
            }
          , 1000);

          setTimeout(
            function() {
              $('#is').fadeTo(1500, 1);
            }
          , 1750);

          setTimeout(
            function() {
              $('#finished').fadeTo(1500, 1);
            }
          , 2500);

          setTimeout(
            function() {
              $('#arrow').fadeTo(1500, 1);
            }
          , 3250);

          var scrollTop = 0;

          var lastPadding = height/2;

          {!-- Add padding to last section to make sure it fades in --}
          $('#footer').css('padding-bottom', lastPadding);

          {!-- Get all tops of the sections --}
          var whatis = $('#what-is').offset().top;
          var about = $('#about').offset().top;
          var filler = $('#filler').offset().top;
          var teaser = $('#teaser').offset().top;
          var involve = $('#involve').offset().top;
          var social = $('#social').offset().top;
          var footer = $('#footer').offset().top;

          {!-- Scroll that fades in sections as scrolling --}
          $(document).scroll(function() {
            scrollTop = $(document).scrollTop();

            {!-- Fade in when the section is a halfway through page --}

            if (scrollTop >= whatis - (height)/2) {
              $('#what-is').fadeTo(1500, 1);
            }

            if (scrollTop >= about - (height)/2) {
              $('#about').fadeTo(1500, 1);
            }

            if (scrollTop >= filler - (height)/2) {
              $('#filler').fadeTo(1500, 1);
            }

            if (scrollTop >= teaser - (height)/2) {
              $('#teaser').fadeTo(1500, 1);
            }

            if (scrollTop >= involve - (height)/2) {
              $('#involve').fadeTo(1500, 1);
            }

            if (scrollTop >= social - (height)/2) {
              $('#social').fadeTo(1500, 1);
            }

            if (scrollTop >= footer - (height)/2) {
              $('#footer').fadeTo(1500, 1);
            }
          });
        }
        else {
          $('#download a').attr('href', '/easter/promo');
        }
      });
    </script>
  </body>
</html>
