<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  	<title>JourneyChurch.tv | Easter 2016 | Promos</title>

  	<meta name="description" content="JourneyChurch.tv Easter 2016 Promo Packet">
  	<meta name="author" content="JourneyChurch.tv">
  	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  	<link rel="icon" href="/favicon.ico" type="image/x-icon">

  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {!-- Fonts --}
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6186432/755202/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/_css/font-awesome.css"/>

    {!-- Styles --}

    {!-- Bootstrap CSS --}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="/_css/easter.css"/>

  	{!-- Cool Font Icons  --}
  	<link rel="stylesheet" href="/_css/font-awesome.css" type='text/css'>
  </head>
  <body id="promo-mobile">
    <section>
      <div class="container">
        <div class="row">
          <div class="promo col-sm-12">
            <h4>Save these images to your device<div class="promo-border center-block"></div>Deck out your social media with these fun graphics and images<div class="promo-border center-block"></div>Invite people to the party</h4>
          </div>

          <div class="promo col-sm-12">
            <img src="/_img/Mobile-Easter-Promo-Pack/Easter 2016 Facebook Cover Photo.jpg" class="img-responsive center-block"/>
            <h4>Facebook Cover Photo</h4>
          </div>

          <div class="promo col-sm-12">
            <img src="/_img/Mobile-Easter-Promo-Pack/Easter 2016 Invite Card 2.jpg" class="img-responsive center-block"/>
            <h4>Invite Card</h4>
          </div>

          <div class="promo col-sm-12">
            <img src="/_img/Mobile-Easter-Promo-Pack/Easter 2016 Profile Picture.jpg" class="img-responsive center-block"/>
            <h4>Profile Picture</h4>
          </div>

          <div class="promo col-sm-12">
            <img src="/_img/Mobile-Easter-Promo-Pack/Easter 2016 Social Media Post 1.jpg" class="img-responsive center-block"/>
            <h4>Social Media<br>Post #1</h4>
          </div>

          <div class="promo col-sm-12">
            <img src="/_img/Mobile-Easter-Promo-Pack/Easter 2016 Social Media Post 2.jpg" class="img-responsive center-block"/>
            <h4>Social Media<br>Post #2</h4>
          </div>

          <div class="promo col-sm-12">
            <img src="/_img/Mobile-Easter-Promo-Pack/Easter 2016_Twitter Cover Photo.jpg" class="img-responsive center-block"/>
            <h4>Twitter Cover Photo</h4>
          </div>
        </div>
      </div>
    </section>

    {!-- Jquery/Javascript Bootstrap --}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {

      });
    </script>
  </body>
</html>
