/* Variables */

/* Colors */

$color-lightest: white;
$color-extra-light: #F3F3F3;
$color-light: #B0B0B0;
$color-regular: #686868;
$color-dark: #464646;
$color-extra-dark: #2D2D2D;
$color-darkest: black;

$color-accent: #00bdcb;
$color-accent-2: #57bf9b;

$background-color: $color-extra-light;
$link-color:$color-accent;
