/* Variables */

/* Colors */

$color-lightest: white;
$color-lighter: #F3F3F3;
$color-light: #E9E9E9;
$color-regular: #B0B0B0;
$color-dark: #464646;
$color-darker: #2D2D2D;
$color-darkest: black;

$color-accent: #00bdcb;
$color-accent-2: #57bf9b;

$background-color: $color-lighter;
$link-color:$color-accent;

$width-xs: 0;
$width-sm: 798px;
$width-md: 1022px;
$width-lg: 1230px;
