
@font-face {
  font-family: 'Homestead-Regular';
  src: url('Homestead-Regular.eot?#iefix') format('embedded-opentype'),  url('Homestead-Regular.woff') format('woff'), url('Homestead-Regular.ttf')  format('truetype'), url('Homestead-Regular.svg#Homestead-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
