{embed="_includes/header" title="Pray"}

<div class="container">
	<div class="grid_12">
		<p>Each week, we will post prayer requests that have been submitted via communication cards and via the online prayer request form. Please join us in prayer for these requests as we join together to see cities transformed, one life at a time! <em>Note: prayer requests that have been requested to be kept confidential will not appear in these posts.</em></p>
		<br><br>
	</div>
	<div class="grid_8 fancy-page">
		<h2>General Requests</h2>
		<p><strong>Pastors:</strong> Clark, Rod, Bryan, Trent, Tracy, Adam, Michael, Nate, Kevin, Marty, Josh, Sam and Alan. Pray for them to be filled with His Holy Spirit to provide them with wisdom, guide them in making daily decisions, and bless their ministries. Pray that God keeps them healthy and strong so they are able to do His work, for each of their spouses and children to be blessed in their body, minds and spirits so as families they will be able to accomplish the ministry Christ has set before them.</p><br>
		<p><strong>Support Staff & Volunteers:</strong> Pray for all of our support staff, lay leadership, volunteers and their families to be blessed and strengthened by His hand so that they can also be a blessing to others.</p><br>
		<p><strong>City, State & Nation:</strong> Pray for leaders at all levels of government, lift them up asking God’s wisdom to fill them, and for Godly leaders to be elected to public office.</p><br>
		<p><strong>Military:</strong> Pray for protection for every serviceman and woman wherever they are, for God to bless them with wisdom to make the right decisions concerning engagements and military situations, that they come home safely when their mission is over, for their families to be blessed and for needs to be met at home.</p><br>
		<p><strong>LoveWorks Outreach Inc:</strong> Pray for the organization is it expands it's influence into more and more cities. For their leaders and volunteers to have the wisdom and vision of the Holy Spirit in order to impact each child’s life spiritually, emotionally, and intellectually.</p>
		<br><br>
		<h2>This Week's Requests</h2>
		{exp:channel:entries channel="Pages" url_title="prayers"}
			{page-body}
		{/exp:channel:entries}
	</div>
	<div class="grid_4">
		<ul class="side-nav">
			<h3 class="sub-title blue">MORE INFO & QUESTIONS</h3>
			For information about our ministries, serving on our teams, or to ask a question, please email <a href="mailto:care@journeychurch.tv">care@JourneyChurch.tv</a>
			<br><br>
			<a href="https://journeydreamteam.wufoo.com/forms/prayer-request/" target="_blank"><button class="no-margin-l">Submit a Prayer Request</button></a>
		</ul>
	</div>
</div>

{embed="_includes/footer"}