{embed="embed/header"}

<div class="container">
  <div class="row">
    <div id="facebook"></div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

{if segment_2}
<script>
  $.ajax({
    url: "/php/events/getEvent.php",
    data: {
      id: "{segment_2}"
    },
    datatype:"json",
    success: function(result) {
      var facebookEvent = JSON.parse(result);
      $("#facebook").append("<div class='col-sm-4'><img src='" + facebookEvent.cover.source.replace("\/", "") + "' class='img-responsive' /><h1>" + facebookEvent.name + "</h1><br>" + (new Date(facebookEvent.start_time)).getDate() + "</div>");
      console.log(result);
    },
    error: function(e) {
      alert(e);
    }
  });
</script>
{if:else}
<script>
  $.ajax({
    url: "/php/events/getEvents.php",
    datatype:"json",
    success: function(result) {
      var facebookEvents = JSON.parse(result).data;
      $.each(facebookEvents, function(index, e) {
        var dateStart = new Date(e.start_time);
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

        $("#facebook").append("<div class='col-sm-4'><img src='" + e.cover.source.replace("\/", "") + "' class='img-responsive' /><h3>" + e.name + "</h3><h5>" + monthNames[dateStart.getMonth()] + " " + dateStart.getDate() + "</h5></div>");
      });
      console.log(result);
    },
    error: function(e) {
      alert(e);
    }
  });
</script>
{/if}

{embed="embed/footer"}
